<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>02paopao</key>
	<array>
		<string>0.05</string>
		<string>effect/02/02paopao1.png</string>
		<string>effect/02/02paopao2.png</string>
		<string>effect/02/02paopao3.png</string>
		<string>effect/02/02paopao4.png</string>
		<string>effect/02/02paopao5.png</string>
		<string>effect/02/02paopao6.png</string>
	</array>
</dict>
</plist>
