<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>03gui</key>
	<array>
		<string>0.1</string>
		<string>effect/03/03gui1.png</string>
		<string>effect/03/03gui2.png</string>
		<string>effect/03/03gui3.png</string>
		<string>effect/03/03gui4.png</string>
		<string>effect/03/03gui5.png</string>
		<string>effect/03/03gui6.png</string>
	</array>
</dict>
</plist>
