<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>04yuanqiu</key>
	<array>
		<string>0.05</string>
		<string>effect/04/04-yuanqiu1.png</string>
		<string>effect/04/04-yuanqiu2.png</string>
		<string>effect/04/04-yuanqiu3.png</string>
	</array>
</dict>
</plist>
