<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>05bingguang</key>
	<array>
		<string>0.05</string>
		<string>effect/05/05-bingguang1.png</string>
		<string>effect/05/05-bingguang2.png</string>
		<string>effect/05/05-bingguang3.png</string>
		<string>effect/05/05-bingguang4.png</string>
	</array>
</dict>
</plist>
