<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>06dianliu</key>
	<array>
		<string>0.05</string>
		<string>effect/06/06-dianliu1.png</string>
		<string>effect/06/06-dianliu2.png</string>
		<string>effect/06/06-dianliu3.png</string>
		<string>effect/06/06-dianliu4.png</string>
	</array>
</dict>
</plist>
