<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>08congjipao</key>
	<array>
		<string>0.05</string>
		<string>effect/08/08-fenliyiji-congjipao1.png</string>
		<string>effect/08/08-fenliyiji-congjipao2.png</string>
		<string>effect/08/08-fenliyiji-congjipao3.png</string>
		<string>effect/08/08-fenliyiji-congjipao4.png</string>
		<string>effect/08/08-fenliyiji-congjipao5.png</string>
		<string>effect/08/08-fenliyiji-congjipao6.png</string>
	</array>
</dict>
</plist>
