<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>22yanwu1</key>
	<array>
		<string>0.05</string>
		<string>effect/22/22-yanwu1-1.png</string>
		<string>effect/22/22-yanwu1-2.png</string>
		<string>effect/22/22-yanwu1-3.png</string>
		<string>effect/22/22-yanwu1-4.png</string>
		<string>effect/22/22-yanwu1-5.png</string>
		<string>effect/22/22-yanwu1-6.png</string>
		<string>effect/22/22-yanwu1-7.png</string>
		<string>effect/22/22-yanwu1-8.png</string>
	</array>
</dict>
</plist>
