<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>23baoqi</key>
	<array>
		<string>0.05</string>
		<string>effect/23/23-baoqi1.png</string>
		<string>effect/23/23-baoqi2.png</string>
		<string>effect/23/23-baoqi3.png</string>
		<string>effect/23/23-baoqi4.png</string>
		<string>effect/23/23-baoqi5.png</string>
		<string>effect/23/23-baoqi6.png</string>
	</array>
</dict>
</plist>
