<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>24jifeng</key>
	<array>
		<string>0.05</string>
		<string>effect/24/24-jifeng1.png</string>
		<string>effect/24/24-jifeng2.png</string>
		<string>effect/24/24-jifeng3.png</string>
		<string>effect/24/24-jifeng4.png</string>
		<string>effect/24/24-jifeng5.png</string>
		<string>effect/24/24-jifeng6.png</string>
		<string>effect/24/24-jifeng7.png</string>
		<string>effect/24/24-jifeng8.png</string>
	</array>
</dict>
</plist>
