<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>34nengliangdun</key>
	<array>
		<string>0.05</string>
		<string>effect/34/34nengliangdun1.png</string>
		<string>effect/34/34nengliangdun2.png</string>
		<string>effect/34/34nengliangdun3.png</string>
	</array>
</dict>
</plist>
