<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg2-huo</key>
	<array>
		<string>0.1</string>
		<string>effect/fightbg/bg2/huo1.png</string>
		<string>effect/fightbg/bg2/huo2.png</string>
		<string>effect/fightbg/bg2/huo3.png</string>
		<string>effect/fightbg/bg2/huo4.png</string>
		<string>effect/fightbg/bg2/huo5.png</string>
		<string>effect/fightbg/bg2/huo6.png</string>
		<string>effect/fightbg/bg2/huo7.png</string>
		<string>effect/fightbg/bg2/huo8.png</string>
	</array>
</dict>
</plist>
