<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg8-chenai</key>
	<array>
		<string>0.2</string>
		<string>effect/fightbg/bg8/chenai1.png</string>
		<string>effect/fightbg/bg8/chenai2.png</string>
		<string>effect/fightbg/bg8/chenai3.png</string>
		<string>effect/fightbg/bg8/chenai4.png</string>
	</array>
</dict>
</plist>
