<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home-FT-hengtiao</key>
	<array>
		<string>0.15</string>
		<string>effect/home/FT-hengtiao/feiting-qizi1.png</string>
		<string>effect/home/FT-hengtiao/feiting-qizi2.png</string>
		<string>effect/home/FT-hengtiao/feiting-qizi3.png</string>
	</array>
</dict>
</plist>
