<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>penxue</key>
	<array>
		<string>0.05</string>
		<string>effect/other/penxue (1).png</string>
		<string>effect/other/penxue (2).png</string>
		<string>effect/other/penxue (3).png</string>
		<string>effect/other/penxue (4).png</string>
		<string>effect/other/penxue (5).png</string>
	</array>
</dict>
</plist>
