<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuperSlay1_dihuo</key>
	<array>
		<string>0.05</string>
		<string>effect/skill_Super slay/dihuo1.png</string>
		<string>effect/skill_Super slay/dihuo2.png</string>
		<string>effect/skill_Super slay/dihuo3.png</string>
		<string>effect/skill_Super slay/dihuo4.png</string>
		<string>effect/skill_Super slay/dihuo5.png</string>
		<string>effect/skill_Super slay/dihuo6.png</string>
	</array>
</dict>
</plist>
