<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sw-gz2</key>
	<array>
		<string>0.2</string>
		<string>effect/fightbg/sw/sw-gz2-2.png</string>
		<string>effect/fightbg/sw/sw-gz2-1.png</string>
	</array>
</dict>
</plist>
