<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ui-haimian</key>
	<array>
		<string>0.1</string>
		<string>effect/ui/haimian1.png</string>
		<string>effect/ui/haimian2.png</string>
		<string>effect/ui/haimian3.png</string>
		<string>effect/ui/haimian4.png</string>
		<string>effect/ui/haimian5.png</string>
		<string>effect/ui/haimian6.png</string>
	</array>
</dict>
</plist>
