<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yq-shuibo</key>
	<array>
		<string>0.1</string>
		<string>effect/ui/yq-shuibo1.png</string>
		<string>effect/ui/yq-shuibo2.png</string>
		<string>effect/ui/yq-shuibo3.png</string>
		<string>effect/ui/yq-shuibo4.png</string>
		<string>effect/ui/yq-shuibo5.png</string>
	</array>
</dict>
</plist>
