<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>animations</key>
	<dict>
		<key>bomb01</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.066666655242443085</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_01.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_02.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_03.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_04.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_05.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_06.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_07.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_08.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_09.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_10.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_11.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_12.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_13.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_14.png</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>bomb01_15.png</string>
				</dict>
			</array>
			<key>loop</key>
			<false/>
			<key>loops</key>
			<integer>1</integer>
			<key>maxRandomTime</key>
			<real>0.30000001192092896</real>
			<key>minRandomTime</key>
			<real>0.10000000149011612</real>
			<key>randomFrames</key>
			<false/>
			<key>randomReplay</key>
			<false/>
			<key>restoreOriginalFrame</key>
			<false/>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>ani_bomb01.plist</string>
		</array>
	</dict>
</dict>
</plist>
