<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actSet</key>
	<dict>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>0</string>
		</dict>
		<key>type</key>
		<string>ActionSpriteSet</string>
		<key>actSpriteKeySet</key>
		<string>Act1,Act3,Act4</string>
		<key>actSpriteSet</key>
		<dict>
			<key>Act1</key>
			<dict>
				<key>initProperty</key>
				<dict>
					<key>tag</key>
					<string>0</string>
					<key>pos</key>
					<string>{-300,500}</string>
				</dict>
				<key>actions</key>
				<array>
					<string>MoveBy(0.7,{330,-480})</string>
					<string>RotateBy(0.7,360)</string>
					<string>Spawn(Item 0,Item 1)</string>
				</array>
				<key>runAction</key>
				<string>Item 2</string>
				<key>actFile</key>
				<string>startFight1-6.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>0</string>
				<key>delayTime</key>
				<string>0.6</string>
			</dict>
			<key>Act3</key>
			<dict>
				<key>initProperty</key>
				<dict>
					<key>pos</key>
					<string>{0,0}</string>
				</dict>
				<key>actions</key>
				<array>
					<string>MoveBy(0,{-30,-20})</string>
				</array>
				<key>actFile</key>
				<string>startFight-6.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>3</string>
			</dict>
			<key>Act4</key>
			<dict>
				<key>actFile</key>
				<string>wait-6.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>2</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
