<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animation</key>
	<dict>
		<key>actSetPath</key>
		<string>fightScript/ActionSet/Effect_Action/BuffTrigger11_action.plist</string>
		<key>nodeType</key>
		<string>sprite</string>
		<key>tag</key>
		<string>111</string>
		<key>zOrder</key>
		<string>10</string>
	</dict>
	<key>param</key>
	<dict>
		<key>bolResetData</key>
		<string>0</string>
		<key>time</key>
		<string>0.5</string>
	</dict>
</dict>
</plist>
