<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>05-bingguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{66,87}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{122,135}</string>
            </dict>
            <key>05-bingguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{96,105}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{96,105}}</string>
                <key>sourceSize</key>
                <string>{122,135}</string>
            </dict>
            <key>05-bingguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{110,75}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,43},{110,75}}</string>
                <key>sourceSize</key>
                <string>{122,135}</string>
            </dict>
            <key>05-bingguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,109},{100,65}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,70},{100,65}}</string>
                <key>sourceSize</key>
                <string>{122,135}</string>
            </dict>
            <key>05-bingkuai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,114}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,114}}</string>
                <key>sourceSize</key>
                <string>{80,118}</string>
            </dict>
            <key>05-bingkuai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,211},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>05-bingkuai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,118},{109,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,75}}</string>
                <key>sourceSize</key>
                <string>{109,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>05bingguang.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8bd288a4c15c51292fa912aad4c3273$</string>
            <key>textureFileName</key>
            <string>05bingguang.png</string>
        </dict>
    </dict>
</plist>
