<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>23-dizhenbo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{126,42}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{126,42}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>23-dizhenbo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,54}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>23-dizhenbo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{150,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{150,48}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>23-dizhenbo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,58},{138,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{138,40}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>23-dizhenbo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,90},{128,36}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{128,36}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
            <key>23-dizhenbo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,58},{118,30}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{118,30}}</string>
                <key>sourceSize</key>
                <string>{152,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>23dizhenbo.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41f048cf3c5fbe95367e2f9a6254f1bf$</string>
            <key>textureFileName</key>
            <string>23dizhenbo.png</string>
        </dict>
    </dict>
</plist>
