<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>34baiseguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{127,114}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>34bowen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>34bowen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>34bowen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>34bowen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,71},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>34bowen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{67,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>34bowen.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9381c153d9db42ff000ab5d400665f3$</string>
            <key>textureFileName</key>
            <string>34bowen.png</string>
        </dict>
    </dict>
</plist>
