<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bang-qi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{84,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,30}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>bang-qi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{76,30}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,30}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>bang-qi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{68,26}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,26}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>bang-qi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,18}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{86,18}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bang-qi.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9979320cc10e6d2edfda9b45e973db6d$</string>
            <key>textureFileName</key>
            <string>bang-qi.png</string>
        </dict>
    </dict>
</plist>
