<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penxue (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{66,64}}</string>
                <key>offset</key>
                <string>{-38,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{66,64}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>penxue (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,72}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{118,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>penxue (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{122,76},{110,82}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{110,82}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>penxue (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{118,78}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>penxue (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{102,82}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{102,82}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blood.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a0d716373f109b0ad808dfcde1e2b60$</string>
            <key>textureFileName</key>
            <string>blood.png</string>
        </dict>
    </dict>
</plist>
