<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01-huoquishu-baoyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,157}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{118,157}}</string>
                <key>sourceSize</key>
                <string>{122,161}</string>
            </dict>
            <key>01-huoquishu-baoyan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{118,145}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{118,145}}</string>
                <key>sourceSize</key>
                <string>{122,161}</string>
            </dict>
            <key>01-huoquishu-baoyan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{106,123}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{106,123}}</string>
                <key>sourceSize</key>
                <string>{122,161}</string>
            </dict>
            <key>01-huoquishu-baoyan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,218},{100,117}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{100,117}}</string>
                <key>sourceSize</key>
                <string>{122,161}</string>
            </dict>
            <key>01-huoquishu-baoyan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,122},{94,105}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{94,105}}</string>
                <key>sourceSize</key>
                <string>{122,161}</string>
            </dict>
            <key>01-huoquishu-baoyan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{94,75}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{94,75}}</string>
                <key>sourceSize</key>
                <string>{122,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9317f0588ee024a837ae0396cdb91e9$</string>
            <key>textureFileName</key>
            <string>boom2.png</string>
        </dict>
    </dict>
</plist>
