<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{114,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,22}}</string>
                <key>sourceSize</key>
                <string>{114,24}</string>
            </dict>
            <key>guangzhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,101}}</string>
                <key>sourceSize</key>
                <string>{206,101}</string>
            </dict>
            <key>huo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,58},{39,54}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>huo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,170},{35,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{35,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>huo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,114},{35,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{35,52}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>huo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{41,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>huo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,114},{37,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{37,54}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>huo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,168},{35,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{35,52}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>huo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,114},{35,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,52}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>huo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,170},{35,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,52}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_bg2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6af6440dadc6e0d8b27a05c8bdce205$</string>
            <key>textureFileName</key>
            <string>fight_bg2.png</string>
        </dict>
    </dict>
</plist>
