<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home-yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,64},{56,114}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{56,114}}</string>
                <key>sourceSize</key>
                <string>{70,122}</string>
            </dict>
            <key>home-yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{62,114}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{62,114}}</string>
                <key>sourceSize</key>
                <string>{70,122}</string>
            </dict>
            <key>home-yan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{66,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,116}}</string>
                <key>sourceSize</key>
                <string>{70,122}</string>
            </dict>
            <key>home-yan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,120}}</string>
                <key>sourceSize</key>
                <string>{70,122}</string>
            </dict>
            <key>home-yan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,122},{56,118}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,118}}</string>
                <key>sourceSize</key>
                <string>{70,122}</string>
            </dict>
            <key>home-yan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{66,118}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,118}}</string>
                <key>sourceSize</key>
                <string>{70,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home-yan.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62d44ad0334533c813c22945da387bd7$</string>
            <key>textureFileName</key>
            <string>home-yan.png</string>
        </dict>
    </dict>
</plist>
