<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>08-fenliyiji-baisetuoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,342},{40,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,90}}</string>
                <key>sourceSize</key>
                <string>{40,90}</string>
            </dict>
            <key>08-fenliyiji-congjipao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,372},{57,61}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{57,61}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>08-fenliyiji-congjipao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,289},{81,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{81,67}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>08-fenliyiji-congjipao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,214},{73,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{73,77}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>08-fenliyiji-congjipao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,363},{79,79}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>08-fenliyiji-congjipao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{59,77}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{59,77}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>08-fenliyiji-congjipao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,435},{59,25}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,28},{59,25}}</string>
                <key>sourceSize</key>
                <string>{85,79}</string>
            </dict>
            <key>08-fenliyiji-congjiyan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,324},{85,37}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,37}}</string>
                <key>sourceSize</key>
                <string>{87,51}</string>
            </dict>
            <key>08-fenliyiji-feng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{202,68}}</string>
                <key>offset</key>
                <string>{75,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,0},{202,68}}</string>
                <key>sourceSize</key>
                <string>{352,86}</string>
            </dict>
            <key>08-fenliyiji-feng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{326,80}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{326,80}}</string>
                <key>sourceSize</key>
                <string>{352,86}</string>
            </dict>
            <key>08-fenliyiji-feng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{318,74}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{318,74}}</string>
                <key>sourceSize</key>
                <string>{352,86}</string>
            </dict>
            <key>08-fenliyiji-feng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,84}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{344,84}}</string>
                <key>sourceSize</key>
                <string>{352,86}</string>
            </dict>
            <key>08-fenliyiji-fengchou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,324},{46,108}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{46,108}}</string>
                <key>sourceSize</key>
                <string>{76,116}</string>
            </dict>
            <key>08-fenliyiji-fengchou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,294},{46,104}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{46,104}}</string>
                <key>sourceSize</key>
                <string>{76,116}</string>
            </dict>
            <key>08-fenliyiji-fengchou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,435},{48,104}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{48,104}}</string>
                <key>sourceSize</key>
                <string>{76,116}</string>
            </dict>
            <key>08-fenliyiji-fengchou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,246},{46,106}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{46,106}}</string>
                <key>sourceSize</key>
                <string>{76,116}</string>
            </dict>
            <key>08-fenliyiji-fengchou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,342},{34,84}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{34,84}}</string>
                <key>sourceSize</key>
                <string>{76,116}</string>
            </dict>
            <key>08-fenliyiji-huangsetuoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,485},{21,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,88}}</string>
                <key>sourceSize</key>
                <string>{25,88}</string>
            </dict>
            <key>08-fenliyiji-lianguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,214},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>08-fenliyiji-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{120,160}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,160}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>08-fenliyiji-zhixianguangshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,124},{160,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,88}}</string>
                <key>sourceSize</key>
                <string>{160,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill08.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:518d5a410c5803e7429569ce295fbe99$</string>
            <key>textureFileName</key>
            <string>skill08.png</string>
        </dict>
    </dict>
</plist>
