<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>35-baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,401},{100,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,23}}</string>
                <key>sourceSize</key>
                <string>{100,25}</string>
            </dict>
            <key>35-baiguangzhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,260},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>35-baiseshanguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{90,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{90,75}</string>
            </dict>
            <key>35-cibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,34},{24,45}}</string>
                <key>offset</key>
                <string>{19,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,71},{24,45}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,348},{54,89}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{54,89}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,411},{50,99}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{50,99}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,304},{52,97}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{52,97}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{30,45}}</string>
                <key>offset</key>
                <string>{16,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,71},{30,45}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,319},{38,41}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,61},{38,41}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,62},{50,61}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,56},{50,61}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,257},{60,43}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,53},{60,43}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,405},{56,105}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{56,105}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{54,89}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{54,89}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,401},{48,99}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{48,99}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-cibang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,126},{52,97}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{52,97}}</string>
                <key>sourceSize</key>
                <string>{64,117}</string>
            </dict>
            <key>35-guangzhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,405},{68,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,102}}</string>
                <key>sourceSize</key>
                <string>{68,102}</string>
            </dict>
            <key>35-hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,260},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,70}</string>
            </dict>
            <key>35-kuosanguangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{154,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,20}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>35-pensheguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,181},{74,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,128}}</string>
                <key>sourceSize</key>
                <string>{74,128}</string>
            </dict>
            <key>35-piaoxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,260},{58,139}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,139}}</string>
                <key>sourceSize</key>
                <string>{62,149}</string>
            </dict>
            <key>35-piaoxing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,260},{60,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,149}}</string>
                <key>sourceSize</key>
                <string>{62,149}</string>
            </dict>
            <key>35-piaoxing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{58,137}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,137}}</string>
                <key>sourceSize</key>
                <string>{62,149}</string>
            </dict>
            <key>35-piaoxing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,439},{60,135}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,135}}</string>
                <key>sourceSize</key>
                <string>{62,149}</string>
            </dict>
            <key>35-tianguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,62},{62,119}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,119}}</string>
                <key>sourceSize</key>
                <string>{70,119}</string>
            </dict>
            <key>35-tianguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,242},{60,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,119}}</string>
                <key>sourceSize</key>
                <string>{70,119}</string>
            </dict>
            <key>35-tianguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,180},{60,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{60,119}}</string>
                <key>sourceSize</key>
                <string>{70,119}</string>
            </dict>
            <key>35-tianguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,60},{68,119}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,119}}</string>
                <key>sourceSize</key>
                <string>{70,119}</string>
            </dict>
            <key>35-xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,359},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fuhuo-guangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill35.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:490c3790d212d95ccc09fe5deba4edba$</string>
            <key>textureFileName</key>
            <string>skill35.png</string>
        </dict>
    </dict>
</plist>
