<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27-wang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,117},{69,43}}</string>
                <key>offset</key>
                <string>{-175,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,124},{69,43}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{187,113}}</string>
                <key>offset</key>
                <string>{109,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,44},{187,113}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,220},{153,131}}</string>
                <key>offset</key>
                <string>{110,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,45},{153,131}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{131,131}}</string>
                <key>offset</key>
                <string>{109,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,46},{131,131}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,378},{99,77}}</string>
                <key>offset</key>
                <string>{-117,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,69},{99,77}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{135,89}}</string>
                <key>offset</key>
                <string>{-87,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,47},{135,89}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{123,105}}</string>
                <key>offset</key>
                <string>{-68,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,25},{123,105}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{167,105}}</string>
                <key>offset</key>
                <string>{-25,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,16},{167,105}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,117},{161,101}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,7},{161,101}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{155,81}}</string>
                <key>offset</key>
                <string>{48,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,13},{155,81}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,109},{159,109}}</string>
                <key>offset</key>
                <string>{84,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,17},{159,109}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
            <key>27-wang9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,93}}</string>
                <key>offset</key>
                <string>{114,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,42},{191,93}}</string>
                <key>sourceSize</key>
                <string>{419,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill27.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c3b1412bcd990ac5ab56a3d9a4f7142$</string>
            <key>textureFileName</key>
            <string>skill27.png</string>
        </dict>
    </dict>
</plist>
