<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bodongqiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{93,99}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{93,99}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>bodongqiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{99,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{99,97}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>bodongqiu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,768},{95,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{95,91}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>bodongqiu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,861},{97,95}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{97,95}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>bodongqiu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,861},{93,97}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{93,97}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>bodongqiu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{97,97}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{97,97}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>bodongqiu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,671},{95,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{95,93}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>bodongqiu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,861},{97,95}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{97,95}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>changjingguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,768},{84,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>qigongbo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{109,210}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{109,210}}</string>
                <key>sourceSize</key>
                <string>{131,224}</string>
            </dict>
            <key>qigongbo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,546},{117,176}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,32},{117,176}}</string>
                <key>sourceSize</key>
                <string>{131,224}</string>
            </dict>
            <key>qigongbo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,505},{120,164}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{120,164}}</string>
                <key>sourceSize</key>
                <string>{130,224}</string>
            </dict>
            <key>qigongbo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{115,182}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{115,182}}</string>
                <key>sourceSize</key>
                <string>{131,224}</string>
            </dict>
            <key>washit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{111,167}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{111,167}}</string>
                <key>sourceSize</key>
                <string>{121,205}</string>
            </dict>
            <key>washit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,326},{101,177}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{101,177}}</string>
                <key>sourceSize</key>
                <string>{121,205}</string>
            </dict>
            <key>washit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,326},{109,191}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{109,191}}</string>
                <key>sourceSize</key>
                <string>{121,205}</string>
            </dict>
            <key>washit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,437},{107,181}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{107,181}}</string>
                <key>sourceSize</key>
                <string>{121,205}</string>
            </dict>
            <key>washit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,665},{101,159}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{101,159}}</string>
                <key>sourceSize</key>
                <string>{121,205}</string>
            </dict>
            <key>xuanfeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,164},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>xuanfeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>xuanfeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>xuanfeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SuperSlay2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a2e9a8588e4fa75638742cd6fc71883$</string>
            <key>textureFileName</key>
            <string>SuperSlay2.png</string>
        </dict>
    </dict>
</plist>
