<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tab_att</key>
	<string>属性</string>
	<key>max</key>
	<string>最大</string>
	<key>label_level</key>
	<string>等级</string>
	<key>label_exp</key>
	<string>经验</string>
	<key>label_power</key>
	<string>能量</string>
	<key>upgrade_level</key>
	<string>强化等级</string>
	<key>probability</key>
	<string>概率</string>
	<key>label_10</key>
	<string>HP</string>
	<key>label_12</key>
	<string>HP</string>
	<key>label_11</key>
	<string>SP</string>
	<key>label_13</key>
	<string>SP</string>
	<key>label_1</key>
	<string>力量</string>
	<key>label_2</key>
	<string>敏捷</string>
	<key>label_3</key>
	<string>耐力</string>
	<key>label_4</key>
	<string>速度</string>
	<key>label_5</key>
	<string>攻击</string>
	<key>label_6</key>
	<string>最大攻击</string>
	<key>label_7</key>
	<string>最小攻击</string>
	<key>label_16</key>
	<string>命中</string>
	<key>label_15</key>
	<string>闪避</string>
	<key>label_9</key>
	<string>破防</string>
	<key>label_8</key>
	<string>防御</string>
	<key>label_14</key>
	<string>暴击</string>
	<key>label_17</key>
	<string>韧性</string>
	<key>label_18</key>
	<string>攻击</string>
	<key>equtype</key>
	<string>类别：</string>
	<key>equtype_0</key>
	<string>武器</string>
	<key>equtype_1</key>
	<string>衣服</string>
	<key>equtype_2</key>
	<string>头</string>
	<key>equtype_3</key>
	<string>项链</string>
	<key>equtype_4</key>
	<string>鞋子</string>
	<key>equtype_5</key>
	<string>手套</string>
	<key>equtype_6</key>
	<string>裤子</string>
	<key>equtype_7</key>
	<string>戒指</string>
	<key>equtype_coat</key>
	<string>外套</string>
	<key>equtype_coat1</key>
	<string>初级外套</string>
	<key>equtype_coat2</key>
	<string>中级外套</string>
	<key>equtype_coat3</key>
	<string>高级外套</string>
	<key>equtype_coat4</key>
	<string>传说外套</string>
	<key>equtype_pet</key>
	<string>宠物</string>
	<key>equtype_prop</key>
	<string>道具</string>
	<key>equtype_box</key>
	<string>宝箱</string>
	<key>requirelevel</key>
	<string>需求等级：</string>
	<key>baseatt</key>
	<string>基础属性：</string>
	<key>unOpenSlot</key>
	<string>未打孔</string>
	<key>unEquipGem</key>
	<string>未镶嵌宝石</string>
	<key>suit0</key>
	<string>2件套装属性：</string>
	<key>suit1</key>
	<string>4件套装属性：</string>
	<key>suit2</key>
	<string>7件套装属性：</string>
	<key>sell_price</key>
	<string>出售价格：金币</string>
	<key>buy_price</key>
	<string>购买价格：</string>
	<key>req_reputation</key>
	<string>声望达到 @ 才能兑换</string>
	<key>exclusive</key>
	<string>外套专属装备加成：</string>
	<key>weapon_type</key>
	<string>武器类型：</string>
	<key>coat_add</key>
	<string>(每升一级 @ )</string>
	<key>coat_tran_1</key>
	<string>@点力量增加#ffc5011%#ffffff攻击</string>
	<key>coat_tran_2</key>
	<string>@点敏捷增加#ffc5011#ffffff点速度和#ffc5011#ffffff点闪避</string>
	<key>coat_tran_3</key>
	<string>@点耐力增加#ffc5011%#ffffffHP和#ffc5011#ffffff点SP</string>
	<key>coat_skill</key>
	<string>@技能触发概率#ffc501+5%</string>
	<key>gem_upgrade</key>
	<string>+@宝石可以镶嵌在 @ 级以上装备</string>
	<key>coat_skill_master</key>
	<string>专家</string>
	<key>skill</key>
	<string>技能</string>
	<key>pet_skill</key>
	<string>宠物每升3级，增加1个技能格</string>
	<key>pet_energy</key>
	<string>能量：</string>
	<key>expiryTime</key>
	<string>有效时间至：</string>
	<key>ran_attribute</key>
	<string>4条随机属性</string>
	<key>custom</key>
	<string>定制者：</string>
	<key>custom_20058</key>
	<string>心雨无痕</string>
	<key>custom_20061</key>
	<string>Ambersky</string>
</dict>
</plist>
