<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>btn_equ</key>
	<string>装备</string>
	<key>btn_sell</key>
	<string>出售</string>
	<key>btn_use</key>
	<string>使用</string>
	<key>btn_buy</key>
	<string>购买</string>
	<key>btn_unload</key>
	<string>卸下</string>
	<key>btn_drop</key>
	<string>丢弃</string>
	<key>btn_refresh</key>
	<string>刷新</string>
	<key>btn_back</key>
	<string>返回</string>
	<key>btn_shop1</key>
	<string>热卖</string>
	<key>btn_shop2</key>
	<string>铸造</string>
	<key>btn_shop3</key>
	<string>宠物</string>
	<key>btn_shop4</key>
	<string>道具</string>
	<key>btn_shop5</key>
	<string>宝箱</string>
	<key>btn_shop6</key>
	<string>VIP</string>
	<key>btn_wipe</key>
	<string>扫荡</string>
	<key>btn_newTeam</key>
	<string>新建</string>
	<key>btn_exitTeam</key>
	<string>退出</string>
	<key>btn_dismiss</key>
	<string>解散</string>
	<key>btn_att</key>
	<string>攻击</string>
	<key>btn_enter</key>
	<string>加入</string>
	<key>btn_clear</key>
	<string>消除</string>
	<key>btn_add</key>
	<string>增加</string>
	<key>btn_check</key>
	<string>查看</string>
	<key>btn_talk_all</key>
	<string>全部</string>
	<key>btn_talk_world</key>
	<string>世界</string>
	<key>btn_talk_world - 2</key>
	<string>【世界】</string>
	<key>btn_talk_league</key>
	<string>帮派</string>
	<key>btn_talk_league - 2</key>
	<string>【帮派】</string>
	<key>btn_talk_prichat</key>
	<string>私聊</string>
	<key>btn_talk_prichat - 2</key>
	<string>【私聊】</string>
	<key>btn_talk_sys</key>
	<string>系统</string>
	<key>btn_talk_sys - 2</key>
	<string>【系统】</string>
	<key>btn_talk_send</key>
	<string>发送</string>
	<key>btn_start</key>
	<string>开始</string>
	<key>btn_sure</key>
	<string>确定</string>
	<key>btn_free_changeluck</key>
	<string>改运</string>
	<key>btn_createRole</key>
	<string>创建角色</string>
	<key>btn_create</key>
	<string>创建</string>
	<key>btn_login</key>
	<string>登陆</string>
	<key>btn_register</key>
	<string>注册</string>
	<key>btn_use_accout</key>
	<string>已有账号</string>
	<key>btn_change_pwd</key>
	<string>修改密码</string>
	<key>btn_link_mail</key>
	<string>绑定邮箱</string>
	<key>btn_change_account</key>
	<string>切换角色</string>
	<key>btn_new_account</key>
	<string>新建角色</string>
	<key>btn_logout</key>
	<string>注销</string>
	<key>btn_enter_towerfloor</key>
	<string>进入</string>
	<key>btn_confirm</key>
	<string>确定</string>
	<key>btn_confirm_notify</key>
	<string>确  定</string>
	<key>btn_cancel</key>
	<string>取消</string>
	<key>btn_cancel_notify</key>
	<string>取  消</string>
	<key>btn_tour_apply</key>
	<string>报  名</string>
	<key>btn_tour_apply - 2</key>
	<string>已报名</string>
	<key>btn_tour_myrace</key>
	<string>我的比赛</string>
	<key>btn_tour_pre</key>
	<string>上届实况</string>
	<key>btn_tour_mybet</key>
	<string>我的投注</string>
	<key>btn_tour_rule</key>
	<string>比赛规则</string>
	<key>btn_rule</key>
	<string>规则</string>
	<key>btn_tour_bet_reward</key>
	<string>领取奖励</string>
	<key>btn_tour_liminary</key>
	<string>预选赛记录</string>
	<key>btn_friend</key>
	<string>加好友</string>
	<key>btn_blackist</key>
	<string>拉黑</string>
	<key>btn_save_friend</key>
	<string>解救好友</string>
	<key>btn_slave_0</key>
	<string>折磨</string>
	<key>btn_slave_1</key>
	<string>安抚</string>
	<key>btn_slave_2</key>
	<string>释放</string>
	<key>btn_slave_4</key>
	<string>解救</string>
	<key>btn_slave_5</key>
	<string>反抗</string>
	<key>btn_slave_6</key>
	<string>讨好</string>
	<key>btn_slave_7</key>
	<string>赎身</string>
	<key>btn_slave_8</key>
	<string>抓捕</string>
	<key>btn_soul_0</key>
	<string>一键炼魂</string>
	<key>btn_soul_1</key>
	<string>一键拾取</string>
	<key>btn_soul_2</key>
	<string>一键卖出</string>
	<key>btn_soul_3</key>
	<string>一键合成</string>
	<key>btn_risk_0</key>
	<string>开始修炼</string>
	<key>btn_risk_1</key>
	<string>刷新坐骑</string>
	<key>btn_risk_2</key>
	<string>祝福</string>
	<key>btn_risk_3</key>
	<string>召唤</string>
	<key>btn_exchange</key>
	<string>兑换</string>
	<key>btn_rob</key>
	<string>拦截</string>
	<key>btn_random</key>
	<string>随机</string>
	<key>btn_del</key>
	<string>删除</string>
	<key>btn_fight</key>
	<string>切磋</string>
	<key>btn_agree</key>
	<string>同意</string>
	<key>btn_ignore</key>
	<string>忽略</string>
	<key>btn_ignoreall</key>
	<string>忽略全部</string>
	<key>btn_pri_mail</key>
	<string>私信</string>
	<key>btn_write_mail</key>
	<string>写信</string>
	<key>btn_reply_mail</key>
	<string>回信</string>
	<key>btn_feedback_mail</key>
	<string>反馈</string>
	<key>btn_hire</key>
	<string>雇佣</string>
	<key>btn_fire</key>
	<string>解雇</string>
	<key>btn_reset</key>
	<string>重置</string>
	<key>btn_grasp</key>
	<string>领悟</string>
	<key>btn_upgrade</key>
	<string>升级</string>
	<key>btn_full</key>
	<string>召唤</string>
	<key>btn_feed</key>
	<string>喂食</string>
	<key>btn_charge</key>
	<string>充值</string>
	<key>btn_firstcharge</key>
	<string>充值领取</string>
	<key>btn_get</key>
	<string>领取</string>
	<key>btn_get2</key>
	<string>已领取</string>
	<key>btn_kick</key>
	<string>踢掉</string>
	<key>btn_manual</key>
	<string>手动</string>
	<key>btn_auto</key>
	<string>自动</string>
	<key>btn_convert</key>
	<string>转换</string>
	<key>btn_set_gold</key>
	<string>设定存量</string>
	<key>btn_max</key>
	<string>最大</string>
	<key>btn_lock</key>
	<string>锁住</string>
	<key>btn_unlock</key>
	<string>解锁</string>
	<key>btn_go</key>
	<string>前往</string>
	<key>btn_stop</key>
	<string>停止</string>
	<key>btn_apply</key>
	<string>申请</string>
	<key>btn_applying</key>
	<string>申请中...</string>
	<key>btn_revenge</key>
	<string>复仇</string>
	<key>btn_setting</key>
	<string>设置</string>
	<key>btn_transfer</key>
	<string>转让</string>
	<key>btn_compare</key>
	<string>对比</string>
	<key>btn_promote</key>
	<string>晋升</string>
	<key>btn_demote</key>
	<string>免职</string>
	<key>btn_repeal</key>
	<string>撤销</string>
	<key>btn_rate</key>
	<string>评价</string>
	<key>btn_later</key>
	<string>以后</string>
	<key>btn_about</key>
	<string>关于</string>
	<key>btn_continue_game</key>
	<string>帐号绑定</string>
	<key>btn_register_game</key>
	<string>快速注册</string>
	<key>btn_show</key>
	<string>展示</string>
	<key>btn_drink</key>
	<string>饮泉</string>
	<key>btn_skip</key>
	<string>跳过</string>
	<key>btn_exit_game</key>
	<string>退出游戏</string>
	<key>btn_restart_game</key>
	<string>重启游戏</string>
	<key>btn_clear_record</key>
	<string>清除缓存</string>
	<key>btn_select</key>
	<string>选择</string>
	<key>btn_forget_pwd</key>
	<string>忘记密码？</string>
	<key>btn_add_buff</key>
	<string>状态提升</string>
	<key>btn_chal_rank</key>
	<string>挑战排行</string>
	<key>btn_chal</key>
	<string>挑  战</string>
	<key>btn_start_chal</key>
	<string>开始挑战</string>
	<key>btn_skip2</key>
	<string>跳  过</string>
	<key>btn_add_all</key>
	<string>全部加满</string>
	<key>btn_batch</key>
	<string>批量使用</string>
	<key>btn_open</key>
	<string>开启</string>
	<key>btn_add_dia</key>
	<string>加@</string>
	<key>btn_retry</key>
	<string>重试</string>
	<key>btn_embed</key>
	<string>镶嵌</string>
	<key>btn_gem_upgrade_level</key>
	<string>宝石升级</string>
	<key>btn_sel_gem</key>
	<string>选择宝石</string>
	<key>btn_choose_gem</key>
	<string>选择宝石</string>
	<key>btn_fire_star</key>
	<string>点亮星星</string>
	<key>btn_decom</key>
	<string>黑洞分解</string>
	<key>btn_browse</key>
	<string>总览</string>
	<key>btn_18183</key>
	<string>18183论坛</string>
	<key>btn_bug91</key>
	<string>意见反馈</string>
	<key>btn_soul_create</key>
	<string>前往生魂</string>
	<key>btn_quick_configure</key>
	<string>快速配置</string>
	<key>btn_skill_configure</key>
	<string>技能配置</string>
	<key>btn_pet_configure</key>
	<string>宠物配置</string>
	<key>btn_soul_configure</key>
	<string>炼魂配置</string>
	<key>btn_forge_configure</key>
	<string>铸造配置</string>
	<key>btn_update</key>
	<string>更新</string>
	<key>btn_bet2</key>
	<string>下注</string>
</dict>
</plist>
