<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cg1</key>
	<string>这里，原本是宇宙角落中一颗不为人知的星球……</string>
	<key>cg2</key>
	<string>一颗神秘的陨石拖着巨大的烈焰毫无征兆的刺穿了大气层。</string>
	<key>cg3</key>
	<string>巨大的爆炸撼动了整个星球，也划破了星球的宁静……</string>
	<key>cg4</key>
	<string>浓烟散去，诡异的魔法方块渐渐浮现。</string>
	<key>cg5</key>
	<string>神秘的上古文字揭示了它是个蕴藏着巨大能量的“潘多拉魔盒”。只有最强者方能驾驭！</string>
	<key>cg6</key>
	<string>于是……宇宙各地的武术家云集于此，开始了激烈的争夺……</string>
	<key>cg7</key>
	<string>谁，会是最强的人？</string>
	<key>cg8</key>
	<string>战斗才刚刚开始……</string>
</dict>
</plist>
