<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>20000</key>
	<string>任意</string>
	<key>20001</key>
	<string>格斗小子</string>
	<key>20002</key>
	<string>假面萨满</string>
	<key>20003</key>
	<string>牛魔王</string>
	<key>20004</key>
	<string>绿藻头</string>
	<key>20005</key>
	<string>无影</string>
	<key>20006</key>
	<string>武僧</string>
	<key>20007</key>
	<string>秋香</string>
	<key>20008</key>
	<string>小魔女</string>
	<key>20009</key>
	<string>兽人首领</string>
	<key>20010</key>
	<string>骷髅战士</string>
	<key>20011</key>
	<string>精灵王子</string>
	<key>20012</key>
	<string>熊猫人</string>
	<key>20013</key>
	<string>李小龙</string>
	<key>20014</key>
	<string>牧师公主</string>
	<key>20015</key>
	<string>野蛮人</string>
	<key>20016</key>
	<string>圣骑士</string>
	<key>20017</key>
	<string>铭人</string>
	<key>20018</key>
	<string>大圣</string>
	<key>20019</key>
	<string>草帽小子</string>
	<key>20020</key>
	<string>噬魂公主</string>
	<key>20021</key>
	<string>木乃伊</string>
	<key>20022</key>
	<string>傻死给</string>
	<key>20023</key>
	<string>黑暗小丑</string>
	<key>20024</key>
	<string>地狱男孩</string>
	<key>20025</key>
	<string>小樱</string>
	<key>20026</key>
	<string>部落女巫</string>
	<key>20027</key>
	<string>大天使</string>
	<key>20028</key>
	<string>小绿帽</string>
	<key>20029</key>
	<string>幕府武士</string>
	<key>20030</key>
	<string>海盗王</string>
	<key>20031</key>
	<string>伊达政宗</string>
	<key>20032</key>
	<string>信长</string>
	<key>20033</key>
	<string>小奎</string>
	<key>20034</key>
	<string>死神</string>
	<key>20035</key>
	<string>大魔王</string>
	<key>20036</key>
	<string>黑岩</string>
	<key>20037</key>
	<string>透明人</string>
	<key>20038</key>
	<string>兔女郎</string>
	<key>20039</key>
	<string>拉灯</string>
	<key>20040</key>
	<string>卡卡</string>
	<key>20041</key>
	<string>小护士</string>
	<key>20042</key>
	<string>关羽</string>
	<key>20043</key>
	<string>吕布</string>
	<key>20044</key>
	<string>哈利</string>
	<key>20045</key>
	<string>哪吒</string>
	<key>20046</key>
	<string>极地猎手</string>
	<key>20047</key>
	<string>小红帽</string>
	<key>20048</key>
	<string>奶酪杀手</string>
	<key>20049</key>
	<string>互撸娃</string>
	<key>20050</key>
	<string>机甲神兵A1</string>
	<key>20051</key>
	<string>东方不败</string>
	<key>20052</key>
	<string>维京战士</string>
	<key>20053</key>
	<string>大剑豪</string>
	<key>20054</key>
	<string>机甲神兵B4</string>
	<key>20055</key>
	<string>小初</string>
	<key>20056</key>
	<string>草泥马骑兵</string>
	<key>20057</key>
	<string>铜人</string>
	<key>20058</key>
	<string>恶魔猎手</string>
	<key>20059</key>
	<string>外星人</string>
	<key>20060</key>
	<string>鬼关羽</string>
	<key>20061</key>
	<string>莎贝尔</string>
</dict>
</plist>
