<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>risk_0</key>
	<string>每次祝福都会让您在被拦截时战斗力得到提升，是否使用@钻石祝福一次？</string>
	<key>risk_1</key>
	<string>是否花费@钻石刷新坐骑？</string>
	<key>risk_2</key>
	<string>是否花费@钻石召唤UF0坐骑？</string>
	<key>risk_3</key>
	<string>是否花费@钻石召唤佛光？您将立即获得@点声望，并且得到每个完成修炼的人@%的声望奖励。</string>
	<key>risk_4</key>
	<string>是否花费@钻石立即完成修炼？</string>
	<key>soul_0</key>
	<string>是否花费@钻石召唤炼魂师如来？</string>
	<key>soul_one_key_craft</key>
	<string>确定要一键合成背包中所有魂魄？</string>
	<key>tour_0</key>
	<string>是否花费@金币报名本届世界比武大赛？</string>
	<key>skill_0</key>
	<string>是否花费@钻石重置技能？</string>
	<key>pet_0</key>
	<string>是否花费@钻石购买一个宠物食盆？</string>
	<key>pet_1</key>
	<string>是否花费@钻石升级一个宠物食盆？</string>
	<key>pet_2</key>
	<string>是否花费@钻石消除CD？</string>
	<key>pet_3</key>
	<string>是否花费@钻石召唤人参？</string>
	<key>pet_4</key>
	<string>是否花费@钻石刷新食物？</string>
	<key>arena_0</key>
	<string>是否花费@钻石刷新对手？</string>
	<key>arena_1</key>
	<string>是否花费@钻石增加一次挑战次数？</string>
	<key>arena_2</key>
	<string>挑战次数已用完，是否要花费@钻石增加一次挑战次数？</string>
	<key>pp_buy</key>
	<string>是否花费@PP币购买@个钻石？</string>
	<key>slave_0</key>
	<string>是否花费@钻石购买一个新笼子？</string>
	<key>slave_1</key>
	<string>是否花费@金币赎身？</string>
	<key>tower_0</key>
	<string>是否花费@钻石增加一次爬塔次数？</string>
	<key>tower_1</key>
	<string>本日爬塔次数已经用完了，是否花费@钻石增加一次爬塔次数？</string>
	<key>tower_2</key>
	<string>本日爬塔次数已经用完了，提升VIP等级获得更多购买爬塔的次数。</string>
	<key>buy_energy</key>
	<string>是否花费@钻石购买@点体力？</string>
	<key>exgold</key>
	<string>是否花费@钻石兑换@金币？</string>
	<key>equshop_refresh</key>
	<string>是否花费@钻石刷新商店？</string>
	<key>skip_teach</key>
	<string>是否进入教学？</string>
	<key>buybag</key>
	<string>是否花费@钻石新增一页背包？</string>
	<key>remove_gem</key>
	<string>是否花费@金币摘除宝石？</string>
	<key>tower_autofight</key>
	<string>是否花费@钻石进入快速战斗？</string>
	<key>clear_engrave</key>
	<string>是否花费@金币清除铭刻？</string>
	<key>reward_leave</key>
	<string>你已成功挑战至@层。当前累计@经验。确定要结束挑战？</string>
	<key>confirm_drop</key>
	<string>确定丢弃此物品？</string>
	<key>confrim_sell</key>
	<string>此装备已经强化或镶嵌宝石，确定出售此装备？</string>
	<key>league_dismiss</key>
	<string>帮派解散后将删除所有数据，并且无法恢复，请谨慎考虑！</string>
	<key>league_quit</key>
	<string>确定退出帮派？</string>
	<key>league_resign</key>
	<string>确定将帮主之位转让给“@”吗？</string>
	<key>league_fire</key>
	<string>确定将“@”踢出本帮派吗？</string>
	<key>league_promote</key>
	<string>确定将“@”晋升为副帮主吗？</string>
	<key>league_demote</key>
	<string>确定将“@”免职吗？</string>
	<key>league_spring_summon</key>
	<string>确定花费@钻石召唤众仙泉？</string>
	<key>rate_main</key>
	<string>喜欢《乱斗堂》，就请给我们5星评价吧！有您的支持我们会做的更好！</string>
	<key>confirm_bet</key>
	<string>确定花费@金币，押&quot;@&quot;赢得比赛？</string>
	<key>confirm_showitem</key>
	<string>确定花费@钻石来展示物品？</string>
	<key>exchange_1</key>
	<string>是否花费@碎片兑换“@”？</string>
	<key>exchange_2</key>
	<string>是否花费@礼券兑换“@”？</string>
	<key>exchange_3</key>
	<string>是否花费@声望币兑换“@”？</string>
	<key>treasure_change</key>
	<string>是否要花费@钻石改运一次？</string>
	<key>restart_game</key>
	<string>确定要重新启动游戏吗？</string>
	<key>clear_record</key>
	<string>确定要清理缓存并注销账号吗？</string>
	<key>question_refresh</key>
	<string>是否花费@钻石刷新题目？</string>
	<key>add_all_buff</key>
	<string>是否花费@钻石提升所有状态？</string>
	<key>risk_queue</key>
	<string>当前佛光已开启，当本次佛光结束，系统根据队列情况自动开启下次佛光，是否花费@钻石进入召唤队列？</string>
	<key>risk_openqueue</key>
	<string>是否花费@钻石开启一个队列？</string>
	<key>chaltour_next</key>
	<string>跳过将不能再次挑战该铜人，确定跳过？</string>
	<key>chaltour_fight</key>
	<string>挑战将消耗1次挑战机会，确认开始挑战？</string>
	<key>buy_gem_blue</key>
	<string>是否立即够买蓝宝石？
当前售价：金币@/颗
（点击购买按钮，每次1颗）</string>
	<key>buy_gem_yellow</key>
	<string>是否立即够买黄宝石？
当前售价：金币@/颗
（点击购买按钮，每次1颗）</string>
	<key>buy_gem_red</key>
	<string>是否立即够买红宝石？
当前售价：金币@/颗
（点击购买按钮，每次1颗）</string>
	<key>buy_slot_tune1</key>
	<string>初级打孔锥不足，是否花费@钻石直接完成打孔？</string>
	<key>buy_slot_tune2</key>
	<string>中级打孔锥不足，是否花费@钻石直接完成打孔？</string>
	<key>buy_slot_tune3</key>
	<string>高级打孔锥不足，是否花费@钻石直接完成打孔？</string>
	<key>buy_engrave_crystal</key>
	<string>铭刻水晶不足，是否花费@钻石直接补齐@个铭刻水晶？</string>
	<key>equipment_slot</key>
	<string>是否消耗1个&quot;@&quot;来为本件装备打孔？</string>
	<key>quick_reinforce</key>
	<string>是否使用“一键强化”将此装备强化至+@？</string>
	<key>use_card</key>
	<string>是否使用一张“@”?</string>
	<key>confirm_decompose</key>
	<string>分解后物品消失，确定分解？</string>
	<key>box_warning1</key>
	<string>确定将能量加到当前装备的宠物身上？</string>
	<key>box_warning2</key>
	<string>使用完更名道具，下次登录游戏将强制进入更名界面，确定使用？</string>
	<key>soul_add_bag</key>
	<string>确定要花费@钻石，开启@个格子吗？</string>
	<key>soul_craft1</key>
	<string>【@】将吞噬【@】,确定要合成吗？</string>
	<key>soul_craft2</key>
	<string>【@】将吞噬其他未锁魂魄，确定要一键合成背包中所有魂魄？</string>
	<key>pet_craft</key>
	<string>材料宠物带有技能或能量，是否继续？</string>
</dict>
</plist>
