<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1001</key>
	<string>野蛮之拳</string>
	<key>1006</key>
	<string>痛苦之手</string>
	<key>1011</key>
	<string>米奇手套</string>
	<key>1016</key>
	<string>粉碎拳刃</string>
	<key>1021</key>
	<string>勇气拳套</string>
	<key>1026</key>
	<string>龟龟拳</string>
	<key>1031</key>
	<string>毛织拳套</string>
	<key>1036</key>
	<string>金刚爪</string>
	<key>1041</key>
	<string>拉拉球</string>
	<key>1046</key>
	<string>弹弹拳</string>
	<key>1051</key>
	<string>虎严拳</string>
	<key>1056</key>
	<string>酷刑之拳</string>
	<key>1061</key>
	<string>极地之手</string>
	<key>1066</key>
	<string>邪龙之脊刺</string>
	<key>1071</key>
	<string>圣光钢甲拳</string>
	<key>1076</key>
	<string>浩克之拳</string>
	<key>1081</key>
	<string>地狱荆棘</string>
	<key>1086</key>
	<string>巨大幻像</string>
	<key>2001</key>
	<string>贤明杖</string>
	<key>2006</key>
	<string>璀璨之杖</string>
	<key>2011</key>
	<string>宽恕之权杖</string>
	<key>2016</key>
	<string>巫毒娃娃</string>
	<key>2021</key>
	<string>超级大葱</string>
	<key>2026</key>
	<string>爱之法杖</string>
	<key>2031</key>
	<string>搜魂者</string>
	<key>2036</key>
	<string>北海巨妖</string>
	<key>2041</key>
	<string>命运杖</string>
	<key>2046</key>
	<string>飞天扫帚</string>
	<key>2051</key>
	<string>接骨木魔杖</string>
	<key>2056</key>
	<string>天使之翅</string>
	<key>2061</key>
	<string>耙耙的告白</string>
	<key>2066</key>
	<string>封魔锡杖</string>
	<key>2071</key>
	<string>邪龙之爪</string>
	<key>2076</key>
	<string>星尘</string>
	<key>2081</key>
	<string>魔法麦克风</string>
	<key>2086</key>
	<string>大祭司仪式</string>
	<key>3001</key>
	<string>斩马刀</string>
	<key>3006</key>
	<string>血色之伞</string>
	<key>3011</key>
	<string>烙铁魔石斩</string>
	<key>3016</key>
	<string>嗜血巨剑</string>
	<key>3021</key>
	<string>忏悔之旅</string>
	<key>3026</key>
	<string>铁匠的骄傲</string>
	<key>3031</key>
	<string>碎肠之锤</string>
	<key>3036</key>
	<string>鱼骨剑</string>
	<key>3041</key>
	<string>约束之斧</string>
	<key>3046</key>
	<string>甜筒</string>
	<key>3051</key>
	<string>厄运之锤</string>
	<key>3056</key>
	<string>鳄龟之力</string>
	<key>3061</key>
	<string>极地战斧</string>
	<key>3066</key>
	<string>玄冰之柱</string>
	<key>3071</key>
	<string>邪龙之首</string>
	<key>3076</key>
	<string>死神降临</string>
	<key>3081</key>
	<string>蛮荒战神</string>
	<key>3086</key>
	<string>刺龙脊</string>
	<key>4001</key>
	<string>2B铅笔</string>
	<key>4006</key>
	<string>太刀-落燕</string>
	<key>4011</key>
	<string>碎钉</string>
	<key>4016</key>
	<string>大力神马桶栓</string>
	<key>4021</key>
	<string>骑士荣耀</string>
	<key>4026</key>
	<string>崩玉大环刀</string>
	<key>4031</key>
	<string>裂空</string>
	<key>4036</key>
	<string>黑刀-秋水</string>
	<key>4041</key>
	<string>光剑</string>
	<key>4046</key>
	<string>尚方宝剑</string>
	<key>4051</key>
	<string>居合-斩樱</string>
	<key>4056</key>
	<string>卓越之短剑</string>
	<key>4061</key>
	<string>米迦勒之剑</string>
	<key>4066</key>
	<string>重铸之金斧</string>
	<key>4071</key>
	<string>邪龙之心</string>
	<key>4076</key>
	<string>血神徽记</string>
	<key>4081</key>
	<string>虹</string>
	<key>4086</key>
	<string>大太刀-夜鸦</string>
	<key>5001</key>
	<string>清算匕首</string>
	<key>5006</key>
	<string>噩梦之刃</string>
	<key>5011</key>
	<string>飓锋</string>
	<key>5016</key>
	<string>暗影手里剑</string>
	<key>5021</key>
	<string>螺旋绞杀</string>
	<key>5026</key>
	<string>沙之弯刀</string>
	<key>5031</key>
	<string>血轮</string>
	<key>5036</key>
	<string>藤蔓精灵</string>
	<key>5041</key>
	<string>剥皮者</string>
	<key>5046</key>
	<string>施虐针筒</string>
	<key>5051</key>
	<string>毒蜂</string>
	<key>5056</key>
	<string>阴阳扇</string>
	<key>5061</key>
	<string>震天猛虎拐</string>
	<key>5066</key>
	<string>雷公刺</string>
	<key>5071</key>
	<string>邪龙之眼</string>
	<key>5076</key>
	<string>混沌之刃</string>
	<key>5081</key>
	<string>葵花扇</string>
	<key>5086</key>
	<string>黑晶石</string>
	<key>6001</key>
	<string>水管工的遗物</string>
	<key>6006</key>
	<string>掘地者的遗物</string>
	<key>6011</key>
	<string>猎杀之枪</string>
	<key>6016</key>
	<string>王者指挥棒</string>
	<key>6021</key>
	<string>打狗棒</string>
	<key>6026</key>
	<string>打狗棒2.0版</string>
	<key>6031</key>
	<string>冰锥长枪</string>
	<key>6036</key>
	<string>地狱感染</string>
	<key>6041</key>
	<string>如意棒</string>
	<key>6046</key>
	<string>真言</string>
	<key>6051</key>
	<string>蛇矛</string>
	<key>6056</key>
	<string>波塞冬</string>
	<key>6061</key>
	<string>死棘魔枪</string>
	<key>6066</key>
	<string>邪龙之尾</string>
	<key>6071</key>
	<string>屠龙偃月刀</string>
	<key>6076</key>
	<string>暗金之神戟</string>
	<key>6081</key>
	<string>三味真炎枪</string>
	<key>6086</key>
	<string>黄金法克鱿</string>
	<key>1060</key>
	<string>王者·疾风拳</string>
	<key>1070</key>
	<string>王者·顽石拳</string>
	<key>1080</key>
	<string>王者·暴烈拳</string>
	<key>2060</key>
	<string>王者·疾风法杖</string>
	<key>2070</key>
	<string>王者·顽石法杖</string>
	<key>2080</key>
	<string>王者·暴烈法杖</string>
	<key>3060</key>
	<string>王者·疾风斧</string>
	<key>3070</key>
	<string>王者·顽石斧</string>
	<key>3080</key>
	<string>王者·暴烈斧</string>
	<key>4060</key>
	<string>王者·疾风剑</string>
	<key>4070</key>
	<string>王者·顽石剑</string>
	<key>4080</key>
	<string>王者·暴烈剑</string>
	<key>5060</key>
	<string>王者·疾风匕首</string>
	<key>5070</key>
	<string>王者·顽石匕首</string>
	<key>5080</key>
	<string>王者·暴烈匕首</string>
	<key>6060</key>
	<string>王者·疾风棍</string>
	<key>6070</key>
	<string>王者·顽石棍</string>
	<key>6080</key>
	<string>王者·暴烈棍</string>
	<key>441</key>
	<string>猎鹰之首</string>
	<key>442</key>
	<string>猛犸项链</string>
	<key>443</key>
	<string>文豹战靴</string>
	<key>444</key>
	<string>龟甲之庇护</string>
	<key>445</key>
	<string>怒熊手套</string>
	<key>446</key>
	<string>蛞蝓护腿</string>
	<key>447</key>
	<string>蝰蛇之戒</string>
	<key>10-1</key>
	<string>光铸</string>
	<key>10-2</key>
	<string>魂铸</string>
	<key>20-1</key>
	<string>灵风</string>
	<key>20-2</key>
	<string>灵动</string>
	<key>30-1</key>
	<string>光明</string>
	<key>30-2</key>
	<string>光辉</string>
	<key>40-1</key>
	<string>荣誉</string>
	<key>40-2</key>
	<string>荣耀</string>
	<key>50-1</key>
	<string>龙鳞</string>
	<key>50-2</key>
	<string>黑龙</string>
	<key>60-1</key>
	<string>魔焰</string>
	<key>60-2</key>
	<string>梦魇</string>
	<key>70-1</key>
	<string>秩序</string>
	<key>70-2</key>
	<string>审判</string>
	<key>80-1</key>
	<string>复仇</string>
	<key>80-2</key>
	<string>救赎</string>
	<key>90-1</key>
	<string>神圣</string>
	<key>90-2</key>
	<string>神赐</string>
	<key>100-1</key>
	<string>无敌</string>
	<key>100-2</key>
	<string>无我</string>
	<key>part2</key>
	<string>之甲</string>
	<key>part7</key>
	<string>之甲</string>
	<key>part3</key>
	<string>之头</string>
	<key>part4</key>
	<string>项链</string>
	<key>part5</key>
	<string>之靴</string>
	<key>part8</key>
	<string>之手</string>
	<key>part9</key>
	<string>护腿</string>
	<key>part0</key>
	<string>之戒</string>
</dict>
</plist>
