<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATK</key>
	<string>攻击</string>
	<key>AVD</key>
	<string>闪避</string>
	<key>BRK</key>
	<string>破防</string>
	<key>CRT</key>
	<string>暴击</string>
	<key>DEF</key>
	<string>防御</string>
	<key>HIT</key>
	<string>命中</string>
	<key>HP</key>
	<string>HP</string>
	<key>MAX</key>
	<string>最大值</string>
	<key>MAXATK</key>
	<string>最大攻击</string>
	<key>MIN</key>
	<string>最小值</string>
	<key>MINATK</key>
	<string>最小攻击</string>
	<key>SP</key>
	<string>SP</string>
	<key>SPD</key>
	<string>速度</string>
	<key>STA</key>
	<string>耐力</string>
	<key>AGI</key>
	<string>敏捷</string>
	<key>STR</key>
	<string>力量</string>
	<key>TOU</key>
	<string>韧性</string>
	<key>basicAtt</key>
	<string>基础属性：</string>
	<key>profession-1</key>
	<string>全部</string>
	<key>profession0</key>
	<string>骑士</string>
	<key>profession1</key>
	<string>弓箭手</string>
	<key>profession10</key>
	<string>阴阳师</string>
	<key>profession2</key>
	<string>战士</string>
	<key>profession3</key>
	<string>法师</string>
	<key>profession4</key>
	<string>牧师</string>
	<key>profession5</key>
	<string>武僧</string>
	<key>profession6</key>
	<string>刺客</string>
	<key>profession7</key>
	<string>忍者</string>
	<key>profession8</key>
	<string>武术家</string>
	<key>requireLevel</key>
	<string>等级：</string>
	<key>requireProfession</key>
	<string>职业：</string>
	<key>suit0</key>
	<string>两件套装属性</string>
	<key>suit1</key>
	<string>四件套装属性</string>
	<key>suit2</key>
	<string>六件套装属性</string>
	<key>upgradAtt</key>
	<string>强化等级</string>
</dict>
</plist>
