<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mercenary_1</key>
	<string>佣兵是依托好友为基础的系统，玩家只能将自己的好友雇佣成佣兵。届时系统会通过同步好友的数值资料来实现对好友的雇佣。</string>
	<key>Mercenary_2</key>
	<string>雇佣规则</string>
	<key>Mercenary_3</key>
	<string>1.雇佣对象必须为玩家自己的好友。</string>
	<key>Mercenary_4</key>
	<string>2.对象玩家等级必须为不大于或小于自己5级以上的好友。</string>
	<key>Mercenary_5</key>
	<string>3.佣兵只可以适用于普通副本的战斗。</string>
	<key>Mercenary_6</key>
	<string>4.当玩家等级到达20级时激活第一个佣兵格，35级时激活将激活第二个。</string>
	<key>Mercenary_7</key>
	<string>5.当以上任一条件不符时，该佣兵将自动失效。一定要时刻留意哦！</string>
	<key>Mercenary_8</key>
	<string>点击角色形象并上下拖动，即可根据需要随意变换自己与佣兵的排布位置。位置先后顺序即为战斗出场先后顺序。</string>
	<key>Mold_1</key>
	<string>在铸造小屋中,您可以对您的装备进行各个方面品质的提升。铸造小屋包含以下功能:</string>
	<key>Mold_2</key>
	<string>【强化】：对装备的基础属性进行提升。强化有机率失败，强化等级越高，失败机率越高。</string>
	<key>Mold_3</key>
	<string>【洗练】：对装备的属性进行随机重置，以达到装备属性最优配比。</string>
	<key>Mold_4</key>
	<string>【打孔】：防具与饰品每件最多可以打一个孔，武器最多可以3个孔。打孔后的装备可以进行宝石的镶嵌。</string>
	<key>Mold_5</key>
	<string>【镶嵌】：将宝石镶嵌在已经打孔的装备上，从而提高装备的品质。</string>
	<key>Mold_6</key>
	<string>【摘除】：将镶嵌在装备上的宝石摘取下来。摘除将不会破坏宝石。</string>
	<key>Mold_7</key>
	<string>【铭刻】：用户可以对装备中随意的一条属性进行锁定，以确保该属性不会在洗练过程中被重置。需要道具“铭刻水晶”。</string>
	<key>Mold_8</key>
	<string>【清除】：对被铭刻过的装备属性进行解锁。</string>
	<key>Mold_9</key>
	<string>【合成】：玩家可以对“外套”“宠物”“宝石”进行合成升级，从而提高物品的能力值！</string>
	<key>Practice_1</key>
	<string>修炼是玩家每日必修的一门功课,完成修炼不但可以获得大量的金币,更可以获得可观的声望值哦。</string>
	<key>Practice_2</key>
	<string>1.玩家每天有3次修炼机会，每次玩家都可以选择修炼时的坐骑，不同的坐骑最终奖励也会有所差别。</string>
	<key>Practice_3</key>
	<string>2.在修炼过程中，玩家有可能会遭受到来自其他玩家的打劫。成功打劫后，将获得被打劫玩家的部分奖励。</string>
	<key>Practice_4</key>
	<string>3.同样,你也可以去打劫其他正在修炼的玩家,以获得更多的奖励。</string>
	<key>Practice_5</key>
	<string>4.为了保护玩家能在修炼完成时获得部分奖励，打劫和被打劫都将有次数上限！</string>
	<key>Practice_6</key>
	<string>佛光普照</string>
	<key>Practice_6_1</key>
	<string>消费钻石召唤“佛光普照”，召唤者可获得大量声望。效果持续60分钟，期间其他玩家也将获得奖励加成。</string>
	<key>Skill_1</key>
	<string>技能系</string>
	<key>Skill_2</key>
	<string>技能分为10个大系，包含：火，水，土，雷，风，体，忍，印，幻，医。每系包含4个技能。玩家每提升1级，可习得1个技能。</string>
	<key>Skill_3</key>
	<string>技能装备</string>
	<key>Skill_4</key>
	<string>界面上方为技能列表，下方为技能装备栏，请点住并拖动技能图标至下方技能装备栏中。技能触发概率与技能排放的先后顺序无关哦！</string>
	<key>Skill_5</key>
	<string>技能专精</string>
	<key>Skill_6</key>
	<string>技能的专精，其作用是加强某个系的技能效果。每10级可随机激活1个专精系，这意味着当用户达到最高等级80级时，即可拥有8个专精系。专精系中所包含的技能将全部获得专精强化效果。</string>
	<key>Skill_7</key>
	<string>重置技能</string>
	<key>Skill_8</key>
	<string>点击按钮，将清除所拥有的技能，并随机给予您相同数量的新技能，如果您已经拥有的技能并不是所期望的技能，或对当前专精系不满，便可使用该功能。</string>
	<key>Slave_1</key>
	<string>奴隶系统是获得声望和金币的又一途径，拥有的奴隶越多，每日能获得的金币和声望就越多～</string>
	<key>Slave_10</key>
	<string>奴隶：已经被其他玩家捕获成为奴隶。</string>
	<key>Slave_11</key>
	<string>玩家将免费获得1个已解锁的奴隶牢笼以及一个新牢笼的解锁权限，更多牢笼解锁权限请查阅VIP详情！</string>
	<key>Slave_12</key>
	<string>帮助解救已经成为奴隶的好友。解救好友需要与被解救好友的主人进行1场战斗,战斗胜利则成功解救好友。</string>
	<key>Slave_2</key>
	<string>奴隶抓捕</string>
	<key>Slave_3</key>
	<string>点击空牢笼，系统将罗列出您在竞技场中最后战胜的数位对手，再次战胜他们便可以将他们抓捕为奴隶。</string>
	<key>Slave_4</key>
	<string>奴隶贡献</string>
	<key>Slave_5</key>
	<string>当玩家抓捕到属于自己的奴隶后开始计时，奴隶将会在牢笼中关押72小时作为服刑。期间您可以每日“折磨”和“安抚”他，直至刑满释放。</string>
	<key>Slave_6</key>
	<string>如果您沦为了他人的奴隶，您可以选择奋起“反抗”，如果胜利则可以重获自由。您也可以缴纳“赎金”来重获自由。当然，您还可以心甘情愿的每日“讨好”奴隶主，以换取少量声望。</string>
	<key>Slave_7</key>
	<string>玩家身分</string>
	<key>Slave_8</key>
	<string>奴隶主：拥有自己的奴隶。</string>
	<key>Slave_9</key>
	<string>自由身：没有被其他玩家奴隶，并且自身也没有奴隶。</string>
	<key>Soul_1</key>
	<string>魂魄</string>
	<key>Soul_10</key>
	<string>点击生魂师来召唤魂魄，生魂师的等级从左到右递增，等级越高的生魂师召唤出高品质魂魄的可能性越高。</string>
	<key>Soul_11</key>
	<string>前往魂魄背包界面。在魂魄背包界面，您可以对已经获得的魂魄进行装备与合成强化。</string>
	<key>Soul_12</key>
	<string>自动整理背包中的魂魄，锁定的魂魄会放在前面。</string>
	<key>Soul_13</key>
	<string>魂魄装备栏</string>
	<key>Soul_14</key>
	<string>已获取的魂魄可以装备在魂魄装备栏中。人物等级每提升10级将激活1个新的魂魄装备栏。</string>
	<key>Soul_15</key>
	<string>魂魄背包</string>
	<key>Soul_16</key>
	<string>魂魄背包最多可以同时存放30颗魂魄。您可以在背包中查看魂魄的属性、锁定魂魄、也可以对魂魄进行合成操作。</string>
	<key>Soul_17</key>
	<string>操作方式：点击并拖动随意1个魂魄，叠加于另一个魂魄之上。也可以点击下方“一键合成”按钮进行快捷合成。</string>
	<key>Soul_18</key>
	<string>吞噬规则:高品质吞噬低品质，高等级吞噬低等级。品质等级都相同时，能量高的魂魄吞噬能量低的魂魄。</string>
	<key>Soul_19</key>
	<string>一键合成</string>
	<key>Soul_25</key>
	<string>自动整理</string>
	<key>Soul_2</key>
	<string>炼魂需要花费金币，炼魂完便可获得相对应的魂魄，每个魂魄都会有自己的特色属性，有助于您的战斗力提高。</string>
	<key>Soul_20</key>
	<string>将背包中的所有魂魄根据吞噬规则来合成1个魂魄。</string>
	<key>Soul_21</key>
	<string>一键拾取</string>
	<key>Soul_22</key>
	<string>快速的将所有已获取的魂魄收入魂魄背包中。</string>
	<key>Soul_23</key>
	<string>一键卖出</string>
	<key>Soul_24</key>
	<string>快速卖出炼魂过程中产生的“残渣”，卖出残渣可回收大量的金币。</string>
	<key>Soul_3</key>
	<string>魂魄品质</string>
	<key>Soul_4</key>
	<string>魂魄的品质按照排序依次为：石-晶-钻-魂-魄。品质越好的魂魄属性加成越高！其中较为珍贵的“魂”和“魄”还能通过炼魂过程中获得的“碎片”来换取。</string>
	<key>Soul_5</key>
	<string>魂魄吞噬</string>
	<key>Soul_6</key>
	<string>魂魄也可以通过升级来获得更高的属性加成，升级方式是通过魂魄的吞噬累积经验来完成，</string>
	<key>Soul_7</key>
	<string>魂魄属性</string>
	<key>Soul_8</key>
	<string>在魂魄背包界面下，玩家点击魂魄即可查看魂魄的具体信息。</string>
	<key>Soul_9</key>
	<string>魂魄召唤师</string>
	<key>Training_1</key>
	<string>训练房规则</string>
	<key>Training_2</key>
	<string>1.每个玩家每次最长有8小时的训练时间，训练过程中玩家可以离线挂机。完成训练可以获得大量经验。</string>
	<key>Training_3</key>
	<string>2.在特殊训练房中可以获得更多的训练经验，但特殊训练房的位子有限，其他玩家可以对训练中的玩家进行训练位的抢夺。失去训练位的玩家只获得当前完成时间的训练经验。</string>
	<key>Training_4</key>
	<string>3.训练中的玩家也可以通过使用道具“训练保护符”来获得免战权，从而保护自己的训练位。</string>
	<key>Training_5</key>
	<string>4.普通训练房则不会遭遇抢夺，训练较为稳定，但获得的经验较少。</string>
	<key>Training_6</key>
	<string>5.VIP训练房将享有高效且稳定的经验获取，同样不会遭遇抢夺。</string>
	<key>attribute_1</key>
	<string>属性说明</string>
	<key>attribute_10</key>
	<string>破防：</string>
	<key>attribute_10_1</key>
	<string>攻击时可以无视对方的防御属性，当自己的破防值大于对方的防御值时，就可以完全无视。</string>
	<key>attribute_11</key>
	<string>防御：</string>
	<key>attribute_11_1</key>
	<string>受到对方攻击时可以减免伤害，减免伤害的程度由防御值的高低决定。</string>
	<key>attribute_12</key>
	<string>暴击：</string>
	<key>attribute_12_1</key>
	<string>攻击时有一定机率可以对对方造成高倍的攻击，机率大小由暴击值高低决定。</string>
	<key>attribute_13</key>
	<string>韧性：</string>
	<key>attribute_13_1</key>
	<string>战斗时可以无视对方的暴击属性，当自己的韧性值大于对方的暴击值时，就可以完全无视。同时，韧性还将少量的提升格挡概率。</string>
	<key>attribute_14</key>
	<string>命中：</string>
	<key>attribute_14_1</key>
	<string>减少对手的闪避机率，提高主动技能的发动概率。</string>
	<key>attribute_2</key>
	<string>力量：</string>
	<key>attribute_2_1</key>
	<string>对角色的攻击力产生影响，具体数值由外套类型决定。</string>
	<key>attribute_3</key>
	<string>攻击：</string>
	<key>attribute_3_1</key>
	<string>分为最大攻击和最小攻击，实际攻击值在这范围之中随机抽取，影响人物对对手的伤害值。</string>
	<key>attribute_4</key>
	<string>敏捷：</string>
	<key>attribute_4_1</key>
	<string>对玩家的速度和闪避属性产生影响，具体数值由外套类型决定。</string>
	<key>attribute_5</key>
	<string>速度：</string>
	<key>attribute_5_1</key>
	<string>影响角色的攻击出手速度，速度越高，攻击频率越快。</string>
	<key>attribute_6</key>
	<string>闪避：</string>
	<key>attribute_6_1</key>
	<string>影响角色对对手攻击的闪避成功几率，闪避成功后可以躲过对方的一次攻击。</string>
	<key>attribute_7</key>
	<string>耐力：</string>
	<key>attribute_7_1</key>
	<string>对玩家的HP和SP属性产生影响，具体数值由外套类型决定。</string>
	<key>attribute_8</key>
	<string>HP：</string>
	<key>attribute_8_1</key>
	<string>玩家的生命力，生命力为0的时候无法战斗。</string>
	<key>attribute_9</key>
	<string>SP：</string>
	<key>attribute_9_1</key>
	<string>玩家施放技能所需的魔法值，魔法值为0时就无法施放需要消耗魔法的技能。</string>
	<key>bag_1</key>
	<string>外套</string>
	<key>bag_2</key>
	<string>1.不同的外套拥有不同的属性转化率，您需要根据自己的装备特点来选择适当的外套。</string>
	<key>bag_3</key>
	<string>2.不同的外套所对应的武器类型不同。您可以通过查看外套属性来获知其对应武器类型。</string>
	<key>bag_4</key>
	<string>3.外套可以通过合成系统来进行升级。升级后的外套将获得基础属性的提升。</string>
	<key>bag_5</key>
	<string>4.外套的合成等级与人物等级相关，人物每提升3级，外套可提升1级。</string>
	<key>bag_6</key>
	<string>界面左边为人物背包，右边为人物装备栏。您可以通过点击并拖动物品图标至对应位置来装备物品。您也可以通过物品查看界面中的“装备”按钮来对物品进行装备。当人物声望到达30000时，解锁快速换装系统，获得第2套角色配置权限。声望到达60000时，获得第3套角色配置权限。</string>
	<key>composite_1</key>
	<string>玩家可以对“外套”“宠物”“宝石”进行合成升级。合成规则：</string>
	<key>composite_2</key>
	<string>1.主物品+催化物品2件。 催化物品必须与主物品为相同的物品且必须为+0等级。</string>
	<key>composite_3</key>
	<string>2.合成有机率失败，合成的等级越高，失败机率越大。</string>
	<key>composite_4</key>
	<string>3.合成失败不损坏主物品，但催化物品将消失。</string>
	<key>composite_5</key>
	<string>“主物品”摆放位</string>
	<key>composite_6</key>
	<string>“催化物品”摆放位</string>
	<key>pet_1</key>
	<string>宠物喂养</string>
	<key>pet_2</key>
	<string>宠物默认开启1个食盆，玩家可以通过消费钻石来开启更多的食盆。当玩家获得所有9个食盆且VIP等级达到4后可以将食盆升至2级，VIP7用户最高可达3级。用高级食盆喂养将获得更多的能量值。用高级食盆喂养将获得更多的能量值。宠物喂养的食物种类也是能量值多少的重要因素，系统默认为最普通的食物，用户可以通过“刷新”功能来有机率的提升宠物食物的品质。</string>
	<key>pet_3</key>
	<string>宠物技能</string>
	<key>pet_4</key>
	<string>每个宠物都有属于自己的专属技能。初始宠物拥有3个技能格。宠物每提升3级将额外获得1个技能格。玩家需要消耗能量值来为宠物领悟新的技能。当技能格满时继续领悟技能，那么新技能将随机替换一个现有技能。当然，玩家可以通过道具“技能锁”来锁定技能不被新技能覆盖。</string>
	<key>pet_5</key>
	<string>宠物能量</string>
	<key>pet_6</key>
	<string>宠物领悟技能需要消耗宠物能量,而能量需要对宠物进行喂养来获取。当能量足够时，可以点击“领悟”来随机获得1个宠物技能。</string>
	<key>transform_1</key>
	<string>转换小屋是一个变废为宝神奇地方，在这里可以将不适合您的外套或者宠物转换成你需要的。</string>
	<key>transform_10</key>
	<string>目标外套</string>
	<key>transform_11</key>
	<string>点击该按钮后可以选择你的转换预期目标。注意：转换只为同品质转同品质，转换物品不会升值也不会贬值。</string>
	<key>transform_12</key>
	<string>设定存量按钮</string>
	<key>transform_13</key>
	<string>1.存量金币为预存在转换小屋内的，剩余额度不会消失。</string>
	<key>transform_14</key>
	<string>2.如果您想要取回剩余的存量，只要将存量金币数量设置为0即可。</string>
	<key>transform_15</key>
	<string>转换区域</string>
	<key>transform_16</key>
	<string>转换开始前，需要从左边的背包中将用于装换的外套拖入转换设备中。转换结束时要记得将外套拖回背包中去。</string>
	<key>transform_2</key>
	<string>转换规则</string>
	<key>transform_3</key>
	<string>1.外套转换只为同品质转同品质，转换物品不会升值也不会贬值。</string>
	<key>transform_4</key>
	<string>2.被转换的外套或宠物必须为未升级过的。</string>
	<key>transform_5</key>
	<string>3.转换对象为随机出现，无法指定1对1的转换。</string>
	<key>transform_6</key>
	<string>4.转换需要花费金币作为转换代价，初始价格为1000金币，每次递增50金币，合成价格每日24点重置为1000金币。</string>
	<key>transform_7</key>
	<string>手动/自动的切换按钮</string>
	<key>transform_8</key>
	<string>手动转换：即用户点一下“转换”按钮，就转换一次，无法指定转换目标。</string>
	<key>transform_9</key>
	<string>自动转换：用户可以设定转换的目标外套，并且可以设定转换金币存量，然后系统将在用户指定的金币范围内进行转换，当在限定金币存量内转换到用户指定的目标外套时，系统将自动停止转换。或当转换存量金币消耗完毕时，系统将停止转换。您也可以在过程中手动停止转换。</string>
	<key>treasure_1</key>
	<string>每个玩家每日均有5次免费的挖宝次数以及改运次数。请时刻注意重置时间哦！</string>
	<key>treasure_2</key>
	<string>外套和金币奖励的显示区域。“改运”会改变奖励的外套种类和金币数额，玩家一定要小心留意每次奖励的变化，不要错过自己期盼的奖品哟</string>
	<key>treasure_3</key>
	<string>玩家每天都有5次机会进行寻宝，寻宝将获得大量的金币以及外套奖励。</string>
	<key>treasure_4</key>
	<string>寻宝规则</string>
	<key>treasure_5</key>
	<string>1.玩家点击“寻宝“按钮进行寻宝，系统将根据6个矿工寻得的宝物来给予用户相应的奖励。</string>
	<key>treasure_6</key>
	<string>2.挖掘到的金块越多，获得的奖励越高。</string>
	<key>treasure_7</key>
	<string>3.玩家可以通过“改运”功能来对没有挖到“金块”的矿工进行新一轮挖掘。</string>
	<key>wheel_1</key>
	<string>每个玩家每日均有限制占卜的次数。使用占卜卡将不消耗限制次数。</string>
	<key>wheel_2</key>
	<string>点击按钮开始占卜，随机获得各种稀有道具。使用&quot;占卜十次&quot;更可获得1-2次奖励翻倍。</string>
	<key>wheel_3</key>
	<string>占卜师按能力大小排行，先知&gt;巫师&gt;魔女，占卜师能力越大，获得的物品就越好。</string>
	<key>wheel_4</key>
	<string>占卜须知</string>
	<key>wheel_5</key>
	<string>1.玩家通过消费一定的金币或钻石，将获得一些稀有物品奖励。</string>
	<key>wheel_6</key>
	<string>2.占卜师的级别越高，获得的奖励越好，当然占卜所需费用也更高。</string>
	<key>wheel_7</key>
	<string>3.占卜指针对应的三角块的颜色越深，可获得的奖励越好。</string>
	<key>constellation_1</key>
	<string>点击黑洞，可以进入分解界面。用户可以对装备，外套，宠物，宝石等物品进行分解。</string>
	<key>constellation_2</key>
	<string>点亮同个星象所属的三个星座即可激活特殊属性。</string>
	<key>constellation_3</key>
	<string>滑动选择星座，每个星座都具备一种属性的加成。火、土、风、水代表星座的星象。</string>
	<key>constellation_4</key>
	<string>不同星象属性的星座需要使用对应的星尘来点亮，点亮失败会适当增加成功率。</string>
	<key>disassemble_1</key>
	<string>黑洞分解</string>
	<key>disassemble_2</key>
	<string>1.可将不需要的外套、宠物、宝石、套装放入黑洞分解。</string>
	<key>disassemble_3</key>
	<string>2.每次可以最多同时分解10件物品。</string>
	<key>disassemble_4</key>
	<string>3.被分解的物品将随机获得：火、土、风、水4种星尘。</string>
	<key>disassemble_5</key>
	<string>4.物品一旦被分解，将无法被找回，请慎重操作。</string>
</dict>
</plist>
