<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enter1</key>
	<string>每日登录奖励</string>
	<key>enter2</key>
	<string>每日点石成金</string>
	<key>enter3</key>
	<string>每日修炼</string>
	<key>enter4</key>
	<string>每日竞技场</string>
	<key>enter5</key>
	<string>每日副本</string>
	<key>enter6</key>
	<string>每日组队副本</string>
	<key>enter7</key>
	<string>每日恶魔塔</string>
	<key>enter8</key>
	<string>每日训练</string>
	<key>enter9</key>
	<string>每日拦截</string>
	<key>enter10</key>
	<string>每日奴隶抓捕</string>
	<key>enter11</key>
	<string>每日奴隶</string>
	<key>enter12</key>
	<string>每日奴隶讨好</string>
	<key>enter13</key>
	<string>每日宠物喂养</string>
	<key>enter14</key>
	<string>每日寻宝山</string>
	<key>enter15</key>
	<string>每日购买体力</string>
	<key>enter16</key>
	<string>每日擂鼓</string>
	<key>enter17</key>
	<string>每日砸金蛋</string>
	<key>enter18</key>
	<string>每日七星魔阵</string>
	<key>enter19</key>
	<string>每日众仙泉</string>
	<key>enter20</key>
	<string>每日答题</string>
	<key>un_use</key>
	<string>未完成</string>
	<key>use</key>
	<string>已完成</string>
	<key>faq0_title</key>
	<string>帮派</string>
	<key>faq1_title</key>
	<string>体力</string>
	<key>faq2_title</key>
	<string>必杀</string>
	<key>faq3_title</key>
	<string>佣兵</string>
	<key>faq4_title</key>
	<string>组队副本</string>
	<key>faq5_title</key>
	<string>外套</string>
	<key>faq6_title</key>
	<string>宠物</string>
	<key>faq7_title</key>
	<string>声望</string>
	<key>faq8_title</key>
	<string>套装</string>
	<key>faq9_title</key>
	<string>宠物锁</string>
	<key>faq10_title</key>
	<string>炼魂</string>
	<key>faq11_title</key>
	<string>扫荡</string>
	<key>faq12_title</key>
	<string>宝石</string>
	<key>faq13_title</key>
	<string>星尘</string>
	<key>faq14_title</key>
	<string>黑洞分解</string>
	<key>faq0_content_q0</key>
	<string>#000000帮派如何升级?</string>
	<key>faq0_content_a0</key>
	<string>1.帮派等级需要通过成员获取声望来提升。成员每获得1点声望，帮派将同时获得1点经验。
2.成员需要尽可能完成游戏中能获得声望奖励的活动来为帮派提升经验。
3.帮派内的部分活动也可以获得声望，通过完成帮派活动也能为帮派带来不少的经验值。</string>
	<key>faq0_content_q1</key>
	<string>#000000帮派等级有什么用？</string>
	<key>faq0_content_a1</key>
	<string>1.帮派活动与帮派等级相关，帮派每升1级都将解锁新的帮派活动。
2.帮派等级与帮派成员上限相关，帮派等级每提升1级，帮派上限人数+1。帮派最高等级为5级，最高人数上限为24人。</string>
	<key>faq0_content_q2</key>
	<string>#000000帮派活动1【擂鼓】</string>
	<key>faq0_content_a2</key>
	<string>每个帮派成员每日1次，可以获得声望。系统分为三种战鼓，不同的战鼓获得的声望也不同.帮派需求等级：LV1</string>
	<key>faq0_content_q3</key>
	<string>#000000帮派活动2【砸金蛋】</string>
	<key>faq0_content_a3</key>
	<string>每个帮派成员每日1次，可以获得大量的金币，还有一定机率获得钻石和体力。帮派需求等级：LV1</string>
	<key>faq0_content_q4</key>
	<string>#000000帮派活动3【七星魔阵】</string>
	<key>faq0_content_a4</key>
	<string>与帮派其他队友一起完成魔阵将获得声望奖励，每日1次。已经完成的成员可以继续协助其他好友完成魔阵，但不会重复获得奖励。帮派需求等级：LV2</string>
	<key>faq0_content_q5</key>
	<string>#000000帮派活动4【帮派战】</string>
	<key>faq0_content_a5</key>
	<string>每周1次的大型对战活动，只有每周帮派积分在服务器中排列前8的帮派才能入围每周帮派战。帮派需求等级：LV2</string>
	<key>faq0_content_q6</key>
	<string>#000000帮派活动5【众仙泉】</string>
	<key>faq0_content_a6</key>
	<string>每个帮派每天有1次仙泉的召唤机会。召唤者立即获得1000声望，其他成员可以前来饮用泉水，每位饮用泉水的成员都将为召唤者带来50点额外的声望。饮用泉水的成员可以获得少量声望和体力。帮派需求等级：LV3</string>
	<key>faq0_content_q7</key>
	<string>#000000帮派活动后续还会有更多的活动吗？</string>
	<key>faq0_content_a7</key>
	<string>帮派等级和帮派活动会在接下来的时间内陆续更新开放。</string>
	<key>faq0_content_q8</key>
	<string>#000000什么是帮派周贡献，有什么用?</string>
	<key>faq0_content_a8</key>
	<string>帮派周贡献也可以理解成是帮派每周的总贡献度，即1周时间内，帮派中所有成员获得声望数的总和。
帮派周贡献关系到帮派能否参加服务器的帮派战。只有周贡献排在本服务器前8位的帮派，才能获得参加帮派战的资格。</string>
	<key>faq0_content_q9</key>
	<string>#000000如何加入帮派?</string>
	<key>faq0_content_a9</key>
	<string>在帮派列表界面下，点击“申请”按钮来向该帮派帮主递交入帮申请，待帮主通过申请后即可进入该帮派。
每个人最多同时对3个不同的帮派发出申请。</string>
	<key>faq0_content_q10</key>
	<string>#000000如何添加帮派成员?</string>
	<key>faq0_content_a10</key>
	<string>1.帮派只有帮主与副帮主有权限添加帮派成员。
2.帮派主界面中点击“审核”分栏来查看申请加入帮派的玩家信息。
3.每个帮派每日最多添加20名玩家进入帮派。</string>
	<key>faq1_content_q0</key>
	<string>#000000如何获得体力？</string>
	<key>faq1_content_a0</key>
	<string>1.每半小时自动恢复5点体力。
2.体力礼包每6小时领取1次，每次60点。
3.人物每升1级可以获得1个包含30点体力的奖励礼包。
4.普通玩家每日可以购买1次40点体力。 
5.VIP等级影响体力购买次数，等级越高，可购买次数越多。
6.当体力剩余数量大于等于200体力时，系统将停止每半小时5点体力的恢复，并且无法领取体力礼包。
</string>
	<key>faq1_content_q1</key>
	<string>#000000哪些地方需要消耗体力？消耗多少？</string>
	<key>faq1_content_a1</key>
	<string>1.普通副本每次消耗体力5点
2.组队副本每次消耗体力10点
</string>
	<key>faq2_content_q0</key>
	<string>#000000请问怎样才能在战斗中释放出必杀？</string>
	<key>faq2_content_a0</key>
	<string>必杀是自动触发的一种强大技能，不需要玩家额外装备在技能格。当玩家血量大大超过对手时便有机率触发必杀，外套等级高于对手时也会提高触发的概率。</string>
	<key>faq2_content_q1</key>
	<string>#000000为什么别人的必杀触发概率比我高？</string>
	<key>faq2_content_a1</key>
	<string>必杀是按照外套等级的差别来算的，外套等级差距越大，触发概率越大。</string>
	<key>faq3_content_q0</key>
	<string>#000000什么是佣兵？</string>
	<key>faq3_content_a0</key>
	<string>佣兵是依托好友为基础的系统，玩家在好友列表中雇佣自己的好友与自己一起战斗，能大幅度提高战斗力，面对后期副本的怪物毫无压力。</string>
	<key>faq3_content_q1</key>
	<string>#000000要如何获得佣兵？</string>
	<key>faq3_content_a1</key>
	<string>1.第一个佣兵在人物达到20等级的时候解锁，第二个佣兵在35级时解锁。
2.雇佣对象必须为玩家自己的好友。
3.雇佣对象不得大于或小于玩家自己5级。
4.佣兵只可以适用于普通副本的战斗。
5.当佣兵不符合雇佣条件时，将会被自动解雇。
</string>
	<key>faq3_content_q2</key>
	<string>#000000成为别人的佣兵，我能获得什么好处？</string>
	<key>faq3_content_a2</key>
	<string>当前版本中，成为好友的佣兵并不会获得任何好处，纯友情的体现！</string>
	<key>faq4_content_q0</key>
	<string>#000000什么是组队副本？</string>
	<key>faq4_content_a0</key>
	<string>组队副本即为多个在线玩家在同一个房间内组成一个战斗小队，共同挑战副本BOSS的活动。</string>
	<key>faq4_content_q1</key>
	<string>#000000组队副本在哪里？</string>
	<key>faq4_content_a1</key>
	<string>从第2关普通副本开始，每打穿一个普通副本，就可以开启1关的组队副本。组队副本的命名为F-N，N为关卡编号。</string>
	<key>faq4_content_q2</key>
	<string>#000000组队副本有什么特别之处么？</string>
	<key>faq4_content_a2</key>
	<string>组队副本里面将有机率掉落与副本等级相对应的橙色套装，高级外套，钻石等稀有物品。</string>
	<key>faq4_content_q3</key>
	<string>#000000组队副本有哪些规则？</string>
	<key>faq4_content_a3</key>
	<string>1.每个组队副本均有最低人数和最高人数限制，达到最低人数时即可以开启战斗。
2.组队副本每场战斗消耗体力10点，不论输赢。
</string>
	<key>faq5_content_q0</key>
	<string>#000000什么是外套？</string>
	<key>faq5_content_a0</key>
	<string>外套是区别于防具，饰品，武器的另外一种装备，是对于人物数值个性化的物品。</string>
	<key>faq5_content_q1</key>
	<string>#000000外套分为多少种？</string>
	<key>faq5_content_a1</key>
	<string>外套分为四种品质，绿色外套（初级），蓝色外套（中级），紫色外套（高级），红色外套（传说）品质越高，属性加成，属性成长值也越高。</string>
	<key>faq5_content_q2</key>
	<string>#000000各种品质的外套的获取途经是什么？</string>
	<key>faq5_content_a2</key>
	<string>1.初级外套可以通过普通的冒险关卡中的掉落获取，也可以通过商城中购买铜外套宝箱来获得。
2.中级外套可以通过冒险关卡中的精英或BOSS怪物的掉落获取，也可以通过商城中购买银外套宝箱来获得。
3.高级外套可以通过组队副本的掉落来获得，也可以通过世界比武的礼券在礼券商店中兑换获得，还可以在VIP商店中购买每小时的限量外套获取。
4.以上三种外套均可以通过寻宝山寻宝获得。
5. 传说外套可以在游戏中“神秘商人”处消耗“声望币”来购买获得，但需要玩家总声望大于50000才能获得购买资格。</string>
	<key>faq5_content_q3</key>
	<string>#000000如何选择外套？</string>
	<key>faq5_content_a3</key>
	<string>外套的作用是通过对角色的力量，耐力，敏捷的转化，以及每件外套技能系的不同专精来达到提高人物能力的目的。外套每次升级后，属性的提高都将根据外套的属性成长值来增加，所以玩家在选择外套时，要首先观察外套的强项是什么？技能专精是什么？是否可以与对自己的属性起到更高的转化？外套的专精技能系是否是我需要的技能系等等。只有将外套与装备属性，以及人物技能三点做到最佳融合，才能打造最强的人物。
举例说：敏捷成长和转化较高的外套“兔女郎”，那么就说明他对敏捷的提升会是最优的，而敏捷与闪避，暴击，速度等能力相关，所以在选择装备时就可以从这些属性去考虑。再看外套的技能系专精，兔女郎的专精为印系，因此兔女郎在装备印系技能时将获得更好的效果。综合以上的考虑，兔女郎应该是以高速攻击为基础的外套。
</string>
	<key>faq5_content_q4</key>
	<string>#000000如何升级外套？</string>
	<key>faq5_content_a4</key>
	<string>玩家可以使用人物背包界面下的合成功能，对外套进行合成升级。
合成规则为：【1件基础外套+2件与基础外套相同的+0外套】，合成成功后基础外套等级+1，失败不会损坏基础外套。而另外两件+0外套不论成功和失败，都将被消耗！</string>
	<key>faq5_content_q5</key>
	<string>#000000外套等级与人物等级的对应关系</string>
	<key>faq5_content_a5</key>
	<string>+1外套-需求等级：1
+2外套-需求等级：4
+3外套-需求等级：7
+4外套-需求等级：10
+5外套-需求等级：13
+6外套-需求等级：16
+7外套-需求等级：19
+8外套-需求等级：22
+9外套-需求等级：25
+10外套-需求等级：28
+11外套-需求等级：31
+12外套-需求等级：34
+13外套-需求等级：37
+14外套-需求等级：40
+15外套-需求等级：43
+16外套-需求等级：46
+17外套-需求等级：49
+18外套-需求等级：52
+19外套-需求等级：55
+20外套-需求等级：58
+21外套-需求等级：61
+22外套-需求等级：64
+23外套-需求等级：67
+24外套-需求等级：70
+25外套-需求等级：73
+26外套-需求等级：76
+27外套-需求等级：79
+28外套-需求等级：82
+29外套-需求等级：85
+30外套-需求等级：88
</string>
	<key>faq6_content_q0</key>
	<string>#000000宠物的出处</string>
	<key>faq6_content_a0</key>
	<string>1.从第3个冒险关卡开始，每大关的精英怪和BOSS怪物都有机率掉落。
2.游戏商城种可以购买宠物蛋，随机开出1只宠物。</string>
	<key>faq6_content_q1</key>
	<string>#000000宠物的用处</string>
	<key>faq6_content_a1</key>
	<string>通过对宠物的培养，可以使得宠物获得不同种类的被动技能，主动技能，以及各种属性加成，从而大大提升角色人物的各项能力值。</string>
	<key>faq6_content_q2</key>
	<string>#000000请问宠物要如何喂养，如何获得能量？</string>
	<key>faq6_content_a2</key>
	<string>1.宠物默认开启1个食盆，玩家可以通过消费钻石来开启更多的食盆。
2.当玩家获得所有9个食盆且VIP等级达到4后可以将食盆升至2级，VIP7用户最高可达3级。用高级食盆喂养将获得更多的能量值。
3.宠物的食物种类是获得能量的重要因素，系统默认最普通的食物，玩家可以通过“刷新”功能来提升宠物食物的品质，从而获得更多的能量。</string>
	<key>faq6_content_q3</key>
	<string>#000000每种宠物的差别在哪里呢？</string>
	<key>faq6_content_a3</key>
	<string>1.每个宠物都有属于自己的专属主动技能和被动技能。
2.主动技能
血蝙蝠专属技能：【嗜血】10%几率吸血，伤害是主人的50%，伤害的50%补血
疾风狐专属技能：【晕眩】10%几率，伤害是主人的50%，晕眩
饭团专属技能：【治疗】10%几率，伤害是主人的50%，补自己HP上限10%
极地企鹅专属技能：【冰封】10%几率，伤害是主人的50%，冰冻对方
通灵狗专属技能：【封印】10%几率，伤害是主人的50%，封印对方
史莱姆专属技能：【施毒】10%几率，伤害是主人的50%，中毒对方
蟾蜍王专属技能：【虚弱】10%几率，伤害是主人的50%，虚弱对方
3.被动技能
血蝙蝠专属被动技能：【残暴】暴击+150
疾风狐专属技能：【飞影】闪避+50
饭团专属被动技能：【热血】HP+60
极地企鹅专属被动技能：【冰墙】防御+60
通灵狗专属被动技能：【冲撞】破防+150
史莱姆专属被动技能：【坚固】韧性+150
蟾蜍王专属被动技能：【加速】速度+10</string>
	<key>faq6_content_q4</key>
	<string>#000000如何开启更多的宠物技能格？</string>
	<key>faq6_content_a4</key>
	<string>1.宠物初始有3个技能格，每个技能需要消耗200点能量来获得1个技能。
2. 宠物每提升1级，每领悟1次技能将多消耗200点能量。
3.宠物每提升3级，将额外获得1个技能格。
</string>
	<key>faq6_content_q5</key>
	<string>#000000如何升级宠物</string>
	<key>faq6_content_a5</key>
	<string>玩家可以使用人物背包界面下的合成功能，对宠物进行合成升级。
合成规则为：【1只基础宠物+2只与基础宠物相同的+0宠物】，合成成功后基础宠物等级+1，失败不会损坏基础宠物。而另外两只+0宠物不论成功和失败，都将被消耗！
</string>
	<key>faq6_content_q6</key>
	<string>#000000宠物如何学习技能</string>
	<key>faq6_content_a6</key>
	<string>每个宠物都有属于自己的专属技能，宠物初始拥有3个技能格。宠物每提升3级将额外获得1个技能格。玩家需要消耗能量来为宠物领悟新的技能。当技能格满时继续领悟技能，那么新技能将随机替换一个现有技能。当然玩家可以通过道具“宠物锁”来锁定技能不被新技能覆盖。</string>
	<key>faq6_content_q7</key>
	<string>#000000宠物等级与人物等级的对应关系</string>
	<key>faq6_content_a7</key>
	<string>+1宠物-需求等级：1
+2宠物-需求等级：4
+3宠物-需求等级：7
+4宠物-需求等级：10
+5宠物-需求等级：13
+6宠物-需求等级：16
+7宠物-需求等级：19
+8宠物-需求等级：22
+9宠物-需求等级：25
+10宠物-需求等级：28
+11宠物-需求等级：31
+12宠物-需求等级：34
+13宠物-需求等级：37
+14宠物-需求等级：40
+15宠物-需求等级：43
+16宠物-需求等级：46
+17宠物-需求等级：49
+18宠物-需求等级：52
+19宠物-需求等级：55
+20宠物-需求等级：58
+21宠物-需求等级：61
+22宠物-需求等级：64
+23宠物-需求等级：67
+24宠物-需求等级：70
+25宠物-需求等级：73
+26宠物-需求等级：76
+27宠物-需求等级：79
</string>
	<key>faq9_content_q0</key>
	<string>#000000什么是宠物锁，如何使用？</string>
	<key>faq9_content_a0</key>
	<string>宠物锁是对宠物技能进行锁定的道具，锁定的宠物技能将不会被新领悟的技能所替换。当玩家锁定第1个技能时将消耗1把锁，第2个技能消耗2把，第3个技能消耗3把，以此类推。需要注意的是，宠物锁的效果为1次性的，即每领悟一次都要锁一次。当玩家的宠物还有未领悟的技能格时，不会消耗已经锁定的宠物锁！</string>
	<key>faq7_content_q0</key>
	<string>#000000声望有什么作用？</string>
	<key>faq7_content_a0</key>
	<string>1.玩家每提升1点声望将获得1颗声望币，声望币可以在神秘商人处换购各种高端物品。
2.声望决定角色的服务器排名。
3.有帮派的玩家，每获得1点声望将成为帮派带1点经验。
</string>
	<key>faq7_content_q1</key>
	<string>#000000如何获得声望?</string>
	<key>faq7_content_a1</key>
	<string>1.修仙台可以获得少量声望，拦截正在修仙的玩家也可以获得声望奖励。
2.竞技场每日15次挑战。每次胜利可获得20点声望，失败5点。
3.竞技场复仇成功可获得10点。
4.安抚奴隶，通过对奴隶的安抚，每次可以获得20点声望收入。
5.成功解救好友脱离奴隶主魔爪，每次10点声望。
6.讨好奴隶主。如果你是一名奴隶，那么你可以通过讨好奴隶来获得10点的声望。
7.修仙台召唤“佛光普照”，召唤者立刻获得1000点声望，另外也将提成所有期间修仙的玩家的声望。
8.帮派每日1次擂鼓，可以获得大量声望。
9.帮派召唤众仙泉可以获得大量的声望。
10.每周1次世界比武可以获得大量声望。
11.每周1次帮派战可以获得大量声望。
12.每周1次星球大战可以获得大量声望。</string>
	<key>faq8_content_q0</key>
	<string>#000000什么是套装？</string>
	<key>faq8_content_a0</key>
	<string>1.套装是品质高于普通4属性装的一种装备。
2.套装不但拥有4条属性，当玩家收集到2件，4件，7件套装部件，还可以激活套装的额外属性加成。
3.游戏每10级会有3套套装属性加成倾向不同的套装，玩家可以根据需要来收集。
</string>
	<key>faq8_content_q1</key>
	<string>#000000如何获得套装？</string>
	<key>faq8_content_a1</key>
	<string>1.套装属于稀有物品，因此它只会在组队副本以及冒险关卡的精英怪和最终BOSS的战斗中有概率掉落。
2.除了组队副本F1将掉落10级内全部的3套套装以外，其他的组队副本均只掉落套装的一半部件，换句话说，就是要打齐一套套装，必须分别到两个组队副本中战斗。
</string>
	<key>faq10_content_q0</key>
	<string>#000000什么是炼魂？</string>
	<key>faq10_content_a0</key>
	<string>魂魄是先辈勇士的精髓，魂魄包含多种属性，装备魂魄将获得对应属性的提升！人物每10级可以获得一个魂魄的装备格，至71级时将获得所有8个魂魄装备格。
魂魄需要通过系统中5个生魂师来获取，生魂师有等级区分，越高等级的生魂师生出高品质魂魄的概率越高。炼魂从初始低级的生魂师开始，点击之后一定机率可以激活更高级别的生魂师。</string>
	<key>faq10_content_q1</key>
	<string>#000000什魂魄的品质区别？</string>
	<key>faq10_content_a1</key>
	<string>魂魄的品质按照排序以此为：石-晶-钻-魂-魄。品质越好的魂魄属性加成越高！其中较为珍贵的“魂”和“魄”还可以使用一定数量的“碎片”在兑换商店中获得。“碎片”可以在炼魂过程中小概率获得。</string>
	<key>faq10_content_q2</key>
	<string>#000000魂魄如何升级？</string>
	<key>faq10_content_a2</key>
	<string>玩家可以在魂魄背包中对需求的魂魄进行吞噬升级。
操作方法：点击并拖动随意1个魂魄，叠加于另一个魂魄之上即可完成吞噬。也可以点击下方“一键合成”按钮进行快捷吞噬合成。
吞噬的规则：品质不同情况下，高品质的魂魄吞噬低品质魂魄。品质相同情况下，等级高的魂魄吞噬等级低的魂魄。品质、等级均相同的情况下，能量多的魂魄吞噬能量少的魂魄。玩家在进行魂魄吞噬时一定要非常小心，一旦被吞噬的魂将无法再恢复。</string>
	<key>faq11_content_q0</key>
	<string>#000000什么是扫荡？</string>
	<key>faq11_content_a0</key>
	<string>扫荡是对已经打通的某一个冒险关卡进行快速战斗的一种方式。
1.被扫荡对象必须为已经战胜过的任意冒险关卡。
2.扫荡不会进入战斗画面，为纯文本显示。
3.扫荡为快速战斗，战斗结果100%胜利，玩家可以自由选择扫荡次数。
4.扫荡获得的物品将自动存入背包中，当背包满时将无法继续扫荡。
5.扫荡每回合扣取5点体力。</string>
	<key>faq12_content_q0</key>
	<string>#000000宝石有什么用？</string>
	<key>faq12_content_a0</key>
	<string>宝石可以镶嵌在已经打孔的装备上，使装备属性得到提升。其中武器可以打3个孔，其他装备每件可以打1个孔。宝石分为红宝石，蓝宝石，黄宝石。红宝石提升力量属性，黄宝石提升耐力，紫色宝石提升敏捷。宝石可以进行合成升级，升级后将提升宝石的属性加成。</string>
	<key>faq12_content_q1</key>
	<string>#000000宝石如何升级？</string>
	<key>faq12_content_a1</key>
	<string>玩家可以使用人物背包界面下的合成功能，对宝石进行合成升级。
合成规则为：【1颗基础宝石+2颗与基础宝石相同的+0宝石】，合成成功后基础宝石等级+1，失败不会损坏基础宝石。而另外两颗+0宝石不论成功和失败，都将被消耗！</string>
	<key>faq12_content_q2</key>
	<string>#000000宝石与装备等级的对应关系</string>
	<key>faq12_content_a2</key>
	<string>+1宝石-需求装备等级：11
+2宝石-需求装备等级：21
+3宝石-需求装备等级：31
+4宝石-需求装备等级：41
+5宝石-需求装备等级：51
+6宝石-需求装备等级：61
+7宝石-需求装备等级：71
+8宝石-需求装备等级：81
</string>
	<key>faq13_content_q0</key>
	<string>#000000什么是星尘？它有什么用处？</string>
	<key>faq13_content_a0</key>
	<string>星尘，是宇宙光辉赋予万物的能量结晶。星尘可以点亮夜空中的星座，并赋予自己强大的力量。
游戏中星尘分为火、土、风、水4种，不同种类的星尘可以在观星坛中点亮相应属象的星座，星座会增加一定的人物属性。</string>
	<key>faq13_content_q1</key>
	<string>#000000如何获取星尘？</string>
	<key>faq13_content_a1</key>
	<string>1.通过完成每日的成就奖励
2.F-3及以后的组队副本中必定掉落
3.是用“黑洞分解”功能对外套，宠物，宝石，橙色装备进行分解获得。
4.星运占卜活动中获取。</string>
	<key>faq14_content_q0</key>
	<string>#000000什么是“黑洞分解”？</string>
	<key>faq14_content_a0</key>
	<string>黑洞分解可以分解不需要的外套、宠物、宝石和橙色装备，分解的等级越高，获得的奖励越丰富。</string>
	<key>guide0_title</key>
	<string>提升攻击</string>
	<key>guide1_title</key>
	<string>提升防御</string>
	<key>guide2_title</key>
	<string>提升等级</string>
	<key>guide3_title</key>
	<string>获得金币</string>
	<key>guide4_title</key>
	<string>获得声望</string>
	<key>guide5_title</key>
	<string>获得钻石</string>
	<key>guide6_title</key>
	<string>获得礼券</string>
	<key>guide0_q0</key>
	<string>#000000如何提升攻击？</string>
	<key>guide0_a0</key>
	<string>攻击：分为最大攻击和最小攻击，实际攻击值在这范围之中随机抽取，影响人物对对手的伤害值。提升攻击有以下几个方法：
1.在铸造小屋中对武器进行强化，强化等级越高，攻击加成也越高！
2.在铸造小屋中对装备进行洗练，洗出包含攻击的属性条。比如：最大攻击，最小攻击，攻击等等属性都是可以提高攻击力的。
3.提高角色力量。力量对角色的攻击力产生影响。提高力量可以通过洗练装备，也可以通过对装备镶嵌加力量的宝石来获得提升。
4.宠物。宠物技能中也有提升最大攻击，最小攻击，攻击的属性。
5.游戏每10级会有3套套装，某些套装的套装属性包含攻击加成。
6.炼魂炉内，通过炼魂获得提升最大攻击，最小攻击，攻击，力量等属性的魂魄来获得攻击力提升。</string>
	<key>guide1_q0</key>
	<string>#000000如何提升防御？</string>
	<key>guide1_a0</key>
	<string>受到对方攻击时可以减免伤害，减免伤害的程度由防御值的高低决定。提升防御的方式有以下几种
1.在铸造小屋中对装备进行洗练，洗出包含防御属性的属性条。
2.宠物。宠物技能中也有提升防御的属性。
3.另外，提升人物的闪避，血量，韧性，也都是提升人物承受伤害的一种变相防御途径。
4.炼魂炉内，通过炼魂获得提升防御，HP，耐力，韧性等属性的魂魄来获得攻击防御力。
</string>
	<key>guide2_q0</key>
	<string>#000000如何快速的升级?</string>
	<key>guide2_a0</key>
	<string>升级讲究劳逸结合，多种升级方式搭配，才能最优效率，而又健康的游戏。
1.普通副本，通过战胜副本中的怪物来获得相应的经验回报，等级越高的怪物经验越高，等级相同的情况下，精英怪和BOSS的经验更高。
2.组队副本，在组队副本中与队友一同战胜强大的BOSS，可以获得比普通副本更多的经验。
3.恶魔塔，恶魔塔中每层1怪，数百层塔，爬得越高，经验累计越多。
4.训练房，每天可以不限次数在训练房中进行修行，每次最多8小时，让你全天经验涨不停。
</string>
	<key>guide3_q0</key>
	<string>#000000如何获得金币?</string>
	<key>guide3_a0</key>
	<string>1.点石成金，将钻石转化为金币的系统。每日转换金币的次数有限制，VIP等级越高的玩家可以转换的次数越多。
2.扫荡副本，战胜副本中的怪物可以获得相应的金币，等级越高的怪物，可以获得的金币也越多。
3.组队副本，战胜主队副本中的怪物将获得更多的金币奖励。
4.折磨奴隶，通过对奴隶的剥削，每次可以获得可观的金币收入。奴隶折磨每天有次数限制，奴隶笼子的数量将影响每天折磨的次数上限。
5.修炼台，通过修仙台的修炼，不但可以获得声望，更加可以获得金币。坐骑越好，金币奖励越多。当然，在修仙台上拦截其他玩家也可以获得金币。
6.登录奖励，连续每日登录，将获得可观的金币奖励。
7.寻宝山，挖掘宝藏，挖到的金块越多，金币的奖励也越多。
8.帮派每日“砸金蛋”可以获得大量金币，还有可能获得钻石和体力。
9.每周1次帮派战可以获得大量金币。
10.每周1次星球大战可以获得大量金币。</string>
	<key>guide4_q0</key>
	<string>#000000如何获得声望?</string>
	<key>guide4_a0</key>
	<string>1.修仙台可以获得少量声望，拦截正在修仙的玩家也可以获得声望奖励。
2.竞技场每日15次挑战。每次胜利可获得20点声望，失败5点。
3.竞技场复仇成功可获得10点。
4.安抚奴隶，通过对奴隶的安抚，每次可以获得20点声望收入。
5.成功解救好友脱离奴隶主魔爪，每次10点声望。
6.讨好奴隶主。如果你是一名奴隶，那么你可以通过讨好奴隶来获得10点的声望。
7.修仙台召唤“佛光普照”，召唤者立刻获得1000点声望，另外也将提成所有期间修仙的玩家的声望。
8.帮派每日1次擂鼓，可以获得大量声望。
9.帮派召唤众仙泉可以获得大量的声望。
10.每周1次世界比武可以获得大量声望。
11.每周1次帮派战可以获得大量声望。
12.每周1次星球大战可以获得大量声望。</string>
	<key>guide5_q0</key>
	<string>#000000如何获得钻石?</string>
	<key>guide5_a0</key>
	<string>1.每日登录奖励，连续登录5天以上，就可以每日获得钻石奖励，7天更是可以获得钻石+金币+礼券。
2.组队副本有机率掉落出少量的钻石。
3.新手登录前3天，每天可以获得30颗钻石。
4. 连续登录第6天开始，每天持续登录可以每天获得10颗钻石
5.其他各种活动有机会送出钻石，务必密切留意官方公告。
</string>
	<key>guide6_q0</key>
	<string>#000000如何获得礼券？</string>
	<key>guide6_a0</key>
	<string>1.每周1次的世界比武大赛，参赛者每场胜利都可获得若干礼券。
2.世界比武16强比赛开始后，进行比赛押注，胜利者也将获得礼券。
4.连续登录第7天开始，每天持续登录可以每天获得5礼券
4.其他各种活动有机会送出礼券，务必密切留意官方公告。
5.每周1次帮派战可以获得大量礼券。</string>
</dict>
</plist>
