<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info_0</key>
	<string>收到一条新好友消息！</string>
	<key>info_1</key>
	<string>收到一条新系统消息！</string>
	<key>info_2</key>
	<string>炼魂结束，仓库已满！</string>
	<key>info_3</key>
	<string>炼魂结束！</string>
	<key>info_4</key>
	<string>一键合成成功！</string>
	<key>info_getGold</key>
	<string>获得 @ 金币。</string>
	<key>info_5</key>
	<string>请求加你为好友!</string>
	<key>info_6</key>
	<string>通过了你的好友请求!</string>
	<key>send_ok</key>
	<string>发送成功。</string>
	<key>slot_ok</key>
	<string>打孔成功。</string>
	<key>embed_ok</key>
	<string>镶嵌成功。</string>
	<key>buy_ok</key>
	<string>购买成功，请到背包中查收物品。</string>
	<key>exchange_ok</key>
	<string>兑换成功，请到背包中查收物品。</string>
	<key>get_ok</key>
	<string>领取成功，请到背包中查收物品。</string>
	<key>iap_buy_ok</key>
	<string>购买成功！</string>
	<key>iap_buy_invalid</key>
	<string>购买失败，无效订单号或用户取消购买。</string>
	<key>iap_buy_fail</key>
	<string>购买失败。</string>
	<key>iap_buy_badid</key>
	<string>无效的产品ID。</string>
	<key>craft_suc</key>
	<string>合成成功。</string>
	<key>craft_fail</key>
	<string>合成失败，继续努力！</string>
	<key>remove_ok</key>
	<string>摘除成功，请在背包中查收宝石。</string>
	<key>engrave_suc</key>
	<string>铭刻成功。</string>
	<key>engrave_fail</key>
	<string>铭刻失败，继续努力！</string>
	<key>clear_ok</key>
	<string>清除成功。</string>
	<key>room_fight_fail</key>
	<string>队伍人数不足，无法发起攻击。</string>
	<key>room_kick_ok</key>
	<string>踢除成功。</string>
	<key>room_leave_ok</key>
	<string>退出队伍。</string>
	<key>room_join_ok</key>
	<string>加入队伍。</string>
	<key>room_create_ok</key>
	<string>队伍创建成功。</string>
	<key>train_finish</key>
	<string>训练结束，获得@点经验。</string>
	<key>explore_storage_full</key>
	<string>仓库已满，请先清理仓库。</string>
	<key>explore_pick_gold</key>
	<string>矿石只能卖出，无法拾取。</string>
	<key>explore_sell_soul</key>
	<string>魂魄只能拾取，无法卖出。</string>
	<key>explore_sell_empty</key>
	<string>没有矿石可以卖出了。</string>
	<key>explore_summon_invalid</key>
	<string>已经到高级NPC了，无法召唤。</string>
	<key>explore_full</key>
	<string>位置已满，请先拾取或卖出再进行炼魂。</string>
	<key>explore_craft_soul</key>
	<string>魂魄被锁住，无法合成。</string>
	<key>risk_refresh_full</key>
	<string>您已经获得最高级的坐骑了。</string>
	<key>pet_refresh_full</key>
	<string>您已经获得最高级的食物了。</string>
	<key>risk_start</key>
	<string>开始修炼。</string>
	<key>buddy_add</key>
	<string>@已经成为您的好友。</string>
	<key>buddy_invite</key>
	<string>交友请求已经发送，请等待对方验证。</string>
	<key>tour_bet_ok</key>
	<string>押注成功，敬请关注比赛结果。</string>
	<key>tour_sign_ok</key>
	<string>报名成功。</string>
	<key>slave_tortured</key>
	<string>今天已经折磨过这个奴隶了，明天再来吧！</string>
	<key>slave_comforted</key>
	<string>今天已经安抚过这个奴隶了，明天再来吧！</string>
	<key>slave_catch</key>
	<string>今天抓捕奴隶的次数用完了，明天再来吧！</string>
	<key>train_fight</key>
	<string>今天抢位子的次数用完了，明天再来吧！</string>
	<key>risk_rob_count</key>
	<string>今天打劫的次数用完了，明天再来吧！</string>
	<key>risk_rob_cd</key>
	<string>打劫冷却时间未完，稍后再来吧！</string>
	<key>risk_robbed</key>
	<string>您在修炼途中被“@”打劫，损失@金币和@声望。</string>
	<key>convert_0</key>
	<string>只能使用+0物品。</string>
	<key>convert_success</key>
	<string>转化成功！</string>
	<key>convert_1</key>
	<string>没有要转换的物品。</string>
	<key>convert_no_des</key>
	<string>没有指定转换目标物品。</string>
	<key>show_item_ok</key>
	<string>发送成功！</string>
	<key>exit_team</key>
	<string>请先退出当前队伍，才能加入新队伍。</string>
	<key>no_compare_equ</key>
	<string>身上没有装备此类别的物品</string>
	<key>league_maxapp</key>
	<string>最多只能申请加入@个帮派。</string>
	<key>league_drum_no_time</key>
	<string>今日擂鼓已经使用过了，明天再来吧！</string>
	<key>league_egg_no_time</key>
	<string>今日砸金蛋已经使用过了，明天再来吧！</string>
	<key>league_refine_repeat</key>
	<string>您已经在炼魔的队伍中了！</string>
	<key>league_spring_full</key>
	<string>饮泉人数已达上限！</string>
	<key>room_join_full</key>
	<string>队伍已满，无法加入。</string>
	<key>room_join_noexist</key>
	<string>您要加入的队伍不存在了，无法加入！</string>
	<key>unequip_notnull</key>
	<string>装备只能卸载到背包中的空位置。</string>
	<key>unequip_invalid</key>
	<string>无法卸载已装备的外套。</string>
	<key>item_merge_full</key>
	<string>物品已经达到最大数量，无法再合并。</string>
	<key>risk_queue_no_exist</key>
	<string>队列不存在，已经召唤佛光</string>
	<key>risk_queue_full</key>
	<string>队列已满</string>
	<key>not_decompose</key>
	<string>此物品无法分解</string>
	<key>not_decompose_equ</key>
	<string>只有橙色装备才能分解</string>
	<key>fire_fail</key>
	<string>点亮失败！下次点亮成功率增加了！</string>
</dict>
</plist>
