<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10001</key>
	<string>初级强化符</string>
	<key>10002</key>
	<string>中级强化符</string>
	<key>10003</key>
	<string>高级强化符</string>
	<key>10004</key>
	<string>初级洗练符</string>
	<key>10005</key>
	<string>中级洗练符</string>
	<key>10006</key>
	<string>高级洗练符</string>
	<key>10007</key>
	<string>初级打孔锥</string>
	<key>10008</key>
	<string>中级打孔锥</string>
	<key>10009</key>
	<string>高级打孔锥</string>
	<key>10010</key>
	<string>初级铭刻符</string>
	<key>10011</key>
	<string>中级铭刻符</string>
	<key>10012</key>
	<string>高级铭刻符</string>
	<key>10013</key>
	<string>小喇叭</string>
	<key>10014</key>
	<string>蓝宝石</string>
	<key>10015</key>
	<string>黄宝石</string>
	<key>10016</key>
	<string>红宝石</string>
	<key>10017</key>
	<string>初级外套净化石</string>
	<key>10018</key>
	<string>中级外套净化石</string>
	<key>10019</key>
	<string>高级外套净化石</string>
	<key>10020</key>
	<string>初级宠物净化石</string>
	<key>10021</key>
	<string>中级宠物净化石</string>
	<key>10022</key>
	<string>高级宠物净化石</string>
	<key>10023</key>
	<string>初级重铸符</string>
	<key>10024</key>
	<string>中级重铸符</string>
	<key>10025</key>
	<string>高级重铸符</string>
	<key>10026</key>
	<string>宠物技能锁</string>
	<key>10027</key>
	<string>宠物攻击书</string>
	<key>10028</key>
	<string>宠物格挡书</string>
	<key>10029</key>
	<string>初级训练符</string>
	<key>10030</key>
	<string>高级训练符</string>
	<key>10031</key>
	<string>铭刻水晶</string>
	<key>10032</key>
	<string>坐骑刷新卡</string>
	<key>10033</key>
	<string>飞碟召唤卡</string>
	<key>10034</key>
	<string>快速修炼卡</string>
	<key>10035</key>
	<string>食物刷新卡</string>
	<key>10036</key>
	<string>人参召唤卡</string>
	<key>10038</key>
	<string>寻宝次数卡</string>
	<key>10039</key>
	<string>逆天改运卡</string>
	<key>10040</key>
	<string>魔女占卜卡</string>
	<key>10041</key>
	<string>巫师占卜卡</string>
	<key>10042</key>
	<string>先知占卜卡</string>
	<key>10101</key>
	<string>端午卡片-端</string>
	<key>10102</key>
	<string>端午卡片-午</string>
	<key>10103</key>
	<string>端午卡片-节</string>
	<key>40001</key>
	<string>铜外套宝箱</string>
	<key>40002</key>
	<string>银外套宝箱</string>
	<key>40003</key>
	<string>金外套宝箱</string>
	<key>40099</key>
	<string>传说外套宝箱</string>
	<key>40004</key>
	<string>宠物蛋</string>
	<key>40005</key>
	<string>精灵蛋</string>
	<key>40006</key>
	<string>龙蛋</string>
	<key>40007</key>
	<string>蓝宝石袋</string>
	<key>40008</key>
	<string>黄宝石袋</string>
	<key>40009</key>
	<string>红宝石袋</string>
	<key>40010</key>
	<string>红包</string>
	<key>40011</key>
	<string>钻石袋</string>
	<key>40012</key>
	<string>幸运礼包</string>
	<key>40013</key>
	<string>新手礼包</string>
	<key>40014</key>
	<string>小经验礼包</string>
	<key>40015</key>
	<string>大经验礼包</string>
	<key>40016</key>
	<string>至尊经验礼包</string>
	<key>40017</key>
	<string>首充礼包</string>
	<key>40018</key>
	<string>多彩宝石袋</string>
	<key>40019</key>
	<string>5万红包袋</string>
	<key>49888</key>
	<string>宠物能量罐</string>
	<key>49999</key>
	<string>碎片宝袋</string>
	<key>40101</key>
	<string>初级符文袋</string>
	<key>40102</key>
	<string>中级符文袋</string>
	<key>40103</key>
	<string>高级符文袋</string>
	<key>40200</key>
	<string>神奇外套宝箱</string>
	<key>40201</key>
	<string>神奇宠物罐</string>
	<key>40401</key>
	<string>补偿礼包</string>
	<key>40402</key>
	<string>活动礼包</string>
	<key>40403</key>
	<string>升级礼包</string>
	<key>40420</key>
	<string>冠军礼包</string>
	<key>40421</key>
	<string>亚军礼包</string>
	<key>40422</key>
	<string>欢庆礼包</string>
	<key>40800</key>
	<string>金币魔法罐</string>
	<key>40801</key>
	<string>中级外套魔罐</string>
	<key>40802</key>
	<string>宝石魔法罐</string>
	<key>40803</key>
	<string>宠物魔法罐</string>
	<key>40804</key>
	<string>高级外套魔罐</string>
	<key>40805</key>
	<string>星尘魔法罐</string>
	<key>40806</key>
	<string>传说外套魔罐</string>
	<key>90001</key>
	<string>钻石</string>
	<key>90002</key>
	<string>金币</string>
	<key>90003</key>
	<string>礼券</string>
	<key>90004</key>
	<string>经验</string>
	<key>90005</key>
	<string>声望</string>
	<key>90006</key>
	<string>体力</string>
	<key>90007</key>
	<string>声望币</string>
	<key>91000</key>
	<string>星尘</string>
	<key>91001</key>
	<string>火星尘</string>
	<key>91002</key>
	<string>土星尘</string>
	<key>91003</key>
	<string>风星尘</string>
	<key>91004</key>
	<string>水星尘</string>
	<key>99888</key>
	<string>宠物能量</string>
	<key>99999</key>
	<string>碎片</string>
	<key>40700</key>
	<string>体力礼包</string>
	<key>40701</key>
	<string>礼券袋</string>
	<key>41001</key>
	<string>愚人节A</string>
	<key>41002</key>
	<string>愚人节B</string>
	<key>41003</key>
	<string>节日礼包</string>
	<key>40900</key>
	<string>武器宝箱</string>
	<key>40901</key>
	<string>装备宝箱</string>
	<key>40902</key>
	<string>外套宝箱</string>
	<key>40903</key>
	<string>宠物宝箱</string>
	<key>40916</key>
	<string>武器宝箱</string>
	<key>40926</key>
	<string>武器宝箱</string>
	<key>45010</key>
	<string>新手礼包（10级）</string>
	<key>45015</key>
	<string>新手礼包（15级）</string>
	<key>45020</key>
	<string>新手礼包（20级）</string>
	<key>45025</key>
	<string>新手礼包（25级）</string>
	<key>45030</key>
	<string>新手礼包（30级）</string>
	<key>45035</key>
	<string>新手礼包（35级）</string>
	<key>45040</key>
	<string>进阶礼包（40级）</string>
	<key>45050</key>
	<string>进阶礼包（50级）</string>
	<key>45060</key>
	<string>进阶礼包（60级）</string>
	<key>46001</key>
	<string>青铜宝箱</string>
	<key>46002</key>
	<string>白银宝箱</string>
	<key>46003</key>
	<string>黄金宝箱</string>
	<key>46004</key>
	<string>钻石宝箱</string>
	<key>46005</key>
	<string>至尊宝箱</string>
	<key>47001</key>
	<string>端午肉粽</string>
	<key>47002</key>
	<string>端午金粽</string>
	<key>42001</key>
	<string>珍品幸运宝箱</string>
	<key>42002</key>
	<string>极品幸运宝箱</string>
	<key>42003</key>
	<string>绝品幸运宝箱</string>
	<key>42004</key>
	<string>高级强化符文袋</string>
	<key>42005</key>
	<string>中级强化符文袋</string>
	<key>42006</key>
	<string>初级强化符文袋</string>
	<key>42007</key>
	<string>高级洗炼符文袋</string>
	<key>42008</key>
	<string>中级洗炼符文袋</string>
	<key>42009</key>
	<string>初级洗炼符文袋</string>
	<key>42010</key>
	<string>大型宠物宝箱</string>
	<key>42011</key>
	<string>小铭刻水晶袋</string>
	<key>42012</key>
	<string>大铭刻水晶袋</string>
	<key>42013</key>
	<string>小袋宠物锁</string>
	<key>42014</key>
	<string>大袋宠物锁</string>
	<key>42015</key>
	<string>&lt;VIP1&gt;宝罐</string>
	<key>42016</key>
	<string>&lt;VIP2&gt;宝罐</string>
	<key>42017</key>
	<string>&lt;VIP2&gt;宝罐</string>
	<key>42018</key>
	<string>&lt;VIP3&gt;宝罐</string>
	<key>42019</key>
	<string>&lt;VIP4&gt;宝罐</string>
	<key>42020</key>
	<string>&lt;VIP5&gt;宝罐</string>
	<key>42021</key>
	<string>&lt;VIP6&gt;宝罐</string>
	<key>42022</key>
	<string>&lt;VIP7&gt;宝罐</string>
	<key>42023</key>
	<string>&lt;VIP8&gt;宝罐</string>
	<key>42024</key>
	<string>&lt;VIP9&gt;宝罐</string>
	<key>42025</key>
	<string>&lt;VIP10&gt;宝罐</string>
	<key>42046</key>
	<string>20万红包袋</string>
	<key>42047</key>
	<string>喜鹊</string>
	<key>42048</key>
	<string>玫瑰花</string>
	<key>42049</key>
	<string>情人巧克力</string>
	<key>42050</key>
	<string>520礼包</string>
	<key>42051</key>
	<string>七夕礼包</string>
	<key>42052</key>
	<string>国庆大礼包</string>
	<key>42053</key>
	<string>教师节礼包</string>
	<key>42054</key>
	<string>鬼关羽礼包</string>
	<key>42055</key>
	<string>万圣节小南瓜</string>
	<key>42056</key>
	<string>万圣节大南瓜</string>
	<key>42057</key>
	<string>开学加油大礼包</string>
	<key>42058</key>
	<string>大月饼</string>
	<key>42059</key>
	<string>小月饼</string>
	<key>42060</key>
	<string>中秋大礼包</string>
	<key>42061</key>
	<string>星尘礼包</string>
	<key>49000</key>
	<string>更名道具</string>
</dict>
</plist>
