<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tip0</key>
	<string>提升外套的等级将强化外套的基础属性值。</string>
	<key>tip1</key>
	<string>每提升一个等级，将自动领悟一种技能，一共40种技能等你体验。</string>
	<key>tip10</key>
	<string>游戏战斗系统是全自动的，所有装备的技能均会按概率自动触发，无需手动。</string>
	<key>tip11</key>
	<string>技能面板中的“重置技能”按键可以随机重置已领悟的技能。</string>
	<key>tip12</key>
	<string>竞技场中战败的对手可以在奴隶小屋中抓捕为自己的奴隶。</string>
	<key>tip13</key>
	<string>宠物成长度满了之后即可通过领悟来获得技能。</string>
	<key>tip14</key>
	<string>50级后解锁“18铜人”系统，可挑战上周世界比武的列强获得丰厚奖励！</string>
	<key>tip15</key>
	<string>只有+0的外套、宠物可以在转换小屋中进行转换。</string>
	<key>tip16</key>
	<string>通过炼魂可以大幅度提高角色各项能力值。</string>
	<key>tip17</key>
	<string>可以通过强化、洗炼、打孔、镶嵌宝石来提升装备的品质。</string>
	<key>tip18</key>
	<string>每半小时自动恢复5点体力，每6小时手动领取一次的60点体力包，务必珍惜你的体力哦~</string>
	<key>tip19</key>
	<string>每6小时领取一次的60点体力包是需要手动领取的哦。</string>
	<key>tip2</key>
	<string>外套、宠物、和宝石的等级都是通过“合成”来进行提升的。</string>
	<key>tip3</key>
	<string>镶嵌在装备上的宝石可以在铁匠铺中进行摘除，摘除的宝石不会被损坏。</string>
	<key>tip4</key>
	<string>角色的声望值是竞技场排名的唯一标准。</string>
	<key>tip5</key>
	<string>世界比武可以获得大量礼券。</string>
	<key>tip6</key>
	<string>礼券可以在“礼券商店”中换取各色品质更好的稀有物品。</string>
	<key>tip7</key>
	<string>世界比武将把所有参赛者随机分为16组进行预选，决出16强后进行决赛阶段比赛。</string>
	<key>tip8</key>
	<string>等级相差5级以内的好友可以被雇佣成为自己的佣兵，一起副本过图！</string>
	<key>tip9</key>
	<string>佣兵无法带入竞技场战斗。</string>
	<key>tip20</key>
	<string>打完孔后的武器和装备可进行宝石的镶嵌，从而提升装备品质。</string>
	<key>tip21</key>
	<string>10级后将开放“竞技场”,与其他玩家相互切磋。</string>
	<key>tip22</key>
	<string>15级后将开放“修仙台”,获得大量声望和金币。</string>
	<key>tip23</key>
	<string>25级后将开放“奴隶”系统。</string>
	<key>tip24</key>
	<string>21级后将解锁“训练房”，可挂机获得大量经验。</string>
	<key>tip25</key>
	<string>20级后将解锁“佣兵”系统，从此过图打怪更加轻松！</string>
	<key>tip26</key>
	<string>28级后将解锁“宠物”系统。</string>
	<key>tip27</key>
	<string>30级后将解锁“恶魔塔”，可获得大量经验。</string>
	<key>tip28</key>
	<string>40级后将解锁“炼魂”系统，可大幅提高人物各项属性值。</string>
	<key>tip29</key>
	<string>45级后将解锁“挖宝”系统，可获得各种品质外套和金币！</string>
	<key>tip30</key>
	<string>外套等级上限是30级，宠物等级上限是27级，宝石等级上限是8级。</string>
	<key>tip31</key>
	<string>组队副本体力减半的固定时间为每日12:00-14:00，每晚20:00-23:00。</string>
	<key>tip32</key>
	<string>达到VIP等级3，即可免费开启技能第6格。</string>
	<key>tip33</key>
	<string>达到VIP等级4，即可享受直接跳过战斗，节约大量游戏时间。</string>
	<key>tip34</key>
	<string>体力槽上限值是200，使用背包里的体力礼包，体力值是允许溢出的。</string>
	<key>tip35</key>
	<string>首笔充值不仅可以获得丰厚道具，更享受50%的优惠返利。珍惜仅有的第一次哦~</string>
	<key>tip36</key>
	<string>宠物锁的效果是一次性的，每领悟一次都要上一次锁。</string>
	<key>tip37</key>
	<string>每周六的世界比武是获得奖励的好机会。入围的人玩PK，没入围的来押注</string>
	<key>tip38</key>
	<string>每周三，帮派周贡献前8名的2级帮派可以参与帮派战！</string>
	<key>tip39</key>
	<string>声望是帮派经验的唯一来源，多一分声望，加一点帮派经验！</string>
	<key>tip40</key>
	<string>加入一个好帮派，参加各种帮派活动，可以帮助你快速成长哦！</string>
	<key>tip41</key>
	<string>召唤佛光不仅可以获得基础1000声望，还可以获得大量声望抽成。</string>
	<key>tip42</key>
	<string>宠物是战斗的好帮手，获得宠物最直接的方式就是进入商城购买宠物蛋。</string>
	<key>tip43</key>
	<string>游戏中不定时开放各种强力优惠活动，千万记得留意“公告”信息。</string>
	<key>tip44</key>
	<string>修仙台召唤佛光、帮派敲大鼓、以及众仙泉是获得大量声望的三大途径。</string>
	<key>tip45</key>
	<string>当你拥有了大量声望后，可以前往神秘商人的声望商店里兑换传说外套和顶级装备。</string>
	<key>tip46</key>
	<string>可以将不需要的外套、宠物、宝石和橙色装备放进黑洞进行分解（27级开启）从而获得星尘。</string>
</dict>
</plist>
