<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skill10_des0</key>
	<string>100%基础攻击</string>
	<key>skill10_des1</key>
	<string>伤害值的50%转化为自身血量</string>
	<key>skill10_des3</key>
	<string>自己行动时</string>
	<key>skill10_des4</key>
	<string>20%</string>
	<key>skill10_des6</key>
	<string>0点</string>
	<key>skill10_des7</key>
	<string>发动机率+3%，回血效果+5%</string>
	<key>skill11_des0</key>
	<string>100%基础攻击</string>
	<key>skill11_des1</key>
	<string>使对手减少我方SP上限15%的SP</string>
	<key>skill11_des3</key>
	<string>自己行动时</string>
	<key>skill11_des4</key>
	<string>20%</string>
	<key>skill11_des6</key>
	<string>10点</string>
	<key>skill11_des7</key>
	<string>发动机率+3%，伤害+10%</string>
	<key>skill12_des0</key>
	<string>108%基础攻击</string>
	<key>skill12_des3</key>
	<string>攻击后追加</string>
	<key>skill12_des4</key>
	<string>27%</string>
	<key>skill12_des6</key>
	<string>3点</string>
	<key>skill12_des7</key>
	<string>发动机率+4%，伤害+5%</string>
	<key>skill13_des0</key>
	<string>80%基础攻击</string>
	<key>skill13_des1</key>
	<string>使对手麻痹，停止行动</string>
	<key>skill13_des2</key>
	<string>3.5秒</string>
	<key>skill13_des3</key>
	<string>攻击后追加</string>
	<key>skill13_des4</key>
	<string>24%</string>
	<key>skill13_des6</key>
	<string>5点</string>
	<key>skill13_des7</key>
	<string>发动机率+2%，伤害+5%</string>
	<key>skill14_des0</key>
	<string>33%基础攻击</string>
	<key>skill14_des1</key>
	<string>使对手中毒，毒发时减少5%血量.</string>
	<key>skill14_des2</key>
	<string>被净化术或恢复术清除为止</string>
	<key>skill14_des3</key>
	<string>攻击后追加</string>
	<key>skill14_des4</key>
	<string>33%</string>
	<key>skill14_des6</key>
	<string>0点</string>
	<key>skill14_des7</key>
	<string>发动机率+5%，伤害+7%</string>
	<key>skill15_des1</key>
	<string>使对手被诅咒，每次发作减少上限值4%的HP和SP</string>
	<key>skill_name11</key>
	<string>能量抽取</string>
	<key>skill15_des2</key>
	<string>对手使用技能消除SP后诅咒解除</string>
	<key>skill15_des3</key>
	<string>攻击后追加</string>
	<key>skill15_des4</key>
	<string>28%</string>
	<key>skill15_des6</key>
	<string>3点</string>
	<key>skill15_des7</key>
	<string>发动机率+5%，伤害+2%</string>
	<key>skill16_des0</key>
	<string>30%基础攻击</string>
	<key>skill16_des1</key>
	<string>如果对手身上有酒，可以将其点燃，与血之狂热技能搭配使用有奇效</string>
	<key>skill16_des2</key>
	<string>被净化术或冰冻效果清除为止</string>
	<key>skill16_des3</key>
	<string>受到攻击</string>
	<key>skill16_des4</key>
	<string>33%</string>
	<key>skill16_des6</key>
	<string>3点</string>
	<key>skill16_des7</key>
	<string>发动机率+7%，伤害+5%</string>
	<key>skill17_des1</key>
	<string>进入无敌状态，不会受到外来攻击的伤害</string>
	<key>skill17_des2</key>
	<string>20秒</string>
	<key>skill17_des3</key>
	<string>受到对方主动攻击时</string>
	<key>skill17_des4</key>
	<string>20%</string>
	<key>skill17_des5</key>
	<string>每场战斗只能发动1次</string>
	<key>skill17_des6</key>
	<string>10点</string>
	<key>skill17_des7</key>
	<string>发动机率+3%，持续时间+3秒</string>
	<key>skill18_des1</key>
	<string>恢复上限10%的HP，解除中毒效果</string>
	<key>skill18_des3</key>
	<string>受到对方主动攻击时</string>
	<key>skill18_des4</key>
	<string>25%</string>
	<key>skill18_des5</key>
	<string>每场战斗只能发动3次</string>
	<key>skill18_des6</key>
	<string>6点</string>
	<key>skill18_des7</key>
	<string>发动机率+5%，治疗效果+2%</string>
	<key>skill19_des1</key>
	<string>提升速度10点</string>
	<key>skill19_des2</key>
	<string>持续存在</string>
	<key>skill19_des3</key>
	<string>受到攻击</string>
	<key>skill19_des4</key>
	<string>100%</string>
	<key>skill19_des5</key>
	<string>每场战斗只能触发10次</string>
	<key>skill19_des6</key>
	<string>0点</string>
	<key>skill19_des7</key>
	<string>提升速度+5</string>
	<key>skill1_des0</key>
	<string>130%基础攻击</string>
	<key>skill1_des1</key>
	<string>当对手身上有酒时，可将其点燃</string>
	<key>skill1_des2</key>
	<string>被净化或冰冻效果清除为止</string>
	<key>skill1_des3</key>
	<string>自己行动时</string>
	<key>skill1_des4</key>
	<string>28%</string>
	<key>skill1_des6</key>
	<string>4点</string>
	<key>skill1_des7</key>
	<string>发动机率+2%，伤害+10%</string>
	<key>skill20_des1</key>
	<string>减少受到的伤害55%，并反弹给对手</string>
	<key>skill20_des3</key>
	<string>受到攻击</string>
	<key>skill20_des4</key>
	<string>15%</string>
	<key>skill20_des6</key>
	<string>5点</string>
	<key>skill20_des7</key>
	<string>发动机率+1%</string>
	<key>skill21_des0</key>
	<string>144%基础攻击</string>
	<key>skill21_des1</key>
	<string>受到攻击后可以反击对手</string>
	<key>skill21_des3</key>
	<string>受到攻击</string>
	<key>skill21_des4</key>
	<string>17%</string>
	<key>skill21_des6</key>
	<string>6点</string>
	<key>skill21_des7</key>
	<string>发动机率+2%，伤害+5%</string>
	<key>skill22_des1</key>
	<string>躲避对手的攻击</string>
	<key>skill22_des3</key>
	<string>受到攻击</string>
	<key>skill22_des4</key>
	<string>18%</string>
	<key>skill22_des6</key>
	<string>0点</string>
	<key>skill22_des7</key>
	<string>发动机率+3%</string>
	<key>skill23_des1</key>
	<string>所有主动技能发动机率增加50%, 自身也会受到伤害</string>
	<key>skill23_des2</key>
	<string>35秒</string>
	<key>skill23_des3</key>
	<string>自己攻击前</string>
	<key>skill23_des4</key>
	<string>33%</string>
	<key>skill23_des5</key>
	<string>每场战斗只能发动1次</string>
	<key>skill23_des6</key>
	<string>12点</string>
	<key>skill23_des7</key>
	<string>发动机率+2% </string>
	<key>skill24_des1</key>
	<string>可以额外攻击1次，但是本次攻击伤害只有60%</string>
	<key>skill24_des3</key>
	<string>自己攻击前</string>
	<key>skill24_des4</key>
	<string>20%</string>
	<key>skill24_des6</key>
	<string>7点</string>
	<key>skill24_des7</key>
	<string>发动机率+5%</string>
	<key>skill25_des1</key>
	<string>附加炸弹后，对手受到的伤害会累加，在引爆时再次造成伤害</string>
	<key>skill25_des2</key>
	<string>25秒</string>
	<key>skill25_des3</key>
	<string>自己攻击前</string>
	<key>skill25_des4</key>
	<string>33%</string>
	<key>skill25_des5</key>
	<string>每场战斗只能发动1次</string>
	<key>skill25_des6</key>
	<string>15点</string>
	<key>skill25_des7</key>
	<string>发动机率+3%，持续时间+5秒</string>
	<key>skill26_des1</key>
	<string>随机清除一个负面状态</string>
	<key>skill26_des3</key>
	<string>自己攻击前</string>
	<key>skill26_des4</key>
	<string>20%</string>
	<key>skill26_des6</key>
	<string>5点</string>
	<key>skill26_des7</key>
	<string>发动机率+5%</string>
	<key>skill27_des1</key>
	<string>降低敌手的闪避130点，使对手受到火焰伤害加倍</string>
	<key>skill27_des2</key>
	<string>我方下回合行动前，或者受到火焰伤害后消失</string>
	<key>skill27_des3</key>
	<string>自己攻击前</string>
	<key>skill27_des4</key>
	<string>20%</string>
	<key>skill27_des5</key>
	<string>无法与冰冻状态同时存在</string>
	<key>skill27_des6</key>
	<string>0点</string>
	<key>skill27_des7</key>
	<string>发动机率+10%</string>
	<key>skill28_des1</key>
	<string>每经过10秒，提升暴击值15点</string>
	<key>skill28_des2</key>
	<string>持续存在</string>
	<key>skill28_des3</key>
	<string>开场自动触发</string>
	<key>skill28_des4</key>
	<string>100%</string>
	<key>skill28_des6</key>
	<string>0点</string>
	<key>skill28_des7</key>
	<string>每10秒提升暴击值+5</string>
	<key>skill29_des1</key>
	<string>对手的攻击下降10%，暴击增加130点，并使其可被火焰点燃</string>
	<key>skill29_des2</key>
	<string>持续存在，直到被净化清除</string>
	<key>skill29_des3</key>
	<string>开场时自动触发</string>
	<key>skill29_des4</key>
	<string>100%</string>
	<key>skill29_des6</key>
	<string>0点</string>
	<key>skill29_des7</key>
	<string>对手的攻击下降+5%</string>
	<key>skill2_des0</key>
	<string>110%基础攻击</string>
	<key>skill2_des1</key>
	<string>使对手处于疾病状态，使用技能时消耗值将翻倍</string>
	<key>skill2_des2</key>
	<string>被净化术清除为止</string>
	<key>skill2_des3</key>
	<string>自己行动时</string>
	<key>skill2_des4</key>
	<string>22%</string>
	<key>skill2_des6</key>
	<string>3点</string>
	<key>skill2_des7</key>
	<string>发动机率+3%，伤害+5%</string>
	<key>skill30_des1</key>
	<string>负面状态时间减少25%，每失去1%HP，攻击力增强0.5%</string>
	<key>skill30_des2</key>
	<string>持续存在</string>
	<key>skill30_des3</key>
	<string>开场时自动触发</string>
	<key>skill30_des4</key>
	<string>100%</string>
	<key>skill30_des6</key>
	<string>0点</string>
	<key>skill30_des7</key>
	<string>攻击力提升+0.2%</string>
	<key>skill31_des0</key>
	<string>HP上限的5%</string>
	<key>skill31_des1</key>
	<string>产生一片雷云，随机轰击战斗双方产生伤害。开启“能量护体”的对象将不受伤害。</string>
	<key>skill31_des2</key>
	<string>持续存在</string>
	<key>skill31_des3</key>
	<string>自己行动前，效果解除后还会重新发动</string>
	<key>skill31_des4</key>
	<string>100%</string>
	<key>skill31_des6</key>
	<string>初始发动消耗10点</string>
	<key>skill31_des7</key>
	<string>伤害增加HP上限的2%</string>
	<key>skill32_des1</key>
	<string>当身处于负面状态时，使对手眩晕，终结对手本回合行动</string>
	<key>skill32_des2</key>
	<string>6秒</string>
	<key>skill32_des3</key>
	<string>对手主动攻击前</string>
	<key>skill32_des4</key>
	<string>30%</string>
	<key>skill32_des5</key>
	<string>每场战斗只能成功发动3次</string>
	<key>skill32_des6</key>
	<string>5点</string>
	<key>skill32_des7</key>
	<string>发动机率+3%</string>
	<key>skill33_des1</key>
	<string>使对手速度降低为原本的一半</string>
	<key>skill33_des2</key>
	<string>18秒</string>
	<key>skill33_des3</key>
	<string>对手主动攻击前</string>
	<key>skill33_des4</key>
	<string>33%</string>
	<key>skill33_des5</key>
	<string>每场战斗只能发动1次</string>
	<key>skill33_des6</key>
	<string>13点</string>
	<key>skill33_des7</key>
	<string>发动机率+5%，持续时间+3秒</string>
	<key>skill34_des1</key>
	<string>抵消HP上限值20%的伤害，并免疫雷神降临造成的伤害。</string>
	<key>skill34_des2</key>
	<string>能量耗尽为止</string>
	<key>skill34_des3</key>
	<string>对手主动攻击前</string>
	<key>skill34_des4</key>
	<string>28%</string>
	<key>skill34_des5</key>
	<string>每场战斗只能发动1次</string>
	<key>skill34_des6</key>
	<string>8点</string>
	<key>skill34_des7</key>
	<string>发动机率+7%，吸收伤害+5%</string>
	<key>skill35_des1</key>
	<string>死亡时重生，且HP恢复为上限值的20%</string>
	<key>skill35_des3</key>
	<string>战斗死亡时</string>
	<key>skill35_des4</key>
	<string>战斗时90%，每经过10秒，机率降低5%</string>
	<key>skill35_des6</key>
	<string>25点</string>
	<key>skill35_des7</key>
	<string>复活时HP+5%</string>
	<key>skill36_des1</key>
	<string>造成伤害时吸取10%HP</string>
	<key>skill36_des3</key>
	<string>自己攻击时</string>
	<key>skill36_des4</key>
	<string>100%</string>
	<key>skill36_des6</key>
	<string>0点</string>
	<key>skill36_des7</key>
	<string>吸取生命+5%</string>
	<key>skill37_des1</key>
	<string>受到伤害时，反弹10%的伤害给对手</string>
	<key>skill37_des3</key>
	<string>受到攻击</string>
	<key>skill37_des4</key>
	<string>100%</string>
	<key>skill37_des5</key>
	<string>无法反弹定时炸弹的伤害</string>
	<key>skill37_des6</key>
	<string>0点</string>
	<key>skill37_des7</key>
	<string>反弹伤害+2%</string>
	<key>skill38_des1</key>
	<string>每次攻击吸取4点SP</string>
	<key>skill38_des3</key>
	<string>自己攻击时</string>
	<key>skill38_des4</key>
	<string>100%</string>
	<key>skill38_des6</key>
	<string>0点</string>
	<key>skill38_des7</key>
	<string>吸取SP+1</string>
	<key>skill39_des1</key>
	<string>使对手的伤口逐渐恶化。每次发动攻击都造成比上一次攻击多20点的伤害</string>
	<key>skill39_des2</key>
	<string>对手行动前</string>
	<key>skill39_des3</key>
	<string>自己攻击时</string>
	<key>skill39_des4</key>
	<string>100%</string>
	<key>skill39_des6</key>
	<string>0点</string>
	<key>skill39_des7</key>
	<string>每次攻击都造成比上一次攻击多30点伤害</string>
	<key>skill3_des0</key>
	<string>100%基础攻击</string>
	<key>skill3_des1</key>
	<string>对手攻击力降低75%</string>
	<key>skill3_des2</key>
	<string>25秒</string>
	<key>skill3_des3</key>
	<string>自己行动时</string>
	<key>skill3_des4</key>
	<string>24%</string>
	<key>skill3_des5</key>
	<string>每场战斗只能成功发动1次</string>
	<key>skill3_des6</key>
	<string>16点</string>
	<key>skill3_des7</key>
	<string>持续时间提升3秒</string>
	<key>skill40_des1</key>
	<string>可抵挡任何攻击</string>
	<key>skill40_des2</key>
	<string>我方被攻击前</string>
	<key>skill40_des3</key>
	<string>自己攻击时</string>
	<key>skill40_des4</key>
	<string>15%</string>
	<key>skill40_des6</key>
	<string>0点</string>
	<key>skill40_des7</key>
	<string>发动机率+10%</string>
	<key>skill4_des0</key>
	<string>100%基础攻击</string>
	<key>skill4_des1</key>
	<string>使对手无法主动使用技能</string>
	<key>skill4_des2</key>
	<string>20秒</string>
	<key>skill4_des3</key>
	<string>自己行动时</string>
	<key>skill4_des4</key>
	<string>24%</string>
	<key>skill4_des5</key>
	<string>每场战斗只能成功发动1次</string>
	<key>skill4_des6</key>
	<string>13点</string>
	<key>skill4_des7</key>
	<string>发动机率+3%，持续时间+3秒</string>
	<key>skill5_des1</key>
	<string>冰冻对手，可以熄灭火焰，破冰造成2倍伤害</string>
	<key>skill5_des2</key>
	<string>冰冻被击碎为止</string>
	<key>skill5_des3</key>
	<string>自己行动时</string>
	<key>skill5_des4</key>
	<string>25%</string>
	<key>skill5_des5</key>
	<string>火焰伤害不能破冰</string>
	<key>skill5_des6</key>
	<string>11点</string>
	<key>skill5_des7</key>
	<string>发动机率+2%</string>
	<key>skill6_des0</key>
	<string>160%基础攻击</string>
	<key>skill6_des1</key>
	<string>使对手麻痹，停止行动</string>
	<key>skill6_des2</key>
	<string>3.5秒</string>
	<key>skill6_des3</key>
	<string>自己行动时</string>
	<key>skill6_des4</key>
	<string>20%</string>
	<key>skill6_des6</key>
	<string>7点</string>
	<key>skill6_des7</key>
	<string>发动机率+3%，伤害+10%</string>
	<key>skill7_des0</key>
	<string>100%基础攻击+对手HP上限7%的伤害</string>
	<key>skill7_des1</key>
	<string>晕眩</string>
	<key>skill7_des2</key>
	<string>6秒</string>
	<key>skill7_des3</key>
	<string>自己行动时</string>
	<key>skill7_des4</key>
	<string>15%</string>
	<key>skill7_des5</key>
	<string>每场战斗只能发动3次</string>
	<key>skill7_des6</key>
	<string>0点</string>
	<key>skill7_des7</key>
	<string>发动机率+3%，增加1%HP上限伤害</string>
	<key>skill8_des0</key>
	<string>250%基础攻击</string>
	<key>skill8_des1</key>
	<string>自身因为疲劳停止行动1回合</string>
	<key>skill8_des3</key>
	<string>自己行动时</string>
	<key>skill8_des4</key>
	<string>23%</string>
	<key>skill8_des6</key>
	<string>10点</string>
	<key>skill8_des7</key>
	<string>发动机率+2%，伤害+10%</string>
	<key>skill9_des0</key>
	<string>210%基础攻击</string>
	<key>skill9_des3</key>
	<string>自己行动时</string>
	<key>skill9_des4</key>
	<string>30%</string>
	<key>skill9_des5</key>
	<string>炸弹有机率被对手丢回来，战斗时间越久，机率越大</string>
	<key>skill9_des6</key>
	<string>0点</string>
	<key>skill9_des7</key>
	<string>发动机率+2%，伤害+10%</string>
	<key>skill_3des7</key>
	<string>发动机率+3%，持续时间+3秒</string>
	<key>skill_des0</key>
	<string>伤害</string>
	<key>skill_des1</key>
	<string>技能效果</string>
	<key>skill_des2</key>
	<string>持续时间</string>
	<key>skill_des3</key>
	<string>发动时机</string>
	<key>skill_des4</key>
	<string>发动几率</string>
	<key>skill_des5</key>
	<string>发动限制</string>
	<key>skill_des6</key>
	<string>SP消耗</string>
	<key>skill_des7</key>
	<string>专精效果</string>
	<key>skill_name1</key>
	<string>火陨星</string>
	<key>skill_name10</key>
	<string>暗杀</string>
	<key>skill_name12</key>
	<string>风暴拳</string>
	<key>skill_name13</key>
	<string>雷电拳</string>
	<key>skill_name14</key>
	<string>毒雾</string>
	<key>skill_name15</key>
	<string>暗影诅咒</string>
	<key>skill_name16</key>
	<string>火盾</string>
	<key>skill_name17</key>
	<string>金钟罩</string>
	<key>skill_name18</key>
	<string>恢复术</string>
	<key>skill_name19</key>
	<string>疾行术</string>
	<key>skill_name2</key>
	<string>病菌</string>
	<key>skill_name20</key>
	<string>土流壁</string>
	<key>skill_name21</key>
	<string>反击</string>
	<key>skill_name22</key>
	<string>移形幻影</string>
	<key>skill_name23</key>
	<string>血之狂热</string>
	<key>skill_name24</key>
	<string>瞬步</string>
	<key>skill_name25</key>
	<string>定时炸弹</string>
	<key>skill_name26</key>
	<string>净化</string>
	<key>skill_name27</key>
	<string>天罗地网</string>
	<key>skill_name28</key>
	<string>狂暴</string>
	<key>skill_name29</key>
	<string>酒</string>
	<key>skill_name3</key>
	<string>尸鬼封禁</string>
	<key>skill_name30</key>
	<string>野蛮</string>
	<key>skill_name31</key>
	<string>雷神降临</string>
	<key>skill_name32</key>
	<string>雷霆震地</string>
	<key>skill_name33</key>
	<string>荆棘术</string>
	<key>skill_name34</key>
	<string>能量护体</string>
	<key>skill_name35</key>
	<string>重生</string>
	<key>skill_name36</key>
	<string>血祭</string>
	<key>skill_name37</key>
	<string>逆伤斩</string>
	<key>skill_name38</key>
	<string>魔法窃取</string>
	<key>skill_name39</key>
	<string>伤口感染</string>
	<key>skill_name4</key>
	<string>技能枷锁</string>
	<key>skill_name40</key>
	<string>盾墙</string>
	<key>skill_name5</key>
	<string>冰封术</string>
	<key>skill_name6</key>
	<string>闪电球</string>
	<key>skill_name7</key>
	<string>武神重锤</string>
	<key>skill_name8</key>
	<string>爆裂一击</string>
	<key>skill_name9</key>
	<string>炸弹</string>
</dict>
</plist>
