<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>水系</string>
	<key>2</key>
	<string>火系</string>
	<key>3</key>
	<string>土系</string>
	<key>4</key>
	<string>雷系</string>
	<key>5</key>
	<string>风系</string>
	<key>6</key>
	<string>体系</string>
	<key>7</key>
	<string>忍系</string>
	<key>8</key>
	<string>印系</string>
	<key>9</key>
	<string>幻系</string>
	<key>10</key>
	<string>医系</string>
</dict>
</plist>
