<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rule</key>
	<string>1.比赛规则
• 星球大战是跨服比武盛会，是服务器与服务器之间的较量，是服务器最高荣誉的体现。
• 参加星球大战的成员为服务器本周世界比武的前4强选手，系统将在每届世界比武比赛结束后自动将4强选手编成参赛小队并自动报名！
• 每周日的12:00系统将准时获取参赛玩家的装备和技能配置信息，参赛小队成员可以在此之前自由调配装备和技能。
• 参赛小队成员的出场顺序会依据世界比武的排名先后而定，排名靠后的先出场，冠军最后。
2.比赛时间
• 星球大战每周1次，每周的周日为比赛日！
• 周日18:00开始星球大战的16强预选赛。
• 周日19:00开始星球大战16进8的比赛。
• 周日20:00开始星球大战8进4的比赛。
• 周日21:00开始星球大战4进2半决赛。
• 周日22:00星球大战总决赛。
3.比赛奖励
• 冠军队伍的4位选手将获得“冠军礼包”1个。
• 冠军队伍所属服务器中所有报名参加本周世界比武的角色，都将获得“欢庆礼包”1个。
• 冠军服务器全服玩家获得“勇猛BUFF”，持续1周（周日22:00-次周日22:00）。
• 亚军队伍的4位选手将获得“亚军礼包”1个。
 
4.奖品说明
• 冠军礼包：声望x1000、金币x500000、钻石x100、神奇外套宝箱x1、宠物锁x30
• 亚军礼包：声望x500、金币x200000、宠物锁x30、
• 欢庆礼包：声望x100、金币x100000
• 勇猛BUFF：在冒险、组队副本、恶魔塔中与怪物对战，将获得攻击力和生命上限的提升。
 </string>
</dict>
</plist>
