<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>my_bet0</key>
	<string>第@届比武大会    @进@</string>
	<key>my_bet1</key>
	<string>投注金额:</string>
	<key>my_bet2</key>
	<string>奖励:</string>
	<key>my_bet_title</key>
	<string>我的投注</string>
	<key>my_race0</key>
	<string>预选赛</string>
	<key>my_race_title</key>
	<string>我的比武</string>
	<key>rule</key>
	<string>比赛规则
1.比赛时间
  世界比武为每周举行1届。每周日的0:00到次周五24:00为比赛的报名时间。
  正式比赛日时间为每周的周六全天
  01:00  预选赛
  10:00  16进8
  12:00  8进4
  14:00  半决赛
  20:00  决赛
2.报名规则
  ①报名玩家被分为16组进行预选赛，选出16名选手参加决赛圈的淘汰赛，最终决出世界比武大赛的胜利。
  ②参加世界比武大赛报名需要支付@金币的报名费，报名成功后自动扣除。
3.比武规则
  ①比赛时的能力数据以比赛开启时（每周五晚24:00）玩家的各项数据为准。
  ②从预选赛中脱颖而出，进入决赛的16名选手经过4轮残酷的淘汰赛，决出总冠军。
  ③只要报名参加世界比武，每赢得一场比赛能获得更多的礼券做为奖励。
  ④16强以后的比赛可以用金币押注比赛，押中可以得到礼券奖励。
4.奖励规则
  ①预选赛胜利每场获得@礼券。
  ②16进8比赛胜利获得@礼券，@声望。
  ③8进4比赛胜利获得@礼券，@声望。
  ④半决赛胜利获得@礼券，@声望。
  ⑤决赛胜利获得@礼券，@声望。
5.投注系统
  投注场次从16强比赛开始，共能投注4场，十六强投注1次，八强投注1次，半决赛投注1次，决赛投注1次，玩家可通过“我的投注”查看和领取奖励。</string>
	<key>rule_title</key>
	<string>比赛规则</string>
</dict>
</plist>
