<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cur_vip</key>
	<string>您当前的级别：</string>
	<key>next_vip</key>
	<string>升级为 VIP @ ，您可以获得以下特权项目：</string>
	<key>no_vip</key>
	<string>无</string>
	<key>vip10_content1</key>
	<string>每天可“点石成金”次数增加至@次。</string>
	<key>vip10_content2</key>
	<string>自动寻宝改运@次。</string>
	<key>vip10_content3</key>
	<string>消费钻石增加每日爬塔次数增加至@次。</string>
	<key>vip10_content4</key>
	<string>包含VIP1-9所有功能。</string>
	<key>vip10_title1</key>
	<string>点石成金</string>
	<key>vip10_title2</key>
	<string>寻宝改运</string>
	<key>vip10_title3</key>
	<string>钻石爬塔</string>
	<key>vip10_title4</key>
	<string>其他</string>
	<key>vip1_content1</key>
	<string>每天可“点石成金”次数增加至@次。</string>
	<key>vip1_content2</key>
	<string>每天可购买的体力增加至@次。</string>
	<key>vip1_content3</key>
	<string>可花钻石购买竞技场挑战次数@次。</string>
	<key>vip1_content4</key>
	<string>获得@金币奖励。</string>
	<key>vip1_content5</key>
	<string>消费钻石可以直接召唤“如来”@次，极大幅度提升获取优质魂魄的概率。</string>
	<key>vip1_title1</key>
	<string>点石成金</string>
	<key>vip1_title2</key>
	<string>*体力购买</string>
	<key>vip1_title3</key>
	<string>挑战次数</string>
	<key>vip1_title4</key>
	<string>*更多金币</string>
	<key>vip1_title5</key>
	<string>钻石炼魂</string>
	<key>vip2_content1</key>
	<string>每天可“点石成金”次数增加至@次。</string>
	<key>vip2_content2</key>
	<string>获得@金币奖励。</string>
	<key>vip2_content3</key>
	<string>消费钻石可以直接召唤“如来”@次，极大幅度提升获取优质魂魄的概率。</string>
	<key>vip2_content4</key>
	<string>奴隶牢笼数量上限增至@个</string>
	<key>vip2_content5</key>
	<string>包含VIP1所有功能。</string>
	<key>vip2_title1</key>
	<string>点石成金</string>
	<key>vip2_title2</key>
	<string>更多金币</string>
	<key>vip2_title3</key>
	<string>钻石炼魂</string>
	<key>vip2_title4</key>
	<string>更多奴隶</string>
	<key>vip2_title5</key>
	<string>其它</string>
	<key>vip3_content1</key>
	<string>每天可“点石成金”次数增加至@次。</string>
	<key>vip3_content2</key>
	<string>每天可购买的体力增加至@次。</string>
	<key>vip3_content3</key>
	<string>获得@金币奖励。</string>
	<key>vip3_content4</key>
	<string>开启VIP训练房，无人抢夺，更高的经验回报。</string>
	<key>vip3_content5</key>
	<string>奴隶牢笼数量上限增至@个</string>
	<key>vip3_content6</key>
	<string>获得第六个人物技能格</string>
	<key>vip3_content7</key>
	<string>包含VIP1-2所有功能。</string>
	<key>vip3_title1</key>
	<string>点石成金</string>
	<key>vip3_title2</key>
	<string>购买体力</string>
	<key>vip3_title3</key>
	<string>*更多金币</string>
	<key>vip3_title4</key>
	<string>VIP训练房</string>
	<key>vip3_title5</key>
	<string>更多奴隶</string>
	<key>vip3_title6</key>
	<string>*更多技能</string>
	<key>vip3_title7</key>
	<string>其它</string>
	<key>vip4_content1</key>
	<string>每天可购买的体力增加至@次。</string>
	<key>vip4_content2</key>
	<string>每天可“点石成金”次数增加至@次。</string>
	<key>vip4_content3</key>
	<string>修炼可使用“直接完成“功能</string>
	<key>vip4_content4</key>
	<string>可消费钻石增加@次每日爬塔次数。</string>
	<key>vip4_content5</key>
	<string>修炼可以直接召唤”飞碟“进行修炼。</string>
	<key>vip4_content6</key>
	<string>消费钻石可召唤炼魂师“如来”@次。</string>
	<key>vip4_content7</key>
	<string>宠物食盆可以升级成为@级，获得更多的能量值。</string>
	<key>vip4_content8</key>
	<string>开启“快速战斗”功能，一键即可查看战斗结果，大量节约战斗时间。</string>
	<key>vip4_content9</key>
	<string>包含VIP1-3所有功能。</string>
	<key>vip4_title1</key>
	<string>体力购买</string>
	<key>vip4_title2</key>
	<string>点石成金</string>
	<key>vip4_title3</key>
	<string>修炼加速</string>
	<key>vip4_title4</key>
	<string>钻石爬塔</string>
	<key>vip4_title5</key>
	<string>召唤飞碟</string>
	<key>vip4_title6</key>
	<string>钻石炼魂</string>
	<key>vip4_title7</key>
	<string>宠物喂养</string>
	<key>vip4_title8</key>
	<string>*快速战斗</string>
	<key>vip4_title9</key>
	<string>其他</string>
	<key>vip5_content1</key>
	<string>每天可“点石成金”次数增加至@次。</string>
	<key>vip5_content2</key>
	<string>增加一键炼魂，免去点击按钮的烦恼。</string>
	<key>vip5_content3</key>
	<string>消耗钻石可以使分解获得的物品双倍。</string>
	<key>vip5_content4</key>
	<string>消费钻石可召唤炼魂师“如来”@次.</string>
	<key>vip5_content5</key>
	<string>开启VIP专属商店，每小时可随机刷出6款+0高级外套.</string>
	<key>vip5_content6</key>
	<string>奴隶牢笼数量上限增至@个</string>
	<key>vip5_content7</key>
	<string>包含VIP1-4所有功能。</string>
	<key>vip5_title1</key>
	<string>点石成金</string>
	<key>vip5_title2</key>
	<string>自动炼魂</string>
	<key>vip5_title3</key>
	<string>分解双倍</string>
	<key>vip5_title4</key>
	<string>钻石炼魂</string>
	<key>vip5_title5</key>
	<string>*商城</string>
	<key>vip5_title6</key>
	<string>更多奴隶</string>
	<key>vip5_title7</key>
	<string>其它</string>
	<key>vip6_content1</key>
	<string>每天可购买的体力增加至@次。</string>
	<key>vip6_content2</key>
	<string>宠物喂养可以直接召唤人参进行喂养。</string>
	<key>vip6_content3</key>
	<string>消费钻石增加每日爬塔次数增加至@次。</string>
	<key>vip6_content4</key>
	<string>包含VIP1-5所有功能。</string>
	<key>vip6_title1</key>
	<string>体力购买</string>
	<key>vip6_title2</key>
	<string>宠物喂养</string>
	<key>vip6_title3</key>
	<string>*钻石爬塔</string>
	<key>vip6_title4</key>
	<string>其它</string>
	<key>vip7_content1</key>
	<string>每天可“点石成金”次数增加至@次。</string>
	<key>vip7_content2</key>
	<string>消费钻石可以使点亮星座消耗的星尘减半。</string>
	<key>vip7_content3</key>
	<string>宠物食盆可以升级成为@级，获得更多的能量值。</string>
	<key>vip7_content4</key>
	<string>奴隶牢笼数量上限增至@个</string>
	<key>vip7_content5</key>
	<string>包含VIP1-6所有功能。</string>
	<key>vip7_title1</key>
	<string>点石成金</string>
	<key>vip7_title2</key>
	<string>事半功倍</string>
	<key>vip7_title3</key>
	<string>宠物喂养</string>
	<key>vip7_title4</key>
	<string>更多奴隶</string>
	<key>vip7_title5</key>
	<string>其他</string>
	<key>vip8_content1</key>
	<string>每天可购买的体力次数增加至@次。</string>
	<key>vip8_content2</key>
	<string>奴隶牢笼数量上限增至@个</string>
	<key>vip8_content3</key>
	<string>消费钻石增加每日爬塔次数增加至@次。</string>
	<key>vip8_content4</key>
	<string>包含VIP1-7所有功能。</string>
	<key>vip8_title1</key>
	<string>体力购买</string>
	<key>vip8_title2</key>
	<string>更多奴隶</string>
	<key>vip8_title3</key>
	<string>钻石爬塔</string>
	<key>vip8_title4</key>
	<string>其他</string>
	<key>vip9_content1</key>
	<string>每天可“点石成金”次数增加至@次。</string>
	<key>vip9_content2</key>
	<string>奴隶牢笼数量上限增至@个</string>
	<key>vip9_content3</key>
	<string>包含VIP1-8所有功能。</string>
	<key>vip9_title1</key>
	<string>点石成金</string>
	<key>vip9_title2</key>
	<string>更多奴隶</string>
	<key>vip9_title3</key>
	<string>其他</string>
	<key>vip_tip</key>
	<string>再充值@钻石，您将成为VIP@</string>
	<key>vip_tip2</key>
	<string>您已经达到最高级VIP！</string>
</dict>
</plist>
