<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>role_close_register</key>
	<string>创建失败，服务器已关闭注册。</string>
	<key>embed_wrong_level</key>
	<string>镶嵌失败，装备的等级不够镶嵌当前强化等级的宝石。</string>
	<key>embed_wrong_level2</key>
	<string>装备的等级不够镶嵌当前强化等级的宝石。</string>
	<key>friend_0</key>
	<string>已经发送过请求。</string>
	<key>code_invalid</key>
	<string>此兑换码无效。</string>
	<key>reg_err_maintain</key>
	<string>此服务器正在维护中，请选择其他服务器。</string>
	<key>slave_not_exist</key>
	<string>对方已经不是你的奴隶了。</string>
	<key>tower_enter_no_times</key>
	<string>本日爬塔次数已经用完了。</string>
	<key>connect_master_fail</key>
	<string>无法与服务器建立连接，请检查网络。</string>
	<key>soul_equip_fail</key>
	<string>无法装备两个相同属性的魂。</string>
	<key>league_lv_limit</key>
	<string>您必须达到@级才能创建帮派。</string>
	<key>arena_fight_times_over</key>
	<string>挑战次数已用完。</string>
	<key>exgold_no_times</key>
	<string>本日点石成金次数已用完，提升VIP等级获得更多点石成金次数。</string>
	<key>train_fight_protect</key>
	<string>对方在使用了保护符，无法挑战。</string>
	<key>lottery_confirm</key>
	<string>奖品已经领取！</string>
	<key>risk_lv_limit</key>
	<string>您必须达到@级才能开启修炼。</string>
	<key>league_name_empty</key>
	<string>请输入2至6个中文字符或者4至12个英文字符的帮派名。</string>
	<key>account_pwd_error</key>
	<string>两次密码输入不正确</string>
	<key>embed_full</key>
	<string>镶嵌失败，装备没有可用的孔镶嵌宝石。</string>
	<key>tour_bet_invalid</key>
	<string>您已经押过本轮比赛了。</string>
	<key>change_ok</key>
	<string>名字修改成功。</string>
	<key>check_item_notexist</key>
	<string>您查看的物品类型不正确。</string>
	<key>league_apply_dup</key>
	<string>对方已经加入其他帮派。</string>
	<key>buddy_hire_level</key>
	<string>对方不符合您的佣兵等级限制，无法加入队伍。</string>
	<key>no_pet_skilllock</key>
	<string>宠物技能锁不足。</string>
	<key>league_create_wrongstatus</key>
	<string>您已经加入帮派中了，当前无法创建帮派。</string>
	<key>league_spring_summon</key>
	<string>仙泉已经被召唤了。</string>
	<key>register_succeed</key>
	<string>注册账号成功！</string>
	<key>embed_not_gem</key>
	<string>镶嵌失败，请放置宝石。</string>
	<key>error4</key>
	<string>合成失败</string>
	<key>box_level</key>
	<string>您的等级不足，无法打开这个宝箱。</string>
	<key>box_not_data</key>
	<string>未装备宠物，无法使用该道具。</string>
	<key>box_not_apply</key>
	<string>无法重复使用道具。</string>
	<key>changename_ok</key>
	<string>使用成功，请重新登录游戏进入更名界面。</string>
	<key>league_intro_len</key>
	<string>帮派介绍内容长度超出限制。</string>
	<key>slave_no_flatter</key>
	<string>本日讨好次数已用完。</string>
	<key>role_name_empty</key>
	<string>请输入2至6个中文字符或者4至12个英文字符的角色名。</string>
	<key>train_invalid</key>
	<string>占位失败，该训练位已经有人抢了。</string>
	<key>soul_full_level</key>
	<string>满级的魂无法再合成了。</string>
	<key>account_pwd_wrong</key>
	<string>密码错误。</string>
	<key>account_pwd_len</key>
	<string>注册失败，密码要求6至14位英文字符。</string>
	<key>account_name_exist</key>
	<string>注册失败，此账号名已经被使用。</string>
	<key>feedback_ok</key>
	<string>感谢您的反馈！</string>
	<key>account_pwd_len2</key>
	<string>密码要求6至14位英文字符。</string>
	<key>buddy_add_full2</key>
	<string>对方好友已满，无法和你成为好友。</string>
	<key>slot_wrong_tune</key>
	<string>打孔失败，请使用对应等级的的打孔锥。</string>
	<key>iap_dup</key>
	<string>重复的订单号。</string>
	<key>league_spring_drink</key>
	<string>您今天已经喝过泉水了。</string>
	<key>no_energy</key>
	<string>您的体力不足！ （注：体力每半小时恢复5点，每6小时可领取1次体力礼包。）</string>
	<key>cannot_convert</key>
	<string>此物品不能转换。</string>
	<key>reinforce_full</key>
	<string>已经强化到最高等级了，无法再强化。</string>
	<key>exchange_coupon0</key>
	<string>礼券数量不足。</string>
	<key>account_invalid</key>
	<string>帐号名不存在。</string>
	<key>account_bad_word</key>
	<string>注册失败，账号名中含有敏感字符。</string>
	<key>train_fight_noexist</key>
	<string>挑战失败，对方已经不在训练位上了。</string>
	<key>buy_fullbag</key>
	<string>背包已满，无法购买物品。</string>
	<key>mer_lv_limit</key>
	<string>您必须达到@级才能使用佣兵。</string>
	<key>soon_to_open</key>
	<string>即将开启</string>
	<key>exchange_repu1</key>
	<string>声望不足，你必需达到@声望才能兑换。</string>
	<key>login_master_checkfail</key>
	<string>账号验证失败！</string>
	<key>account_bad_session</key>
	<string>读取角色列表失败，会话已经过期，请重新登录91账号。</string>
	<key>refine_full</key>
	<string>炼魔队伍已满。</string>
	<key>content_empty</key>
	<string>发送的内容不能为空。</string>
	<key>iap_verify_fail</key>
	<string>订单验证失败。</string>
	<key>save_edit</key>
	<string>修改成功。</string>
	<key>vip_limit</key>
	<string>VIP@才能使用。</string>
	<key>tour_sign_timeout</key>
	<string>已经过了报名时间，无法报名。</string>
	<key>no_gold</key>
	<string>金币不足。</string>
	<key>no_gold2</key>
	<string>金币不足，前往点石成金？</string>
	<key>mail_empty</key>
	<string>邮箱不能为空</string>
	<key>league_not_member</key>
	<string>对方已经不在帮派中。</string>
	<key>question_no_times</key>
	<string>今日答题次数已经用完。</string>
	<key>account_name_len</key>
	<string>注册失败，账号名要求4至12个英文或数字字符。</string>
	<key>not_open</key>
	<string>暂未开启。</string>
	<key>activity_not_open</key>
	<string>活动已结束</string>
	<key>activity_not_data</key>
	<string>获取活动数据失败。</string>
	<key>account_null</key>
	<string>用户名不能为空</string>
	<key>tour_lv_limit</key>
	<string>您必须达到@级才能报名参加世界比武。</string>
	<key>risk_check_noexist</key>
	<string>无法查看信息，对方已经完成修炼。</string>
	<key>reg_err_notopen</key>
	<string>此服务器暂未开启，请选择其他服务器。</string>
	<key>slot_invalid</key>
	<string>打孔失败，非装备类型不能打孔。</string>
	<key>slot_full</key>
	<string>打孔失败，装备已经打开所有孔。</string>
	<key>error5</key>
	<string>丢弃失败</string>
	<key>name_limit</key>
	<string>(4-12个字符或2-6个中文)</string>
	<key>league_apply_full</key>
	<string>帮派已满，无法加入新成员。</string>
	<key>common_13</key>
	<string>等级不够</string>
	<key>error_noexist</key>
	<string>目标对象不存在。</string>
	<key>iap_receive_fail</key>
	<string>无法获取商品信息，请联系我们的游戏客服。</string>
	<key>league_apply_count</key>
	<string>帮派每日最多审核通过20名成员，您今日已达到最大限额。</string>
	<key>syn_0</key>
	<string>不同的物品无法合成</string>
	<key>slave_rescue_noexist</key>
	<string>解救失败，您的好友已经不是奴隶了。</string>
	<key>train_protect_no_times</key>
	<string>单次训练不能重复使用同种保护符。</string>
	<key>slave_resisted</key>
	<string>您今天已经反抗过这个奴隶主了，明天再尝试吧。</string>
	<key>risk_finish</key>
	<string>修炼完成，获得@金币和@声望。</string>
	<key>friend_2</key>
	<string>您的好友名单已满。</string>
	<key>equ.equip_11</key>
	<string>此物品不能装备</string>
	<key>use_fullbag</key>
	<string>背包已满，请先整理背包空间。</string>
	<key>account_bad_name</key>
	<string>注册失败，账号名中含有非法字符。</string>
	<key>lock_no_use</key>
	<string>未使用铭刻水晶。</string>
	<key>check_item_notdata</key>
	<string>您查看的物品不存在，物品主人可能已经售出或丢弃。</string>
	<key>league_resign_level</key>
	<string>不能将帮派转让给等级低于@级玩家。</string>
	<key>tower_lv_limit</key>
	<string>您必须达到@级才能进入恶魔塔。</string>
	<key>league_full</key>
	<string>帮派已满员，无法接受申请。</string>
	<key>account_pwd_null</key>
	<string>密码不能为空</string>
	<key>0</key>
	<string>与服务器断开连接，点击确定重新连接。</string>
	<key>lock_no_count</key>
	<string>铭刻水晶不足。</string>
	<key>1</key>
	<string>无法连接到服务器，点击确定重试连接。</string>
	<key>petskill_alllock</key>
	<string>您无法锁住所有技能格。</string>
	<key>buddy_hire_invalid</key>
	<string>对方不是您的好友，无法加入佣兵队伍。</string>
	<key>league_war_apply_limit</key>
	<string>只有帮主和副帮主才能报名。</string>
	<key>embed_invalid</key>
	<string>镶嵌失败，非装备类型不能镶嵌宝石。</string>
	<key>login_err_notexist</key>
	<string>服务器[@]不存在，请检查存档。</string>
	<key>syn_1</key>
	<string>此物品无法合成</string>
	<key>pet_upgrade_max</key>
	<string>到底最高级，无法升级了！</string>
	<key>no_money</key>
	<string>金币或钻石不足，前往购买？</string>
	<key>no_money_no_charge</key>
	<string>金币或钻石不足！</string>
	<key>league_notice_len</key>
	<string>帮派公告内容长度超出限制。</string>
	<key>account_email_bindok</key>
	<string>绑定成功。</string>
	<key>exchange_repu0</key>
	<string>声望币不足。</string>
	<key>error0</key>
	<string>操作失败</string>
	<key>role_name_len</key>
	<string>创建失败，角色名要求2至6个中文字符或者4至12个英文字符。</string>
	<key>login_game_fail</key>
	<string>登录失败，@</string>
	<key>convert_nomoney</key>
	<string>存量金币不足，您需要@存量金币才能继续转化。</string>
	<key>role_wrong_pwd</key>
	<string>创建失败，当前账号验证失败。</string>
	<key>error6</key>
	<string>队伍人数达到@人才能发起攻击。</string>
	<key>bindaccount_succeed</key>
	<string>绑定账号成功！</string>
	<key>pet_learnskill</key>
	<string>您的宠物已经学习了这个技能了。</string>
	<key>iap_verify_status</key>
	<string>当前无法验证订单，请联系客服。</string>
	<key>energy_no_times</key>
	<string>体力购买次数已用完。</string>
	<key>slave_lv_limit</key>
	<string>您必须达到@级才能开启奴隶房。</string>
	<key>convert_same</key>
	<string>转换目标不能和当前物品一样。</string>
	<key>account_bad_pwd</key>
	<string>注册失败，密码中含有非法字符。</string>
	<key>get_ok</key>
	<string>领取成功，请到“领取奖励”处领取礼包。</string>
	<key>syn_2</key>
	<string>此格子不能放置有加成的物品</string>
	<key>buddy_add_full</key>
	<string>您的好友已满，无法再添加好友。</string>
	<key>error_myself</key>
	<string>不能对自己进行此操作。</string>
	<key>league_create_notdata</key>
	<string>帮派名称和帮派介绍不能为空。</string>
	<key>lock_0</key>
	<string>未选中铭刻的属性</string>
	<key>chal_tour_no_data</key>
	<string>世界比武数据未生成。</string>
	<key>team_kicked</key>
	<string>您已经被“@”踢出队伍了。</string>
	<key>when_not_to</key>
	<string>还没有到活动时间。</string>
	<key>league_spring_full</key>
	<string>仙泉已经被喝光了。</string>
	<key>about</key>
	<string>开发：厦门魔兔
发行：触控科技
官网：ldt.punchbox.org
邮箱：kefu@punchbox.org
官方群：244757142</string>
	<key>about_telecom</key>
	<string>开发：厦门魔兔
发行：触控科技
官网：ldt.punchbox.org
邮箱：kefu@punchbox.org
官方群：244757142
 
       本游戏的版权归成都触控科技有限公司所有,游戏中的文字、图片等内容均为游戏版权所有者的个人态度或立场,中国电信对此不承担任何法律责任。
</string>
	<key>msg_bad_content</key>
	<string>发送失败，内容含有表情图片等非法字符。</string>
	<key>role_bad_word</key>
	<string>创建失败，名字中含有敏感字符。</string>
	<key>embed_not_equ</key>
	<string>镶嵌失败，请先放置要镶嵌的装备。</string>
	<key>card_draw_no_times</key>
	<string>赐福次数已用完。</string>
	<key>tour_server_wrong_status</key>
	<string>本服务器未加入星球大战。</string>
	<key>league_create_badparam</key>
	<string>创建失败，帮派名字或帮派介绍中含有非法字符。</string>
	<key>exchange_soul0</key>
	<string>碎片数量不足。</string>
	<key>chat_noexist</key>
	<string>聊天信息发送失败，对方已经下线。</string>
	<key>league_search_notdata</key>
	<string>没有找到相应的帮派。</string>
	<key>slave_catch_invalid</key>
	<string>对方已经在您的奴隶列表中了。</string>
	<key>role_name_null</key>
	<string>角色昵称不能为空</string>
	<key>league_not_master</key>
	<string>权限不足。</string>
	<key>room_create_nohp</key>
	<string>体力不足，无法创建队伍发起战斗。</string>
	<key>error1</key>
	<string>装备失败</string>
	<key>pet_no_energy</key>
	<string>能量不足，需要@能量。</string>
	<key>content_maxlen</key>
	<string>发送的内容超过规定长度限制。</string>
	<key>treasure_lv_limit</key>
	<string>您必须达到@级才能开启寻宝。</string>
	<key>skill_reset_lv_limit</key>
	<string>您必须达到@级才能重置技能。</string>
	<key>equ.equip_5</key>
	<string>武器的类型不符合外套</string>
	<key>code_exchange_ok</key>
	<string>兑换成功，请到“领取奖励”处领取礼包。</string>
	<key>role_server_full</key>
	<string>创建失败，服务器已满。</string>
	<key>risk_boost_invalid</key>
	<string>召唤失败，已经有人召唤佛光了，请刷新界面。</string>
	<key>chal_tour_timeout</key>
	<string>未到挑战时间。</string>
	<key>chal_tour_final_not_add</key>
	<string>挑战结束，不能再提升状态。</string>
	<key>friend_1</key>
	<string>对方已经在好友名单中了。</string>
	<key>chat_cnt_max</key>
	<string>发言的字数超过限制。</string>
	<key>account_email_bind</key>
	<string>您的账号已经绑定到邮箱：@</string>
	<key>convert_lv_limit</key>
	<string>您必须达到@级才能开启转换小屋。</string>
	<key>account_email_invalid</key>
	<string>绑定失败，无效的邮件地址。</string>
	<key>battle_getvideo_fail</key>
	<string>无法读取战斗记录。</string>
	<key>chat_not_member</key>
	<string>您还未加入任何帮派，无法进行帮派聊天。</string>
	<key>room_sub_fail</key>
	<string>无法加入该级别的BOOS战。</string>
	<key>account_bind</key>
	<string>此角色已经绑定账号，无法登录。</string>
	<key>pet_upgrade</key>
	<string>位置全部开启才能升级！</string>
	<key>mail_confirm</key>
	<string>账号绑定到邮箱：@？</string>
	<key>get_loginEng_full</key>
	<string>体力值已满！</string>
	<key>room_join_nohp</key>
	<string>体力不足，无法加入队伍参与战斗。</string>
	<key>chat_too_fast</key>
	<string>发言时间间隔太短，请稍后再发言。</string>
	<key>teach_wrong_status</key>
	<string>您已经完成教学了。</string>
	<key>buddy_hire_notapply</key>
	<string>您的等级无法使用第二个佣兵。</string>
	<key>league_not_exist</key>
	<string>帮派已解散。</string>
	<key>craft_full_level</key>
	<string>物品已经合成到最高级，无法再合成了。</string>
	<key>craft_over_level</key>
	<string>您的等级无法装备下一级的外套或者宠物，无法再合成了。</string>
	<key>craft_gem_max_level</key>
	<string>操作失败！宝石等级已达到当前装备能镶嵌的最大等级。</string>
	<key>league_apply_wrongstatus</key>
	<string>您已经加入帮派中了，请重新进入帮派页面。</string>
	<key>risk_rob_empty</key>
	<string>拦截失败，对方已经被抢光了。</string>
	<key>embed_wrong_type</key>
	<string>镶嵌失败，非宝石不能镶嵌到装备上。</string>
	<key>league_not_member2</key>
	<string>您已经不在本帮派。</string>
	<key>league_war_lv_limit</key>
	<string>帮派达到@级才能报名。</string>
	<key>arena_lv_limit</key>
	<string>您必须达到@级才能进入竞技场。</string>
	<key>chat_cnt_empty</key>
	<string>发言内容不能为空。</string>
	<key>pet_lv_limit</key>
	<string>您必须达到@级才能开启宠物小屋。</string>
	<key>league_activity_lv_limit</key>
	<string>帮派等级不足。</string>
	<key>error2</key>
	<string>卸下装备失败</string>
	<key>box_used</key>
	<string>您今日已经使用过此宝物了。</string>
	<key>league_spring_null</key>
	<string>当前没有仙泉可以喝。</string>
	<key>role_name_diff</key>
	<string>两次输入角色昵称不一样</string>
	<key>no_convert_gold</key>
	<string>转换存量金币不足。</string>
	<key>no_times</key>
	<string>今日没有购买次数，提升VIP等级获得更多购买的次数。</string>
	<key>buff_full</key>
	<string>状态已提升到最满。</string>
	<key>treasure_no_times</key>
	<string>本日挖宝次数已用完。</string>
	<key>role_bad_name</key>
	<string>创建失败，名字中含有非法字符。</string>
	<key>login_master_fail</key>
	<string>无法登录到服务器。</string>
	<key>league_apply_list_full</key>
	<string>帮派申请已满，请申请其他帮派。</string>
	<key>get_dia_in3day</key>
	<string>新用户前3天登录，每天免费获得@钻石。</string>
	<key>error_diff_server</key>
	<string>操作失败，该玩家不在同一服务器上或者已经不存在。</string>
	<key>save_no_times</key>
	<string>本日解救次数已用完。</string>
	<key>risk_rob_noexist</key>
	<string>拦截失败，对方已经完成修炼。</string>
	<key>reg_err_close</key>
	<string>此服务器已关闭注册，请选择其他服务器。</string>
	<key>buddy_add_exist</key>
	<string>对方已经在您的好友名单中了，您可以忽略这条交友请求。</string>
	<key>no_dia</key>
	<string>钻石不足，购买钻石？</string>
	<key>no_dia_no_charge</key>
	<string>钻石不足！</string>
	<key>code_expired</key>
	<string>此兑换码已经使用过。</string>
	<key>code_wrong_platform</key>
	<string>兑换失败，您是@特权用户，请使用来自@的特权礼包兑换码。</string>
	<key>slot_not_tune</key>
	<string>打孔失败，请放置打孔锥。</string>
	<key>room_join_league</key>
	<string>无法加入队伍，您不是该帮派的成员。</string>
	<key>box_expired</key>
	<string>此宝物已经过期。</string>
	<key>iap_buy_account</key>
	<string>请先注册账号，再进行充值。</string>
	<key>slave_catch_full</key>
	<string>您的奴隶笼子满了，无法抓奴隶。</string>
	<key>item_buy_soldout</key>
	<string>购买失败，您购买的商品已经售完。</string>
	<key>version_low</key>
	<string>您的游戏版本太低，请更新游戏。</string>
	<key>soul_lv_limit</key>
	<string>您必须达到@级才能开启炼魂。</string>
	<key>refine_dup</key>
	<string>您已经在炼魔队伍中了。</string>
	<key>train_lv_limit</key>
	<string>您必须达到@级才能进入训练房。</string>
	<key>league_name_len</key>
	<string>创建失败，帮派名称要求2至6个中文字符或者4至12个英文字符。</string>
	<key>clear_not_engrave</key>
	<string>此装备没有铭刻属性，无需清除。</string>
	<key>role_name_exist</key>
	<string>创建失败，此名字已经被使用。</string>
	<key>item_buy_noexist</key>
	<string>购买失败，您购买的商品已经过期。</string>
	<key>loginEng_cd</key>
	<string>目前无法领取，请稍后领取。</string>
	<key>no_pet</key>
	<string>没有装备宠物，请到背包页装备宠物！</string>
	<key>slave_catch_wrongstatus</key>
	<string>您已经被别人抓为奴隶了。</string>
	<key>error3</key>
	<string>出售失败</string>
	<key>common_12</key>
	<string>材料不足</string>
	<key>slot_not_equ</key>
	<string>打孔失败，请先放置要打孔的装备。</string>
	<key>tour_server_no_data</key>
	<string>星球大战数据未生成。</string>
	<key>login_err_maintain</key>
	<string>游戏服务器正在维护中，请稍后重试。</string>
	<key>tour_no_data</key>
	<string>比赛数据未生成。</string>
	<key>network_error</key>
	<string>请检查网络是否正确连接</string>
	<key>embed_gem0</key>
	<string>宝石数量不足。</string>
	<key>no_star</key>
	<string>星尘不足。</string>
	<key>no_reward</key>
	<string>当前没有奖励可以领取。</string>
	<key>divining</key>
	<string>占卜进行中，请稍后重试。</string>
	<key>divine_time_out</key>
	<string>占卜超时，请稍后重试。</string>
	<key>divine_no_times</key>
	<string>占卜次数不足。</string>
	<key>cant_fire1</key>
	<string>同象2个星座点亮@才能激活！</string>
	<key>cant_fire2</key>
	<string>当前星座已点满！</string>
	<key>register_fail</key>
	<string>注册失败！</string>
	<key>no_user</key>
	<string>用户名不存在！</string>
	<key>login_fail</key>
	<string>登陆失败！</string>
	<key>chal_tour_lv_limit</key>
	<string>您必须达到@级才能开启十八铜人。</string>
	<key>turn_lv_limit</key>
	<string>您必须达到@级才能开启星运占卜。</string>
	<key>no_coat</key>
	<string>没有装备外套，无法使用这套装备。</string>
	<key>no_activity</key>
	<string>当前没有活动。</string>
	<key>bet_fail</key>
	<string>下注失败。</string>
	<key>iap_check_fail</key>
	<string>您购买的订单尚未到达，请稍后关闭充值页面进入邮箱查收是否有漏单邮件，或者尝试重新登录游戏。</string>
</dict>
</plist>
