<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gift_bag_list</key>
	<string>gift_bag_list_config.plist</string>
	<key>equip_forge</key>
	<string>equip_forge.plist</string>
	<key>artward_rate</key>
	<string>artwar_strengthen_rate_config.plist</string>
	<key>goods</key>
	<string>normal_goods_config.plist</string>
	<key>insignia</key>
	<string>insignia_config.plist</string>
	<key>hero</key>
	<string>hero_config.plist</string>
	<key>hero_soul</key>
	<string>hero_soul_config.plist</string>
	<key>map</key>
	<string>map_config.plist</string>
	<key>map_gift</key>
	<string>map_gift_config.plist</string>
	<key>customs_pass_1</key>
	<string>map_level_1_config.plist</string>
	<key>customs_pass_2</key>
	<string>map_level_2_config.plist</string>
	<key>customs_pass_3</key>
	<string>map_level_3_config.plist</string>
	<key>customs_pass_4</key>
	<string>map_level_4_config.plist</string>
	<key>customs_pass_6</key>
	<string>map_level_6_config.plist</string>
	<key>customs_pass_1001</key>
	<string>map_level_1001_config.plist</string>
	<key>customs_pass_1002</key>
	<string>map_level_1002_config.plist</string>
	<key>customs_pass_1003</key>
	<string>map_level_1003_config.plist</string>
	<key>customs_pass_1004</key>
	<string>map_level_1004_config.plist</string>
	<key>customs_pass_1005</key>
	<string>map_level_1005_config.plist</string>
	<key>customs_pass_1006</key>
	<string>map_level_1006_config.plist</string>
	<key>customs_pass_1007</key>
	<string>map_level_1007_config.plist</string>
	<key>customs_pass_1008</key>
	<string>map_level_1008_config.plist</string>
	<key>customs_pass_1009</key>
	<string>map_level_1009_config.plist</string>
	<key>customs_pass_1010</key>
	<string>map_level_1010_config.plist</string>
	<key>customs_pass_1011</key>
	<string>map_level_1011_config.plist</string>
	<key>customs_pass_1012</key>
	<string>map_level_1012_config.plist</string>
	<key>customs_pass_1013</key>
	<string>map_level_1013_config.plist</string>
	<key>customs_pass_1014</key>
	<string>map_level_1014_config.plist</string>
	<key>customs_pass_1015</key>
	<string>map_level_1015_config.plist</string>
	<key>equip</key>
	<string>equip_config.plist</string>
	<key>soldier</key>
	<string>soldierPart_config.plist</string>
	<key>exhaust</key>
	<string>exhaust_line_config.plist</string>
	<key>vip_goods</key>
	<string>vip_goods_config.plist</string>
	<key>shop_list</key>
	<string>shop_list_config.plist</string>
	<key>vip_introduce</key>
	<string>vip_introduce_config.plist</string>
	<key>equip_strengthen</key>
	<string>equip_strengthen_config.plist</string>
	<key>equip_strengthen_silver</key>
	<string>equip_strengthen_silver_config.plist</string>
	<key>recharge</key>
	<string>recharge_config.plist</string>
	<key>foster</key>
	<string>foster_config.plist</string>
	<key>anagenesis</key>
	<string>hero_anagenesis.plist</string>
	<key>upgrade</key>
	<string>hero_upgrade.plist</string>
	<key>exp</key>
	<string>hero_exp.plist</string>
	<key>mount_streng_material</key>
	<string>mount_streng_material.plist</string>
	<key>up_tips</key>
	<string>user_up_tips.plist</string>
	<key>const</key>
	<string>const_config.plist</string>
	<key>pet_exp</key>
	<string>pet_exp.plist</string>
	<key>mount_feed</key>
	<string>pet_train.plist</string>
	<key>fate</key>
	<string>fate_config.plist</string>
	<key>fate_effect</key>
	<string>fate_effect_config.plist</string>
</dict>
</plist>
