<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>pet_up_base_exp_rate_1</key>
  <string>30</string>
  <key>pet_up_base_exp_rate_2</key>
  <string>40</string>
  <key>pet_up_base_exp_rate_3</key>
  <string>50</string>
  <key>pet_up_base_exp_rate_4</key>
  <string>60</string>
  <key>pet_up_base_exp_rate_5</key>
  <string>70</string>
  <key>pet_up_exp_rate_1</key>
  <string>10</string>
  <key>pet_up_exp_rate_2</key>
  <string>14</string>
  <key>pet_up_exp_rate_3</key>
  <string>18</string>
  <key>pet_up_exp_rate_4</key>
  <string>24</string>
  <key>pet_up_exp_rate_5</key>
  <string>32</string>
  <key>pet_up_lv_max</key>
  <string>100</string>
  <key>equ_sell_base_sc</key>
  <string>50</string>
  <key>equ_sell_sc_fix_rate</key>
  <string>4</string>
  <key>equ_sell_sc_star_rate_1</key>
  <string>1</string>
  <key>equ_sell_sc_star_rate_2</key>
  <string>2</string>
  <key>equ_sell_sc_star_rate_3</key>
  <string>3</string>
  <key>equ_sell_sc_star_rate_4</key>
  <string>4</string>
  <key>equ_sell_sc_star_rate_5</key>
  <string>5</string>
  <key>atk_rate</key>
  <string>3</string>
  <key>fix_rate</key>
  <string>10</string>
  <key>lep_rate</key>
  <string>1.5</string>
  <key>nle_rate</key>
  <string>1</string>
  <key>pet_train_gc</key>
  <string>20</string>
  <key>pet_train_sc</key>
  <string>10000</string>
  <key>msg_max_num</key>
  <string>100</string>
  <key>all_zip</key>
  <string>all.zip</string>
  <key>ast_ver</key>
  <string>asset_version.plist</string>
  <key>error_color</key>
  <string>{255,0,0}</string>
  <key>max_file_zip</key>
  <string>100</string>
  <key>newast_ver</key>
  <string>new_asset_version.plist</string>
  <key>normal_color</key>
  <string>{40,18,8}</string>
  <key>speed_count</key>
  <string>4</string>
  <key>gulf_hero_base_exp</key>
  <string>60</string>
  <key>gulf_hero_exp_rate_1</key>
  <string>1</string>
  <key>gulf_hero_exp_rate_2</key>
  <string>3</string>
  <key>gulf_hero_exp_rate_3</key>
  <string>9</string>
  <key>gulf_hero_exp_rate_4</key>
  <string>18</string>
  <key>gulf_hero_exp_rate_5</key>
  <string>32</string>
  <key>gulf_sc_rate</key>
  <string>100</string>
  <key>equ_up_base_sc</key>
  <string>50</string>
  <key>equ_up_lv_cube_rate</key>
  <string>18</string>
  <key>equ_up_lv_rate</key>
  <string>5</string>
  <key>equ_up_lv_square_rate</key>
  <string>3</string>
  <key>equ_up_star_rate_1</key>
  <string>1</string>
  <key>equ_up_star_rate_2</key>
  <string>1.6</string>
  <key>equ_up_star_rate_3</key>
  <string>2.56</string>
  <key>equ_up_star_rate_4</key>
  <string>4.096</string>
  <key>equ_up_star_rate_5</key>
  <string>10.2</string>
  <key>hero_sell_exp_to_sc_rate</key>
  <string>0.5</string>
  <key>hero_up_exp_base</key>
  <string>50</string>
  <key>hero_up_exp_lv_rate</key>
  <string>2</string>
  <key>hero_up_exp_lv_square_rate</key>
  <string>3</string>
  <key>hero_up_exp_star_rate_1</key>
  <string>1</string>
  <key>hero_up_exp_star_rate_2</key>
  <string>1.4</string>
  <key>hero_up_exp_star_rate_3</key>
  <string>1.96</string>
  <key>hero_up_exp_star_rate_4</key>
  <string>2.74</string>
  <key>hero_up_exp_star_rate_5</key>
  <string>3.84</string>
  <key>hero_up_lv_max</key>
  <string>199</string>
  <key>fight_speedup_2</key>
  <string>10</string>
  <key>fight_speedup_3</key>
  <string>30</string>
  <key>fight_speedup_4</key>
  <string>50</string>
  <key>user_up_exp_base</key>
  <string>50</string>
  <key>user_up_exp_lv_cube_rate</key>
  <string>2</string>
  <key>user_up_exp_lv_square_rate</key>
  <string>2</string>
  <key>user_up_lv_max</key>
  <string>99</string>
  <key>user_buy_card_num_gc</key>
  <string>50</string>
  <key>user_buy_card_num_num</key>
  <string>5</string>
 </dict>
</plist>
