<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>e_t_name</key>
  <dict>
   <key>4418</key>
   <string>八阵围困</string>
   <key>4417</key>
   <string>神行千里</string>
   <key>4416</key>
   <string>咆哮嗜血</string>
   <key>4415</key>
   <string>玄冥神盾</string>
   <key>4414</key>
   <string>兄弟同心</string>
   <key>4413</key>
   <string>毒龙神甲</string>
   <key>4412</key>
   <string>铜墙铁壁</string>
   <key>4411</key>
   <string>妙手回春</string>
   <key>4410</key>
   <string>青囊书</string>
   <key>4409</key>
   <string>赤火杀石</string>
   <key>4408</key>
   <string>寒冰霜龙</string>
   <key>4407</key>
   <string>神风术</string>
   <key>4406</key>
   <string>散箭飞雨</string>
   <key>4405</key>
   <string>横扫千军</string>
   <key>4404</key>
   <string>震雷射击</string>
   <key>4403</key>
   <string>背水一战</string>
   <key>4402</key>
   <string>贯穿射击</string>
   <key>4401</key>
   <string>奋力一击</string>
   <key>4203</key>
   <string>战击</string>
   <key>4204</key>
   <string>百步穿杨</string>
   <key>4205</key>
   <string>八卦神斩</string>
   <key>4206</key>
   <string>强弩连击</string>
   <key>4207</key>
   <string>横扫千军</string>
   <key>4208</key>
   <string>天王散射</string>
   <key>4209</key>
   <string>降雷术</string>
   <key>4210</key>
   <string>狂龙出海</string>
   <key>4211</key>
   <string>借尸还魂</string>
   <key>4212</key>
   <string>治愈</string>
   <key>4213</key>
   <string>仁心仁术</string>
   <key>4214</key>
   <string>固若金汤</string>
   <key>4215</key>
   <string>荆棘之盾</string>
   <key>4216</key>
   <string>誓死护卫</string>
   <key>4217</key>
   <string>战盾吟</string>
   <key>4218</key>
   <string>怒吼</string>
   <key>4219</key>
   <string>急速行军</string>
   <key>4220</key>
   <string>画地为牢</string>
   <key>4221</key>
   <string>战鼓擂天</string>
   <key>4316</key>
   <string>破军阵法</string>
   <key>4317</key>
   <string>流星箭法</string>
   <key>4318</key>
   <string>半月神斩</string>
   <key>4319</key>
   <string>群星乱坠</string>
   <key>4320</key>
   <string>横扫千军</string>
   <key>4321</key>
   <string>诸葛连击</string>
   <key>4322</key>
   <string>伏石术</string>
   <key>4323</key>
   <string>凤凰展翅</string>
   <key>4324</key>
   <string>狂沙掩日</string>
   <key>4325</key>
   <string>创伤愈合</string>
   <key>4326</key>
   <string>回春之术</string>
   <key>4327</key>
   <string>金钟罩</string>
   <key>4328</key>
   <string>反伤玄甲</string>
   <key>4329</key>
   <string>援护</string>
   <key>4330</key>
   <string>藤甲护身</string>
   <key>4331</key>
   <string>战斗意志</string>
   <key>4332</key>
   <string>快马加鞭</string>
   <key>4333</key>
   <string>寸步难行</string>
   <key>4506</key>
   <string>疾风剑阵</string>
   <key>4507</key>
   <string>一剑惊虹</string>
   <key>4508</key>
   <string>掠影流光</string>
   <key>4509</key>
   <string>水龙之怒</string>
   <key>5204</key>
   <string>突进兵法</string>
   <key>5201</key>
   <string>神刀兵法</string>
   <key>5202</key>
   <string>神枪兵法</string>
   <key>5203</key>
   <string>强弩兵法</string>
   <key>5301</key>
   <string>白虎兵法</string>
   <key>5302</key>
   <string>朱雀兵法</string>
   <key>5303</key>
   <string>玄武兵法</string>
   <key>5304</key>
   <string>青龙兵法</string>
   <key>5401</key>
   <string>伏虎兵法</string>
   <key>5402</key>
   <string>八卦兵法(上)</string>
   <key>5403</key>
   <string>降龙兵法</string>
   <key>1101</key>
   <string>短斧</string>
   <key>1102</key>
   <string>羽扇</string>
   <key>1103</key>
   <string>短弓</string>
   <key>1104</key>
   <string>大刀</string>
   <key>1105</key>
   <string>大斧</string>
   <key>1106</key>
   <string>直剑</string>
   <key>1107</key>
   <string>朴刀</string>
   <key>1108</key>
   <string>木戟</string>
   <key>1109</key>
   <string>皮鞭</string>
   <key>1201</key>
   <string>三尖刀</string>
   <key>1202</key>
   <string>白羽扇</string>
   <key>1204</key>
   <string>双手斧</string>
   <key>1205</key>
   <string>钢剑</string>
   <key>1206</key>
   <string>双戟</string>
   <key>1207</key>
   <string>钢鞭</string>
   <key>1208</key>
   <string>大砍刀</string>
   <key>1209</key>
   <string>长弓</string>
   <key>1301</key>
   <string>月牙戟</string>
   <key>1302</key>
   <string>玄冥法扇</string>
   <key>1303</key>
   <string>日月双锤</string>
   <key>1304</key>
   <string>凤嘴刀</string>
   <key>1305</key>
   <string>开山鏖金斧</string>
   <key>1306</key>
   <string>铁脊蛇矛</string>
   <key>1307</key>
   <string>青铜剑</string>
   <key>1308</key>
   <string>九环刀</string>
   <key>1309</key>
   <string>青铜鞭</string>
   <key>1310</key>
   <string>落日弓</string>
   <key>1311</key>
   <string>混元双锤</string>
   <key>1401</key>
   <string>黄龙钩镰刀</string>
   <key>1402</key>
   <string>朱雀羽扇</string>
   <key>1403</key>
   <string>麒麟弓</string>
   <key>1404</key>
   <string>方天画戟</string>
   <key>1405</key>
   <string>龙胆亮银枪</string>
   <key>1406</key>
   <string>诸葛连弩</string>
   <key>1407</key>
   <string>雪木梨花枪</string>
   <key>1408</key>
   <string>丈八蛇矛</string>
   <key>1409</key>
   <string>倚天剑</string>
   <key>1410</key>
   <string>双股剑</string>
   <key>1411</key>
   <string>青釭剑</string>
   <key>1412</key>
   <string>古锭刀</string>
   <key>1413</key>
   <string>火云刀</string>
   <key>1415</key>
   <string>青龙偃月刀</string>
   <key>1416</key>
   <string>灭麒麟牙</string>
   <key>1417</key>
   <string>青龙羽扇</string>
   <key>1418</key>
   <string>画雀弓</string>
   <key>1419</key>
   <string>镔铁双锏</string>
   <key>1420</key>
   <string>紫龙戟</string>
   <key>1421</key>
   <string>八卦羽扇</string>
   <key>2101</key>
   <string>褐鬃马</string>
   <key>2102</key>
   <string>黄鬃马</string>
   <key>2201</key>
   <string>汗血马</string>
   <key>2202</key>
   <string>铁甲战马</string>
   <key>2203</key>
   <string>大宛马</string>
   <key>2301</key>
   <string>白雪</string>
   <key>2302</key>
   <string>白鹤</string>
   <key>2303</key>
   <string>乌孙</string>
   <key>2401</key>
   <string>黑云</string>
   <key>2402</key>
   <string>绝影</string>
   <key>2403</key>
   <string>踏雪乌雅兽</string>
   <key>2404</key>
   <string>赤兔马</string>
   <key>2405</key>
   <string>的卢</string>
   <key>2406</key>
   <string>照夜玉狮子</string>
   <key>2407</key>
   <string>爪黄飞电</string>
   <key>3101</key>
   <string>锦囊</string>
   <key>3201</key>
   <string>珍珠</string>
   <key>3301</key>
   <string>掩心护甲</string>
   <key>3401</key>
   <string>玉玺</string>
   <key>6101</key>
   <string>短弓兵符</string>
   <key>6102</key>
   <string>轻骑兵符</string>
   <key>6103</key>
   <string>刀兵符</string>
   <key>6201</key>
   <string>长弓兵符</string>
   <key>6202</key>
   <string>重骑兵符</string>
   <key>6203</key>
   <string>大刀兵符</string>
   <key>6301</key>
   <string>强弓兵符</string>
   <key>6302</key>
   <string>狼骑兵符</string>
   <key>6303</key>
   <string>重刀兵符</string>
   <key>6401</key>
   <string>神弩兵符</string>
   <key>6402</key>
   <string>神甲骑兵符</string>
   <key>6403</key>
   <string>神刀兵符</string>
   <key>4419</key>
   <string>竹舞狂战</string>
   <key>5404</key>
   <string>八卦兵法(下)</string>
   <key>4420</key>
   <string>国色天香</string>
   <key>1422</key>
   <string>凌波丝带</string>
   <key>2408</key>
   <string>布布</string>
   <key>6404</key>
   <string>蝉蝉粉丝团</string>
   <key>3402</key>
   <string>蝉蝉的肚兜</string>
  </dict>
  <key>e_t_des</key>
  <dict>
   <key>4418</key>
   <string>50%几率禁锢两个目标，使其无法行动，持续一回合</string>
   <key>4417</key>
   <string>增加友方全体30%的速度，持续一回合</string>
   <key>4416</key>
   <string>增加友方全体30%的攻击力，持续一回合</string>
   <key>4415</key>
   <string>随机为三个友方增加21%的防御，持续一回合</string>
   <key>4414</key>
   <string>守护同列友军，分担64%伤害，持续一回合</string>
   <key>4413</key>
   <string>受到伤害的同时，将伤害的48%反弹给对方，持续一回合</string>
   <key>4412</key>
   <string>每次被击只会受到1点伤害，持续一回合</string>
   <key>4411</key>
   <string>恢复全体友方生命值，恢复量为技能释放者武力/智力值的105%</string>
   <key>4410</key>
   <string>恢复三个友方生命值，恢复量为技能释放者武力/智力值的125%</string>
   <key>4409</key>
   <string>对对方全体目标造成125%的智力伤害</string>
   <key>4408</key>
   <string>对前排目标造成145%的智力伤害</string>
   <key>4407</key>
   <string>对单个目标造成195%的智力伤害</string>
   <key>4406</key>
   <string>对后排目标造成115%的武力伤害</string>
   <key>4405</key>
   <string>对后排目标造成115%的武力伤害</string>
   <key>4404</key>
   <string>对竖排目标造成135%的武力伤害</string>
   <key>4403</key>
   <string>对竖排目标造成135%的武力伤害</string>
   <key>4402</key>
   <string>对单个目标造成185%的武力伤害</string>
   <key>4401</key>
   <string>对单个目标造成185%的武力伤害</string>
   <key>4203</key>
   <string>对单个目标造成175%的武力伤害</string>
   <key>4204</key>
   <string>对单个目标造成175%的武力伤害</string>
   <key>4205</key>
   <string>对竖排目标造成125%的武力伤害</string>
   <key>4206</key>
   <string>对竖排目标造成125%的武力伤害</string>
   <key>4207</key>
   <string>对后排目标造成105%的武力伤害</string>
   <key>4208</key>
   <string>对后排目标造成105%的武力伤害</string>
   <key>4209</key>
   <string>对单个目标造成185%的智力伤害</string>
   <key>4210</key>
   <string>对前排目标造成135%的智力伤害</string>
   <key>4211</key>
   <string>对对方全体目标造成115%的智力伤害</string>
   <key>4212</key>
   <string>恢复三个友方生命值，恢复量为技能释放者武力/智力值的115%</string>
   <key>4213</key>
   <string>恢复全体友方生命值，恢复量为技能释放者武力/智力值的95%</string>
   <key>4214</key>
   <string>每次被击只会受到150点伤害，持续一回合</string>
   <key>4215</key>
   <string>受到伤害的同时，将伤害的42%反弹给对方，持续一回合</string>
   <key>4216</key>
   <string>守护同列友军，分担56%伤害，持续一回合</string>
   <key>4217</key>
   <string>随机为三个友方增加19%的防御，持续一回合</string>
   <key>4218</key>
   <string>增加友方全体20%的攻击力，持续一回合</string>
   <key>4219</key>
   <string>增加友方全体20%的速度，持续一回合</string>
   <key>4220</key>
   <string>30%几率禁锢两个目标，使其无法行动，持续一回合</string>
   <key>4221</key>
   <string>随机对两个友方进行鼓舞，受鼓舞者下次攻击时百分百会使用技能。</string>
   <key>4316</key>
   <string>对单个目标造成180%的武力伤害</string>
   <key>4317</key>
   <string>对单个目标造成180%的武力伤害</string>
   <key>4318</key>
   <string>对竖排目标造成130%的武力伤害</string>
   <key>4319</key>
   <string>对竖排目标造成130%的武力伤害</string>
   <key>4320</key>
   <string>对后排目标造成110%的武力伤害</string>
   <key>4321</key>
   <string>对后排目标造成110%的武力伤害</string>
   <key>4322</key>
   <string>对单个目标造成190%的智力伤害</string>
   <key>4323</key>
   <string>对前排目标造成140%的智力伤害</string>
   <key>4324</key>
   <string>对全体目标造成120%的智力伤害</string>
   <key>4325</key>
   <string>恢复三个友方生命值，恢复量为技能释放者武力/智力值的120%</string>
   <key>4326</key>
   <string>恢复全体友方生命值，恢复量为技能释放者武力/智力值的100%</string>
   <key>4327</key>
   <string>每次被击只会受到50点伤害，持续一回合</string>
   <key>4328</key>
   <string>受到伤害的同时，将伤害的45%反弹给对方，持续一回合</string>
   <key>4329</key>
   <string>守护同列友军，分担60%伤害，持续一回合</string>
   <key>4330</key>
   <string>随机为三个友方增加20%的防御，持续一回合</string>
   <key>4331</key>
   <string>增加友方全体25%的攻击力，持续一回合</string>
   <key>4332</key>
   <string>增加友方全体25%的速度，持续一回合</string>
   <key>4333</key>
   <string>40%几率禁锢两个目标，使其无法行动，持续一回合</string>
   <key>4506</key>
   <string>气凝弓弩，猛然脱手，箭雨立即破空飞去，以疾风之势形成箭阵，对后排目标造成115%的武力伤害</string>
   <key>4507</key>
   <string>将无比剑气凝聚成一点放出，路径上敌军无不披靡，对单个目标造成195%的智力伤害</string>
   <key>4508</key>
   <string>将剑气幻化出四道金色光影，袭杀四方敌军，对前排目标造成145%的智力伤害</string>
   <key>4509</key>
   <string>御水行龙，将巨浪化作水龙，向敌军席卷而去，对全体目标造成125%的智力伤害</string>
   <key>5204</key>
   <string>初级兵法，增加将领速度值，适合所有将领装备。</string>
   <key>5201</key>
   <string>初级兵法，增加将领的法抗能力，适合【先锋】装备。</string>
   <key>5202</key>
   <string>初级兵法，增加将领的物抗能力，适合【先锋】装备。</string>
   <key>5203</key>
   <string>初级兵法，增加将领的暴击，适合【猛将】及【谋士】装备。</string>
   <key>5301</key>
   <string>中级兵法，增加将领速度值，适合所有将领装备。</string>
   <key>5302</key>
   <string>中级兵法，增加将领的暴击，适合【猛将】及【谋士】装备。</string>
   <key>5303</key>
   <string>中级兵法，增加将领的法抗能力，适合【先锋】装备。</string>
   <key>5304</key>
   <string>中级兵法，增加将领的物抗能力，适合【先锋】装备。</string>
   <key>5401</key>
   <string>高级兵法，增加将领的法抗能力，适合【先锋】装备。</string>
   <key>5402</key>
   <string>高级兵法，增加将领的暴击，适合【猛将】及【谋士】装备。</string>
   <key>5403</key>
   <string>高级兵法，增加将领的物抗能力，适合【先锋】装备。</string>
   <key>1101</key>
   <string>劈柴用的斧头，民兵的最爱。</string>
   <key>1102</key>
   <string>路边摊就可以卖到的扇子，效果很一般。</string>
   <key>1103</key>
   <string>平时打猎用的弓，射程不远。</string>
   <key>1104</key>
   <string>初级带柄长刀，是神器青龙偃月刀的前身。</string>
   <key>1105</key>
   <string>一般家中劈材用的斧头，适合一般三脚猫使用。</string>
   <key>1106</key>
   <string>刺击用的武器，通常用于武艺切磋。</string>
   <key>1107</key>
   <string>双手刀的一种，黄巾贼的最爱，吓唬人专用。</string>
   <key>1108</key>
   <string>初级长柄武器，用于直刺和横击。</string>
   <key>1109</key>
   <string>一般家中用来驯兽的工具，杀伤力不大，但是轻巧适合女士使用。</string>
   <key>1201</key>
   <string>三国中的冷门武器，二郎神粉丝的最爱。</string>
   <key>1202</key>
   <string>文人雅士的最爱，要的就是那种范儿。</string>
   <key>1204</key>
   <string>厚重的刀刃适合大力士来使用，他的破甲能力不是一般武器能比较的。</string>
   <key>1205</key>
   <string>制的短剑，比一般的铁剑锋利的多。</string>
   <key>1206</key>
   <string>精致的短兵双兵器，能攻能守相当灵活。</string>
   <key>1207</key>
   <string>钢制的长鞭，适合女将的防身所使用。</string>
   <key>1208</key>
   <string>专门用来削甘蔗的大刀，但是也有人拿它来劈杀</string>
   <key>1209</key>
   <string>打仗用的弓，造价便宜，方便实用。</string>
   <key>1301</key>
   <string>月牙状的长戟适合骑兵步兵使用。</string>
   <key>1302</key>
   <string>加持过的羽扇，据说使用的人可得到强大的法力。</string>
   <key>1303</key>
   <string>沉重的双锤适合体型厚重的壮汉。</string>
   <key>1304</key>
   <string>大刀的升级版本，因刀似风嘴而得名。</string>
   <key>1305</key>
   <string>名将徐晃专用的武器，锋利无比。</string>
   <key>1306</key>
   <string>铁铸的长矛，脊之两旁微陷，以通空气，取其刃而易拔也。程普曾用此兵器刺杀董卓部下胡轸。</string>
   <key>1307</key>
   <string>锋利的重剑，适合步兵伏击战。</string>
   <key>1308</key>
   <string>适合重步兵将领在战场上砍杀。</string>
   <key>1309</key>
   <string>钢鞭的强化版，材质更坚固也更轻盈。</string>
   <key>1310</key>
   <string>高级的弓，据说射程可到达落日。</string>
   <key>1311</key>
   <string>精钢所铸，属于比较常见的锤身形状，类似于西瓜，锤柄较短，锤长三尺四，为大力之士所喜用。</string>
   <key>1401</key>
   <string>又称“闻天枪”，是三国时期张辽的佩戴武器。</string>
   <key>1402</key>
   <string>传说中朱雀羽毛做成的羽扇，这种神兵利器最适合“卧龙凤雏”使用。</string>
   <key>1403</key>
   <string>虎筋弦响弓开处，雕羽翅飞箭到时。吕布就是靠他在辕门射戟时忽悠了袁术。</string>
   <key>1404</key>
   <string>三国时期高科技武器，刺、挑、勾、啄样样无所不能，使用起来相当费脑力。“方天”指的是可以与天相比的意思，说明着使用者是如何身手不凡。</string>
   <key>1405</key>
   <string>赵云的专属武器，是哥哥死前传给下来的。</string>
   <key>1406</key>
   <string>诸葛亮发明出来的高科技武器。</string>
   <key>1407</key>
   <string>枪法敏捷多变,层出不穷</string>
   <key>1408</key>
   <string>又称“丈八点钢矛”，形容此矛对任何盔甲都能一点就透。是张三爷的灵魂代表。</string>
   <key>1409</key>
   <string>倚天一出，谁与争锋。倚天剑为乱世奸雄曹大人的专属配剑。</string>
   <key>1410</key>
   <string>又称雌雄双股剑，男女搭配干活不累就是这样传下来的。</string>
   <key>1411</key>
   <string>曹操的宝剑之一，但是被赵子龙活生生的抢走了。</string>
   <key>1412</key>
   <string>古腚刀又称“菊花刀”，孙家祖传的宝刀。</string>
   <key>1413</key>
   <string>强化版的大刀，适合步战，穿有九个铁环,刀尖部平。</string>
   <key>1415</key>
   <string>又称“冷艳锯”，关二爷的专属武器，死在这刀下的名将数不胜数。</string>
   <key>1416</key>
   <string>夏侯惇的利器，名字和造型都非常拉风。</string>
   <key>1417</key>
   <string>蕴含东方巨龙的力量，翻手为云覆手为雨</string>
   <key>1418</key>
   <string>霸气的就是黄忠手里的画雀弓</string>
   <key>1419</key>
   <string>沉重的双锏，挥舞起来虎虎生风</string>
   <key>1420</key>
   <string>砍到物体后隐约有龙吼传来</string>
   <key>1421</key>
   <string>五行，四象，三才，两仪，然后阴阳调和归为混沌</string>
   <key>2101</key>
   <string>褐色毛发的马儿，适合一般武将骑乘。</string>
   <key>2102</key>
   <string>黄色毛发的马儿，适合一般武将骑乘。</string>
   <key>2201</key>
   <string>红棕色毛发的战马，适合一般武将骑乘。</string>
   <key>2202</key>
   <string>受过训练的战马，适合一般武将骑乘。</string>
   <key>2203</key>
   <string>受过训练的战马，适合一般武将骑乘。</string>
   <key>2301</key>
   <string>夏侯渊的专属坐骑，眼神善良块头不大。</string>
   <key>2302</key>
   <string>曹洪的老马，全身白毛，四肢瘦长。</string>
   <key>2303</key>
   <string>司马家族专用的坐骑，全身乌黑，在战场上不被关注，龟缩而活。</string>
   <key>2401</key>
   <string>夏侯惇的战马，与主人一样喜爱杀戮。</string>
   <key>2402</key>
   <string>曹操收藏的宝马，飞奔时连影子都跟不上的精英级战马。</string>
   <key>2403</key>
   <string>三国中听力最差的马儿，因为主人长年在战场咆哮而导致。</string>
   <key>2404</key>
   <string>人中吕布，马中赤兔，三国中被公认为最NB的马儿！</string>
   <key>2405</key>
   <string>刘皇叔的专属坐骑，三国中除了刘备，其他人骑了都会出事。</string>
   <key>2406</key>
   <string>赵子龙的最佳搭档，曾经在长坂坡之战一起出生入死，缔造神话</string>
   <key>2407</key>
   <string>曹操的专属坐骑，通体雪白，四蹄黄金，是当时高帅富的必备品。</string>
   <key>3101</key>
   <string>装这妙计的锦囊，可以让小幅度提升武将智力。</string>
   <key>3201</key>
   <string>海底的珍珠，穿戴后看起来更聪明。</string>
   <key>3301</key>
   <string>精心打造的重铠甲，大幅提升武将的战斗力。</string>
   <key>3401</key>
   <string>失踪多年的宝物，权利与地位的象征。</string>
   <key>6101</key>
   <string>装备后带领初级弓兵</string>
   <key>6102</key>
   <string>装备后带领初级骑兵</string>
   <key>6103</key>
   <string>装备后带领初级步兵</string>
   <key>6201</key>
   <string>装备后带领中级弓兵</string>
   <key>6202</key>
   <string>装备后带领中级骑兵</string>
   <key>6203</key>
   <string>装备后带领中级步兵</string>
   <key>6301</key>
   <string>装备后带领中级弓兵</string>
   <key>6302</key>
   <string>装备后带领中级骑兵</string>
   <key>6303</key>
   <string>装备后带领中级骑兵</string>
   <key>6401</key>
   <string>装备后带领高级弓兵</string>
   <key>6402</key>
   <string>装备后带领高级骑兵</string>
   <key>6403</key>
   <string>装备后带领高级步兵</string>
   <key>4419</key>
   <string>对后排目标造成115%的武力伤害</string>
   <key>5404</key>
   <string>高级兵法，增加将领速度值，适合所有将领装备。</string>
   <key>4420</key>
   <string>对随机三个目标造成145%的智力伤害</string>
   <key>1422</key>
   <string>貂蝉妹子的专属武器，据说乃是貂蝉拜月时，嫦娥自愧不如隐去时，其手中落下的飘带变化而成。</string>
   <key>2408</key>
   <string>貂蝉妹子的专属坐骑，乃是吕小布送于蝉蝉的专用坐骑，充满了爱的力量，蝉蝉为其取名曰-布布。</string>
   <key>6404</key>
   <string>貂蝉妹子的专属兵符，只需一瞬的功夫就可以召来自己的众多FANS，可谓是威力无比啊，群众的力量果然是强大的。</string>
   <key>3402</key>
   <string>貂蝉妹子的专属宝物，此物是蝉蝉的绝密私物，闻一闻，精神百倍，抖一抖，活跃筋骨，舔一舔，长命百岁，实乃神器也。</string>
  </dict>
 </dict>
</plist>
