<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>a</key>
		<dict>
			<key>1</key>
			<string>0.6</string>
			<key>2</key>
			<string>0.7</string>
			<key>3</key>
			<string>0.8</string>
			<key>4</key>
			<string>1</string>
			<key>5</key>
			<string>1.2</string>
		</dict>
		<key>b</key>
		<string>3</string>
		<key>c</key>
		<string>100</string>
		<key>d</key>
		<string>0.1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>a</key>
		<dict>
			<key>1</key>
			<string>0.6</string>
			<key>2</key>
			<string>0.7</string>
			<key>3</key>
			<string>0.8</string>
			<key>4</key>
			<string>1</string>
			<key>5</key>
			<string>1.2</string>
		</dict>
		<key>b</key>
		<string>3</string>
		<key>c</key>
		<string>100</string>
		<key>d</key>
		<string>0.1</string>
	</dict>
	<key>3</key>
	<dict>
		<key>a</key>
		<dict>
			<key>1</key>
			<string>0.6</string>
			<key>2</key>
			<string>0.7</string>
			<key>3</key>
			<string>0.8</string>
			<key>4</key>
			<string>1</string>
			<key>5</key>
			<string>1.2</string>
		</dict>
		<key>b</key>
		<string>3</string>
		<key>c</key>
		<string>100</string>
		<key>d</key>
		<string>0.1</string>
	</dict>
	<key>5</key>
	<dict>
		<key>a</key>
		<dict>
			<key>1</key>
			<string>0.6</string>
			<key>2</key>
			<string>0.7</string>
			<key>3</key>
			<string>0.8</string>
			<key>4</key>
			<string>1</string>
			<key>5</key>
			<string>1.2</string>
		</dict>
		<key>b</key>
		<string>3</string>
		<key>c</key>
		<string>100</string>
		<key>d</key>
		<string>0.1</string>
	</dict>
	<key>6</key>
	<dict>
		<key>a</key>
		<dict>
			<key>1</key>
			<string>0.6</string>
			<key>2</key>
			<string>0.7</string>
			<key>3</key>
			<string>0.8</string>
			<key>4</key>
			<string>1</string>
			<key>5</key>
			<string>1.2</string>
		</dict>
		<key>b</key>
		<string>3</string>
		<key>c</key>
		<string>100</string>
		<key>d</key>
		<string>0.1</string>
	</dict>
</dict>
</plist>
