<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1101</key>
  <dict>
   <key>config_id</key>
   <string>1101</string>
   <key>to_config_id</key>
   <string>1204</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1118</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1119</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1120</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1102</key>
  <dict>
   <key>config_id</key>
   <string>1102</string>
   <key>to_config_id</key>
   <string>1202</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1111</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1113</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1114</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1115</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1103</key>
  <dict>
   <key>config_id</key>
   <string>1103</string>
   <key>to_config_id</key>
   <string>1209</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1118</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1119</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1120</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1104</key>
  <dict>
   <key>config_id</key>
   <string>1104</string>
   <key>to_config_id</key>
   <string>1208</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1118</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1119</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1120</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1105</key>
  <dict>
   <key>config_id</key>
   <string>1105</string>
   <key>to_config_id</key>
   <string>1204</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1118</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1119</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1120</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1106</key>
  <dict>
   <key>config_id</key>
   <string>1106</string>
   <key>to_config_id</key>
   <string>1205</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1111</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1113</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1114</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1115</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1107</key>
  <dict>
   <key>config_id</key>
   <string>1107</string>
   <key>to_config_id</key>
   <string>1201</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1118</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1119</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1120</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1108</key>
  <dict>
   <key>config_id</key>
   <string>1108</string>
   <key>to_config_id</key>
   <string>1206</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1118</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1119</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1120</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1109</key>
  <dict>
   <key>config_id</key>
   <string>1109</string>
   <key>to_config_id</key>
   <string>1207</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1111</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1113</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1114</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1115</string>
     <key>num</key>
     <string>5</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1201</key>
  <dict>
   <key>config_id</key>
   <string>1201</string>
   <key>to_config_id</key>
   <string>1304</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1206</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1207</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1208</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1209</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1210</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1202</key>
  <dict>
   <key>config_id</key>
   <string>1202</string>
   <key>to_config_id</key>
   <string>1302</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1201</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1202</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1203</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1204</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1205</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1204</key>
  <dict>
   <key>config_id</key>
   <string>1204</string>
   <key>to_config_id</key>
   <string>1305</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1206</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1207</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1208</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1209</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1210</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1205</key>
  <dict>
   <key>config_id</key>
   <string>1205</string>
   <key>to_config_id</key>
   <string>1307</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1201</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1202</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1203</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1204</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1205</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1206</key>
  <dict>
   <key>config_id</key>
   <string>1206</string>
   <key>to_config_id</key>
   <string>1301</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1206</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1207</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1208</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1209</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1210</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1207</key>
  <dict>
   <key>config_id</key>
   <string>1207</string>
   <key>to_config_id</key>
   <string>1309</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1201</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1202</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1203</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1204</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1205</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1208</key>
  <dict>
   <key>config_id</key>
   <string>1208</string>
   <key>to_config_id</key>
   <string>1308</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1206</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1207</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1208</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1209</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1210</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1209</key>
  <dict>
   <key>config_id</key>
   <string>1209</string>
   <key>to_config_id</key>
   <string>1310</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1206</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1207</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1208</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1209</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1210</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1301</key>
  <dict>
   <key>config_id</key>
   <string>1301</string>
   <key>to_config_id</key>
   <string>1420</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1306</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1307</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1310</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1302</key>
  <dict>
   <key>config_id</key>
   <string>1302</string>
   <key>to_config_id</key>
   <string>1402</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1301</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1302</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1303</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1304</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1305</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1304</key>
  <dict>
   <key>config_id</key>
   <string>1304</string>
   <key>to_config_id</key>
   <string>1401</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1306</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1307</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1310</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1306</key>
  <dict>
   <key>config_id</key>
   <string>1306</string>
   <key>to_config_id</key>
   <string>1408</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1306</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1307</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1310</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1307</key>
  <dict>
   <key>config_id</key>
   <string>1307</string>
   <key>to_config_id</key>
   <string>1411</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1301</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1302</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1303</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1304</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1305</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1308</key>
  <dict>
   <key>config_id</key>
   <string>1308</string>
   <key>to_config_id</key>
   <string>1413</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1306</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1307</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1310</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1310</key>
  <dict>
   <key>config_id</key>
   <string>1310</string>
   <key>to_config_id</key>
   <string>1403</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1306</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1307</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1310</string>
     <key>num</key>
     <string>10</string>
     <key>type</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
