<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>config_id</key>
		<string>1</string>
		<key>name</key>
		<string>平一指-炼制培养丹</string>
		<key>score</key>
		<string>1000</string>
		<key>award</key>
		<string>5</string>
		<key>message</key>
		<string>炼制一炉只收1000积分，保证给你5枚培养丹</string>
		<key>head</key>
		<string>preview_hero_7.png</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>config_id</key>
		<string>2</string>
		<key>name</key>
		<string>薛慕华-炼制培养丹</string>
		<key>score</key>
		<string>10000</string>
		<key>award</key>
		<string>50</string>
		<key>message</key>
		<string>炼制一炉只收1000积分，保证给你5枚培养丹</string>
		<key>head</key>
		<string>preview_hero_1.png</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<key>3</key>
	<dict>
		<key>config_id</key>
		<string>3</string>
		<key>name</key>
		<string>300培养丹</string>
		<key>score</key>
		<string>0</string>
		<key>award</key>
		<string>300</string>
		<key>message</key>
		<string>首次达到或超过第1000名，即可领取300颗培养丹。</string>
		<key>head</key>
		<string>goods_5.png</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<key>4</key>
	<dict>
		<key>config_id</key>
		<string>4</string>
		<key>name</key>
		<string>300培养丹</string>
		<key>score</key>
		<string>0</string>
		<key>award</key>
		<string>300</string>
		<key>message</key>
		<string>首次达到或超过第500名，即可领取300颗培养丹。</string>
		<key>head</key>
		<string>goods_5.png</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<key>5</key>
	<dict>
		<key>config_id</key>
		<string>5</string>
		<key>name</key>
		<string>300培养丹</string>
		<key>score</key>
		<string>0</string>
		<key>award</key>
		<string>300</string>
		<key>message</key>
		<string>首次达到或超过第200名，即可领取300颗培养丹。</string>
		<key>head</key>
		<string>goods_5.png</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<key>6</key>
	<dict>
		<key>config_id</key>
		<string>6</string>
		<key>name</key>
		<string>300培养丹</string>
		<key>score</key>
		<string>0</string>
		<key>award</key>
		<string>300</string>
		<key>message</key>
		<string>首次达到或超过第100名，即可领取300颗培养丹。</string>
		<key>head</key>
		<string>goods_5.png</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<key>7</key>
	<dict>
		<key>config_id</key>
		<string>7</string>
		<key>name</key>
		<string>300培养丹</string>
		<key>score</key>
		<string>0</string>
		<key>award</key>
		<string>300</string>
		<key>message</key>
		<string>首次达到或超过第50名，即可领取300颗培养丹。</string>
		<key>head</key>
		<string>goods_5.png</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<key>8</key>
	<dict>
		<key>config_id</key>
		<string>8</string>
		<key>name</key>
		<string>600培养丹</string>
		<key>score</key>
		<string>0</string>
		<key>award</key>
		<string>600</string>
		<key>message</key>
		<string>首次达到或超过第10名，即可领取600颗培养丹。</string>
		<key>head</key>
		<string>goods_5.png</string>
		<key>type</key>
		<string>2</string>
	</dict>
	<key>9</key>
	<dict>
		<key>config_id</key>
		<string>9</string>
		<key>name</key>
		<string>600培养丹</string>
		<key>score</key>
		<string>0</string>
		<key>award</key>
		<string>600</string>
		<key>message</key>
		<string>首次达到或超过第1名，即可领取600颗培养丹。</string>
		<key>head</key>
		<string>goods_5.png</string>
		<key>type</key>
		<string>2</string>
	</dict>
</dict>
</plist>
