<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1101</key>
  <dict>
   <key>atk</key>
   <string>4%</string>
   <key>ice</key>
   <string>4%</string>
   <key>config_id</key>
   <string>1101</string>
  </dict>
  <key>1102</key>
  <dict>
   <key>atk</key>
   <string>6%</string>
   <key>ice</key>
   <string>6%</string>
   <key>config_id</key>
   <string>1102</string>
  </dict>
  <key>1103</key>
  <dict>
   <key>atk</key>
   <string>8%</string>
   <key>ice</key>
   <string>8%</string>
   <key>config_id</key>
   <string>1103</string>
  </dict>
  <key>1104</key>
  <dict>
   <key>atk</key>
   <string>10%</string>
   <key>ice</key>
   <string>10%</string>
   <key>config_id</key>
   <string>1104</string>
  </dict>
  <key>1105</key>
  <dict>
   <key>atk</key>
   <string>12%</string>
   <key>ice</key>
   <string>12%</string>
   <key>config_id</key>
   <string>1105</string>
  </dict>
  <key>1201</key>
  <dict>
   <key>lep</key>
   <string>4%</string>
   <key>config_id</key>
   <string>1201</string>
  </dict>
  <key>1202</key>
  <dict>
   <key>lep</key>
   <string>6%</string>
   <key>config_id</key>
   <string>1202</string>
  </dict>
  <key>1203</key>
  <dict>
   <key>lep</key>
   <string>8%</string>
   <key>config_id</key>
   <string>1203</string>
  </dict>
  <key>1204</key>
  <dict>
   <key>lep</key>
   <string>10%</string>
   <key>config_id</key>
   <string>1204</string>
  </dict>
  <key>1205</key>
  <dict>
   <key>lep</key>
   <string>12%</string>
   <key>config_id</key>
   <string>1205</string>
  </dict>
  <key>1301</key>
  <dict>
   <key>nle</key>
   <string>1%</string>
   <key>config_id</key>
   <string>1301</string>
  </dict>
  <key>1302</key>
  <dict>
   <key>nle</key>
   <string>2%</string>
   <key>config_id</key>
   <string>1302</string>
  </dict>
  <key>1303</key>
  <dict>
   <key>nle</key>
   <string>3%</string>
   <key>config_id</key>
   <string>1303</string>
  </dict>
  <key>1304</key>
  <dict>
   <key>nle</key>
   <string>4%</string>
   <key>config_id</key>
   <string>1304</string>
  </dict>
  <key>1305</key>
  <dict>
   <key>nle</key>
   <string>5%</string>
   <key>config_id</key>
   <string>1305</string>
  </dict>
  <key>1401</key>
  <dict>
   <key>config_id</key>
   <string>1401</string>
  </dict>
  <key>1402</key>
  <dict>
   <key>config_id</key>
   <string>1402</string>
  </dict>
  <key>1403</key>
  <dict>
   <key>config_id</key>
   <string>1403</string>
  </dict>
  <key>1404</key>
  <dict>
   <key>config_id</key>
   <string>1404</string>
  </dict>
  <key>1405</key>
  <dict>
   <key>config_id</key>
   <string>1405</string>
  </dict>
  <key>1501</key>
  <dict>
   <key>atk</key>
   <string>5%</string>
   <key>ice</key>
   <string>5%</string>
   <key>config_id</key>
   <string>1501</string>
  </dict>
  <key>1502</key>
  <dict>
   <key>atk</key>
   <string>8%</string>
   <key>ice</key>
   <string>8%</string>
   <key>config_id</key>
   <string>1502</string>
  </dict>
  <key>1503</key>
  <dict>
   <key>atk</key>
   <string>12%</string>
   <key>ice</key>
   <string>12%</string>
   <key>config_id</key>
   <string>1503</string>
  </dict>
  <key>1504</key>
  <dict>
   <key>atk</key>
   <string>16%</string>
   <key>ice</key>
   <string>16%</string>
   <key>config_id</key>
   <string>1504</string>
  </dict>
  <key>1505</key>
  <dict>
   <key>atk</key>
   <string>20%</string>
   <key>ice</key>
   <string>20%</string>
   <key>config_id</key>
   <string>1505</string>
  </dict>
  <key>1601</key>
  <dict>
   <key>atk</key>
   <string>200</string>
   <key>ice</key>
   <string>200</string>
   <key>config_id</key>
   <string>1601</string>
  </dict>
  <key>1602</key>
  <dict>
   <key>atk</key>
   <string>280</string>
   <key>ice</key>
   <string>280</string>
   <key>config_id</key>
   <string>1602</string>
  </dict>
  <key>1603</key>
  <dict>
   <key>atk</key>
   <string>360</string>
   <key>ice</key>
   <string>360</string>
   <key>config_id</key>
   <string>1603</string>
  </dict>
  <key>1604</key>
  <dict>
   <key>atk</key>
   <string>440</string>
   <key>ice</key>
   <string>440</string>
   <key>config_id</key>
   <string>1604</string>
  </dict>
  <key>1605</key>
  <dict>
   <key>atk</key>
   <string>520</string>
   <key>ice</key>
   <string>520</string>
   <key>config_id</key>
   <string>1605</string>
  </dict>
  <key>1701</key>
  <dict>
   <key>lep</key>
   <string>400</string>
   <key>config_id</key>
   <string>1701</string>
  </dict>
  <key>1702</key>
  <dict>
   <key>lep</key>
   <string>520</string>
   <key>config_id</key>
   <string>1702</string>
  </dict>
  <key>1703</key>
  <dict>
   <key>lep</key>
   <string>1080</string>
   <key>config_id</key>
   <string>1703</string>
  </dict>
  <key>1704</key>
  <dict>
   <key>lep</key>
   <string>1320</string>
   <key>config_id</key>
   <string>1704</string>
  </dict>
  <key>1705</key>
  <dict>
   <key>lep</key>
   <string>1560</string>
   <key>config_id</key>
   <string>1705</string>
  </dict>
  <key>1706</key>
  <dict>
   <key>def</key>
   <string>10%</string>
   <key>config_id</key>
   <string>1706</string>
  </dict>
  <key>1707</key>
  <dict>
   <key>def</key>
   <string>10</string>
   <key>config_id</key>
   <string>1707</string>
  </dict>
 </dict>
</plist>
