<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nav_embattle</key>
	<dict>
		<key>file</key>
		<string>embattle.ccbi</string>
		<key>hideHeader</key>
		<string>true</string>
		<key>hideMenu</key>
		<string>true</string>
	</dict>
</dict>
</plist>
