<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1009</key>
  <dict>
   <key>config_id</key>
   <string>1009</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>2000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1010</key>
  <dict>
   <key>config_id</key>
   <string>1010</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>3000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1011</key>
  <dict>
   <key>config_id</key>
   <string>1011</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1012</key>
  <dict>
   <key>config_id</key>
   <string>1012</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1013</key>
  <dict>
   <key>config_id</key>
   <string>1013</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1014</key>
  <dict>
   <key>config_id</key>
   <string>1014</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1015</key>
  <dict>
   <key>config_id</key>
   <string>1015</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1016</key>
  <dict>
   <key>config_id</key>
   <string>1016</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1017</key>
  <dict>
   <key>config_id</key>
   <string>1017</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1018</key>
  <dict>
   <key>config_id</key>
   <string>1018</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1019</key>
  <dict>
   <key>config_id</key>
   <string>1019</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1020</key>
  <dict>
   <key>config_id</key>
   <string>1020</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1021</key>
  <dict>
   <key>config_id</key>
   <string>1021</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1022</key>
  <dict>
   <key>config_id</key>
   <string>1022</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1023</key>
  <dict>
   <key>config_id</key>
   <string>1023</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1024</key>
  <dict>
   <key>config_id</key>
   <string>1024</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20</string>
    </dict>
   </array>
  </dict>
  <key>1025</key>
  <dict>
   <key>config_id</key>
   <string>1025</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1026</key>
  <dict>
   <key>config_id</key>
   <string>1026</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>8000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6103</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1027</key>
  <dict>
   <key>config_id</key>
   <string>1027</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>15000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
   </array>
  </dict>
  <key>1028</key>
  <dict>
   <key>config_id</key>
   <string>1028</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>25000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1029</key>
  <dict>
   <key>config_id</key>
   <string>1029</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>25000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6201</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1030</key>
  <dict>
   <key>config_id</key>
   <string>1030</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>40000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2102</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1031</key>
  <dict>
   <key>config_id</key>
   <string>1031</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1201</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
  <key>1032</key>
  <dict>
   <key>config_id</key>
   <string>1032</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>80000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1207</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
  <key>1033</key>
  <dict>
   <key>config_id</key>
   <string>1033</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>80000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1203</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
  <key>1034</key>
  <dict>
   <key>config_id</key>
   <string>1034</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>80000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1209</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
  <key>1035</key>
  <dict>
   <key>config_id</key>
   <string>1035</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>120000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>40</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1205</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
  <key>1036</key>
  <dict>
   <key>config_id</key>
   <string>1036</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>120000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>40</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1301</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
  <key>1037</key>
  <dict>
   <key>config_id</key>
   <string>1037</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>120000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>40</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1307</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
  <key>1038</key>
  <dict>
   <key>config_id</key>
   <string>1038</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>120000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>60</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1303</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
  <key>1039</key>
  <dict>
   <key>config_id</key>
   <string>1039</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
   </array>
  </dict>
  <key>1040</key>
  <dict>
   <key>config_id</key>
   <string>1040</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6102</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1041</key>
  <dict>
   <key>config_id</key>
   <string>1041</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>15000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1201</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1042</key>
  <dict>
   <key>config_id</key>
   <string>1042</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>40</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1043</key>
  <dict>
   <key>config_id</key>
   <string>1043</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>40</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6203</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1044</key>
  <dict>
   <key>config_id</key>
   <string>1044</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6202</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1045</key>
  <dict>
   <key>config_id</key>
   <string>1045</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1301</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1046</key>
  <dict>
   <key>config_id</key>
   <string>1046</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>80000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1206</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1304</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1047</key>
  <dict>
   <key>config_id</key>
   <string>1047</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1202</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1048</key>
  <dict>
   <key>config_id</key>
   <string>1048</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1208</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6301</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1049</key>
  <dict>
   <key>config_id</key>
   <string>1049</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1204</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6302</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1050</key>
  <dict>
   <key>config_id</key>
   <string>1050</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>150000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1210</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6303</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1051</key>
  <dict>
   <key>config_id</key>
   <string>1051</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>150000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1306</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1306</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1052</key>
  <dict>
   <key>config_id</key>
   <string>1052</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>150000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1302</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2203</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1053</key>
  <dict>
   <key>config_id</key>
   <string>1053</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>150000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2202</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1101</key>
  <dict>
   <key>config_id</key>
   <string>1101</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
   </array>
  </dict>
  <key>1102</key>
  <dict>
   <key>config_id</key>
   <string>1102</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
   </array>
  </dict>
  <key>1103</key>
  <dict>
   <key>config_id</key>
   <string>1103</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>150000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2102</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1201</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1202</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1104</key>
  <dict>
   <key>config_id</key>
   <string>1104</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>150000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2201</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6102</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6103</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1105</key>
  <dict>
   <key>config_id</key>
   <string>1105</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>150000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>200</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2202</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1302</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1301</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2001</key>
  <dict>
   <key>config_id</key>
   <string>2001</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1205</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2002</key>
  <dict>
   <key>config_id</key>
   <string>2002</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>20000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1206</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2003</key>
  <dict>
   <key>config_id</key>
   <string>2003</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>30000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1208</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2004</key>
  <dict>
   <key>config_id</key>
   <string>2004</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>40000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2202</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1209</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2005</key>
  <dict>
   <key>config_id</key>
   <string>2005</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2203</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1305</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6301</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2006</key>
  <dict>
   <key>config_id</key>
   <string>2006</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>60000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2301</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1310</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6302</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2007</key>
  <dict>
   <key>config_id</key>
   <string>2007</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>70000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2302</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1311</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6303</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2008</key>
  <dict>
   <key>config_id</key>
   <string>2008</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>80000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2403</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1408</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6403</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2009</key>
  <dict>
   <key>config_id</key>
   <string>2009</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>90000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2405</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1405</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6401</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>2010</key>
  <dict>
   <key>config_id</key>
   <string>2010</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2404</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1415</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6402</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>3001</key>
  <dict>
   <key>config_id</key>
   <string>3001</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>10000</string>
    </dict>
   </array>
  </dict>
  <key>3002</key>
  <dict>
   <key>config_id</key>
   <string>3002</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1000</string>
    </dict>
   </array>
  </dict>
  <key>3011</key>
  <dict>
   <key>config_id</key>
   <string>3011</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>3012</key>
  <dict>
   <key>config_id</key>
   <string>3012</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>2</string>
    </dict>
   </array>
  </dict>
  <key>3013</key>
  <dict>
   <key>config_id</key>
   <string>3013</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>3014</key>
  <dict>
   <key>config_id</key>
   <string>3014</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>888</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>4</string>
    </dict>
   </array>
  </dict>
  <key>4001</key>
  <dict>
   <key>config_id</key>
   <string>4001</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
   </array>
  </dict>
  <key>4002</key>
  <dict>
   <key>config_id</key>
   <string>4002</string>
   <key>gift</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2311</string>
     <key>level</key>
     <string>20</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>10</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
