<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1201</key>
  <dict>
   <key>config_id</key>
   <string>1201</string>
   <key>to_config_id</key>
   <string>1317</string>
   <key>silver_coin</key>
   <string>500</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>lv</key>
     <string></string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1110</string>
     <key>lv</key>
     <string></string>
    </dict>
   </array>
  </dict>
  <key>1208</key>
  <dict>
   <key>config_id</key>
   <string>1208</string>
   <key>to_config_id</key>
   <string>6208</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>lv</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1102</string>
     <key>lv</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1103</string>
     <key>lv</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1104</string>
     <key>lv</key>
     <string>20</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1105</string>
     <key>lv</key>
     <string>20</string>
    </dict>
   </array>
  </dict>
  <key>1210</key>
  <dict>
   <key>config_id</key>
   <string>1210</string>
   <key>to_config_id</key>
   <string>1311</string>
   <key>silver_coin</key>
   <string>500</string>
   <key>materials</key>
   <array/>
  </dict>
  <key>1213</key>
  <dict>
   <key>config_id</key>
   <string>1213</string>
   <key>to_config_id</key>
   <string>1314</string>
   <key>silver_coin</key>
   <string>500</string>
   <key>materials</key>
   <array/>
  </dict>
  <key>1214</key>
  <dict>
   <key>config_id</key>
   <string>1214</string>
   <key>to_config_id</key>
   <string>1315</string>
   <key>silver_coin</key>
   <string>500</string>
   <key>materials</key>
   <array/>
  </dict>
  <key>1215</key>
  <dict>
   <key>config_id</key>
   <string>1215</string>
   <key>to_config_id</key>
   <string>1316</string>
   <key>silver_coin</key>
   <string>500</string>
   <key>materials</key>
   <array/>
  </dict>
  <key>1310</key>
  <dict>
   <key>config_id</key>
   <string>1310</string>
   <key>to_config_id</key>
   <string>6310</string>
   <key>silver_coin</key>
   <string>10000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1213</string>
     <key>lv</key>
     <string>40</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1214</string>
     <key>lv</key>
     <string>40</string>
    </dict>
   </array>
  </dict>
  <key>1402</key>
  <dict>
   <key>config_id</key>
   <string>1402</string>
   <key>to_config_id</key>
   <string>6402</string>
   <key>silver_coin</key>
   <string>20000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1102</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1103</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1104</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1105</string>
     <key>lv</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1502</key>
  <dict>
   <key>config_id</key>
   <string>1502</string>
   <key>to_config_id</key>
   <string>6502</string>
   <key>silver_coin</key>
   <string>20000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1102</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1103</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1104</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1105</string>
     <key>lv</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>6208</key>
  <dict>
   <key>config_id</key>
   <string>6208</string>
   <key>to_config_id</key>
   <string>7208</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1102</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1103</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1104</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1105</string>
     <key>lv</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>6310</key>
  <dict>
   <key>config_id</key>
   <string>6310</string>
   <key>to_config_id</key>
   <string>7310</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1102</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1103</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1104</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1105</string>
     <key>lv</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>6402</key>
  <dict>
   <key>config_id</key>
   <string>6402</string>
   <key>to_config_id</key>
   <string>7402</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1102</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1103</string>
     <key>lv</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1104</string>
     <key>lv</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1105</string>
     <key>lv</key>
     <string>10</string>
    </dict>
   </array>
  </dict>
  <key>6502</key>
  <dict>
   <key>config_id</key>
   <string>6502</string>
   <key>to_config_id</key>
   <string>7502</string>
   <key>silver_coin</key>
   <string>30000</string>
   <key>materials</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>lv</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1102</string>
     <key>lv</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1103</string>
     <key>lv</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1104</string>
     <key>lv</key>
     <string>10</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1105</string>
     <key>lv</key>
     <string>10</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
