<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1</key>
  <dict>
   <key>config_id</key>
   <string>1</string>
   <key>preview_id</key>
   <string>4</string>
   <key>name</key>
   <string>特别低级</string>
   <key>type</key>
   <string>4</string>
  </dict>
  <key>2</key>
  <dict>
   <key>config_id</key>
   <string>2</string>
   <key>preview_id</key>
   <string>5</string>
   <key>name</key>
   <string>普通</string>
   <key>type</key>
   <string>4</string>
  </dict>
  <key>3</key>
  <dict>
   <key>config_id</key>
   <string>3</string>
   <key>preview_id</key>
   <string>6</string>
   <key>name</key>
   <string>中级</string>
   <key>type</key>
   <string>4</string>
  </dict>
  <key>4</key>
  <dict>
   <key>config_id</key>
   <string>4</string>
   <key>preview_id</key>
   <string>7</string>
   <key>name</key>
   <string>高级</string>
   <key>type</key>
   <string>4</string>
  </dict>
  <key>5</key>
  <dict>
   <key>config_id</key>
   <string>5</string>
   <key>preview_id</key>
   <string>8</string>
   <key>name</key>
   <string>超高级</string>
   <key>type</key>
   <string>4</string>
  </dict>
 </dict>
</plist>
