<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>l</key>
  <array>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>888</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>10000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>20</string>
    <key>config_id</key>
    <string>112</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>20000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>4</string>
    <key>num</key>
    <string>2</string>
    <key>config_id</key>
    <string>2</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>25000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>30</string>
    <key>config_id</key>
    <string>112</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>30000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>4</string>
    <key>num</key>
    <string>3</string>
    <key>config_id</key>
    <string>2</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>35000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>888</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>50</string>
    <key>config_id</key>
    <string>112</string>
   </dict>
   <dict>
    <key>type</key>
    <string>4</string>
    <key>num</key>
    <string>4</string>
    <key>config_id</key>
    <string>2</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>40000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>4</string>
    <key>num</key>
    <string>2</string>
    <key>config_id</key>
    <string>3</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>50000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>80</string>
    <key>config_id</key>
    <string>112</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>55000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>4</string>
    <key>num</key>
    <string>3</string>
    <key>config_id</key>
    <string>3</string>
   </dict>
   <dict>
    <key>type</key>
    <string>2</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>1411</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>888</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>100</string>
    <key>config_id</key>
    <string>112</string>
   </dict>
   <dict>
    <key>type</key>
    <string>4</string>
    <key>num</key>
    <string>4</string>
    <key>config_id</key>
    <string>3</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>100000</string>
    <key>config_id</key>
    <string>111</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>120</string>
    <key>config_id</key>
    <string>112</string>
   </dict>
  </array>
  <key>d</key>
  <string>20</string>
  <key>config_id</key>
  <string>1411</string>
 </dict>
</plist>
