<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>config_id</key>
		<string>1</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>先锋部队1</string>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>2</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>前军2</string>
	</dict>
	<key>3</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>3</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>中军3</string>
	</dict>
	<key>4</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>4</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>后军4</string>
	</dict>
	<key>5</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>5</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>后军5</string>
	</dict>
	<key>6</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>6</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>后军6</string>
	</dict>
	<key>7</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>7</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>后军7</string>
	</dict>
	<key>8</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>8</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>后军8</string>
	</dict>
	<key>9</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>9</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>后军9</string>
	</dict>
	<key>10</key>
	<dict>
		<key>reward</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>1</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>type</key>
				<string>2</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>111</string>
				<key>type</key>
				<string>3</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>5001</string>
				<key>type</key>
				<string>4</string>
			</dict>
		</array>
		<key>config_id</key>
		<string>10</string>
		<key>energy</key>
		<string>1</string>
		<key>exp</key>
		<string>99</string>
		<key>money</key>
		<string>100</string>
		<key>name</key>
		<string>后军10</string>
	</dict>
</dict>
</plist>
