<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1001</key>
  <dict>
   <key>config_id</key>
   <string>1001</string>
   <key>name</key>
   <string>先锋部队（简单）</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>10</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string></string>
   <key>sc</key>
   <string></string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>2</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1002</key>
  <dict>
   <key>config_id</key>
   <string>1002</string>
   <key>name</key>
   <string>两军对垒（普通）</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>12</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string></string>
   <key>sc</key>
   <string></string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>2</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>4</string>
    </dict>
   </array>
  </dict>
  <key>1003</key>
  <dict>
   <key>config_id</key>
   <string>1003</string>
   <key>name</key>
   <string>大将单挑（困难）</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>15</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string></string>
   <key>sc</key>
   <string></string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>4</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>9996</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>5</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
