<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1001</key>
  <dict>
   <key>config_id</key>
   <string>1001</string>
   <key>name</key>
   <string>进攻洛阳第一波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>10000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1002</key>
  <dict>
   <key>config_id</key>
   <string>1002</string>
   <key>name</key>
   <string>进攻洛阳第二波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>11000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1003</key>
  <dict>
   <key>config_id</key>
   <string>1003</string>
   <key>name</key>
   <string>进攻洛阳第三波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>12000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1004</key>
  <dict>
   <key>config_id</key>
   <string>1004</string>
   <key>name</key>
   <string>进攻洛阳第四波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>13000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1005</key>
  <dict>
   <key>config_id</key>
   <string>1005</string>
   <key>name</key>
   <string>进攻洛阳第五波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可以战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>14000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1006</key>
  <dict>
   <key>config_id</key>
   <string>1006</string>
   <key>name</key>
   <string>进攻洛阳第六波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>15000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1007</key>
  <dict>
   <key>config_id</key>
   <string>1007</string>
   <key>name</key>
   <string>进攻洛阳第七波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。  </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>16000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1008</key>
  <dict>
   <key>config_id</key>
   <string>1008</string>
   <key>name</key>
   <string>进攻洛阳第八波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>17000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1009</key>
  <dict>
   <key>config_id</key>
   <string>1009</string>
   <key>name</key>
   <string>进攻洛阳第九波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>18000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1010</key>
  <dict>
   <key>config_id</key>
   <string>1010</string>
   <key>name</key>
   <string>进攻洛阳第十波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>19000</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>50000</string>
    </dict>
   </array>
  </dict>
  <key>1011</key>
  <dict>
   <key>config_id</key>
   <string>1011</string>
   <key>name</key>
   <string>进攻洛阳第十一波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>20000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1012</key>
  <dict>
   <key>config_id</key>
   <string>1012</string>
   <key>name</key>
   <string>进攻洛阳第十二波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>21000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1013</key>
  <dict>
   <key>config_id</key>
   <string>1013</string>
   <key>name</key>
   <string>进攻洛阳第十三波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string> 可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>22000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1014</key>
  <dict>
   <key>config_id</key>
   <string>1014</string>
   <key>name</key>
   <string>进攻洛阳第十四波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>23000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1015</key>
  <dict>
   <key>config_id</key>
   <string>1015</string>
   <key>name</key>
   <string>进攻洛阳第十五波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>24000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1016</key>
  <dict>
   <key>config_id</key>
   <string>1016</string>
   <key>name</key>
   <string>进攻洛阳第十六波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>25000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1017</key>
  <dict>
   <key>config_id</key>
   <string>1017</string>
   <key>name</key>
   <string>进攻洛阳第十七波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>26000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1018</key>
  <dict>
   <key>config_id</key>
   <string>1018</string>
   <key>name</key>
   <string>进攻洛阳第十八波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string> 可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>27000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1019</key>
  <dict>
   <key>config_id</key>
   <string>1019</string>
   <key>name</key>
   <string>进攻洛阳第十九波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>28000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1020</key>
  <dict>
   <key>config_id</key>
   <string>1020</string>
   <key>name</key>
   <string>进攻洛阳第二十波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>29000</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>100000</string>
    </dict>
   </array>
  </dict>
  <key>1021</key>
  <dict>
   <key>config_id</key>
   <string>1021</string>
   <key>name</key>
   <string>进攻洛阳第二十一波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>30000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1022</key>
  <dict>
   <key>config_id</key>
   <string>1022</string>
   <key>name</key>
   <string>进攻洛阳第二十二波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>31000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1023</key>
  <dict>
   <key>config_id</key>
   <string>1023</string>
   <key>name</key>
   <string>进攻洛阳第二十三波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>32000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1024</key>
  <dict>
   <key>config_id</key>
   <string>1024</string>
   <key>name</key>
   <string>进攻洛阳第二十四波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>33000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1025</key>
  <dict>
   <key>config_id</key>
   <string>1025</string>
   <key>name</key>
   <string>进攻洛阳第二十五波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>34000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1026</key>
  <dict>
   <key>config_id</key>
   <string>1026</string>
   <key>name</key>
   <string>进攻洛阳第二十六波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>35000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1027</key>
  <dict>
   <key>config_id</key>
   <string>1027</string>
   <key>name</key>
   <string>进攻洛阳第二十七波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>36000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1028</key>
  <dict>
   <key>config_id</key>
   <string>1028</string>
   <key>name</key>
   <string>进攻洛阳第二十八波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>37000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1029</key>
  <dict>
   <key>config_id</key>
   <string>1029</string>
   <key>name</key>
   <string>进攻洛阳第二十九波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>38000</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1030</key>
  <dict>
   <key>config_id</key>
   <string>1030</string>
   <key>name</key>
   <string>进攻洛阳第三十波</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array/>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>1</string>
   <key>exp</key>
   <string>100</string>
   <key>sc</key>
   <string>40000</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>150000</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
