<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1001</key>
  <dict>
   <key>config_id</key>
   <string>1001</string>
   <key>name</key>
   <string>五斗米作乱一</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领不能有猛将</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>由于敌方阵容右侧有空缺，可将统御值低的武将移至右侧。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>138</string>
   <key>sc</key>
   <string>450</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2205</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2207</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1002</key>
  <dict>
   <key>config_id</key>
   <string>1002</string>
   <key>name</key>
   <string>五斗米作乱二</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>主帅外全为智力型将领</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>140</string>
   <key>sc</key>
   <string>490</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2205</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2207</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
   </array>
  </dict>
  <key>1003</key>
  <dict>
   <key>config_id</key>
   <string>1003</string>
   <key>name</key>
   <string>五斗米反贼一</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领至少两个先锋</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>由于敌方阵容右侧有空缺，可将统御值低的武将移至右侧。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>170</string>
   <key>sc</key>
   <string>500</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2209</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2206</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1004</key>
  <dict>
   <key>config_id</key>
   <string>1004</string>
   <key>name</key>
   <string>乱民张修</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领至少有一个吴将</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>190</string>
   <key>sc</key>
   <string>520</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2207</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2212</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1116</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1005</key>
  <dict>
   <key>config_id</key>
   <string>1005</string>
   <key>name</key>
   <string>教主张鲁</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领至少有一个吴将</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>195</string>
   <key>sc</key>
   <string>570</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1213</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2205</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1111</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1006</key>
  <dict>
   <key>config_id</key>
   <string>1006</string>
   <key>name</key>
   <string>五斗米反贼二</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领至少有一个群雄</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>由于敌方阵容右侧有空缺，可将统御值低的武将移至右侧。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>200</string>
   <key>sc</key>
   <string>580</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2207</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>2</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2205</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1007</key>
  <dict>
   <key>config_id</key>
   <string>1007</string>
   <key>name</key>
   <string>逆贼射手</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领至少有两个蓝将</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>205</string>
   <key>sc</key>
   <string>590</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2208</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>2</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2209</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6101</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1008</key>
  <dict>
   <key>config_id</key>
   <string>1008</string>
   <key>name</key>
   <string>黄三老板</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领不能有群雄</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>216</string>
   <key>sc</key>
   <string>600</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2209</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1214</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1009</key>
  <dict>
   <key>config_id</key>
   <string>1009</string>
   <key>name</key>
   <string>逆贼护卫</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领死亡不超过两个</string>
    <string>战斗结束后总血量剩下90%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>由于敌方阵容右侧有空缺，可将统御值低的武将移至右侧。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>220</string>
   <key>sc</key>
   <string>620</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2212</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1010</key>
  <dict>
   <key>config_id</key>
   <string>1010</string>
   <key>name</key>
   <string>黄二老板</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领至少有三个蓝将</string>
    <string>战斗结束后总血量剩下90%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>225</string>
   <key>sc</key>
   <string>640</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2205</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1215</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1011</key>
  <dict>
   <key>config_id</key>
   <string>1011</string>
   <key>name</key>
   <string>黄大老板</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领全部为魏将</string>
    <string>战斗结束后总血量剩下90%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>238</string>
   <key>sc</key>
   <string>660</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2211</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1310</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1112</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1117</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
