<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1001</key>
  <dict>
   <key>config_id</key>
   <string>1001</string>
   <key>name</key>
   <string>合肥下1</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击全体技能，要加强阵容中武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>965</string>
   <key>sc</key>
   <string>2020</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1002</key>
  <dict>
   <key>config_id</key>
   <string>1002</string>
   <key>name</key>
   <string>合肥下2</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击竖列技能，可以尝试通过布阵将后排武将错开位置。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>970</string>
   <key>sc</key>
   <string>2030</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1003</key>
  <dict>
   <key>config_id</key>
   <string>1003</string>
   <key>name</key>
   <string>合肥下3</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>975</string>
   <key>sc</key>
   <string>2040</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1004</key>
  <dict>
   <key>config_id</key>
   <string>1004</string>
   <key>name</key>
   <string>合肥下4</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击全体技能，要加强阵容中武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>980</string>
   <key>sc</key>
   <string>2050</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1005</key>
  <dict>
   <key>config_id</key>
   <string>1005</string>
   <key>name</key>
   <string>合肥下5</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>985</string>
   <key>sc</key>
   <string>2060</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1006</key>
  <dict>
   <key>config_id</key>
   <string>1006</string>
   <key>name</key>
   <string>合肥下6</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>990</string>
   <key>sc</key>
   <string>2070</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1007</key>
  <dict>
   <key>config_id</key>
   <string>1007</string>
   <key>name</key>
   <string>合肥下7</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击全体技能，要加强阵容中武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>995</string>
   <key>sc</key>
   <string>2080</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1008</key>
  <dict>
   <key>config_id</key>
   <string>1008</string>
   <key>name</key>
   <string>合肥下8</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有反弹伤害技能，要尽可能提高高伤害武将的统御，防止武将被反弹致死。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>1000</string>
   <key>sc</key>
   <string>2090</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1009</key>
  <dict>
   <key>config_id</key>
   <string>1009</string>
   <key>name</key>
   <string>合肥下9</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击全体技能，要加强阵容中武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>1005</string>
   <key>sc</key>
   <string>2100</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1010</key>
  <dict>
   <key>config_id</key>
   <string>1010</string>
   <key>name</key>
   <string>合肥下10</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>1010</string>
   <key>sc</key>
   <string>2110</string>
   <key>reward</key>
   <array/>
  </dict>
 </dict>
</plist>
