<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1</key>
  <dict>
   <key>config_id</key>
   <string>1</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-1</string>
   <key>name</key>
   <string>铲除董贼</string>
  </dict>
  <key>2</key>
  <dict>
   <key>config_id</key>
   <string>2</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-2</string>
   <key>name</key>
   <string>挑战刘表</string>
  </dict>
  <key>3</key>
  <dict>
   <key>config_id</key>
   <string>3</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-2</string>
   <key>name</key>
   <string>挑战袁术</string>
  </dict>
  <key>4</key>
  <dict>
   <key>config_id</key>
   <string>4</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-2</string>
   <key>name</key>
   <string>挑战袁绍</string>
  </dict>
  <key>5</key>
  <dict>
   <key>config_id</key>
   <string>5</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-3</string>
   <key>name</key>
   <string>奇遇谷</string>
  </dict>
  <key>6</key>
  <dict>
   <key>config_id</key>
   <string>6</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-4</string>
   <key>name</key>
   <string>守卫襄阳</string>
  </dict>
  <key>1001</key>
  <dict>
   <key>config_id</key>
   <string>1001</string>
   <key>skin_id</key>
   <string>1</string>
   <key>route_id</key>
   <string>1</string>
   <key>page</key>
   <string>1</string>
   <key>name</key>
   <string>逆贼之乱</string>
  </dict>
  <key>1002</key>
  <dict>
   <key>config_id</key>
   <string>1002</string>
   <key>skin_id</key>
   <string>2</string>
   <key>route_id</key>
   <string>2</string>
   <key>page</key>
   <string>1</string>
   <key>name</key>
   <string>剿灭叛党</string>
  </dict>
  <key>1003</key>
  <dict>
   <key>config_id</key>
   <string>1003</string>
   <key>skin_id</key>
   <string>3</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>1</string>
   <key>name</key>
   <string>董卓之战</string>
  </dict>
  <key>1004</key>
  <dict>
   <key>config_id</key>
   <string>1004</string>
   <key>skin_id</key>
   <string>4</string>
   <key>route_id</key>
   <string>4</string>
   <key>page</key>
   <string>1</string>
   <key>name</key>
   <string>江夏之战</string>
  </dict>
  <key>1005</key>
  <dict>
   <key>config_id</key>
   <string>1005</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>5</string>
   <key>page</key>
   <string>1</string>
   <key>name</key>
   <string>宛城突袭战</string>
  </dict>
  <key>1006</key>
  <dict>
   <key>config_id</key>
   <string>1006</string>
   <key>skin_id</key>
   <string>1</string>
   <key>route_id</key>
   <string>1</string>
   <key>page</key>
   <string>2</string>
   <key>name</key>
   <string>易京之战</string>
  </dict>
  <key>1007</key>
  <dict>
   <key>config_id</key>
   <string>1007</string>
   <key>skin_id</key>
   <string>2</string>
   <key>route_id</key>
   <string>2</string>
   <key>page</key>
   <string>2</string>
   <key>name</key>
   <string>巨马水之战</string>
  </dict>
  <key>1008</key>
  <dict>
   <key>config_id</key>
   <string>1008</string>
   <key>skin_id</key>
   <string>3</string>
   <key>route_id</key>
   <string>1</string>
   <key>page</key>
   <string>2</string>
   <key>name</key>
   <string>襄阳之战</string>
  </dict>
  <key>1009</key>
  <dict>
   <key>config_id</key>
   <string>1009</string>
   <key>skin_id</key>
   <string>4</string>
   <key>route_id</key>
   <string>1</string>
   <key>page</key>
   <string>2</string>
   <key>name</key>
   <string>讨袁之战</string>
  </dict>
  <key>1010</key>
  <dict>
   <key>config_id</key>
   <string>1010</string>
   <key>skin_id</key>
   <string>4</string>
   <key>route_id</key>
   <string>1</string>
   <key>page</key>
   <string>2</string>
   <key>name</key>
   <string>官渡大决战（上）</string>
  </dict>
  <key>1011</key>
  <dict>
   <key>config_id</key>
   <string>1011</string>
   <key>skin_id</key>
   <string>4</string>
   <key>route_id</key>
   <string>2</string>
   <key>page</key>
   <string>3</string>
   <key>name</key>
   <string>官渡大决战（中）</string>
  </dict>
  <key>1012</key>
  <dict>
   <key>config_id</key>
   <string>1012</string>
   <key>skin_id</key>
   <string>4</string>
   <key>route_id</key>
   <string>2</string>
   <key>page</key>
   <string>3</string>
   <key>name</key>
   <string>官渡大决战（下）</string>
  </dict>
  <key>1013</key>
  <dict>
   <key>config_id</key>
   <string>1013</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>1</string>
   <key>page</key>
   <string>3</string>
   <key>name</key>
   <string>三战新野（一）</string>
  </dict>
  <key>1014</key>
  <dict>
   <key>config_id</key>
   <string>1014</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>2</string>
   <key>page</key>
   <string>3</string>
   <key>name</key>
   <string>三战新野（二）</string>
  </dict>
  <key>1015</key>
  <dict>
   <key>config_id</key>
   <string>1015</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>3</string>
   <key>name</key>
   <string>三战新野（三）</string>
  </dict>
  <key>1016</key>
  <dict>
   <key>config_id</key>
   <string>1016</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>赤壁之战（一）</string>
  </dict>
  <key>1017</key>
  <dict>
   <key>config_id</key>
   <string>1017</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>赤壁之战（二）</string>
  </dict>
  <key>1018</key>
  <dict>
   <key>config_id</key>
   <string>1018</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>赤壁之战（三）</string>
  </dict>
  <key>1019</key>
  <dict>
   <key>config_id</key>
   <string>1019</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>合肥之战（上）</string>
  </dict>
  <key>1020</key>
  <dict>
   <key>config_id</key>
   <string>1020</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>合肥之战（下）</string>
  </dict>
  <key>1021</key>
  <dict>
   <key>config_id</key>
   <string>1021</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>潼关之战</string>
  </dict>
  <key>1022</key>
  <dict>
   <key>config_id</key>
   <string>1022</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>汉中之战</string>
  </dict>
  <key>1023</key>
  <dict>
   <key>config_id</key>
   <string>1023</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>樊城之战</string>
  </dict>
  <key>1024</key>
  <dict>
   <key>config_id</key>
   <string>1024</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>夷陵之战</string>
  </dict>
  <key>1025</key>
  <dict>
   <key>config_id</key>
   <string>1025</string>
   <key>skin_id</key>
   <string>5</string>
   <key>route_id</key>
   <string>3</string>
   <key>page</key>
   <string>-99</string>
   <key>name</key>
   <string>南中平定战</string>
  </dict>
 </dict>
</plist>
