<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1001</key>
  <dict>
   <key>config_id</key>
   <string>1001</string>
   <key>name</key>
   <string>二次南征一</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领至少四个紫将</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击后排技能，要加强阵容中后排武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>727</string>
   <key>sc</key>
   <string>1600</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>3003</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>2</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2907</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>4</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1303</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1002</key>
  <dict>
   <key>config_id</key>
   <string>1002</string>
   <key>name</key>
   <string>二次南征二</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领死亡不超过四个</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击后排技能，要加强阵容中后排武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>732</string>
   <key>sc</key>
   <string>1605</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>3001</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>4</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2912</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>2</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1303</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1003</key>
  <dict>
   <key>config_id</key>
   <string>1003</string>
   <key>name</key>
   <string>二次南征三</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领全部为群雄</string>
    <string>战斗结束后总血量剩下85%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击后排技能，要加强阵容中后排武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>745</string>
   <key>sc</key>
   <string>1610</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>3002</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2913</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1303</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1204</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1004</key>
  <dict>
   <key>config_id</key>
   <string>1004</string>
   <key>name</key>
   <string>智女辛宪英</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领至少有一蜀将</string>
    <string>战斗结束后总血量剩下80%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>增加一个有攻击后排技能的武将</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>748</string>
   <key>sc</key>
   <string>1615</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2915</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1303</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1005</key>
  <dict>
   <key>config_id</key>
   <string>1005</string>
   <key>name</key>
   <string>厮杀一</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领死亡不超过三个</string>
    <string>战斗结束后总血量剩下85%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>750</string>
   <key>sc</key>
   <string>1620</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>3005</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2914</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1303</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1308</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1006</key>
  <dict>
   <key>config_id</key>
   <string>1006</string>
   <key>name</key>
   <string>厮杀二</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领死亡不超过两个</string>
    <string>战斗结束后总血量剩下85%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击全体技能，要加强阵容中武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>752</string>
   <key>sc</key>
   <string>1625</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2913</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>3006</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1304</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1007</key>
  <dict>
   <key>config_id</key>
   <string>1007</string>
   <key>name</key>
   <string>谋士荀彧</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领死亡不超过一个</string>
    <string>战斗结束后总血量剩下85%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>强化前排的先锋或更换更强力的先锋</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>754</string>
   <key>sc</key>
   <string>1630</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>3009</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1408</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1201</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1008</key>
  <dict>
   <key>config_id</key>
   <string>1008</string>
   <key>name</key>
   <string>火烧新野一</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领不能有魏将</string>
    <string>战斗结束后总血量剩下90%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有反弹伤害技能，要尽可能提高高伤害武将的统御，防止武将被反弹致死。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>755</string>
   <key>sc</key>
   <string>1635</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>3010</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2907</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>3</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1304</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1009</key>
  <dict>
   <key>config_id</key>
   <string>1009</string>
   <key>name</key>
   <string>火烧新野二</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领全部为蜀将</string>
    <string>战斗结束后总血量剩下90%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>756</string>
   <key>sc</key>
   <string>1650</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>3011</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>4</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>2916</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>2</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1304</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1309</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
  <key>1010</key>
  <dict>
   <key>config_id</key>
   <string>1010</string>
   <key>name</key>
   <string>敌将夏侯渊</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string>上阵将领魏蜀吴群各一个</string>
    <string>战斗结束后总血量剩下90%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>强化你的先锋或更换更强力的先锋</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>757</string>
   <key>sc</key>
   <string>1660</string>
   <key>reward</key>
   <array>
    <dict>
     <key>config_id</key>
     <string>2905</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>5</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1403</string>
     <key>type</key>
     <string>2</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>1304</string>
     <key>type</key>
     <string>3</string>
     <key>num</key>
     <string>1</string>
    </dict>
    <dict>
     <key>config_id</key>
     <string>6203</string>
     <key>type</key>
     <string>1</string>
     <key>num</key>
     <string>1</string>
    </dict>
   </array>
  </dict>
 </dict>
</plist>
