<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1001</key>
  <dict>
   <key>config_id</key>
   <string>1001</string>
   <key>name</key>
   <string>进军官渡</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有反弹伤害技能，要尽可能提高高伤害武将的统御，防止武将被反弹致死。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>800</string>
   <key>sc</key>
   <string>1740</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1002</key>
  <dict>
   <key>config_id</key>
   <string>1002</string>
   <key>name</key>
   <string>敌将荀攸</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击竖列技能，可以尝试通过布阵将后排武将错开位置。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>805</string>
   <key>sc</key>
   <string>1745</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1003</key>
  <dict>
   <key>config_id</key>
   <string>1003</string>
   <key>name</key>
   <string>向南行军</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有反弹伤害技能，要尽可能提高高伤害武将的统御，防止武将被反弹致死。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>807</string>
   <key>sc</key>
   <string>1750</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1004</key>
  <dict>
   <key>config_id</key>
   <string>1004</string>
   <key>name</key>
   <string>剑指荆州</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击竖列技能，可以尝试通过布阵将后排武将错开位置。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>810</string>
   <key>sc</key>
   <string>1755</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1005</key>
  <dict>
   <key>config_id</key>
   <string>1005</string>
   <key>name</key>
   <string>饮马汉江</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>813</string>
   <key>sc</key>
   <string>1760</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1006</key>
  <dict>
   <key>config_id</key>
   <string>1006</string>
   <key>name</key>
   <string>西入江陵</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击后排技能，要加强阵容中后排武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>815</string>
   <key>sc</key>
   <string>1765</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1007</key>
  <dict>
   <key>config_id</key>
   <string>1007</string>
   <key>name</key>
   <string>劳军整顿</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string></string>
   <key>sc</key>
   <string></string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1008</key>
  <dict>
   <key>config_id</key>
   <string>1008</string>
   <key>name</key>
   <string>敌将乐进</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。 </string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有反弹伤害技能，要尽可能提高高伤害武将的统御，防止武将被反弹致死。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>818</string>
   <key>sc</key>
   <string>1770</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1009</key>
  <dict>
   <key>config_id</key>
   <string>1009</string>
   <key>name</key>
   <string>水陆并进</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击前排技能，可以尝试通过布阵将非先锋武将移至后排。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>820</string>
   <key>sc</key>
   <string>1775</string>
   <key>reward</key>
   <array/>
  </dict>
  <key>1010</key>
  <dict>
   <key>config_id</key>
   <string>1010</string>
   <key>name</key>
   <string>敌将曹丕</string>
   <key>ifDes</key>
   <array>
    <string>通过关卡即可获得1个旗子</string>
    <string></string>
    <string>战斗结束后总血量剩下%</string>
   </array>
   <key>fail_tips</key>
   <array>
    <string>可在战胜的关卡重复战斗获得士兵卡，在点将台中升级你的武将。</string>
    <string>可以招贤馆招募到更高级的武将或强化你的装备提升实力。</string>
    <string>敌方武将有攻击后排技能，要加强阵容中后排武将的统御，或尽快杀死对方此武将。</string>
   </array>
   <key>power</key>
   <string>5</string>
   <key>user_lv</key>
   <string>0</string>
   <key>exp</key>
   <string>824</string>
   <key>sc</key>
   <string>1780</string>
   <key>reward</key>
   <array/>
  </dict>
 </dict>
</plist>
