<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2101</key>
	<dict>
		<key>config_id</key>
		<string>2101</string>
		<key>to_config_id</key>
		<string>3301</string>
		<key>silver_coin</key>
		<string>1999</string>
		<key>prestige_level</key>
		<string>20</string>
		<key>materials</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>num</key>
				<string>10</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1002</string>
				<key>num</key>
				<string>20</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1003</string>
				<key>num</key>
				<string>30</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1004</string>
				<key>num</key>
				<string>45</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1005</string>
				<key>num</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
	<key>2102</key>
	<dict>
		<key>config_id</key>
		<string>2102</string>
		<key>to_config_id</key>
		<string>3301</string>
		<key>silver_coin</key>
		<string>1999</string>
		<key>prestige_level</key>
		<string>20</string>
		<key>materials</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>num</key>
				<string>10</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1002</string>
				<key>num</key>
				<string>20</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1003</string>
				<key>num</key>
				<string>30</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1004</string>
				<key>num</key>
				<string>45</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1005</string>
				<key>num</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
	<key>2201</key>
	<dict>
		<key>config_id</key>
		<string>2201</string>
		<key>to_config_id</key>
		<string>3301</string>
		<key>silver_coin</key>
		<string>1999</string>
		<key>prestige_level</key>
		<string>20</string>
		<key>materials</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>num</key>
				<string>10</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1002</string>
				<key>num</key>
				<string>20</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1003</string>
				<key>num</key>
				<string>30</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1004</string>
				<key>num</key>
				<string>45</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1005</string>
				<key>num</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
	<key>2202</key>
	<dict>
		<key>config_id</key>
		<string>2202</string>
		<key>to_config_id</key>
		<string>3301</string>
		<key>silver_coin</key>
		<string>1999</string>
		<key>prestige_level</key>
		<string>20</string>
		<key>materials</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>num</key>
				<string>10</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1002</string>
				<key>num</key>
				<string>20</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1003</string>
				<key>num</key>
				<string>30</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1004</string>
				<key>num</key>
				<string>45</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1005</string>
				<key>num</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
	<key>2301</key>
	<dict>
		<key>config_id</key>
		<string>2301</string>
		<key>to_config_id</key>
		<string>3301</string>
		<key>silver_coin</key>
		<string>1999</string>
		<key>prestige_level</key>
		<string>20</string>
		<key>materials</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>num</key>
				<string>10</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1002</string>
				<key>num</key>
				<string>20</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1003</string>
				<key>num</key>
				<string>30</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1004</string>
				<key>num</key>
				<string>45</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1005</string>
				<key>num</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
	<key>2302</key>
	<dict>
		<key>config_id</key>
		<string>2302</string>
		<key>to_config_id</key>
		<string>3301</string>
		<key>silver_coin</key>
		<string>1999</string>
		<key>prestige_level</key>
		<string>20</string>
		<key>materials</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>num</key>
				<string>10</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1002</string>
				<key>num</key>
				<string>20</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1003</string>
				<key>num</key>
				<string>30</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1004</string>
				<key>num</key>
				<string>45</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1005</string>
				<key>num</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
	<key>2401</key>
	<dict>
		<key>config_id</key>
		<string>2401</string>
		<key>to_config_id</key>
		<string>3301</string>
		<key>silver_coin</key>
		<string>1999</string>
		<key>prestige_level</key>
		<string>20</string>
		<key>materials</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>num</key>
				<string>10</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1002</string>
				<key>num</key>
				<string>20</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1003</string>
				<key>num</key>
				<string>30</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1004</string>
				<key>num</key>
				<string>45</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1005</string>
				<key>num</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
	<key>2402</key>
	<dict>
		<key>config_id</key>
		<string>2402</string>
		<key>to_config_id</key>
		<string>3301</string>
		<key>silver_coin</key>
		<string>1999</string>
		<key>prestige_level</key>
		<string>20</string>
		<key>materials</key>
		<array>
			<dict>
				<key>config_id</key>
				<string>1001</string>
				<key>num</key>
				<string>10</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1002</string>
				<key>num</key>
				<string>20</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1003</string>
				<key>num</key>
				<string>30</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1004</string>
				<key>num</key>
				<string>45</string>
			</dict>
			<dict>
				<key>config_id</key>
				<string>1005</string>
				<key>num</key>
				<string>50</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
