<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>2101</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2102</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2201</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2202</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2203</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2301</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2302</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2303</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2401</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2402</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2403</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2404</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2405</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2406</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2407</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
  <key>2408</key>
  <dict>
   <key>sc_base_exp</key>
   <string>20</string>
   <key>sc_lv_exp</key>
   <string>0</string>
   <key>gc_base_exp</key>
   <string>30</string>
   <key>gc_lv_exp</key>
   <string>0</string>
  </dict>
 </dict>
</plist>
