<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>config_id</key>
		<string>1</string>
		<key>money</key>
		<string>6</string>
		<key>gold</key>
		<string>60</string>
		<key>award_gold</key>
		<string>0</string>
		<key>product_id</key>
		<string>107927-20130425-102101213-10</string>
		<key>name</key>
		<string>60个元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>2</key>
	<dict>
		<key>config_id</key>
		<string>2</string>
		<key>money</key>
		<string>30</string>
		<key>gold</key>
		<string>300</string>
		<key>award_gold</key>
		<string>20</string>
		<key>product_id</key>
		<string>107927-20130425-102714984-80</string>
		<key>name</key>
		<string>300个元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>3</key>
	<dict>
		<key>config_id</key>
		<string>3</string>
		<key>money</key>
		<string>98</string>
		<key>gold</key>
		<string>980</string>
		<key>award_gold</key>
		<string>100</string>
		<key>product_id</key>
		<string>107927-20130425-102938829-82</string>
		<key>name</key>
		<string>980个元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>4</key>
	<dict>
		<key>config_id</key>
		<string>4</string>
		<key>money</key>
		<string>198</string>
		<key>gold</key>
		<string>1980</string>
		<key>award_gold</key>
		<string>220</string>
		<key>product_id</key>
		<string>107927-20130425-103327395-17</string>
		<key>name</key>
		<string>1980个元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>5</key>
	<dict>
		<key>config_id</key>
		<string>5</string>
		<key>money</key>
		<string>328</string>
		<key>gold</key>
		<string>3280</string>
		<key>award_gold</key>
		<string>400</string>
		<key>product_id</key>
		<string>107927-20130425-103804774-17</string>
		<key>name</key>
		<string>3280个元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>6</key>
	<dict>
		<key>config_id</key>
		<string>6</string>
		<key>money</key>
		<string>648</string>
		<key>gold</key>
		<string>6480</string>
		<key>award_gold</key>
		<string>900</string>
		<key>product_id</key>
		<string>107927-20130425-103918666-68</string>
		<key>name</key>
		<string>6480个元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
</dict>
</plist>
