<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>config_id</key>
		<string>1001</string>
		<key>num</key>
		<string>100</string>
	</dict>
	<key>2</key>
	<dict>
		<key>config_id</key>
		<string>1001</string>
		<key>num</key>
		<string>100</string>
	</dict>
	<key>3</key>
	<dict>
		<key>config_id</key>
		<string>1001</string>
		<key>num</key>
		<string>100</string>
	</dict>
	<key>4</key>
	<dict>
		<key>config_id</key>
		<string>1001</string>
		<key>num</key>
		<string>100</string>
	</dict>
</dict>
</plist>
