<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>config_id</key>
		<string>1</string>
		<key>money</key>
		<string>6</string>
		<key>gold</key>
		<string>60</string>
		<key>award_gold</key>
		<string>0</string>
		<key>product_id</key>
		<string>com.ismole.yiersanguo.iap.tier1</string>
		<key>name</key>
		<string>一小包元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>2</key>
	<dict>
		<key>config_id</key>
		<string>2</string>
		<key>money</key>
		<string>30</string>
		<key>gold</key>
		<string>300</string>
		<key>award_gold</key>
		<string>20</string>
		<key>product_id</key>
		<string>com.ismole.yiersanguo.iap.tier5</string>
		<key>name</key>
		<string>一大包元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>3</key>
	<dict>
		<key>config_id</key>
		<string>3</string>
		<key>money</key>
		<string>98</string>
		<key>gold</key>
		<string>980</string>
		<key>award_gold</key>
		<string>100</string>
		<key>product_id</key>
		<string>com.ismole.yiersanguo.iap.tier15</string>
		<key>name</key>
		<string>一小箱元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>4</key>
	<dict>
		<key>config_id</key>
		<string>4</string>
		<key>money</key>
		<string>198</string>
		<key>gold</key>
		<string>1980</string>
		<key>award_gold</key>
		<string>220</string>
		<key>product_id</key>
		<string>com.ismole.yiersanguo.iap.tier30</string>
		<key>name</key>
		<string>一大箱元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>5</key>
	<dict>
		<key>config_id</key>
		<string>5</string>
		<key>money</key>
		<string>328</string>
		<key>gold</key>
		<string>3280</string>
		<key>award_gold</key>
		<string>400</string>
		<key>product_id</key>
		<string>com.ismole.yiersanguo.iap.tier50</string>
		<key>name</key>
		<string>一小车元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
	<key>6</key>
	<dict>
		<key>config_id</key>
		<string>6</string>
		<key>money</key>
		<string>648</string>
		<key>gold</key>
		<string>6480</string>
		<key>award_gold</key>
		<string>900</string>
		<key>product_id</key>
		<string>com.ismole.yiersanguo.iap.tier60</string>
		<key>name</key>
		<string>一大车元宝</string>
		<key>currencyType</key>
		<string>￥</string>
	</dict>
</dict>
</plist>
