<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>5011</key>
  <string>你还没有追上目标呢</string>
  <key>5030</key>
  <string>无效邀请码</string>
  <key>5029</key>
  <string>无效邀请码</string>
  <key>5041</key>
  <string>不能重复挑战</string>
  <key>5043</key>
  <string>同一个将领不能重复上阵</string>
  <key>5042</key>
  <string>布阵数据异常</string>
  <key>5040</key>
  <string>守城已经失败，明天再来</string>
  <key>5045</key>
  <string>你缺少军师，请选择盟友军师上阵</string>
  <key>5046</key>
  <string>你缺少主帅或军师，无法继续挑战</string>
  <key>5044</key>
  <string>你缺少主帅，请选择盟友主帅上阵</string>
  <key>5048</key>
  <string>请主公顺序挑战</string>
  <key>5035</key>
  <string>您购买的点数不在允许范围内</string>
  <key>5032</key>
  <string>暂未达到条件</string>
  <key>5031</key>
  <string>奇遇谷没有这个难度地图</string>
  <key>5034</key>
  <string>体力不足，请补充体力</string>
  <key>5036</key>
  <string>地图还未通关，不能重置</string>
  <key>5037</key>
  <string>重置次数为0</string>
  <key>5033</key>
  <string>当前难度奇遇谷已经通关</string>
  <key>5002</key>
  <string>您已经领取过该奖励了呢</string>
  <key>5027</key>
  <string>已经使用过的兑换码</string>
  <key>5023</key>
  <string>你的注册时间在TA之前，不能领取</string>
  <key>5001</key>
  <string>活动还未开始或者已经结束</string>
  <key>5018</key>
  <string>你必须向相邻位置移动</string>
  <key>5003</key>
  <string>主公的等级还没有达到</string>
  <key>5019</key>
  <string>你的挑战次数已经超过次$maxTime次了</string>
  <key>5022</key>
  <string>你用的是自己的邀请码</string>
  <key>5024</key>
  <string>没有这种奖励</string>
  <key>5020</key>
  <string>邀请码不存在</string>
  <key>5009</key>
  <string>此怪物不存在</string>
  <key>5047</key>
  <string>邀请盟友次数不足</string>
  <key>5025</key>
  <string>暂无达到条件</string>
  <key>5012</key>
  <string>还没有轮到你出击呢</string>
  <key>5026</key>
  <string>无效兑换码</string>
  <key>5028</key>
  <string>无效邀请码</string>
  <key>5008</key>
  <string>没有相应的怪物</string>
  <key>5021</key>
  <string>你的注册时间在活动开启之前，不能参加注册领取</string>
  <key>5000</key>
  <string>活动出现错误</string>
  <key>5016</key>
  <string>目标位置有障碍，无法移动</string>
  <key>5015</key>
  <string>目标位置无法移动</string>
  <key>5050</key>
  <string>已经领取过体力</string>
  <key>5051</key>
  <string>还未到领取时间</string>
  <key>5017</key>
  <string>你移动的步数已经超过上限</string>
  <key>5005</key>
  <string>出错了，请再试一次</string>
  <key>5013</key>
  <string>目前已经没有活动次数，改天再来</string>
  <key>5004</key>
  <string>此难度不存在，请稍后再试</string>
  <key>5007</key>
  <string>没有主帅出战</string>
  <key>5010</key>
  <string>目标已经战败，不用重复挑战</string>
  <key>5006</key>
  <string>站位错误</string>
  <key>5014</key>
  <string>锦囊已经空了，下次再使用</string>
  <key>3000</key>
  <string>物品不存在，请再试一次</string>
  <key>3999</key>
  <string>打开失败，请稍后再试(comingSoon)</string>
  <key>3008</key>
  <string>您已经购买过此VIP礼包了</string>
  <key>3001</key>
  <string>增加物品失败，请重试</string>
  <key>3005</key>
  <string>物品是非卖品，无法购买</string>
  <key>3009</key>
  <string>你的招募令不足</string>
  <key>3004</key>
  <string>物品数量不足</string>
  <key>3002</key>
  <string>背包出现错误，请再试一次</string>
  <key>3003</key>
  <string>这个物品不存在</string>
  <key>3006</key>
  <string>vip礼包不存在</string>
  <key>3007</key>
  <string>您的VIP等级不足购买此礼包</string>
  <key>2015</key>
  <string>等级不够无法锻造</string>
  <key>2016</key>
  <string>已经是最高品质无需锻造</string>
  <key>2006</key>
  <string>装备已经有将领穿戴，不能卖出</string>
  <key>2003</key>
  <string>装备已经达到强化的最大值</string>
  <key>2001</key>
  <string>装备不存在</string>
  <key>2007</key>
  <string>装备的类型和将领的类型不符</string>
  <key>2011</key>
  <string>坐骑已经达到最高级，无需再喂养了</string>
  <key>2010</key>
  <string>坐骑不存在</string>
  <key>2009</key>
  <string>相应的兵法还没有刷新</string>
  <key>2002</key>
  <string>插入装备失败，请重试</string>
  <key>2000</key>
  <string>更换装备参数错误</string>
  <key>2012</key>
  <string>坐骑的id为空</string>
  <key>2013</key>
  <string>给坐骑增加的经验为空</string>
  <key>2014</key>
  <string>没有该坐骑记录</string>
  <key>2004</key>
  <string>相应兵法徽记不足</string>
  <key>2005</key>
  <string>兵法徽记不存在</string>
  <key>2008</key>
  <string>兵法配置不存在</string>
  <key>7201</key>
  <string>材料不存在</string>
  <key>4013</key>
  <string>Ta没有排行数据</string>
  <key>4020</key>
  <string>挑战/反击的目标不存在</string>
  <key>4021</key>
  <string>主公今天的挑战次数已经用完，明天再战</string>
  <key>4902</key>
  <string>角色站位重复异常($group)</string>
  <key>4901</key>
  <string>角色站位异常:$pId</string>
  <key>4900</key>
  <string>角色属性缺失:$property</string>
  <key>4904</key>
  <string>出战军师重复异常($group)</string>
  <key>4903</key>
  <string>出战主帅重复异常($group)</string>
  <key>4905</key>
  <string>出战队伍($group)缺失$rank</string>
  <key>4014</key>
  <string>无法正确兑换，请再试一次</string>
  <key>4018</key>
  <string>领取奖励记录错误，请去仓库查看</string>
  <key>4017</key>
  <string>您已经领取过该奖励了呢</string>
  <key>4906</key>
  <string>你已经领取过此通过奖励了呢</string>
  <key>4016</key>
  <string>您还没有进入过相关的名次呢</string>
  <key>4005</key>
  <string>关卡征战记录有误，请稍后再试</string>
  <key>4004</key>
  <string>无法掉落物品，请稍后再试</string>
  <key>4008</key>
  <string>关卡物品奖励不存在</string>
  <key>4006</key>
  <string>您还没有打开此关卡的权限</string>
  <key>4002</key>
  <string>关卡不存在</string>
  <key>4001</key>
  <string>您还没有打开地图</string>
  <key>4000</key>
  <string>地图不存在，请重新打开</string>
  <key>4007</key>
  <string>关卡怪物不存在，请再试一次</string>
  <key>4907</key>
  <string>你的旗子数($csn)没有达到($needSn)</string>
  <key>4019</key>
  <string>没有抢夺的目标</string>
  <key>4011</key>
  <string>排行出错了，请重新进入排行界面</string>
  <key>4015</key>
  <string>没有相应的排行奖励</string>
  <key>4003</key>
  <string>评星失败了，请再试一次</string>
  <key>4908</key>
  <string>你的主公等级没有达到开启等级$needLv</string>
  <key>4012</key>
  <string>您还没有获得排行</string>
  <key>4009</key>
  <string>此兵法不存在</string>
  <key>4010</key>
  <string>此兵法碎片不存在</string>
  <key>7005</key>
  <string>你已经领取过体力了</string>
  <key>7008</key>
  <string>TA的好友数量达到最大上限</string>
  <key>7001</key>
  <string>你对TA已经发送过申请</string>
  <key>7002</key>
  <string>你俩已经是好友关系，不能申请</string>
  <key>7004</key>
  <string>好友数量达到当前等级最大上限</string>
  <key>7007</key>
  <string>好友数量达到最大上限</string>
  <key>7003</key>
  <string>好友系统出错，请再试一次</string>
  <key>7006</key>
  <string>主公今日可接受次数已达上限</string>
  <key>7009</key>
  <string>用户不存在</string>
  <key>7010</key>
  <string>主公别调皮了</string>
  <key>7000</key>
  <string>不能给自己发送好友申请</string>
  <key>1008</key>
  <string>武力值不足</string>
  <key>1007</key>
  <string>武力值错误，请稍后再试</string>
  <key>1017</key>
  <string>将领经验为空，请重新登录</string>
  <key>1028</key>
  <string>将领在出战状态，无法出售</string>
  <key>1002</key>
  <string>将领已经存在</string>
  <key>1005</key>
  <string>将领记录不存在</string>
  <key>1027</key>
  <string>将领$aId缺少技能</string>
  <key>1001</key>
  <string>将领不存在，请重新登陆</string>
  <key>1003</key>
  <string>将魂已经存在</string>
  <key>1006</key>
  <string>将领记录错误，请再试一次</string>
  <key>1021</key>
  <string>招募请求错误，请再试一次</string>
  <key>1010</key>
  <string>智力值不足</string>
  <key>1009</key>
  <string>智力值错误，请稍后再试</string>
  <key>1004</key>
  <string>添加将领出错了，请再试一次</string>
  <key>1012</key>
  <string>统御值不足</string>
  <key>1011</key>
  <string>统御值错误，请稍后再试</string>
  <key>1000</key>
  <string>增加将领失败，请稍后再试</string>
  <key>1020</key>
  <string>将领站位重复</string>
  <key>1018</key>
  <string>主公，将领位置不对吧</string>
  <key>1019</key>
  <string>主公等级不足，不能使用此站位</string>
  <key>1016</key>
  <string>潜力值不足</string>
  <key>1015</key>
  <string>潜力值错误，请稍后再试</string>
  <key>1014</key>
  <string>将魂不足</string>
  <key>1013</key>
  <string>将魂错误，请稍后再试</string>
  <key>1023</key>
  <string>将领升级-被吞将领错误，请稍后再试</string>
  <key>1025</key>
  <string>出战将领不可以用来升级</string>
  <key>1026</key>
  <string>被吞将领不存在</string>
  <key>1024</key>
  <string>您没有相应的将领</string>
  <key>1022</key>
  <string>将领培养错误，请再试一次</string>
  <key>7106</key>
  <string>您的邮件有未领取奖励，删除失败</string>
  <key>7102</key>
  <string>奖励已领取</string>
  <key>7101</key>
  <string>这封信件没有奖励</string>
  <key>7100</key>
  <string>信件不存在</string>
  <key>7105</key>
  <string>用户不存在</string>
  <key>7103</key>
  <string>发送失败</string>
  <key>7104</key>
  <string>不能给自己发送信件</string>
  <key>3</key>
  <string>您在不同的设备同时登陆了，请重新登陆</string>
  <key>4</key>
  <string>您很久没有来了，请重新登陆</string>
  <key>5</key>
  <string>有新版本更新咯，您可以更新一下</string>
  <key>6</key>
  <string>您的版本不是最新版本</string>
  <key>9</key>
  <string>您好，目前正在例行维护中</string>
  <key>2</key>
  <string>您尝试次数过多，请稍后重试</string>
  <key>1</key>
  <string>出错啦，请稍后重试</string>
  <key>90</key>
  <string>查找错误，请再试一次</string>
  <key>89</key>
  <string>出错啦，请稍后重试</string>
  <key>92</key>
  <string>没有您要找的东西</string>
  <key>91</key>
  <string>您要找的东西好像没有</string>
  <key>93</key>
  <string>主公，版本错啦</string>
  <key>6001</key>
  <string>打折活动已经结束了</string>
  <key>6002</key>
  <string>打折活动还没有开启呢</string>
  <key>6000</key>
  <string>商城无法打开，请重新登陆</string>
  <key>136</key>
  <string>主公，你体力是满的，不用购买拉</string>
  <key>135</key>
  <string>主公，你的体力已经不足了呢，并且已经购买过了$curMaxTime次体力，明天再试吧</string>
  <key>118</key>
  <string>积分数量不足</string>
  <key>138</key>
  <string>主公，你的设备已经绑定过帐号，请直接登陆即可</string>
  <key>143</key>
  <string>你需要先进入游戏绑定原来的游戏进度，再使用此帐号登陆</string>
  <key>139</key>
  <string>主公，你的帐号已经绑定过其他设备，请换一个帐号吧</string>
  <key>123</key>
  <string>您的email已经存在，请直接登陆即可</string>
  <key>113</key>
  <string>元宝不足</string>
  <key>134</key>
  <string>指引步骤不存在，请稍后再试</string>
  <key>104</key>
  <string>账号或密码错误，请验证后重试</string>
  <key>103</key>
  <string>出错啦，请重新登录</string>
  <key>114</key>
  <string>注册时出现错误，请重新注册</string>
  <key>121</key>
  <string>您输入的email不正确，请检查</string>
  <key>126</key>
  <string>登陆失败，请重试</string>
  <key>132</key>
  <string>已经有人捷足先登了，换一个试试</string>
  <key>131</key>
  <string>主公名字好像不太对，换一个试试</string>
  <key>133</key>
  <string>名字有点长呢，换一个试试</string>
  <key>117</key>
  <string>出错了，请再试一次</string>
  <key>137</key>
  <string>主公，你的设备还没有进入游戏，请先直接登陆游戏</string>
  <key>105</key>
  <string>出错了，请再试一次</string>
  <key>112</key>
  <string>出错了，请再试一次</string>
  <key>115</key>
  <string>出错了，请再试一次</string>
  <key>106</key>
  <string>出错了，请再试一次</string>
  <key>110</key>
  <string>出错了，请再试一次</string>
  <key>108</key>
  <string>出错了，请再试一次</string>
  <key>101</key>
  <string>出错啦，请重新登录</string>
  <key>102</key>
  <string>出错啦，请重新登录</string>
  <key>125</key>
  <string>密码错误，请重试</string>
  <key>122</key>
  <string>请输入密码</string>
  <key>116</key>
  <string>培养丹不足</string>
  <key>119</key>
  <string>体力已经是最大值</string>
  <key>107</key>
  <string>体力不足</string>
  <key>124</key>
  <string>注册失败，请重试</string>
  <key>111</key>
  <string>银币不足</string>
  <key>120</key>
  <string>军令已经是最大值</string>
  <key>109</key>
  <string>军令不足</string>
  <key>130</key>
  <string>用户标识错误</string>
  <key>129</key>
  <string>注册失败，请重试</string>
  <key>128</key>
  <string>你的邮箱不合法，请换一个重试</string>
  <key>127</key>
  <string>登陆失败，请重试</string>
  <key>142</key>
  <string>已经领取了vip奖励</string>
  <key>141</key>
  <string>vip等级不足</string>
  <key>140</key>
  <string>vip出现错误，请稍后再试</string>
  <key>5038</key>
  <string>已经选择过路</string>
  <key>5039</key>
  <string>当前点不是路口</string>
  <key>1029</key>
  <string>被吞将领不存在</string>
  <key>1030</key>
  <string>被吞将领等级不符</string>
  <key>1031</key>
  <string>封官将领不存在</string>
  <key>1032</key>
  <string>当前将领不能封官</string>
  <key>1033</key>
  <string>当前将领等级不足</string>
  <key>5052</key>
  <string>暂无此档奖励</string>
  <key>5053</key>
  <string>暂未到达条件</string>
  <key>5054</key>
  <string>已经领取</string>
  <key>5055</key>
  <string>暂无此档奖励</string>
  <key>5056</key>
  <string>领取时间过期</string>
  <key>5057</key>
  <string>已经领取</string>
  <key>1034</key>
  <string>将领在锁定状态，无法出售</string>
  <key>1035</key>
  <string>将领在锁定状态，无法封官</string>
  <key>1036</key>
  <string>锁定将领不可以用来升级</string>
  <key>1037</key>
  <string>您的操作太快了，请稍后再试</string>
  <key>2017</key>
  <string>需要的兵法错误</string>
  <key>2018</key>
  <string>请选择需要的兵法</string>
  <key>2019</key>
  <string>请不要重复操作</string>
  <key>7301</key>
  <string>没有这个宝典</string>
  <key>7302</key>
  <string>当前宝典已领取</string>
  <key>5058</key>
  <string>还未到领取时间</string>
  <key>5059</key>
  <string>玫瑰数量不足</string>
  <key>5060</key>
  <string>请不要重复领取奖励</string>
 </dict>
</plist>
