<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equip_newborder</key>
	<string>big_border_%d.png</string>
	<key>preview_buff</key>
	<string>preview_buff_%d.png</string>
	<key>arms_full</key>
	<string>arms_full_%d.png</string>
	<key>strengbtn_small_normal_1</key>
	<string>button-041.png</string>
	<key>strengbtn_small_highlighted_1</key>
	<string>button-072.png</string>
	<key>strengbtn_small_disabled_1</key>
	<string>button-042.png</string>
	<key>strengbtn_big_normal_1</key>
	<string>button-025.png</string>
	<key>strengbtn_big_highlighted_1</key>
	<string>button-026.png</string>
	<key>strengbtn_big_disabled_1</key>
	<string>button-027.png</string>
	<key>strengbtn_small_normal_2</key>
	<string>button-234.png</string>
	<key>strengbtn_small_highlighted_2</key>
	<string>button-235.png</string>
	<key>strengbtn_small_disabled_2</key>
	<string>button-236.png</string>
	<key>strengbtn_big_normal_2</key>
	<string>button-237.png</string>
	<key>strengbtn_big_highlighted_2</key>
	<string>button-238.png</string>
	<key>strengbtn_big_disabled_2</key>
	<string>button-239.png</string>
	<key>forgebtn_small_normal_1</key>
	<string>button-207.png</string>
	<key>forgebtn_small_highlighted_1</key>
	<string>button-208.png</string>
	<key>forgebtn_small_disabled_1</key>
	<string>button-209.png</string>
	<key>forgebtn_big_normal_1</key>
	<string>button-204.png</string>
	<key>forgebtn_big_highlighted_1</key>
	<string>button-205.png</string>
	<key>forgebtn_big_disabled_1</key>
	<string>button-206.png</string>
	<key>forgebtn_small_normal_2</key>
	<string>button-219.png</string>
	<key>forgebtn_small_highlighted_2</key>
	<string>button-220.png</string>
	<key>forgebtn_small_disabled_2</key>
	<string>button-221.png</string>
	<key>forgebtn_big_normal_2</key>
	<string>button-222.png</string>
	<key>forgebtn_big_highlighted_2</key>
	<string>button-223.png</string>
	<key>forgebtn_big_disabled_2</key>
	<string>button-224.png</string>
	<key>ContinuousLandingLayer</key>
	<string>ContinuousLandingLayer.ccbi</string>
	<key>BottomPageLayer</key>
	<string>BottomPageLayer.ccbi</string>
	<key>EmbattleHeroLayer</key>
	<string>EmbattleHeroLayer.ccbi</string>
	<key>EquipInfoLayer</key>
	<string>EquipInfoLayer.ccbi</string>
	<key>ExhaustLineAwardContainerLayer</key>
	<string>ExhaustLineAwardContainerLayer.ccbi</string>
	<key>ExhaustLineAwardItemLayer</key>
	<string>ExhaustLineAwardItemLayer.ccbi</string>
	<key>ExhaustLineBaseItemLayer</key>
	<real>0</real>
	<key>ExhaustLineContainerLayer</key>
	<string>ExhaustLineContainerLayer.ccbi</string>
	<key>ExhaustLineCurrentItemLayer</key>
	<string>ExhaustLineCurrentItemLayer.ccbi</string>
	<key>ExhaustLineItemLayer</key>
	<string>ExhaustLineItemLayer.ccbi</string>
	<key>ExhaustLineLayer</key>
	<string>ExhaustLineLayer.ccbi</string>
	<key>ExhaustLineTopItemLayer</key>
	<string>ExhaustLineTopItemLayer.ccbi</string>
	<key>ExhaustLineViewLineupLayer</key>
	<string>ExhaustLineViewLineupLayer.ccbi</string>
	<key>FightLayer</key>
	<string>FightLayer.ccbi</string>
	<key>FightResultLayer</key>
	<string>FightResultLayer.ccbi</string>
	<key>FightResultLoseLayer</key>
	<string>FightResultLoseLayer.ccbi</string>
	<key>GameConfirmLayer</key>
	<string>GameConfirmLayer.ccbi</string>
	<key>GameUIMaskLayer</key>
	<string>GameUIMaskLayer.ccbi</string>
	<key>GameUIMaskLayerFull</key>
	<string>GameUIMaskLayerFull.ccbi</string>
	<key>HeroEmbattleLayer</key>
	<string>HeroEmbattleLayer.ccbi</string>
	<key>HeroInfoLayer</key>
	<string>HeroInfoLayer.ccbi</string>
	<key>HeroEdgeInfo</key>
	<string>HeroEdgeInfo.ccbi</string>
	<key>HeroLayer</key>
	<string>HeroLayer.ccbi</string>
	<key>HomeLayer</key>
	<string>HomeLayer.ccbi</string>
	<key>JobsMuseumItemLayer</key>
	<string>JobsMuseumItemLayer.ccbi</string>
	<key>JobsMuseumLayer</key>
	<string>JobsMuseumLayer.ccbi</string>
	<key>JobsMuseumResultLayer</key>
	<string>JobsMuseumResultLayer.ccbi</string>
	<key>LackGoldCoinLayer</key>
	<string>LackGoldCoinLayer.ccbi</string>
	<key>ListSortBanner</key>
	<string>ListSortBanner.ccbi</string>
	<key>LoadingIcon</key>
	<string>shape-010.png</string>
	<key>SelectEquipItemLayer</key>
	<string>SelectEquipItemLayer.ccbi</string>
	<key>SelectEquipLayer</key>
	<string>SelectEquipLayer.ccbi</string>
	<key>SelectHeroItemLayer</key>
	<string>SelectHeroItemLayer.ccbi</string>
	<key>SelectHeroLayer</key>
	<string>SelectHeroLayer.ccbi</string>
	<key>SystemNoticeLayer</key>
	<string>SystemNoticeLayer.ccbi</string>
	<key>arms_border</key>
	<string>arms_border_%d.png</string>
	<key>arms_type</key>
	<string>arms_type_%d.png</string>
	<key>around_action</key>
	<string>fight_round_%d.json</string>
	<key>around_texture</key>
	<string>fight_round.plist</string>
	<key>around_png</key>
	<string>fight_round.png</string>
	<key>around_prefix</key>
	<string>fight_round</string>
	<key>atkreg_red_rect</key>
	<string>shape-022.png</string>
	<key>big_border</key>
	<string>big_border_%d.png</string>
	<key>competition_action</key>
	<string>competition_%d.json</string>
	<key>competition_texture</key>
	<string>competition.plist</string>
	<key>dark_flag</key>
	<string>shape-004.png</string>
	<key>disabled_flag</key>
	<string>shape-062.png</string>
	<key>decisive_action</key>
	<string>decisive_%d.json</string>
	<key>decisive_prefix</key>
	<string>decisive</string>
	<key>decisive_texture</key>
	<string>decisive.plist</string>
	<key>decisive_png</key>
	<string>decisive.png</string>
	<key>effect_action</key>
	<string>effect_%d.json</string>
	<key>effect_action_child</key>
	<string>effect_%d_%d.json</string>
	<key>effect_prefix</key>
	<string>effect_%d</string>
	<key>effect_prefix_child</key>
	<string>effect_%d_%d</string>
	<key>effect_texture</key>
	<string>effect_%d.plist</string>
	<key>embattle_item_back</key>
	<string>background-019.png</string>
	<key>embattle_item_light</key>
	<string>background-015.png</string>
	<key>equip_bigborder</key>
	<string>equip_bigborder_%d.png</string>
	<key>equip_border</key>
	<string>equip_border_%d.png</string>
	<key>equip_preview</key>
	<string>preview_equip_%d.png</string>
	<key>equip_skin</key>
	<string>skin_equip_%d.png</string>
	<key>equip_strengthen_good</key>
	<string>shape-040.png</string>
	<key>equip_strengthen_level</key>
	<string>shape-04%d.png</string>
	<key>exhaust_good</key>
	<string>goods_5.png</string>
	<key>exhaust_good_border</key>
	<string>background-054.png</string>
	<key>fight_border</key>
	<string>fight_border_%d.png</string>
	<key>fight_hero_progress</key>
	<string>progress-004.png</string>
	<key>get_award_title</key>
	<string>title-025.png</string>
	<key>goods</key>
	<string>goods_%d.png</string>
	<key>goods_bg</key>
	<string>background-054.png</string>
	<key>goods_preview</key>
	<string>goods_%d.png</string>
	<key>hand</key>
	<string>shape-031.png</string>
	<key>hero_border</key>
	<string>hero_border_%d.png</string>
	<key>hero_camp</key>
	<string>hero_camp_%d.png</string>
	<key>hero_card</key>
	<string>card_hero_%d.png</string>
	<key>hero_hire_action</key>
	<string>action_hero_hire_%d.json</string>
	<key>hero_hire_ui_action</key>
	<string>action_hero_hire_ui_%d.json</string>
	<key>hero_hire_prefix</key>
	<string>action_hero_hire</string>
	<key>hero_hire_ui_prefix</key>
	<string>action_hero_hire_ui</string>
	<key>hero_hire_texture</key>
	<string>action_hero_hire.plist</string>
	<key>hero_hire_ui_texture</key>
	<string>action_hero_hire_ui.plist</string>
	<key>hero_hire_png</key>
	<string>action_hero_hire.png</string>
	<key>hero_hire_ui_png</key>
	<string>action_hero_hire_ui.png</string>
	<key>hero_preview</key>
	<string>preview_hero_%d.png</string>
	<key>hero_skin</key>
	<string>skin_hero_%d.png</string>
	<key>job_head_1</key>
	<string>shape-032.png</string>
	<key>job_head_2</key>
	<string>shape-033.png</string>
	<key>job_head_3</key>
	<string>shape-034.png</string>
	<key>light_flag</key>
	<string>shape-003.png</string>
	<key>lock</key>
	<string>shape-019.png</string>
	<key>lord</key>
	<string>rank_1.png</string>
	<key>map_fight</key>
	<string>shape-018.png</string>
	<key>map_item</key>
	<string>map_%03d.png</string>
	<key>map_lock</key>
	<string>shape-019.png</string>
	<key>militaryadviser</key>
	<string>rank_2.png</string>
	<key>ok_btn_disabled</key>
	<string>button-044.png</string>
	<key>ok_btn_high</key>
	<string>button-045.png</string>
	<key>ok_btn_normal</key>
	<string>button-044.png</string>
	<key>particle_blow</key>
	<string>particle_blow_%d.plist</string>
	<key>particle_effect</key>
	<string>particle_effect_%d.plist</string>
	<key>particle_levelup</key>
	<string>particle_levelup.plist</string>
	<key>rank</key>
	<string>rank_%d.png</string>
	<key>route_do</key>
	<string>shape-015.png</string>
	<key>route_doing</key>
	<string>shape-018.png</string>
	<key>route_done</key>
	<string>shape-016.png</string>
	<key>skill_mix_json</key>
	<string>skill_mix_%d.json</string>
	<key>skill_mix_plist</key>
	<string>skill_mix.plist</string>
	<key>skill_mix_texture</key>
	<string>skill_mix</string>
	<key>skillcheckbtnbacksprite</key>
	<string>shape-030.png</string>
	<key>skillcheckbtnsprite</key>
	<string>background-069.png</string>
	<key>skillmix1quality1</key>
	<string>button-078.png</string>
	<key>skillmix1quality2</key>
	<string>button-079.png</string>
	<key>skillmix2quality1</key>
	<string>button-080.png</string>
	<key>skillmix2quality2</key>
	<string>button-081.png</string>
	<key>skillmix3quality1</key>
	<string>button-082.png</string>
	<key>skillmix3quality2</key>
	<string>button-083.png</string>
	<key>skillmix4quality1</key>
	<string>button-084.png</string>
	<key>skillmix4quality2</key>
	<string>button-085.png</string>
	<key>soldier_part</key>
	<string>soldier_part_%d_%d.png</string>
	<key>star</key>
	<string>shape-011.png</string>
	<key>user_levelup_action</key>
	<string>user_levelup.json</string>
	<key>user_levelup_prefix</key>
	<string>user_levelup</string>
	<key>user_levelup_texture</key>
	<string>user_levelup.plist</string>
	<key>action_fight_result_ui_prefix</key>
	<string>action_fight_result_ui</string>
	<key>action_fight_result_ui_texture</key>
	<string>action_fight_result_ui.plist</string>
	<key>action_fight_result_ui_1_action</key>
	<string>action_fight_result_ui_1.json</string>
	<key>action_fight_result_ui_2_action</key>
	<string>action_fight_result_ui_2.json</string>
	<key>action_fightTD_win_ui_prefix</key>
	<string>action_fightTD_win_ui</string>
	<key>action_fightTD_win_ui_texture</key>
	<string>action_fightTD_win_ui.plist</string>
	<key>action_fightTD_win_ui_action</key>
	<string>action_fightTD_win_ui.json</string>
	<key>action_fightTD_fire_prefix</key>
	<string>action_fightTD_fire</string>
	<key>action_fightTD_fire_texture</key>
	<string>action_fightTD_fire.plist</string>
	<key>action_fightTD_fire_1_action</key>
	<string>action_fightTD_fire_1.json</string>
	<key>action_fightTD_fire_2_action</key>
	<string>action_fightTD_fire_2.json</string>
	<key>action_fightPowerRank_dragon_prefix</key>
	<string>action_fightPowerRank_dragon</string>
	<key>action_fightPowerRank_dragon_texture</key>
	<string>action_fightPowerRank_dragon.plist</string>
	<key>action_fightPowerRank_dragon_action</key>
	<string>action_fightPowerRank_dragon.json</string>
	<key>action_fightTD_win_prefix</key>
	<string>action_fightTD_win</string>
	<key>action_fightTD_win_texture</key>
	<string>action_fightTD_win.plist</string>
	<key>action_fightTD_win_action</key>
	<string>action_fightTD_win.json</string>
	<key>action_fightTD_win_1_action</key>
	<string>action_fightTD_win_1.json</string>
	<key>action_fightTD_win_2_action</key>
	<string>action_fightTD_win_2.json</string>
	<key>LoginLayer</key>
	<string>LoginLayer.ccbi</string>
	<key>SelectServiceLayer</key>
	<string>SelectServiceLayer.ccbi</string>
	<key>ServiceItemLayer</key>
	<string>ServiceItemLayer.ccbi</string>
	<key>ServiceListLayer</key>
	<string>ServiceListLayer.ccbi</string>
	<key>server_new</key>
	<string>shape-039.png</string>
	<key>server_full</key>
	<string>shape-054.png</string>
	<key>input_back</key>
	<string>background-075.png</string>
	<key>RegisterLayer</key>
	<string>RegisterLayer.ccbi</string>
	<key>JobsMuseumMainLayer</key>
	<string>JobsMuseumMainLayer.ccbi</string>
	<key>LordInformationLayer</key>
	<string>LordInformationLayer.ccbi</string>
	<key>LoadingLayer</key>
	<string>LoadingLayer.ccbi</string>
	<key>goods_gold</key>
	<string>goods_15.png</string>
	<key>goods_silver</key>
	<string>goods_14.png</string>
	<key>customs_plist</key>
	<string>customs_pass_%d</string>
	<key>reload_normal</key>
	<string>button-182.png</string>
	<key>reload_highlighted</key>
	<string>button-183.png</string>
	<key>reload_disabled</key>
	<string>button-182.png</string>
	<key>fight_attack_texture</key>
	<string>fight_attack.plist</string>
	<key>fight_attack_action</key>
	<string>fight_attack_%d.json</string>
	<key>fight_attack_prefix</key>
	<string>fight_attack</string>
	<key>fight_attack_png</key>
	<string>fight_attack.png</string>
	<key>fight_blood_action</key>
	<string>fight_blood.json</string>
	<key>fight_blood_prefix</key>
	<string>fight_blood</string>
	<key>fight_deblood_crit_action</key>
	<string>fight_debuff_blood_crit.json</string>
	<key>fight_deblood_crit_prefix</key>
	<string>fight_debuff_blood_crit</string>
	<key>fight_deblood_crit_texture</key>
	<string>fight_debuff_blood_crit.plist</string>
	<key>fight_blood_crit_action</key>
	<string>fight_buff_blood_crit.json</string>
	<key>fight_blood_crit_prefix</key>
	<string>fight_buff_blood_crit</string>
	<key>fight_blood_crit_texture</key>
	<string>fight_buff_blood_crit.plist</string>
	<key>fight_deblood_seckill_action</key>
	<string>fight_debuff_blood_seckill.json</string>
	<key>fight_deblood_seckill_prefix</key>
	<string>fight_debuff_blood_seckill</string>
	<key>fight_deblood_seckill_texture</key>
	<string>fight_debuff_blood_seckill.plist</string>
	<key>fight_skill_texture</key>
	<string>fight_skill.plist</string>
	<key>fight_skill_action</key>
	<string>fight_skill_%d.json</string>
	<key>fight_skill_png</key>
	<string>fight_skill.png</string>
	<key>skill_exchange_texture</key>
	<string>skill_exchange.plist</string>
	<key>skill_exchange_action</key>
	<string>skill_exchange.json</string>
	<key>skill_exchange_png</key>
	<string>skill_exchange</string>
	<key>fight_skill_prefix</key>
	<string>fight_skill</string>
	<key>fight_background</key>
	<string>fight_background_%d.jpg</string>
	<key>activity_icon</key>
	<string>activity_%d.png</string>
	<key>ActivityItemLayer</key>
	<string>ActivityItemLayer.ccbi</string>
	<key>ActivityLayer</key>
	<string>ActivityLayer.ccbi</string>
	<key>goods_user_normal</key>
	<string>button-127.png</string>
	<key>goods_user_highlighted</key>
	<string>button-128.png</string>
	<key>goods_user_disabled</key>
	<string>button-129.png</string>
	<key>goods_foster_normal</key>
	<string>button-005.png</string>
	<key>goods_foster_highlighted</key>
	<string>button-007.png</string>
	<key>goods_foster_disabled</key>
	<string>button-006.png</string>
	<key>sell_normal</key>
	<string>button-301.png</string>
	<key>sell_highlighted</key>
	<string>button-302.png</string>
	<key>sell_disable</key>
	<string>button-303.png</string>
	<key>ActivityUpgradeAwardItemLayer</key>
	<string>ActivityUpgradeAwardItemLayer.ccbi</string>
	<key>ActivityUpgradeAwardLayer</key>
	<string>ActivityUpgradeAwardLayer.ccbi</string>
	<key>fight_embattle_texture</key>
	<string>fight_embattle.plist</string>
	<key>fight_embattle_png</key>
	<string>fight_embattle.png</string>
	<key>fight_embattle_action</key>
	<string>fight_embattle_%d.json</string>
	<key>fight_embattle_prefix</key>
	<string>fight_embattle</string>
	<key>fight_card_back</key>
	<string>background-086.png</string>
	<key>fight_skill_effect_texture</key>
	<string>fight_skill_%d.plist</string>
	<key>fight_skill_effect_png</key>
	<string>fight_skill_%d.png</string>
	<key>fight_skill_effect_action</key>
	<string>fight_skill_%d.json</string>
	<key>fight_skill_sub_effect_action</key>
	<string>fight_skill_%d_%d.json</string>
	<key>fight_skill_effect_prefix</key>
	<string>fight_skill_%d</string>
	<key>logo_texture</key>
	<string>logo.plist</string>
	<key>logo_action</key>
	<string>logo.json</string>
	<key>logo_prefix</key>
	<string>logo</string>
	<key>select_equip_1</key>
	<string>title-007.png</string>
	<key>select_equip_2</key>
	<string>title-009.png</string>
	<key>select_equip_3</key>
	<string>title-010.png</string>
	<key>select_equip_5</key>
	<string>title-011.png</string>
	<key>select_equip_6</key>
	<string>title-012.png</string>
	<key>RouteMoveLayer</key>
	<string>RouteLayer_%d.ccbi</string>
	<key>GameUIMaskMenuLayer</key>
	<string>GameUIMaskMenuLayer.ccbi</string>
	<key>soul</key>
	<string>shape-048.png</string>
	<key>fight_result_texture</key>
	<string>fight_result.plist</string>
	<key>fight_result_png</key>
	<string>fight_result.png</string>
	<key>fight_result_action</key>
	<string>fight_result_%d.json</string>
	<key>fight_result_prefix</key>
	<string>fight_result</string>
	<key>fight_result_title</key>
	<string>title-048.png</string>
	<key>loading_action</key>
	<string>loading_1.json</string>
	<key>loading_texture</key>
	<string>loading</string>
	<key>loading_plist</key>
	<string>loading.plist</string>
	<key>AssetLoadingLayer</key>
	<string>AssetLoadingLayer.ccbi</string>
	<key>new_action</key>
	<string>new.json</string>
	<key>new_texture</key>
	<string>new</string>
	<key>new_plist</key>
	<string>new.plist</string>
	<key>new_picture</key>
	<string>shape-061.png</string>
	<key>equipforge_action</key>
	<string>EquipForge_%d.json</string>
	<key>equipforge_texture</key>
	<string>EquipForge</string>
	<key>equipforge_plist</key>
	<string>EquipForge.plist</string>
	<key>equipforge_picture</key>
	<string>shape-071.png</string>
	<key>equip_forge_ps</key>
	<string>equip_forge_ps.plist</string>
	<key>heroType_1_1</key>
	<string>shape-065.png</string>
	<key>heroType_1_2</key>
	<string>shape-063.png</string>
	<key>heroType_1_0</key>
	<string>shape-063.png</string>
	<key>heroType_2_1</key>
	<string>shape-064.png</string>
	<key>heroType_2_2</key>
	<string>shape-066.png</string>
	<key>heroType_2_0</key>
	<string>shape-064.png</string>
	<key>fight_debuff_font</key>
	<string>fight_debuff_blood.fnt</string>
	<key>fight_buff_font</key>
	<string>fight_buff_blood.fnt</string>
	<key>HeroUpgradeLayer</key>
	<string>HeroUpgradeLayer.ccbi</string>
	<key>ContinuousLanding_texture</key>
	<string>ContinuousLanding</string>
	<key>ContinuousLanding_action</key>
	<string>ContinuousLanding.json</string>
	<key>ContinuousLanding_plist</key>
	<string>ContinuousLanding.plist</string>
	<key>SelectUpgradeHeroLayer</key>
	<string>SelectUpgradeHeroLayer.ccbi</string>
	<key>SelectUpgradeHeroItemLayer</key>
	<string>SelectUpgradeHeroItemLayer.ccbi</string>
	<key>SelectSwallowHeroItemLayer</key>
	<string>SelectSwallowHeroItemLayer.ccbi</string>
	<key>SelectSwallowHeroLayer</key>
	<string>SelectSwallowHeroLayer.ccbi</string>
	<key>ContinuousLandingBg</key>
	<string>background-077.png</string>
	<key>HeroAnagenesisLayer</key>
	<string>HeroAnagenesisLayer.ccbi</string>
	<key>anagenesis_title</key>
	<string>title-040.png</string>
	<key>hero_exp</key>
	<string>hero_exp.plist</string>
	<key>hero_upgrade_texture</key>
	<string>action_hero_upgrade.plist</string>
	<key>hero_upgrade_action</key>
	<string>action_hero_upgrade_%d.json</string>
	<key>hero_upgrade_prefix</key>
	<string>action_hero_upgrade</string>
	<key>hero_upgrade_particle</key>
	<string>particle_hero_upgrade.plist</string>
	<key>equip_normal</key>
	<string>shape-070.png</string>
	<key>hero_preview_normal</key>
	<string>shape-069.png</string>
	<key>hero_card_normal</key>
	<string>shape-068.png</string>
	<key>hero_skin_normal</key>
	<string>shape-067.png</string>
	<key>figth_btn_nonmal</key>
	<string>button-037.png</string>
	<key>figth_btn_hight</key>
	<string>button-037.png</string>
	<key>figth_btn_disable</key>
	<string>button-046.png</string>
	<key>again_figth_btn_nonmal</key>
	<string>button-216.png</string>
	<key>again_figth_btn_hight</key>
	<string>button-217.png</string>
	<key>again_figth_btn_disable</key>
	<string>button-218.png</string>
	<key>guide_hero_texture</key>
	<string>guide_hero.plist</string>
	<key>guide_hero_action</key>
	<string>guide_hero_%d.json</string>
	<key>guide_hero_prefix</key>
	<string>guide_hero</string>
	<key>exchange_material_1</key>
	<string>material_6.png</string>
	<key>exchange_material_2</key>
	<string>material_6.png</string>
	<key>exchange_material_3</key>
	<string>material_7.png</string>
	<key>UserLevelupLayer</key>
	<string>UserLevelupLayer.ccbi</string>
	<key>exchange_material_4</key>
	<string>material_8.png</string>
	<key>fight_speed_1</key>
	<string>button-243.png</string>
	<key>fight_speed_2</key>
	<string>button-244.png</string>
	<key>fight_speed_3</key>
	<string>button-245.png</string>
	<key>fight_speed_4</key>
	<string>button-246.png</string>
	<key>ActivityArtWarLayer</key>
	<string>ActivityArtWarLayer.ccbi</string>
	<key>ArtWarBlueFire</key>
	<string>artwar_bluefire.plist</string>
	<key>ArtWarRedFire</key>
	<string>artwar_redfire.plist</string>
	<key>ride_feed_max_png</key>
	<string>ride_feed_max</string>
	<key>ride_feed_max_action</key>
	<string>ride_feed_max.json</string>
	<key>ride_feed_max_texture</key>
	<string>ride_feed_max.plist</string>
	<key>ride_feed_max_ps</key>
	<string>zuoqi_shengding.plist</string>
	<key>ride_feed_ps</key>
	<string>zuoqi_shengxingxing.plist</string>
	<key>info_question_action</key>
	<string>info_question.json</string>
	<key>info_question_texture</key>
	<string>info_question.plist</string>
	<key>info_question_prefix</key>
	<string>info_question</string>
	<key>Max</key>
	<string>Max</string>
	<key>order_1</key>
	<string>shape-041.png</string>
	<key>order_2</key>
	<string>shape-042.png</string>
	<key>order_3</key>
	<string>shape-043.png</string>
	<key>ina_1</key>
	<string>material_5.png</string>
	<key>ina_2</key>
	<string>material_6.png</string>
	<key>ina_3</key>
	<string>material_7.png</string>
	<key>ina_4</key>
	<string>material_8.png</string>
	<key>material_preview</key>
	<string>material_%d.png</string>
	<key>ActivityArtWarGameLayer</key>
	<string>ActivityArtWarGameLayer.ccbi</string>
	<key>npc_button_normal</key>
	<string>button-266.png</string>
	<key>npc_button_highlight</key>
	<string>button-267.png</string>
	<key>user_button_normal</key>
	<string>button-264.png</string>
	<key>user_button_highlight</key>
	<string>button-265.png</string>
	<key>home_background_music</key>
	<string>home_background.mp3</string>
	<key>fight_background_music</key>
	<string>fight_background.mp3</string>
	<key>fight_lose_effect</key>
	<string>fight_lose_effect.mp3</string>
	<key>fight_winner_effect</key>
	<string>fight_winner_effect.mp3</string>
	<key>artwar_fight_icon</key>
	<string>shape-018.png</string>
	<key>okbtn_normal</key>
	<string>button-044.png</string>
	<key>okbtn_highlight</key>
	<string>button-045.png</string>
	<key>okbtn_disabled</key>
	<string>button-044.png</string>
	<key>fireworks</key>
	<string>fireworks_%d.plist</string>
	<key>ScriptConfirmLayer</key>
	<string>ScriptConfirmLayer.ccbi</string>
	<key>silver_coin_icon</key>
	<string>shape-028.png</string>
	<key>ScriptAwardLayer</key>
	<string>ScriptAwardLayer.ccbi</string>
	<key>hero_embattle_type_1</key>
	<string>button-290.png</string>
	<key>hero_embattle_type_2</key>
	<string>button-292.png</string>
	<key>fight_buff_action</key>
	<string>fight_buff_%d.json</string>
	<key>fight_buff_texture</key>
	<string>fight_buff_%d.plist</string>
	<key>fight_buff_prefix</key>
	<string>fight_buff_%d</string>
	<key>fight_blood_font_texture</key>
	<string>fight_blood_font.plist</string>
	<key>fight_buff_blood</key>
	<string>fight_buff_blood_%s.png</string>
	<key>fight_debuff_blood</key>
	<string>fight_debuff_blood_%s.png</string>
	<key>fight_crit_blood</key>
	<string>fight_crit_blood_%s.png</string>
	<key>fight_blood_font_0</key>
	<string>0</string>
	<key>fight_blood_font_1</key>
	<string>1</string>
	<key>fight_blood_font_2</key>
	<string>2</string>
	<key>fight_blood_font_3</key>
	<string>3</string>
	<key>fight_blood_font_4</key>
	<string>4</string>
	<key>fight_blood_font_5</key>
	<string>5</string>
	<key>fight_blood_font_6</key>
	<string>6</string>
	<key>fight_blood_font_7</key>
	<string>7</string>
	<key>fight_blood_font_8</key>
	<string>8</string>
	<key>fight_blood_font_9</key>
	<string>9</string>
	<key>fight_blood_font_+</key>
	<string>plus</string>
	<key>fight_blood_font_-</key>
	<string>minus</string>
	<key>fight_blood_font_%</key>
	<string>percent</string>
	<key>GuideNamedLayer</key>
	<string>GuideNamedLayer.ccbi</string>
	<key>fight_attack_effect</key>
	<string>fight_attack_effect.wav</string>
	<key>fight_skill_effect</key>
	<string>fight_skill_%d_effect.wav</string>
	<key>GuideDramaMovieLayer</key>
	<string>GuideDramaMovieLayer.ccbi</string>
	<key>GuideGoddessLayer</key>
	<string>GuideGoddessLayer.ccbi</string>
	<key>GuideHeroLayer</key>
	<string>GuideHeroLayer.ccbi</string>
	<key>GuideTalkLayer</key>
	<string>GuideTalkLayer.ccbi</string>
	<key>guide_click_arrow_action</key>
	<string>guide_click_arrow_%d.json</string>
	<key>guide_click_arrow_prefix</key>
	<string>guide_click_arrow</string>
	<key>guide_click_arrow_texture</key>
	<string>guide_click_arrow.plist</string>
	<key>GuideFightTalkLayer</key>
	<string>GuideFightTalkLayer.ccbi</string>
	<key>guide_drama_opening_action</key>
	<string>guide_drama_opening.json</string>
	<key>guide_drama_opening_texture</key>
	<string>guide_drama_opening.plist</string>
	<key>guide_drama_opening_prefix</key>
	<string>guide_drama_opening</string>
	<key>action_guide_texture</key>
	<string>action_guide.plist</string>
	<key>action_guide_action</key>
	<string>action_guide_%d.json</string>
	<key>action_guide_prefix</key>
	<string>action_guide</string>
	<key>action_card_flicker_texture</key>
	<string>action_card_flicker.plist</string>
	<key>action_card_flicker_prefix</key>
	<string>action_card_flicker</string>
	<key>action_card_flicker_1_action</key>
	<string>action_card_flicker_1.json</string>
	<key>action_card_flicker_2_action</key>
	<string>action_card_flicker_2.json</string>
	<key>action_card_flicker_3_action</key>
	<string>action_card_flicker_3.json</string>
	<key>action_hero_diaochan_texture</key>
	<string>action_hero_diaochan.plist</string>
	<key>action_hero_diaochan_prefix</key>
	<string>action_hero_diaochan</string>
	<key>action_hero_diaochan_1_action</key>
	<string>action_hero_diaochan_1.json</string>
	<key>action_hero_diaochan_2_action</key>
	<string>action_hero_diaochan_2.json</string>
	<key>CommonSetLayer</key>
	<string>CommonSetLayer.ccbi</string>
	<key>HelpLayer</key>
	<string>HelpLayer.ccbi</string>
	<key>ExchangedCodeLayer</key>
	<string>ExchangedCodeLayer.ccbi</string>
	<key>OtherListLayer</key>
	<string>OtherListLayer.ccbi</string>
	<key>FeedbackLayer</key>
	<string>FeedbackLayer.ccbi</string>
	<key>OtherBindingLayer</key>
	<string>OtherBindingLayer.ccbi</string>
	<key>guide_fight_data</key>
	<string>guide_fight.json</string>
	<key>GuideFightLayer</key>
	<string>GuideFightLayer.ccbi</string>
	<key>GuideFightDramaLayer</key>
	<string>GuideFightDramaLayer.ccbi</string>
	<key>QuickLoginLayer</key>
	<string>QuickLoginLayer.ccbi</string>
	<key>ActivateLayer</key>
	<string>ActivateLayer.ccbi</string>
	<key>JYQuickLoginLayer</key>
	<string>JYQuickLoginLayer.ccbi</string>
	<key>PPQuickLoginLayer</key>
	<string>PPQuickLoginLayer.ccbi</string>
	<key>BindingLayer</key>
	<string>BindingLayer.ccbi</string>
	<key>fight_collide_effect</key>
	<string>fight_collide_effect.wav</string>
	<key>fight_turnCard_effect</key>
	<string>fight_turnCard_effect.wav</string>
	<key>treasure_open_effect</key>
	<string>treasure_open_effect.wav</string>
	<key>btn_click_effect</key>
	<string>btn_click_effect.wav</string>
	<key>equip_click_effect</key>
	<string>equip_click_effect.wav</string>
	<key>upgrade_effect</key>
	<string>upgrade_effect.wav</string>
	<key>upgrade_equip_effect</key>
	<string>upgrade_equip_effect.wav</string>
	<key>upgrade_user_effect</key>
	<string>upgrade_user_effect.wav</string>
	<key>fight_collide_start_effect</key>
	<string>fight_collide_start_effect.wav</string>
	<key>fight_miss_effect</key>
	<string>fight_miss_effect.wav</string>
	<key>money_pay_effect</key>
	<string>money_pay_effect.wav</string>
	<key>hero_change_effect</key>
	<string>hero_change_effect.wav</string>
	<key>hero_click_effect</key>
	<string>hero_click_effect.wav</string>
	<key>winebottle_1_normal</key>
	<string>button-308.png</string>
	<key>winebottle_1_highlight</key>
	<string>button-309.png</string>
	<key>winebottle_2_normal</key>
	<string>button-310.png</string>
	<key>winebottle_2_highlight</key>
	<string>button-311.png</string>
	<key>winebottle_3_normal</key>
	<string>button-306.png</string>
	<key>winebottle_3_highlight</key>
	<string>button-307.png</string>
	<key>JobsMuseumCheersLayer</key>
	<string>JobsMuseumCheersLayer.ccbi</string>
	<key>continuous_item_back</key>
	<string>background-076.png</string>
	<key>continuous_item_fore</key>
	<string>background-077.png</string>
	<key>helpDetails</key>
	<string>helpDetails.txt</string>
	<key>EmptyLayer</key>
	<string>EmptyLayer.ccbi</string>
	<key>ActivityInviteLayer</key>
	<string>ActivityInviteLayer.ccbi</string>
	<key>InvitedFriendItemLayer</key>
	<string>InvitedFriendItemLayer.ccbi</string>
	<key>AwardItemLayer</key>
	<string>ActivityInviteAwardLayer.ccbi</string>
	<key>PPOtherListLayer</key>
	<string>PPOtherListLayer.ccbi</string>
	<key>artwar_fire_action</key>
	<string>artwar_blue_fire.json</string>
	<key>artwar_fire_texture</key>
	<string>artwar_blue_fire.plist</string>
	<key>artwar_fire_prefix</key>
	<string>artwar_blue_fire</string>
	<key>ActivityExpViewLayer</key>
	<string>ActivityExpViewLayer.ccbi</string>
	<key>ActivitySilverViewLayer</key>
	<string>ActivitySilverViewLayer.ccbi</string>
	<key>InvitedAwardLayer</key>
	<string>InvitedAwardLayer.ccbi</string>
	<key>RechargeLayer</key>
	<string>RechargeLayer.ccbi</string>
	<key>LevelStarsLayer</key>
	<string>LevelStarsLayer.ccbi</string>
	<key>FriendListLayer</key>
	<string>FriendListLayer.ccbi</string>
	<key>ActivityTDFriendListLayer</key>
	<string>ActivityTDFriendListLayer.ccbi</string>
	<key>ActivityTDFriendItemLayer</key>
	<string>ActivityTDFriendItemLayer.ccbi</string>
	<key>ActivityTDFightLayer</key>
	<string>ActivityTDFightLayer.ccbi</string>
	<key>ActivityTDHeroItemLayer</key>
	<string>ActivityTDHeroItemLayer.ccbi</string>
	<key>MailListLayer</key>
	<string>MailListLayer.ccbi</string>
	<key>MailItemLayer</key>
	<string>MailItemLayer.ccbi</string>
	<key>MailGoodsItemLayer</key>
	<string>MailGoodsItemLayer.ccbi</string>
	<key>MailContentLayer</key>
	<string>MailContentLayer.ccbi</string>
	<key>BaseIcoLayer</key>
	<string>BaseIcoLayer.ccbi</string>
	<key>MailSendLayer</key>
	<string>MailSendLayer.ccbi</string>
	<key>ActivityMysteryLayer</key>
	<string>ActivityMysteryLayer.ccbi</string>
	<key>ActivityLevelLayer</key>
	<string>ActivityLevelLayer.ccbi</string>
</dict>
</plist>
