<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>l</key>
  <array>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>3011</string>
    <key>d</key>
    <string>2</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>3012</string>
    <key>d</key>
    <string>4</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>3013</string>
    <key>d</key>
    <string>7</string>
   </dict>
   <dict>
    <key>type</key>
    <string>3</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>3014</string>
    <key>d</key>
    <string>10</string>
   </dict>
   <dict>
    <key>type</key>
    <string>2</string>
    <key>num</key>
    <string>1</string>
    <key>config_id</key>
    <string>1414</string>
    <key>d</key>
    <string>15</string>
   </dict>
  </array>
  <key>d</key>
  <string>0</string>
  <key>config_id</key>
  <string>0</string>
 </dict>
</plist>
