<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>横扫千军</string>
		<key>description</key>
		<string>字玄德。涿郡涿县人。 汉朝皇室疏宗。早年贩履织席为业 ,好交结豪侠。</string>
		<key>default_property</key>
		<dict>
			<key>atk</key>
			<dict>
				<key>value</key>
				<string>75</string>
				<key>type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>addition_property</key>
		<dict>
			<key>atk</key>
			<dict>
				<key>value</key>
				<string>2</string>
				<key>type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>preview_id</key>
		<string>1</string>
		<key>config_id</key>
		<string>1</string>
		<key>quality</key>
		<string>4</string>
		<key>scope</key>
		<string>2</string>
		<key>name_effect_id</key>
		<string>1</string>
		<key>injure_effect_id</key>
		<string>1</string>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>横扫千军</string>
		<key>description</key>
		<string>字玄德。涿郡涿县人。 汉朝皇室疏宗。早年贩履织席为业 ,好交结豪侠。</string>
		<key>default_property</key>
		<dict>
			<key>atk</key>
			<dict>
				<key>value</key>
				<string>75</string>
				<key>type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>addition_property</key>
		<dict>
			<key>atk</key>
			<dict>
				<key>value</key>
				<string>2</string>
				<key>type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>preview_id</key>
		<string>1</string>
		<key>config_id</key>
		<string>2</string>
		<key>quality</key>
		<string>4</string>
		<key>scope</key>
		<string>2</string>
		<key>name_effect_id</key>
		<string>1</string>
		<key>injure_effect_id</key>
		<string>1</string>
	</dict>
	<key>102</key>
	<dict>
		<key>name</key>
		<string>横扫千军</string>
		<key>description</key>
		<string>字玄德。涿郡涿县人。 汉朝皇室疏宗。早年贩履织席为业 ,好交结豪侠。</string>
		<key>default_property</key>
		<dict>
			<key>atk</key>
			<dict>
				<key>value</key>
				<string>75</string>
				<key>type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>addition_property</key>
		<dict>
			<key>atk</key>
			<dict>
				<key>value</key>
				<string>2</string>
				<key>type</key>
				<string>1</string>
			</dict>
		</dict>
		<key>preview_id</key>
		<string>1</string>
		<key>config_id</key>
		<string>102</string>
		<key>quality</key>
		<string>4</string>
		<key>scope</key>
		<string>2</string>
		<key>name_effect_id</key>
		<string>1</string>
		<key>injure_effect_id</key>
		<string>1</string>
	</dict>
</dict>
</plist>
