<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>4419</key>
  <dict>
   <key>name</key>
   <string>竹舞狂战</string>
   <key>assetId</key>
   <string>4419</string>
   <key>atkNum</key>
   <string>2</string>
   <key>skillScope</key>
   <string>2</string>
   <key>prelude</key>
   <string>1</string>
  </dict>
  <key>4420</key>
  <dict>
   <key>name</key>
   <string>国色天香</string>
   <key>assetId</key>
   <string>4420</string>
   <key>atkNum</key>
   <string>3</string>
   <key>skillScope</key>
   <string>5</string>
   <key>prelude</key>
   <string>1</string>
  </dict>
  <key>4506</key>
  <dict>
   <key>name</key>
   <string>疾风箭阵</string>
   <key>assetId</key>
   <string>4506</string>
   <key>atkNum</key>
   <string>2</string>
   <key>skillScope</key>
   <string>5</string>
   <key>prelude</key>
   <string>1</string>
  </dict>
  <key>4507</key>
  <dict>
   <key>name</key>
   <string>一剑惊鸿</string>
   <key>assetId</key>
   <string>4507</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>5</string>
   <key>prelude</key>
   <string>1</string>
  </dict>
  <key>4508</key>
  <dict>
   <key>name</key>
   <string>掠影流光</string>
   <key>assetId</key>
   <string>4508</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>4</string>
   <key>prelude</key>
   <string>1</string>
  </dict>
  <key>4509</key>
  <dict>
   <key>name</key>
   <string>水龙之怒</string>
   <key>assetId</key>
   <string>4509</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>4</string>
   <key>prelude</key>
   <string>1</string>
  </dict>
  <key>4021_2</key>
  <dict>
   <key>name</key>
   <string>龙风飞石术</string>
   <key>assetId</key>
   <string>4021_2</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>2</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
  <key>4021_1</key>
  <dict>
   <key>name</key>
   <string>狂龙出海</string>
   <key>assetId</key>
   <string>4021_1</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>2</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
  <key>4019_2</key>
  <dict>
   <key>name</key>
   <string>凤凰展翅</string>
   <key>assetId</key>
   <string>4019_2</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>2</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
  <key>4405</key>
  <dict>
   <key>name</key>
   <string>火焰刀</string>
   <key>assetId</key>
   <string>4405</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>2</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
  <key>4411</key>
  <dict>
   <key>name</key>
   <string>青囊书</string>
   <key>assetId</key>
   <string>4411</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>4</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
  <key>4417</key>
  <dict>
   <key>name</key>
   <string>神行千里</string>
   <key>assetId</key>
   <string>4417</string>
   <key>atkNum</key>
   <string>1</string>
   <key>skillScope</key>
   <string>4</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
  <key>4019_1</key>
  <dict>
   <key>name</key>
   <string>八卦奇术</string>
   <key>assetId</key>
   <string>4019_1</string>
   <key>atkNum</key>
   <string>2</string>
   <key>skillScope</key>
   <string>2</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
  <key>4014_2</key>
  <dict>
   <key>name</key>
   <string>横扫千军</string>
   <key>assetId</key>
   <string>4014_2</string>
   <key>atkNum</key>
   <string>2</string>
   <key>skillScope</key>
   <string>2</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
  <key>4006_2</key>
  <dict>
   <key>name</key>
   <string>散箭飞雨</string>
   <key>assetId</key>
   <string>4006_2</string>
   <key>atkNum</key>
   <string>2</string>
   <key>skillScope</key>
   <string>2</string>
   <key>prelude</key>
   <string>0</string>
  </dict>
 </dict>
</plist>
