<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>5404</key>
  <dict>
   <key>partnum</key>
   <string>0</string>
  </dict>
  <key>5204</key>
  <dict>
   <key>partnum</key>
   <string>4</string>
  </dict>
  <key>5201</key>
  <dict>
   <key>partnum</key>
   <string>4</string>
  </dict>
  <key>5202</key>
  <dict>
   <key>partnum</key>
   <string>4</string>
  </dict>
  <key>5203</key>
  <dict>
   <key>partnum</key>
   <string>4</string>
  </dict>
  <key>5301</key>
  <dict>
   <key>partnum</key>
   <string>5</string>
  </dict>
  <key>5302</key>
  <dict>
   <key>partnum</key>
   <string>5</string>
  </dict>
  <key>5303</key>
  <dict>
   <key>partnum</key>
   <string>5</string>
  </dict>
  <key>5304</key>
  <dict>
   <key>partnum</key>
   <string>5</string>
  </dict>
  <key>5401</key>
  <dict>
   <key>partnum</key>
   <string>6</string>
  </dict>
  <key>5402</key>
  <dict>
   <key>partnum</key>
   <string>6</string>
  </dict>
  <key>5403</key>
  <dict>
   <key>partnum</key>
   <string>6</string>
  </dict>
 </dict>
</plist>
