<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>2</key>
  <string>恭喜主公升到2级，您已经在统一霸业的道路上迈出重要的一步啦！</string>
  <key>3</key>
  <string>恭喜主公升到3级，您已经在统一霸业的道路上迈出重要的一步啦！</string>
  <key>4</key>
  <string>恭喜主公升到4级，点击出战将领的头像后可以查看将领信息，或者装备武器！</string>
  <key>5</key>
  <string>恭喜主公升到5级，您可以率领多一名将领出战！</string>
  <key>6</key>
  <string>恭喜主公升到6级，吞噬其他将领可以提升目标将领的能力！</string>
  <key>7</key>
  <string>恭喜主公升到7级，您的实力越强，就能结识实力更强的将领！</string>
  <key>8</key>
  <string>恭喜主公升到8级，升级武器或升级将领可以提升战斗力！</string>
  <key>9</key>
  <string>恭喜主公升到9级，升级武器或升级将领可以提升战斗力！</string>
  <key>10</key>
  <string>恭喜主公升到10级，升级武器或升级将领可以提升战斗力！</string>
  <key>11</key>
  <string>恭喜主公升到11级，升级武器或升级将领可以提升战斗力！</string>
  <key>12</key>
  <string>恭喜主公升到12级，升级武器或升级将领可以提升战斗力！</string>
  <key>13</key>
  <string>恭喜主公升到13级，升级武器或升级将领可以提升战斗力！</string>
  <key>14</key>
  <string>恭喜主公升到14级，升级武器或升级将领可以提升战斗力！</string>
  <key>15</key>
  <string>恭喜主公升到15级，您可以率领多一名将领出战，同时可以领取冲级礼包喔！</string>
  <key>16</key>
  <string>恭喜主公升到16级，升级武器或升级将领可以提升战斗力！</string>
  <key>17</key>
  <string>恭喜主公升到17级，升级武器或升级将领可以提升战斗力！</string>
  <key>18</key>
  <string>恭喜主公升到18级，升级武器或升级将领可以提升战斗力！</string>
  <key>19</key>
  <string>恭喜主公升到19级，升级武器或升级将领可以提升战斗力！</string>
  <key>20</key>
  <string>恭喜主公升到20级，您可以率领多一名将领出战，同时可以领取冲级礼包喔！</string>
  <key>21</key>
  <string>恭喜主公升到21级，升级武器或升级将领可以提升战斗力！</string>
  <key>22</key>
  <string>恭喜主公升到22级，升级武器或升级将领可以提升战斗力！</string>
  <key>23</key>
  <string>恭喜主公升到23级，升级武器或升级将领可以提升战斗力！</string>
  <key>24</key>
  <string>恭喜主公升到24级，升级武器或升级将领可以提升战斗力！</string>
  <key>25</key>
  <string>恭喜主公升到25级，继续加油，当前可以领取冲级礼包喔！</string>
  <key>26</key>
  <string>恭喜主公升到26级，升级武器或升级将领可以提升战斗力！</string>
  <key>27</key>
  <string>恭喜主公升到27级，升级武器或升级将领可以提升战斗力！</string>
  <key>28</key>
  <string>恭喜主公升到28级，升级武器或升级将领可以提升战斗力！</string>
  <key>29</key>
  <string>恭喜主公升到29级，升级武器或升级将领可以提升战斗力！</string>
  <key>30</key>
  <string>恭喜主公升到30级，您可以率领多一名将领出战，同时可以领取冲级礼包喔！</string>
 </dict>
</plist>
