<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1001</key>
	<dict>
		<key>level</key>
		<integer>1</integer>
		<key>title</key>
		<string>VIP1</string>
		<key>money</key>
		<integer>10</integer>
		<key>content</key>
		<string>提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>level</key>
		<integer>2</integer>
		<key>title</key>
		<string>VIP2</string>
		<key>money</key>
		<integer>20</integer>
		<key>content</key>
		<string>提示\n提示\n提示\n提示\n提示\n提示</string>
	</dict>
	<key>1003</key>
	<dict>
		<key>level</key>
		<integer>3</integer>
		<key>title</key>
		<string>VIP3</string>
		<key>money</key>
		<integer>30</integer>
		<key>content</key>
		<string>提示\n提示\n提示\n提示\n提示\n提示</string>
	</dict>
	<key>1004</key>
	<dict>
		<key>level</key>
		<integer>4</integer>
		<key>title</key>
		<string>VIP4</string>
		<key>money</key>
		<integer>40</integer>
		<key>content</key>
		<string>提示\n提示\n提示\n提示\n提示\n提示</string>
	</dict>
	<key>1005</key>
	<dict>
		<key>level</key>
		<integer>5</integer>
		<key>title</key>
		<string>VIP5</string>
		<key>money</key>
		<integer>50</integer>
		<key>content</key>
		<string>提示\n提示\n提示\n提示\n提示\n提示</string>
	</dict>
	<key>1006</key>
	<dict>
		<key>level</key>
		<integer>6</integer>
		<key>title</key>
		<string>VIP6</string>
		<key>money</key>
		<integer>60</integer>
		<key>content</key>
		<string>提示\n提示\n提示\n提示\n提示\n提示\n提示</string>
	</dict>
	<key>1007</key>
	<dict>
		<key>level</key>
		<integer>7</integer>
		<key>title</key>
		<string>VIP7</string>
		<key>money</key>
		<integer>70</integer>
		<key>content</key>
		<string>提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示\n提示</string>
	</dict>
</dict>
</plist>
