<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>1001</key>
  <dict>
   <key>config_id</key>
   <string>1001</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1002</key>
  <dict>
   <key>config_id</key>
   <string>1002</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1003</key>
  <dict>
   <key>config_id</key>
   <string>1003</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1004</key>
  <dict>
   <key>config_id</key>
   <string>1004</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1005</key>
  <dict>
   <key>config_id</key>
   <string>1005</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1006</key>
  <dict>
   <key>config_id</key>
   <string>1006</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1007</key>
  <dict>
   <key>config_id</key>
   <string>1007</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1008</key>
  <dict>
   <key>config_id</key>
   <string>1008</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1009</key>
  <dict>
   <key>config_id</key>
   <string>1009</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
  <key>1010</key>
  <dict>
   <key>config_id</key>
   <string>1010</string>
   <key>vip_level</key>
   <string></string>
   <key>preview_id</key>
   <string>6</string>
   <key>old_money</key>
   <string></string>
   <key>new_money</key>
   <string></string>
   <key>name</key>
   <string>VIP</string>
   <key>content</key>
   <array/>
  </dict>
 </dict>
</plist>
