<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>friend</key>
  <dict>
   <key>num</key>
   <string>好友数量:%d/%d</string>
   <key>remove</key>
   <string>主公，您确定要与%s&#13;
断绝关系吗？</string>
   <key>accept_title</key>
   <string>接受体力</string>
   <key>accept</key>
   <string>主公，您获得好友%s&#13;
赠送的3点体力</string>
   <key>send</key>
   <string>可赠送体力</string>
   <key>time_hour</key>
   <string>%d小时前登陆</string>
   <key>time_minute</key>
   <string>%d分钟前登陆</string>
   <key>title</key>
   <string>好友通知</string>
   <key>full_title</key>
   <string>接受体力已达上限</string>
   <key>full_info</key>
   <string>主公，今日接受体力次数已达上限,充值可获得更多接受次数!</string>
   <key>addinfo</key>
   <string>添加好友成功</string>
   <key>addfailed</key>
   <string>对方好友已满，暂时无法添加</string>
   <key>requestfinish</key>
   <string>发送好友请求成功</string>
   <key>title_hint1</key>
   <string>身处乱世，多个朋友多条路。</string>
   <key>title_hint2</key>
   <string>好友多了更好玩哦~</string>
   <key>search_friend</key>
   <string>指定搜索好友</string>
   <key>random</key>
   <string>随机摇出好友</string>
   <key>bottom_str1</key>
   <string>要寻找志同道合的战友吗？</string>
   <key>bottom_str2</key>
   <string>晃动手机或者点击屏幕</string>
   <key>bottom_str3</key>
   <string>剩下的就交给我吧</string>
  </dict>
  <key>equip_forge</key>
  <dict>
   <key>monut_break</key>
   <string>坐骑突破</string>
   <key>forge</key>
   <string>武器锻造</string>
  </dict>
  <key>embattle</key>
  <dict>
   <key>add</key>
   <string>点击添加</string>
   <key>unlock</key>
   <string>%d级开启</string>
  </dict>
  <key>equip</key>
  <dict>
   <key>maxlevel</key>
   <string>最高等级:%d</string>
   <key>Ride_feed_lack_sc</key>
   <string>银币不足，无法进行喂养。带领&#13;
将领出征可以获得银币哦！</string>
   <key>New item</key>
   <string></string>
   <key>Ride_feed_lack_gc</key>
   <string>元宝不足无法喂养坐骑，赶快充值购买元宝吧！</string>
   <key>monet_feed_exp</key>
   <string>%d经验</string>
   <key>skill_exchange</key>
   <string>确认花费%d个徽记兑换一本%s吗？</string>
   <key>skill_exchange_lack</key>
   <string>徽记不足，参加活动“兵法
论战”可获得兵法徽记</string>
   <key>level1</key>
   <string>等级:%d/%d</string>
   <key>silver</key>
   <string>消耗银币：%d</string>
   <key>skill_solider_name</key>
   <string>%s徽记%d</string>
   <key>atk</key>
   <string>武力:+%d</string>
   <key>change</key>
   <string>该装备已经被%s穿戴，确定要继续穿戴吗？</string>
   <key>count</key>
   <string>总数量:
%d/%d</string>
   <key>count_total</key>
   <string>数量:%d</string>
   <key>equip_hero</key>
   <string>已装备于%s</string>
   <key>harm</key>
   <string>伤害:+%d</string>
   <key>ice</key>
   <string>智力:+%d</string>
   <key>lep</key>
   <string>统御:+%d</string>
   <key>nle</key>
   <string>速度:+%d</string>
   <key>level</key>
   <string>等级:%d</string>
   <key>sell</key>
   <string>%s是%d星物品，卖出后可得到%d银币，主公您就这么缺钱吗？</string>
   <key>selldone</key>
   <string>%s是%d星物品，卖出得到%d银币</string>
   <key>st</key>
   <string>兵种:%s</string>
   <key>sv</key>
   <string>兵数:+%d</string>
   <key>value</key>
   <string>+%d</string>
   <key>update_top_4</key>
   <string>成功升顶！</string>
   <key>update_top_2</key>
   <string>武器已到最高品质！</string>
   <key>upgradeToMaxTip</key>
   <string>武器已到最高品质。</string>
   <key>stregth_effect</key>
   <string>强化效果</string>
  </dict>
  <key>equip_pro_name</key>
  <dict>
   <key>atk</key>
   <string>武力</string>
   <key>harm</key>
   <string>伤害</string>
   <key>ice</key>
   <string>智力</string>
   <key>lep</key>
   <string>统御</string>
   <key>level</key>
   <string>等级:%d/%d</string>
   <key>sv</key>
   <string>兵数</string>
   <key>nle</key>
   <string>速度</string>
   <key>crl</key>
   <string>暴击</string>
   <key>mdf</key>
   <string>法抗</string>
   <key>pdf</key>
   <string>物抗</string>
  </dict>
  <key>equip_pro_name_colon</key>
  <dict>
   <key>atk</key>
   <string>武力：</string>
   <key>harm</key>
   <string>伤害：</string>
   <key>ice</key>
   <string>智力：</string>
   <key>lep</key>
   <string>统御：</string>
   <key>sv</key>
   <string>兵数：</string>
  </dict>
  <key>equip_pro_name_value</key>
  <dict>
   <key>atk</key>
   <string>武力：%d</string>
   <key>harm</key>
   <string>伤害：%d</string>
   <key>ice</key>
   <string>智力：%d</string>
   <key>lep</key>
   <string>统御：%d</string>
   <key>sv</key>
   <string>兵数：%d</string>
   <key>nle</key>
   <string>速度：%d</string>
  </dict>
  <key>equip_type</key>
  <dict>
   <key>1</key>
   <string>武器</string>
   <key>2</key>
   <string>坐骑</string>
   <key>3</key>
   <string>宝物</string>
   <key>4</key>
   <string>技能</string>
   <key>5</key>
   <string>兵法</string>
   <key>6</key>
   <string>兵符</string>
  </dict>
  <key>exhaust</key>
  <dict>
   <key>goods</key>
   <string>培养丹</string>
   <key>integration</key>
   <string>当前积分:%d</string>
   <key>integrationAdd</key>
   <string>+%d</string>
   <key>integrationTick</key>
   <string>每%d分种获得积分%d</string>
   <key>level</key>
   <string>等级:%d</string>
   <key>ranking</key>
   <string>当前排名:%d</string>
   <key>refresh</key>
   <string>下次刷新奖励时间:%02d:%02d:%02d</string>
   <key>score</key>
   <string>兑换积分:%d</string>
  </dict>
  <key>fight</key>
  <dict>
   <key>fightnum</key>
   <string>剩余%d次</string>
   <key>content1</key>
   <string>升级装备可以提高战斗力</string>
   <key>content2</key>
   <string>招贤馆可以招到更给力的武将，帮你\n获得胜利</string>
   <key>content3</key>
   <string>新活动上线啦~可以得到更好的装备,\n让你洗刷战败的耻辱</string>
   <key>silver</key>
   <string>获得银币:%d</string>
   <key>exp</key>
   <string>+%d</string>
   <key>prestige</key>
   <string>获得威望:%d</string>
   <key>got_silver</key>
   <string>获得银币:</string>
  </dict>
  <key>goods</key>
  <dict>
   <key>coin</key>
   <string>银币</string>
   <key>gold</key>
   <string>金币</string>
   <key>name_num</key>
   <string>%sX%d</string>
  </dict>
  <key>sell</key>
  <dict>
   <key>sell_hero_info</key>
   <string>您将要卖出%d个将领，共计销售%0.0f银币。</string>
   <key>sell_soul_info</key>
   <string>您将要卖出%d个士兵，共计销售%0.0f银币。</string>
   <key>sell_equip_info</key>
   <string>您将要卖出%d个装备，共计销售%0.0f银币。</string>
  </dict>
  <key>hero</key>
  <dict>
   <key>selldone</key>
   <string>%s是%d星将领，卖出得到%d银币</string>
   <key>sell</key>
   <string>%s是%d星将领，卖出后可得到%d银币，主公您就这么缺钱吗？</string>
   <key>selltoll</key>
   <string>x%d</string>
   <key>embattle</key>
   <string>已上阵</string>
   <key>embattle_type2</key>
   <string>已上阵(军师)</string>
   <key>embattle_type1</key>
   <string>已上阵(统帅)</string>
   <key>value_name</key>
   <string>战斗力</string>
   <key>num</key>
   <string>数量:%d/%d</string>
   <key>bing</key>
   <string>兵量:%d</string>
   <key>fight</key>
   <string>战力:%d</string>
   <key>exp</key>
   <string>经验:%d</string>
   <key>force</key>
   <string>武力:%d</string>
   <key>governing</key>
   <string>统御:%d</string>
   <key>intelligence</key>
   <string>智力:%d</string>
   <key>level</key>
   <string>等级:%d</string>
   <key>level2</key>
   <string>等级:%d/%d</string>
   <key>soul</key>
   <string>%s魂魄</string>
   <key>click_lock</key>
   <string>将格在%d级开启，赶快去升级吧！</string>
   <key>nimble</key>
   <string>速度:%d</string>
   <key>add</key>
   <string>+%d</string>
   <key>embattle_msg</key>
   <string>将领装备不匹配，自动放入铁匠铺。</string>
   <key>lord</key>
   <string>主帅</string>
   <key>militaryadviser</key>
   <string>军师</string>
   <key>sellhero</key>
   <string>主公，确定花费%d银币升级%d次武器？</string>
  </dict>
  <key>hero_foster</key>
  <dict>
   <key>lack_foster</key>
   <string>培养丹不足无法培养</string>
   <key>foster</key>
   <string>培养丹：%d</string>
   <key>potential</key>
   <string>潜力值：%d</string>
  </dict>
  <key>job</key>
  <dict>
   <key>payLock</key>
   <string>此版本未开启充值功能</string>
   <key>color1</key>
   <string>72,72,72</string>
   <key>color2</key>
   <string>26,109,14</string>
   <key>color3</key>
   <string>16,109,194</string>
   <key>color4</key>
   <string>109,55,156</string>
   <key>finish</key>
   <string>今日%d次免费机会</string>
   <key>name_1</key>
   <string>好酒杜康</string>
   <key>name_2</key>
   <string>琼浆玉液</string>
   <key>name_3</key>
   <string>神之仙酿</string>
   <key>hero</key>
   <string>%d星武将</string>
   <key>info</key>
   <string>今天还有%s次免费机会</string>
   <key>lackMsg</key>
   <string>元宝不够是无法获得贤才相助的，赶快充值购买元宝！</string>
   <key>lackTitle</key>
   <string>元宝不足</string>
   <key>time</key>
   <string>%02d:%02d:%02d后免费</string>
   <key>successed</key>
   <string>%s已加入麾下!</string>
  </dict>
  <key>art</key>
  <dict>
   <key>restart</key>
   <string>消耗一次挑战机会来重置上次游戏的进度，确定重新开始吗？</string>
   <key>buyStep</key>
   <string>您的剩余步数为0，是否花费%d元宝增加%d次步数？</string>
   <key>noGold</key>
   <string>元宝不足</string>
   <key>normalSkillTitle</key>
   <string>以逸待劳</string>
   <key>normalSkillInfo</key>
   <string>使用兵法“以逸待劳”可使敌人进入移动回合，确认使用？</string>
   <key>bigSkillTitle</key>
   <string>调虎离山</string>
   <key>bigSkillInfo</key>
   <string>使用兵法“引虎出洞”可使敌军向玩家所在位置移动，需要消耗%d元宝，确认使用？  </string>
  </dict>
  <key>map</key>
  <dict>
   <key>end</key>
   <string>恭喜主公已经打通该地图的所有关卡，继续挑战新的关卡吗？</string>
   <key>title1</key>
   <string>第一章</string>
   <key>title2</key>
   <string>第二章</string>
   <key>title3</key>
   <string>第三章</string>
  </dict>
  <key>plunder</key>
  <dict>
   <key>combat_forces</key>
   <string>战斗力:%d</string>
  </dict>
  <key>skill</key>
  <dict>
   <key>skill_exchange_time</key>
   <string> %02d:%02d:%02d后刷新</string>
   <key>skill_exchange_prompt</key>
   <string>每24小时自动刷新兵法</string>
   <key>user</key>
   <string>装备于%s</string>
   <key>rate</key>
   <string>%d%%</string>
  </dict>
  <key>st</key>
  <dict>
   <key>1</key>
   <string>民兵</string>
   <key>2</key>
   <string>弓兵</string>
   <key>3</key>
   <string>骑兵</string>
   <key>4</key>
   <string>步兵</string>
  </dict>
  <key>user</key>
  <dict>
   <key>prestige_level</key>
   <string>威望等级：%d级</string>
   <key>total_value</key>
   <string>战斗力:%d</string>
   <key>user_total_value</key>
   <string>我的战斗力:%d</string>
   <key>progress</key>
   <string>%d/%d</string>
   <key>vip</key>
   <string>VIP%d</string>
   <key>level</key>
   <string>等级:%d</string>
   <key>prestige</key>
   <string>威望:%d/%d</string>
   <key>battle_hero</key>
   <string>上阵武将:%d/%d</string>
   <key>gold_coin</key>
   <string>元宝:%d</string>
   <key>silver_coin</key>
   <string>银两:%d</string>
   <key>strength</key>
   <string>体力:%d/%d</string>
   <key>military</key>
   <string>军令:%d/%d</string>
   <key>strength_restoration</key>
   <string>下次体力恢复 %02d:%02d:%02d</string>
   <key>strength_restoration_total</key>
   <string>全部体力恢复 %02d:%02d:%02d</string>
   <key>military_restoration</key>
   <string>下次军令恢复 %02d:%02d:%02d</string>
   <key>military_restoration_total</key>
   <string>全部军令恢复 %02d:%02d:%02d</string>
   <key>no_gold</key>
   <string>您当前元宝不够！</string>
   <key>buy_power_info</key>
   <string>花费%d元宝可以将体力补充满，是否要恢复体力？</string>
   <key>buy_power_ok</key>
   <string>购买成功！体力已加满！</string>
   <key>hero_arrive_limit</key>
   <string>您的将领携带数量已达上限，可以对他们进行吞噬、出售或者增大携带数量。</string>
   <key>bag_arrive_limit</key>
   <string>您的仓库已达上限，您是否要进入仓库进行清理？</string>
   <key>equip_arrive_limit</key>
   <string>您的兵器库已达上限，您是否要进入兵器库进行清理？</string>
   <key>buy_ extension_bag</key>
   <string>花费%d元宝购买%d个卡牌携带上限。</string>
   <key>no_more_coin</key>
   <string>您当前元宝不够！无法进行购买。</string>
   <key>buy_sucessed</key>
   <string>购买成功！</string>
   <key>buypower</key>
   <string>您确定购买加满体力道具？</string>
   <key>buyconfirm</key>
   <string>您确定购买 %s？</string>
   <key>powerfull</key>
   <string>体力已满！</string>
   <key>buy_gold_info</key>
   <string>元宝不足是否购买？</string>
  </dict>
  <key>login</key>
  <dict>
   <key>name</key>
   <string>%d区 %s</string>
   <key>emailInit</key>
   <string>输入电子邮件</string>
   <key>passwordInit</key>
   <string>输入密码</string>
   <key>confirmPwdInit</key>
   <string>输入确认密码</string>
   <key>phoneInit</key>
   <string>输入手机号</string>
   <key>emailEmpty</key>
   <string>用户名不能为空</string>
   <key>passwordEmpty</key>
   <string>密码不能为空</string>
   <key>confirmPwdDifference</key>
   <string>两次输入密码不同</string>
  </dict>
  <key>vip</key>
  <dict>
   <key>vip_content</key>
   <string>现在是VIP%d 再充%d元RMB升级为VIP%d</string>
   <key>vip_condition</key>
   <string>达成条件：累计充值%d元</string>
  </dict>
  <key>sort</key>
  <dict>
   <key>sort_name1</key>
   <string>%s从高到低</string>
   <key>sort_name2</key>
   <string>星级从高到低</string>
   <key>sort_name3</key>
   <string>等级从高到低</string>
  </dict>
  <key>common</key>
  <dict>
   <key>level_open</key>
   <string>%d级才能开启</string>
   <key>not_open</key>
   <string>暂未开启，敬请期待！</string>
   <key>percentage</key>
   <string>%d%%</string>
   <key>proxy_reload</key>
   <string>您的网络不给力啊！&#13;
请稍后再试一次。</string>
   <key>add_property</key>
   <string>+%d</string>
   <key>unlock_fight_speed</key>
   <string>%d级开启</string>
   <key>get_gift_successed</key>
   <string>领取成功</string>
   <key>put_in_package</key>
   <string>兑换物品已放入包裹</string>
   <key>exchange_code_empty</key>
   <string>请输入兑换码～～</string>
   <key>bindingSuccess</key>
   <string>恭喜你绑定成功！请记住邮箱和密码！</string>
   <key>dataerror</key>
   <string>数据格式异常，请稍后重试……</string>
   <key>heroSkillPreviewTip</key>
   <string>请选择将领查看相应的技能</string>
   <key>consumeLabel</key>
   <string>消耗:</string>
   <key>lowLevelLabel</key>
   <string>低级</string>
   <key>midLevelLabel</key>
   <string>中级</string>
   <key>highLevelLabel</key>
   <string>高级</string>
   <key>laterFreshlabel</key>
   <string>后刷新</string>
   <key>connectingContentLabel</key>
   <string>请在良好的网络环境下游戏&#13;
以保证良好的游戏体验</string>
   <key>connectingTitleLabel</key>
   <string>连接中…</string>
   <key>unlockLevelLabel</key>
   <string>解锁等级：</string>
   <key>levelUpByFightLabel</key>
   <string>可以去之前的关卡战斗提升等级</string>
   <key>dragTipLabel</key>
   <string>拖拽将领更换位置，拖拽调换主帅军师，&#13;
点将将领查看属性。</string>
   <key>levelLabel</key>
   <string>等级：</string>
   <key>armsTypeLabel</key>
   <string>兵种:</string>
   <key>selectAllTip</key>
   <string>选择所有</string>
   <key>strengthenEffectTip</key>
   <string>强化效果</string>
   <key>needLabel</key>
   <string>需:</string>
   <key>gainLabel</key>
   <string>获得:</string>
   <key>unlock_fight_speed2</key>
   <string>%d级开启，再次点击返回1倍速！</string>
   <key>noFateTip</key>
   <string>无</string>
  </dict>
  <key>activity</key>
  <dict>
   <key>editbox_empty</key>
   <string>邀请码为空！</string>
   <key>get_failed</key>
   <string>领取失败！请检查邀请码是否有误！</string>
   <key>end_date</key>
   <string>本活动在%d年%d月%d日结束</string>
   <key>get_award</key>
   <string>恭喜主公，礼包已放入仓库。</string>
   <key>friend_message</key>
   <string>您的好友%s已经到达%d!</string>
   <key>invite_geted</key>
   <string>领取成功！</string>
   <key>left_time</key>
   <string>倒计时：%d:%d:%d</string>
   <key>time_over</key>
   <string>本次活动已经结束～～～</string>
   <key>not_open</key>
   <string>活动即将开启，请稍等～～～</string>
   <key>artWarTip</key>
   <string>每动一次，敌军也可能移动。&#13;
按序号击败敌军，将获得额外奖励！</string>
   <key>consume_label</key>
   <string>每次战斗消耗:</string>
   <key>left_step</key>
   <string>剩余步数:</string>
   <key>award_label</key>
   <string>奖励物品:</string>
   <key>TDFirstLess</key>
   <string>首次战斗必须上全所有阵位！</string>
   <key>TDHeroesLess</key>
   <string>战斗武将必须拥有主帅和军师！</string>
   <key>TDMoreFriends</key>
   <string>阵上仍有空缺位置，是否需要邀请更多盟友开战？</string>
   <key>TDFail</key>
   <string>今日已参加过守卫洛阳活动</string>
   <key>cumulativeDays</key>
   <string>你已经累积登陆 %d 天</string>
   <key>cumulativeGiftDays</key>
   <string>累积登陆%d天，</string>
   <key>TDAllSuccess</key>
   <string>成功守下了襄阳城！</string>
   <key>TDHasAllSuccess</key>
   <string>你今天已经成功抵挡所有攻击，请明天在来～</string>
   <key>rechargeGiftContent1</key>
   <string>貂蝉，四大美女之一，绝对的演技派加偶像派明星，真亦假来假亦真，平时最喜欢骑着她的小木马玩。</string>
   <key>rechargeGiftContent2</key>
   <string>貂蝉妹子的专属武器，据说乃是貂蝉拜月时，嫦娥自愧不如隐去时，其手中落下的飘带变化而成。</string>
   <key>rechargeGiftContent3</key>
   <string>貂蝉妹子的专属兵符，只需一瞬的功夫就可以召来自己的众多FANS，群众的力量是强大的。</string>
   <key>rechargeGiftContent4</key>
   <string>貂蝉妹子的专属坐骑，乃是吕小布送于蝉蝉的专用坐骑，充满了爱的力量，蝉蝉为其取名曰-布布。</string>
   <key>rechargeGiftContent5</key>
   <string>貂蝉妹子的专属宝物，蝉蝉的绝密私物，闻一闻，精神百倍，抖一抖，活跃筋骨，舔一舔，长命百岁。</string>
   <key>rechargeGiftTip</key>
   <string>充值满 %d 元获得</string>
   <key>rechargeGiftGetMsg</key>
   <string>恭喜你获取%s！</string>
   <key>cumulativeInfoTitle</key>
   <string>累计登陆20天可获得乌孙马一匹！</string>
   <key>consecutiveInfoTitle</key>
   <string>连续登陆15天可获得紫色卡牌一张！</string>
  </dict>
  <key>recharge</key>
  <dict>
   <key>title</key>
   <string>充值越多越划算
还差￥%d可以享受VIP%d特权</string>
   <key>rewardgold</key>
   <string>再送%d</string>
   <key>returnNumber</key>
   <string>再返%d%%</string>
  </dict>
  <key>shop</key>
  <dict>
   <key>buy</key>
   <string>购买成功，商品已放置仓库中</string>
  </dict>
  <key>loading</key>
  <dict>
   <key>newres</key>
   <string>运筹帷幄中...</string>
   <key>newresparm</key>
   <string>运筹帷幄中…[%03d/%03d]</string>
   <key>unzip</key>
   <string>运筹帷幄中…</string>
  </dict>
  <key>swallow</key>
  <dict>
   <key>exp</key>
   <string>获得经验:%d</string>
   <key>silver</key>
   <string>消耗银币:%d</string>
   <key>no_silver</key>
   <string>银币不够了</string>
   <key>hero_exp</key>
   <string>经验:%d/%d</string>
   <key>num</key>
   <string>一次最多只能吞噬%d位将领</string>
   <key>sel_hero</key>
   <string>已选择%d位将领</string>
   <key>title</key>
   <string>将领升级</string>
  </dict>
  <key>anagenesis</key>
  <dict>
   <key>level</key>
   <string>等级:%d/%d</string>
   <key>skill</key>
   <string>技能:%s</string>
   <key>title</key>
   <string>将领进化</string>
   <key>silver</key>
   <string>消耗银币:%d</string>
  </dict>
  <key>guide</key>
  <dict>
   <key>fight_drama_1</key>
   <string>好像事情有点大条...不妙，风紧扯呼！</string>
   <key>fight_drama_2</key>
   <string>你忍不住好奇，过去看了一眼，结果发现...</string>
   <key>name</key>
   <string>请问主公尊姓大名？</string>
   <key>iam</key>
   <string>我乃</string>
  </dict>
  <key>mail</key>
  <dict>
   <key>deleteSuccess</key>
   <string>邮件删除成功～</string>
   <key>sendSuccess</key>
   <string>密信已快马加鞭送入对方手中！</string>
   <key>giftGetSuccess</key>
   <string>成功领取礼包～</string>
   <key>deleteConfirm</key>
   <string>你确认删除当前邮件么？</string>
   <key>deleteConfirmTitle</key>
   <string>确认删除</string>
   <key>deleteAllConfirm</key>
   <string>你确定删除当前所选邮件么？</string>
   <key>time_hour</key>
   <string>%d小时前</string>
   <key>time_minute</key>
   <string>%d分钟前</string>
   <key>sendEmpty</key>
   <string>密信不能为空~</string>
   <key>sendContent</key>
   <string>密信内容</string>
   <key>hint</key>
   <string>请输入内容：</string>
  </dict>
  <key>activity_mystery</key>
  <dict>
   <key>over</key>
   <string>恭喜成功通过奇遇谷。</string>
   <key>title</key>
   <string>通关！</string>
   <key>faled</key>
   <string>很遗憾，大侠重新来过。</string>
   <key>failed_title</key>
   <string>失败</string>
   <key>locked</key>
   <string>需要通过第一章方可解锁</string>
   <key>locktitle</key>
   <string>关卡未解锁</string>
  </dict>
  <key>treasure</key>
  <dict>
   <key>desc</key>
   <string>所有关卡均获得%d面旗帜即可领取宝箱</string>
   <key>cudesc</key>
   <string>铜质宝箱</string>
   <key>silverdesc</key>
   <string>银质宝箱</string>
   <key>golddesc</key>
   <string>金质宝箱</string>
  </dict>
  <key>ride</key>
  <dict>
   <key>cannotUpgradeTip</key>
   <string>坐骑潜力不足，无法再进行突破</string>
   <key>need</key>
   <string>需:</string>
   <key>exp_got</key>
   <string>获得:</string>
  </dict>
  <key>network</key>
  <dict>
   <key>info_connect</key>
   <string>连接中…</string>
   <key>info</key>
   <string>请在良好的网络环境下游戏&#13;
以保证良好的游戏体验</string>
  </dict>
  <key>level</key>
  <dict>
   <key>battle</key>
   <string>战胜关卡</string>
  </dict>
  <key>lock</key>
  <dict>
   <key>level</key>
   <string>解锁等级：</string>
  </dict>
  <key>heroinfo</key>
  <dict>
   <key>row1</key>
   <string>武力：影响武将攻击力的高低。</string>
   <key>row2</key>
   <string>智力：影响文臣攻击力的高低。</string>
   <key>row3</key>
   <string>统御：影响将领生命值的上限。</string>
   <key>row4</key>
   <string>速度：影响将领在战斗中攻击的先后顺序。</string>
   <key>row5</key>
   <string>战力：将领的综合水平，战斗力越高则将领越强。</string>
  </dict>
  <key>profession</key>
  <dict>
   <key>row1</key>
   <string>先锋：肉盾型将领，可降低所受伤害及承担伤害。</string>
   <key>row2</key>
   <string>猛将：武力型将领，可对敌军造成大量武力伤害。</string>
   <key>row3</key>
   <string>谋士：智力型将领，可对敌军造成大量智力伤害。</string>
   <key>row4</key>
   <string>策士：辅助型将领，可为友军增加不同属性加成。</string>
   <key>row5</key>
   <string>医师：治疗型将领，可为友军恢复一定的统御值。</string>
  </dict>
  <key>notification</key>
  <dict>
   <key>powerfull</key>
   <string>主公，您在《一二三国》中的体力值已满，众将领期待您的归来！</string>
  </dict>
  <key>upgrade</key>
  <dict>
   <key>levelfulltitle</key>
   <string>等级已满！</string>
   <key>levelfullinfo</key>
   <string>主公,末将升不动了~</string>
   <key>expover</key>
   <string>主公，吞噬将领经验超出等级上限所需经验，真的要升级吗？</string>
  </dict>
 </dict>
</plist>
