<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>skillName</key>
		<string>Attack</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>-1</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>100</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>1.5</string>
	</dict>
	<key>1</key>
	<dict>
		<key>skillName</key>
		<string>Flame</string>
		<key>sp</key>
		<string>4</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>130</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>0</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>2</string>
		<key>MdamageRate</key>
		<string>10</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>5</string>
		<key>GdamageRate</key>
		<string>10</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>1.28</string>
		<key>damageAppearTime</key>
		<string>1.25</string>
	</dict>
	<key>2</key>
	<dict>
		<key>skillName</key>
		<string>Disease</string>
		<key>sp</key>
		<string>3</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>110</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>5</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>4</string>
		<key>GdamageRate</key>
		<string>6</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0.8</string>
		<key>damageAppearTime</key>
		<string>1.5</string>
	</dict>
	<key>3</key>
	<dict>
		<key>skillName</key>
		<string>Aging Attack</string>
		<key>sp</key>
		<string>16</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>100</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>2</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>4.0</string>
		<key>damageAppearTime</key>
		<string>4.0</string>
	</dict>
	<key>4</key>
	<dict>
		<key>skillName</key>
		<string>Skill Seal</string>
		<key>sp</key>
		<string>1</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>100</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>3</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>3.0</string>
		<key>damageAppearTime</key>
		<string>0.9</string>
	</dict>
	<key>5</key>
	<dict>
		<key>skillName</key>
		<string>Freezing</string>
		<key>sp</key>
		<string>10</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>40</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>4</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>2</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>5</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>1.2</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>6</key>
	<dict>
		<key>skillName</key>
		<string>Lightning</string>
		<key>sp</key>
		<string>7</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>160</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>7</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>10</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>4</string>
		<key>GdamageRate</key>
		<string>10</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>2.5</string>
		<key>damageAppearTime</key>
		<string>1.8</string>
	</dict>
	<key>7</key>
	<dict>
		<key>skillName</key>
		<string>Sharp Blow</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>100</string>
		<key>effectValue</key>
		<string>7</string>
		<key>buffType</key>
		<string>5</string>
		<key>launchCount</key>
		<string>3</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>1</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>5</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>1</string>
		<key>GlaunchCount</key>
		<string>1</string>
		<key>buffAppearTime</key>
		<string>2.3</string>
		<key>damageAppearTime</key>
		<string>1.2</string>
	</dict>
	<key>8</key>
	<dict>
		<key>skillName</key>
		<string>Critical Hit</string>
		<key>sp</key>
		<string>10</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>60</string>
		<key>damageRate</key>
		<string>250</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>6</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>2</string>
		<key>MdamageRate</key>
		<string>10</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>3</string>
		<key>GdamageRate</key>
		<string>20</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>1.4</string>
	</dict>
	<key>9</key>
	<dict>
		<key>skillName</key>
		<string>Bomb</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>210</string>
		<key>effectValue</key>
		<string>10</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>2</string>
		<key>MdamageRate</key>
		<string>10</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0.95</string>
	</dict>
	<key>10</key>
	<dict>
		<key>skillName</key>
		<string>Blood Drawing</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>25</string>
		<key>damageRate</key>
		<string>100</string>
		<key>effectValue</key>
		<string>50</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>5</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>11</key>
	<dict>
		<key>skillName</key>
		<string>Failure Energy</string>
		<key>sp</key>
		<string>10</string>
		<key>triggerStatus</key>
		<string>4</string>
		<key>triggerProbability</key>
		<string>20</string>
		<key>damageRate</key>
		<string>100</string>
		<key>effectValue</key>
		<string>15</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>10</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>5</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>2.1</string>
	</dict>
	<key>12</key>
	<dict>
		<key>skillName</key>
		<string>Wild Wind</string>
		<key>sp</key>
		<string>3</string>
		<key>triggerStatus</key>
		<string>5</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>108</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>4</string>
		<key>MdamageRate</key>
		<string>5</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>10</string>
		<key>GdamageRate</key>
		<string>10</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>13</key>
	<dict>
		<key>skillName</key>
		<string>Thunderfall</string>
		<key>sp</key>
		<string>4</string>
		<key>triggerStatus</key>
		<string>5</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>80</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>7</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>2</string>
		<key>MdamageRate</key>
		<string>5</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>4</string>
		<key>GdamageRate</key>
		<string>5</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0.4</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>14</key>
	<dict>
		<key>skillName</key>
		<string>Poisoning</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>5</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>33</string>
		<key>effectValue</key>
		<string>3</string>
		<key>buffType</key>
		<string>8</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>5</string>
		<key>MdamageRate</key>
		<string>7</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>15</key>
	<dict>
		<key>skillName</key>
		<string>Cursing</string>
		<key>sp</key>
		<string>3</string>
		<key>triggerStatus</key>
		<string>5</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>3</string>
		<key>buffType</key>
		<string>9</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>2</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>1</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>2</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>16</key>
	<dict>
		<key>skillName</key>
		<string>Fire Shield</string>
		<key>sp</key>
		<string>1</string>
		<key>triggerStatus</key>
		<string>6</string>
		<key>triggerProbability</key>
		<string>33</string>
		<key>damageRate</key>
		<string>30</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>0</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>7</string>
		<key>MdamageRate</key>
		<string>5</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>1.5</string>
		<key>damageAppearTime</key>
		<string>1.32</string>
	</dict>
	<key>17</key>
	<dict>
		<key>skillName</key>
		<string>Invincible</string>
		<key>sp</key>
		<string>10</string>
		<key>triggerStatus</key>
		<string>6</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>15</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>4</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>18</key>
	<dict>
		<key>skillName</key>
		<string>Healing</string>
		<key>sp</key>
		<string>6</string>
		<key>triggerStatus</key>
		<string>6</string>
		<key>triggerProbability</key>
		<string>25</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>10</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>3</string>
		<key>MtriggerProbability</key>
		<string>5</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>2</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>5</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>3</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>19</key>
	<dict>
		<key>skillName</key>
		<string>Speed Up</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>6</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>10</string>
		<key>buffType</key>
		<string>22</string>
		<key>launchCount</key>
		<string>10</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>20</key>
	<dict>
		<key>skillName</key>
		<string>Bouncing</string>
		<key>sp</key>
		<string>5</string>
		<key>triggerStatus</key>
		<string>9</string>
		<key>triggerProbability</key>
		<string>15</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>55</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>1</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>3</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>21</key>
	<dict>
		<key>skillName</key>
		<string>Striking Back</string>
		<key>sp</key>
		<string>6</string>
		<key>triggerStatus</key>
		<string>6</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>144</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>2</string>
		<key>MdamageRate</key>
		<string>5</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>3</string>
		<key>GdamageRate</key>
		<string>5</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0.5</string>
	</dict>
	<key>22</key>
	<dict>
		<key>skillName</key>
		<string>Phantom</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>9</string>
		<key>triggerProbability</key>
		<string>18</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>4</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>23</key>
	<dict>
		<key>skillName</key>
		<string>Blood Boil</string>
		<key>sp</key>
		<string>12</string>
		<key>triggerStatus</key>
		<string>3</string>
		<key>triggerProbability</key>
		<string>33</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>16</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>2</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>24</key>
	<dict>
		<key>skillName</key>
		<string>Quickstep</string>
		<key>sp</key>
		<string>3</string>
		<key>triggerStatus</key>
		<string>3</string>
		<key>triggerProbability</key>
		<string>20</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>60</string>
		<key>buffType</key>
		<string>17</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>5</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>6</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>25</key>
	<dict>
		<key>skillName</key>
		<string>Time Bomb</string>
		<key>sp</key>
		<string>15</string>
		<key>triggerStatus</key>
		<string>3</string>
		<key>triggerProbability</key>
		<string>33</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>10</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>26</key>
	<dict>
		<key>skillName</key>
		<string>Purifying</string>
		<key>sp</key>
		<string>5</string>
		<key>triggerStatus</key>
		<string>3</string>
		<key>triggerProbability</key>
		<string>20</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>5</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>8</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>27</key>
	<dict>
		<key>skillName</key>
		<string>Snared</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>3</string>
		<key>triggerProbability</key>
		<string>20</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>14</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>10</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>1.2</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>28</key>
	<dict>
		<key>skillName</key>
		<string>Violence</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>1</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>19</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>29</key>
	<dict>
		<key>skillName</key>
		<string>Wine</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>1</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>13</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>1</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>30</key>
	<dict>
		<key>skillName</key>
		<string>Blood Thirsty</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>1</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>18</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>31</key>
	<dict>
		<key>skillName</key>
		<string>Bounce Back</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>1</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>20</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>32</key>
	<dict>
		<key>skillName</key>
		<string>Roaring</string>
		<key>sp</key>
		<string>5</string>
		<key>triggerStatus</key>
		<string>8</string>
		<key>triggerProbability</key>
		<string>30</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>5</string>
		<key>launchCount</key>
		<string>3</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>1</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>33</key>
	<dict>
		<key>skillName</key>
		<string>Slow Down</string>
		<key>sp</key>
		<string>13</string>
		<key>triggerStatus</key>
		<string>8</string>
		<key>triggerProbability</key>
		<string>33</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>12</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>3</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>34</key>
	<dict>
		<key>skillName</key>
		<string>SP Shield</string>
		<key>sp</key>
		<string>8</string>
		<key>triggerStatus</key>
		<string>8</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>21</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>7</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>10</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>35</key>
	<dict>
		<key>skillName</key>
		<string>Reborn</string>
		<key>sp</key>
		<string>20</string>
		<key>triggerStatus</key>
		<string>7</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>30</string>
		<key>effectValue</key>
		<string>5</string>
		<key>buffType</key>
		<string>-1</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>5</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>-1</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>36</key>
	<dict>
		<key>skillName</key>
		<string>Sucking Blood</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>1</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>23</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>37</key>
	<dict>
		<key>skillName</key>
		<string>Bounce Back Damage</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>1</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>24</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>38</key>
	<dict>
		<key>skillName</key>
		<string>Energy Robbing</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>1</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>25</string>
		<key>launchCount</key>
		<string>1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>39</key>
	<dict>
		<key>skillName</key>
		<string>Worse Wound</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>-2</string>
		<key>triggerProbability</key>
		<string>100</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>26</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>0</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
	<key>40</key>
	<dict>
		<key>skillName</key>
		<string>Auto Shield</string>
		<key>sp</key>
		<string>0</string>
		<key>triggerStatus</key>
		<string>-2</string>
		<key>triggerProbability</key>
		<string>15</string>
		<key>damageRate</key>
		<string>0</string>
		<key>effectValue</key>
		<string>0</string>
		<key>buffType</key>
		<string>27</string>
		<key>launchCount</key>
		<string>-1</string>
		<key>MtriggerProbability</key>
		<string>10</string>
		<key>MdamageRate</key>
		<string>0</string>
		<key>MeffectValue</key>
		<string>0</string>
		<key>MlaunchCount</key>
		<string>0</string>
		<key>GtriggerProbability</key>
		<string>0</string>
		<key>GdamageRate</key>
		<string>0</string>
		<key>GeffectValue</key>
		<string>0</string>
		<key>GlaunchCount</key>
		<string>0</string>
		<key>buffAppearTime</key>
		<string>0</string>
		<key>damageAppearTime</key>
		<string>0</string>
	</dict>
</dict>
</plist>
