<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arena_win</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>arena_win:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>arena_win:2</string>
			<key>reward</key>
			<string>exp:-1,gold:50</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>arena_win:3</string>
			<key>reward</key>
			<string>exp:-1,gold:60</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>arena_win:5</string>
			<key>reward</key>
			<string>exp:-1,gold:100</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>arena_win:8</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>blessing</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>blessing:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>blessing:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>blessing:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>blessing:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>blessing:1</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>boss</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>boss:0</string>
			<key>reward</key>
			<string>exp:-1,equ:2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>boss:0</string>
			<key>reward</key>
			<string>exp:-1,equ:2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>lassboss:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>lassboss:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>allboss:2</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>box</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>box:1</string>
			<key>reward</key>
			<string>exp:-1,gold:50</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>box:1</string>
			<key>reward</key>
			<string>exp:-1,gold:60</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>box:2</string>
			<key>reward</key>
			<string>exp:-1,gold:70</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>box:2</string>
			<key>reward</key>
			<string>exp:-1,gold:100</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>box:-1</string>
			<key>reward</key>
			<string>exp:-1,gold:150</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>control_dice</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>control_dice:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>control_dice:2</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>control_dice:2</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>control_dice:3</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>control_dice:4</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>cure</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>cure:1</string>
			<key>reward</key>
			<string>exp:-1,gold:50</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>cure:1</string>
			<key>reward</key>
			<string>exp:-1,gold:60</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>cure:2</string>
			<key>reward</key>
			<string>exp:-1,gold:70</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>cure:2</string>
			<key>reward</key>
			<string>exp:-1,gold:100</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>cure:3</string>
			<key>reward</key>
			<string>exp:-1,gold:150</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>dice</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>dice:2</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>dice:5</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>dice:7</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>dice:9</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>dice:10</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>hurt</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>hurt:1</string>
			<key>reward</key>
			<string>exp:-1,equ:2</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>hurt:2</string>
			<key>reward</key>
			<string>exp:-1,equ:2</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>hurt:2</string>
			<key>reward</key>
			<string>exp:-1,equ:2</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>hurt:3</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>hurt:4</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>mercenary</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>mercenary:1</string>
			<key>reward</key>
			<string>exp:-1,gold:70</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>mercenary:1</string>
			<key>reward</key>
			<string>exp:-1,gold:80</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>mercenary:1</string>
			<key>reward</key>
			<string>exp:-1,gold:100</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>mercenary:2</string>
			<key>reward</key>
			<string>exp:-1,gold:150</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>mercenary:2</string>
			<key>reward</key>
			<string>exp:-1,gold:200</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>money</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>money:1</string>
			<key>reward</key>
			<string>exp:-1,gold:50</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>money:2</string>
			<key>reward</key>
			<string>exp:-1,gold:60</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>money:2</string>
			<key>reward</key>
			<string>exp:-1,gold:70</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>money:3</string>
			<key>reward</key>
			<string>exp:-1,gold:100</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>money:4</string>
			<key>reward</key>
			<string>exp:-1,gold:150</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>monster</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>monster:2</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>monster:3</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>monster:4</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>monster:4</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>monster:5</string>
			<key>reward</key>
			<string>exp:-1</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>packs</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>packs:</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>packs:</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>packs:</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>packs:</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>packs:</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>teach</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>teach:</string>
			<key>reward</key>
			<string>good:200</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>teach:</string>
			<key>reward</key>
			<string>good:200</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>teach:</string>
			<key>reward</key>
			<string>good:200</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>teach:</string>
			<key>reward</key>
			<string>good:200</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>teach:</string>
			<key>reward</key>
			<string>good:200</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>random</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>random:2</string>
			<key>reward</key>
			<string>exp:-1,gold:50</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>random:3</string>
			<key>reward</key>
			<string>exp:-1,gold:60</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>random:3</string>
			<key>reward</key>
			<string>exp:-1,gold:70</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>random:4</string>
			<key>reward</key>
			<string>exp:-1,gold:100</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>random:5</string>
			<key>reward</key>
			<string>exp:-1,gold:150</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>recover</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>recover:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>recover:1</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>recover:2</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>recover:2</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>recover:3</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>reward</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>reward:1</string>
			<key>reward</key>
			<string>exp:-1,gold:50</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>reward:2</string>
			<key>reward</key>
			<string>exp:-1,gold:60</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>reward:2</string>
			<key>reward</key>
			<string>exp:-1,gold:70</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>reward:3</string>
			<key>reward</key>
			<string>exp:-1,gold:100</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>reward:4</string>
			<key>reward</key>
			<string>exp:-1,gold:150</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>tool</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>tool:1</string>
			<key>reward</key>
			<string>exp:-1,gold:50</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>tool:2</string>
			<key>reward</key>
			<string>exp:-1,gold:60</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>tool:2</string>
			<key>reward</key>
			<string>exp:-1,gold:70</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>tool:3</string>
			<key>reward</key>
			<string>exp:-1,gold:100</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>tool:4</string>
			<key>reward</key>
			<string>exp:-1,gold:150</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
	<key>type_percent</key>
	<string>10,10,5,15,5,5,5,5,5,10,5,5,5,5,5</string>
	<key>win</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>content</key>
			<string>win:</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>content</key>
			<string>win:</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>content</key>
			<string>win:</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>content</key>
			<string>win:</string>
			<key>reward</key>
			<string>exp:-1,equ:3</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>content</key>
			<string>win:</string>
			<key>reward</key>
			<string>exp:-1,equ:4</string>
		</dict>
		<key>level_percent</key>
		<string>30,25,20,15,10</string>
	</dict>
</dict>
</plist>
