<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skill0</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill1</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.2</string>
	</dict>
	<key>skill2</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>0.8</string>
	</dict>
	<key>skill3</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>2.3</string>
	</dict>
	<key>skill4</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>4</string>
	</dict>
	<key>skill5</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.95</string>
	</dict>
	<key>skill6</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill7</key>
	<dict>
		<key>attack</key>
		<string>1.55</string>
		<key>washit</key>
		<string>1.6</string>
	</dict>
	<key>skill8</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.4</string>
	</dict>
	<key>skill9</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>0.80</string>
	</dict>
	<key>skill10</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill11</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill12</key>
	<dict>
		<key>attack</key>
		<string>0.15</string>
		<key>washit</key>
		<string>0.4</string>
	</dict>
	<key>skill13</key>
	<dict>
		<key>attack</key>
		<string>0.4</string>
		<key>washit</key>
		<string>0.4</string>
	</dict>
	<key>skill14</key>
	<dict>
		<key>attack</key>
		<string>0.4</string>
		<key>washit</key>
		<string>0.4</string>
	</dict>
	<key>skill15</key>
	<dict>
		<key>attack</key>
		<string>0.15</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill16</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill17</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>0</string>
	</dict>
	<key>skill18</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill19</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill20</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill21</key>
	<dict>
		<key>attack</key>
		<string>0.5</string>
		<key>washit</key>
		<string>0.5</string>
	</dict>
	<key>skill22</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill23</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill24</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill25</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill26</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill27</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill28</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill29</key>
	<dict>
		<key>attack</key>
		<string>1.45</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill30</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill31</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill32</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill33</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill34</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill35</key>
	<dict>
		<key>attack</key>
		<string>0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill36</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill37</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill38</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill39</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill40</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
	<key>skill100</key>
	<dict>
		<key>attack</key>
		<string>2.5</string>
		<key>washit</key>
		<string>2.5</string>
	</dict>
	<key>superkill1</key>
	<dict>
		<key>attack</key>
		<string>1.0</string>
		<key>washit</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
