<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actioncardflicker-s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,237},{106,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,41}}</string>
                <key>sourceSize</key>
                <string>{106,41}</string>
            </dict>
            <key>actioncardflicker-s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,634},{69,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,100}}</string>
                <key>sourceSize</key>
                <string>{69,100}</string>
            </dict>
            <key>actioncardflicker-s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,736},{34,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,79}}</string>
                <key>sourceSize</key>
                <string>{34,79}</string>
            </dict>
            <key>actioncardflicker-s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,436},{119,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,85}}</string>
                <key>sourceSize</key>
                <string>{119,85}</string>
            </dict>
            <key>actioncardflicker-s13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,509},{27,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,62}}</string>
                <key>sourceSize</key>
                <string>{27,62}</string>
            </dict>
            <key>actioncardflicker-s14.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,76},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>actioncardflicker-s15.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,488},{49,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>actioncardflicker-s16.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,197},{134,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,86}}</string>
                <key>sourceSize</key>
                <string>{134,86}</string>
            </dict>
            <key>actioncardflicker-s17.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,285},{149,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,80}}</string>
                <key>sourceSize</key>
                <string>{149,80}</string>
            </dict>
            <key>actioncardflicker-s18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,100}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>actioncardflicker-s19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{114,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,62}}</string>
                <key>sourceSize</key>
                <string>{114,62}</string>
            </dict>
            <key>actioncardflicker-s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,367},{124,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,67}}</string>
                <key>sourceSize</key>
                <string>{124,67}</string>
            </dict>
            <key>actioncardflicker-s20.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,383},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>actioncardflicker-s21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{177,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,128}}</string>
                <key>sourceSize</key>
                <string>{177,128}</string>
            </dict>
            <key>actioncardflicker-s22.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,138},{137,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{137,44}</string>
            </dict>
            <key>actioncardflicker-s23.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,77},{155,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,87}}</string>
                <key>sourceSize</key>
                <string>{155,87}</string>
            </dict>
            <key>actioncardflicker-s24.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,77},{153,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,59}}</string>
                <key>sourceSize</key>
                <string>{153,59}</string>
            </dict>
            <key>actioncardflicker-s25.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,184},{129,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,51}}</string>
                <key>sourceSize</key>
                <string>{129,51}</string>
            </dict>
            <key>actioncardflicker-s26.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{164,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,73}}</string>
                <key>sourceSize</key>
                <string>{164,73}</string>
            </dict>
            <key>actioncardflicker-s27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{155,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,62}}</string>
                <key>sourceSize</key>
                <string>{155,62}</string>
            </dict>
            <key>actioncardflicker-s28.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,166},{131,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,29}}</string>
                <key>sourceSize</key>
                <string>{131,29}</string>
            </dict>
            <key>actioncardflicker-s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,523},{69,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,114}}</string>
                <key>sourceSize</key>
                <string>{69,114}</string>
            </dict>
            <key>actioncardflicker-s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,488},{32,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{32,69}</string>
            </dict>
            <key>actioncardflicker-s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,367},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>actioncardflicker-s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{72,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,152}}</string>
                <key>sourceSize</key>
                <string>{72,152}</string>
            </dict>
            <key>actioncardflicker-s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,883},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>actioncardflicker-s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,237},{34,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,79}}</string>
                <key>sourceSize</key>
                <string>{34,79}</string>
            </dict>
            <key>actioncardflicker-s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{92,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,144}}</string>
                <key>sourceSize</key>
                <string>{92,144}</string>
            </dict>
            <key>actioncardflicker-x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,232},{38,29}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x11.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,614},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,795},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,698},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,880},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,783},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x21.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,847},{82,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x23.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,614},{82,67}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{82,67}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x25.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,931},{72,51}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{72,51}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,933},{66,49}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{82,69}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,711},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>actioncardflicker-z1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,488},{76,58}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z10.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,639},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z12.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,523},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z13.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,280},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z14.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,711},{92,84}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{92,84}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z15.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,847},{84,66}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,46},{84,66}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{60,48}}</string>
                <key>offset</key>
                <string>{16,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{60,48}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z17.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,488},{36,28}}</string>
                <key>offset</key>
                <string>{28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,84},{36,28}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,805},{92,76}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,138},{92,94}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,394},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,394},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z6.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,273},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,753},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z8.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,617},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
            <key>actioncardflicker-z9.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,520},{92,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,112}}</string>
                <key>sourceSize</key>
                <string>{92,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_card_flicker.png</string>
            <key>size</key>
            <string>{508,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0856bf6d79f46c24874c88e4574e1a4$</string>
            <key>textureFileName</key>
            <string>action_card_flicker.png</string>
        </dict>
    </dict>
</plist>
