<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionherohireui-a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,154}}</string>
                <key>sourceSize</key>
                <string>{308,154}</string>
            </dict>
            <key>actionherohireui-a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,414},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>actionherohireui-a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,526},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>actionherohireui-message.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,56},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohireui-nv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,518},{152,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,118}}</string>
                <key>sourceSize</key>
                <string>{152,118}</string>
            </dict>
            <key>actionherohireui-nv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{176,203}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,203}}</string>
                <key>sourceSize</key>
                <string>{186,203}</string>
            </dict>
            <key>actionherohireui-nv11.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,56},{17,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,89}}</string>
                <key>sourceSize</key>
                <string>{17,89}</string>
            </dict>
            <key>actionherohireui-nv12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,377},{139,206}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{139,206}}</string>
                <key>sourceSize</key>
                <string>{185,238}</string>
            </dict>
            <key>actionherohireui-nv13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{86,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,240}}</string>
                <key>sourceSize</key>
                <string>{86,240}</string>
            </dict>
            <key>actionherohireui-nv14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,191},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>actionherohireui-nv15.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,191},{77,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,30}}</string>
                <key>sourceSize</key>
                <string>{77,30}</string>
            </dict>
            <key>actionherohireui-nv16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{82,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,172}}</string>
                <key>sourceSize</key>
                <string>{82,172}</string>
            </dict>
            <key>actionherohireui-nv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,147},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>actionherohireui-nv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>actionherohireui-nv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,29},{25,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,18}}</string>
                <key>sourceSize</key>
                <string>{25,18}</string>
            </dict>
            <key>actionherohireui-nv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,207},{168,200}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{168,200}}</string>
                <key>sourceSize</key>
                <string>{174,208}</string>
            </dict>
            <key>actionherohireui-nv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{149,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,169}}</string>
                <key>sourceSize</key>
                <string>{149,169}</string>
            </dict>
            <key>actionherohireui-nv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{166,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{166,167}</string>
            </dict>
            <key>actionherohireui-nv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,267},{26,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,112}}</string>
                <key>sourceSize</key>
                <string>{26,112}</string>
            </dict>
            <key>actionherohireui-nv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,270},{92,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,142}}</string>
                <key>sourceSize</key>
                <string>{92,146}</string>
            </dict>
            <key>actionherohireui-sh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,172},{5,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,14}}</string>
                <key>sourceSize</key>
                <string>{5,14}</string>
            </dict>
            <key>actionherohireui-sh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,193},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>actionherohireui-sh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,179},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>actionherohireui-sh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,158},{31,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_hero_hire_ui.png</string>
            <key>size</key>
            <string>{512,649}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81a7350c33cf3ce02bc9dac3a13f6585$</string>
            <key>textureFileName</key>
            <string>action_hero_hire_ui.png</string>
        </dict>
    </dict>
</plist>
