<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>actionherohire-a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{260,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,110}}</string>
                <key>sourceSize</key>
                <string>{260,110}</string>
            </dict>
            <key>actionherohire-a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,382}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{261,382}}</string>
                <key>sourceSize</key>
                <string>{261,386}</string>
            </dict>
            <key>actionherohire-a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{261,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,180}}</string>
                <key>sourceSize</key>
                <string>{261,180}</string>
            </dict>
            <key>actionherohire-a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{259,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,132}}</string>
                <key>sourceSize</key>
                <string>{259,132}</string>
            </dict>
            <key>actionherohire-hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohire-hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohire-hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohire-hero4.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohire-hero5.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohire-hero6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohire-hero7.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohire-hero8.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>actionherohire-n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{135,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,135}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>actionherohire-n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,344},{168,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,346}}</string>
                <key>sourceSize</key>
                <string>{168,346}</string>
            </dict>
            <key>actionherohire-n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,814},{95,129}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,129}}</string>
                <key>sourceSize</key>
                <string>{99,133}</string>
            </dict>
            <key>actionherohire-n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,140},{192,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{192,60}}</string>
                <key>sourceSize</key>
                <string>{208,60}</string>
            </dict>
            <key>actionherohire-n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{40,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{40,86}}</string>
                <key>sourceSize</key>
                <string>{58,100}</string>
            </dict>
            <key>actionherohire-n6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,90},{50,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{50,85}}</string>
                <key>sourceSize</key>
                <string>{66,103}</string>
            </dict>
            <key>actionherohire-n7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,272},{64,80}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{64,80}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>actionherohire-s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,692},{98,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{98,81}</string>
            </dict>
            <key>actionherohire-s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,814},{143,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,82}}</string>
                <key>sourceSize</key>
                <string>{143,84}</string>
            </dict>
            <key>actionherohire-s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,945},{165,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,74}}</string>
                <key>sourceSize</key>
                <string>{165,74}</string>
            </dict>
            <key>actionherohire-s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,272},{178,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,70}}</string>
                <key>sourceSize</key>
                <string>{178,70}</string>
            </dict>
            <key>actionherohire-s51.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,202},{189,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,68}}</string>
                <key>sourceSize</key>
                <string>{189,68}</string>
            </dict>
            <key>actionherohire-s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,70},{193,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,68}}</string>
                <key>sourceSize</key>
                <string>{193,68}</string>
            </dict>
            <key>actionherohire-s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,2},{197,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,66}}</string>
                <key>sourceSize</key>
                <string>{197,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>action_hero_hire.png</string>
            <key>size</key>
            <string>{512,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:165a57f9c43954c716df363ffc4d84ed$</string>
            <key>textureFileName</key>
            <string>action_hero_hire.png</string>
        </dict>
    </dict>
</plist>
