<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4333parts-s01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{196,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,142}}</string>
                <key>sourceSize</key>
                <string>{196,142}</string>
            </dict>
            <key>skill4333parts-s02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{191,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,103}}</string>
                <key>sourceSize</key>
                <string>{191,103}</string>
            </dict>
            <key>skill4333parts-s03.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{189,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,119}}</string>
                <key>sourceSize</key>
                <string>{189,119}</string>
            </dict>
            <key>skill4333parts-s04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{201,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,120}}</string>
                <key>sourceSize</key>
                <string>{201,120}</string>
            </dict>
            <key>skill4333parts-s05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{202,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,121}}</string>
                <key>sourceSize</key>
                <string>{202,121}</string>
            </dict>
            <key>skill4333parts-s06.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,123},{206,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,121}}</string>
                <key>sourceSize</key>
                <string>{206,121}</string>
            </dict>
            <key>skill4333parts-s07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,246},{205,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,132}}</string>
                <key>sourceSize</key>
                <string>{205,132}</string>
            </dict>
            <key>skill4333parts-s08.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,380},{202,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,138}}</string>
                <key>sourceSize</key>
                <string>{202,138}</string>
            </dict>
            <key>skill4333parts-s09.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,520},{203,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,138}}</string>
                <key>sourceSize</key>
                <string>{203,138}</string>
            </dict>
            <key>skill4333parts-s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{202,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,137}}</string>
                <key>sourceSize</key>
                <string>{202,137}</string>
            </dict>
            <key>skill4333parts-t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,38}}</string>
                <key>sourceSize</key>
                <string>{15,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4333.png</string>
            <key>size</key>
            <string>{426,660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c7a77e718ae95432c33d7ba5a32060e$</string>
            <key>textureFileName</key>
            <string>fight_skill_4333.png</string>
        </dict>
    </dict>
</plist>
