<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightskillfirst4420-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,276},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>fightskillfirst4420-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fightskillfirst4420-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,643},{31,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,83}}</string>
                <key>sourceSize</key>
                <string>{31,83}</string>
            </dict>
            <key>fightskillfirst4420-d.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,594},{68,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>fightskillfirst4420-e.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,594},{24,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>fightskillfirst4420-f.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,643},{86,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>fightskillfirst4420-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,387}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,387}}</string>
                <key>sourceSize</key>
                <string>{388,389}</string>
            </dict>
            <key>fightskillfirst4420-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,518},{123,123}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>fightskillfirst4420-hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fightskillfirst4420-i.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{291,202}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,202}}</string>
                <key>sourceSize</key>
                <string>{293,204}</string>
            </dict>
            <key>fightskillfirst4420-j.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,114},{160,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,102}}</string>
                <key>sourceSize</key>
                <string>{160,102}</string>
            </dict>
            <key>fightskillfirst4420-s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,568},{85,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,87}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>fightskillfirst4420-s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,390},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>fightskillfirst4420-s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>fightskillfirst4420-s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,480},{86,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{86,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_first_4420.png</string>
            <key>size</key>
            <string>{511,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25ef494eeb031466b4b30f654fae10fb$</string>
            <key>textureFileName</key>
            <string>fight_skill_first_4420.png</string>
        </dict>
    </dict>
</plist>
