<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4419parts-t.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,21},{122,122}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,122}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>skill4419parts-z1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,62},{31,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,75}}</string>
                <key>sourceSize</key>
                <string>{31,75}</string>
            </dict>
            <key>skill4419parts-z10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,172},{26,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,98}}</string>
                <key>sourceSize</key>
                <string>{30,100}</string>
            </dict>
            <key>skill4419parts-z11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{17,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,145}}</string>
                <key>sourceSize</key>
                <string>{17,145}</string>
            </dict>
            <key>skill4419parts-z12.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{19,155}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,155}}</string>
                <key>sourceSize</key>
                <string>{21,157}</string>
            </dict>
            <key>skill4419parts-z13.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,157},{17,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,97}}</string>
                <key>sourceSize</key>
                <string>{17,97}</string>
            </dict>
            <key>skill4419parts-z14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,145},{18,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,107}}</string>
                <key>sourceSize</key>
                <string>{22,109}</string>
            </dict>
            <key>skill4419parts-z15.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{33,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,153}}</string>
                <key>sourceSize</key>
                <string>{33,153}</string>
            </dict>
            <key>skill4419parts-z16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,163}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,163}}</string>
                <key>sourceSize</key>
                <string>{38,165}</string>
            </dict>
            <key>skill4419parts-z2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{32,86}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,86}}</string>
                <key>sourceSize</key>
                <string>{36,88}</string>
            </dict>
            <key>skill4419parts-z3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,139},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>skill4419parts-z4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,21},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{39,33}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>skill4419parts-z5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,200},{22,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,64}}</string>
                <key>sourceSize</key>
                <string>{22,64}</string>
            </dict>
            <key>skill4419parts-z6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,172},{24,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,73}}</string>
                <key>sourceSize</key>
                <string>{26,77}</string>
            </dict>
            <key>skill4419parts-z7.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,167},{22,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,79}}</string>
                <key>sourceSize</key>
                <string>{22,79}</string>
            </dict>
            <key>skill4419parts-z8.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,157},{23,90}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,90}}</string>
                <key>sourceSize</key>
                <string>{27,92}</string>
            </dict>
            <key>skill4419parts-z9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,145},{25,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,88}}</string>
                <key>sourceSize</key>
                <string>{25,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4419.png</string>
            <key>size</key>
            <string>{253,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be9950e42600269cd5614d2639f035e$</string>
            <key>textureFileName</key>
            <string>fight_skill_4419.png</string>
        </dict>
    </dict>
</plist>
