<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attackflyparts-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,112}}</string>
                <key>sourceSize</key>
                <string>{168,112}</string>
            </dict>
            <key>attackflyparts-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{165,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,112}}</string>
                <key>sourceSize</key>
                <string>{165,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_attack_fly.png</string>
            <key>size</key>
            <string>{172,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec5af5ac5d450afd9e78e04cae91dd91$</string>
            <key>textureFileName</key>
            <string>fight_attack_fly.png</string>
        </dict>
    </dict>
</plist>
