<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4842parts-g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{141,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,143}}</string>
                <key>sourceSize</key>
                <string>{141,143}</string>
            </dict>
            <key>skill4842parts-g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{125,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,129}}</string>
                <key>sourceSize</key>
                <string>{125,129}</string>
            </dict>
            <key>skill4842parts-g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,356},{139,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,141}}</string>
                <key>sourceSize</key>
                <string>{139,141}</string>
            </dict>
            <key>skill4842parts-g4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,245},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{107,109}</string>
            </dict>
            <key>skill4842parts-g5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,245},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>skill4842parts-g6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,133},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>skill4842parts-g7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>skill4842parts-t.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,194}}</string>
                <key>sourceSize</key>
                <string>{136,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4842.png</string>
            <key>size</key>
            <string>{369,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eed401093a9224307fc78813326f47e$</string>
            <key>textureFileName</key>
            <string>fight_skill_4842.png</string>
        </dict>
    </dict>
</plist>
