<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill5011parts-r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,428},{202,147}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{202,147}}</string>
                <key>sourceSize</key>
                <string>{206,149}</string>
            </dict>
            <key>skill5011parts-r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{232,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,160}}</string>
                <key>sourceSize</key>
                <string>{236,162}</string>
            </dict>
            <key>skill5011parts-r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,250},{232,176}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,176}}</string>
                <key>sourceSize</key>
                <string>{236,180}</string>
            </dict>
            <key>skill5011parts-r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,288},{216,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,202}}</string>
                <key>sourceSize</key>
                <string>{218,202}</string>
            </dict>
            <key>skill5011parts-r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,415},{206,210}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,210}}</string>
                <key>sourceSize</key>
                <string>{212,214}</string>
            </dict>
            <key>skill5011parts-r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,326},{64,90}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>skill5011parts-x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{188,106}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{188,106}}</string>
                <key>sourceSize</key>
                <string>{198,114}</string>
            </dict>
            <key>skill5011parts-y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{274,246}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,246}}</string>
                <key>sourceSize</key>
                <string>{276,248}</string>
            </dict>
            <key>skill5011parts-y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,224}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,224}}</string>
                <key>sourceSize</key>
                <string>{320,226}</string>
            </dict>
            <key>skill5011parts-y3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{284,218}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,218}}</string>
                <key>sourceSize</key>
                <string>{288,220}</string>
            </dict>
            <key>skill5011parts-y4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,222},{248,191}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,191}}</string>
                <key>sourceSize</key>
                <string>{252,193}</string>
            </dict>
            <key>skill5011parts-y5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{212,161}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,161}}</string>
                <key>sourceSize</key>
                <string>{218,163}</string>
            </dict>
            <key>skill5011parts-y6.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{172,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,134}}</string>
                <key>sourceSize</key>
                <string>{174,136}</string>
            </dict>
            <key>skill5011parts-y7.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,176},{134,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,110}}</string>
                <key>sourceSize</key>
                <string>{138,112}</string>
            </dict>
            <key>skill5011parts-y8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,228},{96,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_5011.png</string>
            <key>size</key>
            <string>{1024,661}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7784cef514e0628af40cadc92c683db6$</string>
            <key>textureFileName</key>
            <string>fight_skill_5011.png</string>
        </dict>
    </dict>
</plist>
