<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4509parts-g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,539},{123,123}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>skill4509parts-g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,595},{134,83}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,83}}</string>
                <key>sourceSize</key>
                <string>{142,87}</string>
            </dict>
            <key>skill4509parts-g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,432},{161,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{161,58}}</string>
                <key>sourceSize</key>
                <string>{163,58}</string>
            </dict>
            <key>skill4509parts-l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,358},{179,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,166}}</string>
                <key>sourceSize</key>
                <string>{179,166}</string>
            </dict>
            <key>tu-位图 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,183},{173,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,239}}</string>
                <key>sourceSize</key>
                <string>{173,239}</string>
            </dict>
            <key>tu-位图 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{257,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,180}}</string>
                <key>sourceSize</key>
                <string>{257,180}</string>
            </dict>
            <key>tu-位图 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{256,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,154}}</string>
                <key>sourceSize</key>
                <string>{256,154}</string>
            </dict>
            <key>tu-位图 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{182,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,218}}</string>
                <key>sourceSize</key>
                <string>{182,218}</string>
            </dict>
            <key>tu-位图 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,411},{179,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,250}}</string>
                <key>sourceSize</key>
                <string>{179,250}</string>
            </dict>
            <key>tu-位图 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,158},{183,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,251}}</string>
                <key>sourceSize</key>
                <string>{183,251}</string>
            </dict>
            <key>tu-位图 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,246}}</string>
                <key>sourceSize</key>
                <string>{184,246}</string>
            </dict>
            <key>tu-位图 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{179,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,241}}</string>
                <key>sourceSize</key>
                <string>{179,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4509.png</string>
            <key>size</key>
            <string>{689,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bf28518e99abf30f2d48d258e2b8abe$</string>
            <key>textureFileName</key>
            <string>fight_skill_4509.png</string>
        </dict>
    </dict>
</plist>
