<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4837parts-x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,50}}</string>
                <key>sourceSize</key>
                <string>{152,50}</string>
            </dict>
            <key>skill4837parts-x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,54},{141,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,46}}</string>
                <key>sourceSize</key>
                <string>{141,46}</string>
            </dict>
            <key>skill4837parts-x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,54},{143,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,44}}</string>
                <key>sourceSize</key>
                <string>{143,44}</string>
            </dict>
            <key>skill4837parts-x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>skill4837parts-x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{143,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,47}}</string>
                <key>sourceSize</key>
                <string>{143,47}</string>
            </dict>
            <key>skill4837parts-x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,54},{143,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,45}}</string>
                <key>sourceSize</key>
                <string>{143,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4837.png</string>
            <key>size</key>
            <string>{191,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4be7174ac56fe21ff8c83e6a9cffac0e$</string>
            <key>textureFileName</key>
            <string>fight_skill_4837.png</string>
        </dict>
    </dict>
</plist>
