<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4014parts-bao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,455},{41,37}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{41,37}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>skill4014parts-bao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{104,147}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{104,147}}</string>
                <key>sourceSize</key>
                <string>{126,159}</string>
            </dict>
            <key>skill4014parts-bao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,285},{160,167}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>skill4014parts-bao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{177,171}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{177,171}}</string>
                <key>sourceSize</key>
                <string>{193,185}</string>
            </dict>
            <key>skill4014parts-dao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,82},{142,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{142,111}}</string>
                <key>sourceSize</key>
                <string>{166,125}</string>
            </dict>
            <key>skill4014parts-dao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,387},{106,97}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{106,97}}</string>
                <key>sourceSize</key>
                <string>{124,109}</string>
            </dict>
            <key>skill4014parts-dao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,236},{50,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{50,78}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>skill4014parts-jian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,332},{111,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{111,53}}</string>
                <key>sourceSize</key>
                <string>{129,69}</string>
            </dict>
            <key>skill4014parts-jian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,454},{157,96}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{157,96}}</string>
                <key>sourceSize</key>
                <string>{187,112}</string>
            </dict>
            <key>skill4014parts-jian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,195},{148,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{148,88}}</string>
                <key>sourceSize</key>
                <string>{176,106}</string>
            </dict>
            <key>skill4014parts-jian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,316},{137,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{137,46}}</string>
                <key>sourceSize</key>
                <string>{163,72}</string>
            </dict>
            <key>skill4014parts-jian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,283},{114,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{114,47}}</string>
                <key>sourceSize</key>
                <string>{134,67}</string>
            </dict>
            <key>skill4014parts-lie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{231,75}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{231,75}}</string>
                <key>sourceSize</key>
                <string>{249,79}</string>
            </dict>
            <key>skill4014parts-lie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{361,75}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{361,75}}</string>
                <key>sourceSize</key>
                <string>{385,85}</string>
            </dict>
            <key>skill4014parts-lie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{489,78}}</string>
                <key>sourceSize</key>
                <string>{505,82}</string>
            </dict>
            <key>skill4014parts-tian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,159},{122,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4014.png</string>
            <key>size</key>
            <string>{511,552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d576a0b94cd8168789edb332a70b3245$</string>
            <key>textureFileName</key>
            <string>fight_skill_4014.png</string>
        </dict>
    </dict>
</plist>
