<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4008parts-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{186,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,156}}</string>
                <key>sourceSize</key>
                <string>{188,158}</string>
            </dict>
            <key>skill4008parts-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,305},{186,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,148}}</string>
                <key>sourceSize</key>
                <string>{188,150}</string>
            </dict>
            <key>skill4008parts-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,152},{194,151}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,151}}</string>
                <key>sourceSize</key>
                <string>{196,153}</string>
            </dict>
            <key>skill4008parts-d.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,455},{183,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,145}}</string>
                <key>sourceSize</key>
                <string>{185,147}</string>
            </dict>
            <key>skill4008parts-e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{177,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,144}}</string>
                <key>sourceSize</key>
                <string>{179,146}</string>
            </dict>
            <key>skill4008parts-f.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,602},{173,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,142}}</string>
                <key>sourceSize</key>
                <string>{175,144}</string>
            </dict>
            <key>skill4008parts-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{186,145}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{186,145}}</string>
                <key>sourceSize</key>
                <string>{190,147}</string>
            </dict>
            <key>skill4008parts-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{199,148}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,148}}</string>
                <key>sourceSize</key>
                <string>{203,150}</string>
            </dict>
            <key>skill4008parts-i.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,151}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,151}}</string>
                <key>sourceSize</key>
                <string>{206,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4008.png</string>
            <key>size</key>
            <string>{409,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a18d4b3736bc1b9cc2c26dbe8568bd0c$</string>
            <key>textureFileName</key>
            <string>fight_skill_4008.png</string>
        </dict>
    </dict>
</plist>
