<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4217parts-d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,172}}</string>
                <key>sourceSize</key>
                <string>{130,174}</string>
            </dict>
            <key>skill4217parts-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{122,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4217.png</string>
            <key>size</key>
            <string>{256,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5665da34f96d6e8599c57cbba3b6496$</string>
            <key>textureFileName</key>
            <string>fight_skill_4217.png</string>
        </dict>
    </dict>
</plist>
