<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4411parts-h1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,653},{121,123}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>skill4411parts-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,139},{191,59}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{191,59}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>skill4411parts-w1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,569},{40,85}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{40,85}}</string>
                <key>sourceSize</key>
                <string>{46,93}</string>
            </dict>
            <key>skill4411parts-w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,419},{50,85}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,85}}</string>
                <key>sourceSize</key>
                <string>{56,93}</string>
            </dict>
            <key>skill4411parts-w3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,338},{63,79}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,79}}</string>
                <key>sourceSize</key>
                <string>{69,85}</string>
            </dict>
            <key>skill4411parts-z01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{84,141}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,141}}</string>
                <key>sourceSize</key>
                <string>{88,143}</string>
            </dict>
            <key>skill4411parts-z02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,506},{96,145}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,145}}</string>
                <key>sourceSize</key>
                <string>{102,151}</string>
            </dict>
            <key>skill4411parts-z03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,609},{129,138}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,138}}</string>
                <key>sourceSize</key>
                <string>{133,144}</string>
            </dict>
            <key>skill4411parts-z04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,475},{150,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{150,132}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>skill4411parts-z05.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,338},{175,135}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,135}}</string>
                <key>sourceSize</key>
                <string>{179,139}</string>
            </dict>
            <key>skill4411parts-z06.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{205,135}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{205,135}}</string>
                <key>sourceSize</key>
                <string>{209,141}</string>
            </dict>
            <key>skill4411parts-z07.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,200},{227,136}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{227,136}}</string>
                <key>sourceSize</key>
                <string>{231,142}</string>
            </dict>
            <key>skill4411parts-z08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{248,141}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{248,141}}</string>
                <key>sourceSize</key>
                <string>{254,147}</string>
            </dict>
            <key>skill4411parts-z09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{261,141}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{261,141}}</string>
                <key>sourceSize</key>
                <string>{267,145}</string>
            </dict>
            <key>skill4411parts-z10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{271,140}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{271,140}}</string>
                <key>sourceSize</key>
                <string>{277,144}</string>
            </dict>
            <key>skill4411parts-z11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,137}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{281,137}}</string>
                <key>sourceSize</key>
                <string>{287,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4411.png</string>
            <key>size</key>
            <string>{507,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:552dd4a9130219a723df71e067e369f8$</string>
            <key>textureFileName</key>
            <string>fight_skill_4411.png</string>
        </dict>
    </dict>
</plist>
