<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4218parts-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{37,164}}</string>
                <key>sourceSize</key>
                <string>{49,172}</string>
            </dict>
            <key>skill4218parts-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{123,123}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4218.png</string>
            <key>size</key>
            <string>{166,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17e9a5179133dd713d4ba8f32cf97e9a$</string>
            <key>textureFileName</key>
            <string>fight_skill_4218.png</string>
        </dict>
    </dict>
</plist>
