<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4801parts-g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,273},{142,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,118}}</string>
                <key>sourceSize</key>
                <string>{142,118}</string>
            </dict>
            <key>skill4801parts-g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,259},{144,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,121}}</string>
                <key>sourceSize</key>
                <string>{144,121}</string>
            </dict>
            <key>skill4801parts-g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,134},{144,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,123}}</string>
                <key>sourceSize</key>
                <string>{144,123}</string>
            </dict>
            <key>skill4801parts-g4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{145,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,129}}</string>
                <key>sourceSize</key>
                <string>{145,129}</string>
            </dict>
            <key>skill4801parts-g5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{144,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,130}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>skill4801parts-g6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{147,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,130}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>skill4801parts-g7.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{147,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,130}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>skill4801parts-g8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,134}}</string>
                <key>sourceSize</key>
                <string>{148,134}</string>
            </dict>
            <key>skill4801parts-g9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,134},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>skill4801parts-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,382},{122,122}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{122,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4801.png</string>
            <key>size</key>
            <string>{450,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d85b980d30503ffbdb2ff85809240ef$</string>
            <key>textureFileName</key>
            <string>fight_skill_4801.png</string>
        </dict>
    </dict>
</plist>
