<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4508parts-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,190},{54,241}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,241}}</string>
                <key>sourceSize</key>
                <string>{58,243}</string>
            </dict>
            <key>skill4508parts-ji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{114,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,76}}</string>
                <key>sourceSize</key>
                <string>{118,78}</string>
            </dict>
            <key>skill4508parts-ji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{164,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,90}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
            <key>skill4508parts-ji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,94}}</string>
                <key>sourceSize</key>
                <string>{223,96}</string>
            </dict>
            <key>skill4508parts-ji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{224,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,90}}</string>
                <key>sourceSize</key>
                <string>{226,92}</string>
            </dict>
            <key>skill4508parts-ji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{160,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{164,78}</string>
            </dict>
            <key>skill4508parts-ji06.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,282},{96,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4508.png</string>
            <key>size</key>
            <string>{228,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:739f5b89ddf226ab649e86ca829f5ec6$</string>
            <key>textureFileName</key>
            <string>fight_skill_4508.png</string>
        </dict>
    </dict>
</plist>
