<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4418parts-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>skill4418parts-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{133,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>skill4418parts-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,146}}</string>
                <key>sourceSize</key>
                <string>{147,146}</string>
            </dict>
            <key>skill4418parts-d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{123,123}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>skill4418parts-e.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,54},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4418.png</string>
            <key>size</key>
            <string>{251,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56bc072810444b02907552bf21bf045d$</string>
            <key>textureFileName</key>
            <string>fight_skill_4418.png</string>
        </dict>
    </dict>
</plist>
