<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4844parts-b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{180,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,215}}</string>
                <key>sourceSize</key>
                <string>{180,215}</string>
            </dict>
            <key>skill4844parts-b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,293},{232,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,246}}</string>
                <key>sourceSize</key>
                <string>{232,246}</string>
            </dict>
            <key>skill4844parts-b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,571},{250,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,263}}</string>
                <key>sourceSize</key>
                <string>{250,263}</string>
            </dict>
            <key>skill4844parts-b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{264,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,276}}</string>
                <key>sourceSize</key>
                <string>{264,276}</string>
            </dict>
            <key>skill4844parts-b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,289}}</string>
                <key>sourceSize</key>
                <string>{276,289}</string>
            </dict>
            <key>skill4844parts-b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{264,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,260}}</string>
                <key>sourceSize</key>
                <string>{264,260}</string>
            </dict>
            <key>skill4844parts-b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{234,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,215}}</string>
                <key>sourceSize</key>
                <string>{234,215}</string>
            </dict>
            <key>skill4844parts-t.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,837},{121,123}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4844.png</string>
            <key>size</key>
            <string>{516,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:956116bc694ad4c874b2bb74390ada21$</string>
            <key>textureFileName</key>
            <string>fight_skill_4844.png</string>
        </dict>
    </dict>
</plist>
