<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>throwattackparts-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,112}}</string>
                <key>sourceSize</key>
                <string>{124,112}</string>
            </dict>
            <key>throwattackparts-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{141,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,150}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>throwattackparts-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{140,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,139}}</string>
                <key>sourceSize</key>
                <string>{142,141}</string>
            </dict>
            <key>throwattackparts-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{139,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,148}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>throwattackparts-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,154},{125,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,113}}</string>
                <key>sourceSize</key>
                <string>{127,115}</string>
            </dict>
            <key>throwattackparts-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,154},{127,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{129,139}</string>
            </dict>
            <key>throwattackparts-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{146,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{146,140}</string>
            </dict>
            <key>throwattackparts-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,304},{141,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,150}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>throwattackparts-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,304},{140,139}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,139}}</string>
                <key>sourceSize</key>
                <string>{142,141}</string>
            </dict>
            <key>throwattackparts-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{139,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,148}}</string>
                <key>sourceSize</key>
                <string>{141,150}</string>
            </dict>
            <key>throwattackparts-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,456},{127,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,136}}</string>
                <key>sourceSize</key>
                <string>{127,136}</string>
            </dict>
            <key>throwattackparts-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,456},{143,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,138}}</string>
                <key>sourceSize</key>
                <string>{143,138}</string>
            </dict>
            <key>throwattackparts-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{141,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,149}}</string>
                <key>sourceSize</key>
                <string>{141,149}</string>
            </dict>
            <key>throwattackparts-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,606},{139,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,138}}</string>
                <key>sourceSize</key>
                <string>{139,138}</string>
            </dict>
            <key>throwattackparts-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,606},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>throwattackparts-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{125,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,113}}</string>
                <key>sourceSize</key>
                <string>{127,115}</string>
            </dict>
            <key>throwattackparts-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,757},{127,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,137}}</string>
                <key>sourceSize</key>
                <string>{129,139}</string>
            </dict>
            <key>throwattackparts-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,757},{146,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{146,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_throw_attack.png</string>
            <key>size</key>
            <string>{435,897}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d377abded65e29dbb3cd5558fd151aa$</string>
            <key>textureFileName</key>
            <string>fight_throw_attack.png</string>
        </dict>
    </dict>
</plist>
