<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4211parts-g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,673},{122,122}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{122,122}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>skill4211parts-l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,362},{216,161}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,161}}</string>
                <key>sourceSize</key>
                <string>{216,163}</string>
            </dict>
            <key>skill4211parts-l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{218,166}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,166}}</string>
                <key>sourceSize</key>
                <string>{218,168}</string>
            </dict>
            <key>skill4211parts-l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,188},{206,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,172}}</string>
                <key>sourceSize</key>
                <string>{208,174}</string>
            </dict>
            <key>skill4211parts-l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{206,182}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,182}}</string>
                <key>sourceSize</key>
                <string>{208,184}</string>
            </dict>
            <key>skill4211parts-l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,200}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,200}}</string>
                <key>sourceSize</key>
                <string>{208,202}</string>
            </dict>
            <key>skill4211parts-l6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{210,190}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,190}}</string>
                <key>sourceSize</key>
                <string>{212,192}</string>
            </dict>
            <key>skill4211parts-l7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{216,184}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,184}}</string>
                <key>sourceSize</key>
                <string>{220,186}</string>
            </dict>
            <key>skill4211parts-l8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{218,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,172}}</string>
                <key>sourceSize</key>
                <string>{220,174}</string>
            </dict>
            <key>skill4211parts-l9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,525},{194,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,146}}</string>
                <key>sourceSize</key>
                <string>{196,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4211.png</string>
            <key>size</key>
            <string>{432,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b80529e4bfa3f0e51902e347dfc3d815$</string>
            <key>textureFileName</key>
            <string>fight_skill_4211.png</string>
        </dict>
    </dict>
</plist>
