<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4811parts-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,312},{121,123}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{121,123}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>skill4811parts-h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{108,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,118}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
            <key>skill4811parts-h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,175},{125,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>skill4811parts-h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,435},{136,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,152}}</string>
                <key>sourceSize</key>
                <string>{136,152}</string>
            </dict>
            <key>skill4811parts-h04.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,757},{147,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,163}}</string>
                <key>sourceSize</key>
                <string>{147,163}</string>
            </dict>
            <key>skill4811parts-h05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,692},{158,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,169}}</string>
                <key>sourceSize</key>
                <string>{158,169}</string>
            </dict>
            <key>skill4811parts-h06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{175,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,176}}</string>
                <key>sourceSize</key>
                <string>{175,176}</string>
            </dict>
            <key>skill4811parts-h07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,184}}</string>
                <key>sourceSize</key>
                <string>{192,184}</string>
            </dict>
            <key>skill4811parts-h08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{196,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,171}}</string>
                <key>sourceSize</key>
                <string>{196,171}</string>
            </dict>
            <key>skill4811parts-h09.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,175},{171,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,182}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>skill4811parts-h10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{171,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,182}}</string>
                <key>sourceSize</key>
                <string>{171,182}</string>
            </dict>
            <key>skill4811parts-h11.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,348},{177,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,175}}</string>
                <key>sourceSize</key>
                <string>{177,175}</string>
            </dict>
            <key>skill4811parts-h12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,525},{165,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,174}}</string>
                <key>sourceSize</key>
                <string>{165,174}</string>
            </dict>
            <key>skill4811parts-h13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{170,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,167}}</string>
                <key>sourceSize</key>
                <string>{170,167}</string>
            </dict>
            <key>skill4811parts-h14.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,589},{154,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,166}}</string>
                <key>sourceSize</key>
                <string>{154,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4811.png</string>
            <key>size</key>
            <string>{512,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78aa190b51ab0712e5471856efa27f67$</string>
            <key>textureFileName</key>
            <string>fight_skill_4811.png</string>
        </dict>
    </dict>
</plist>
