<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill5019parts-d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,34},{36,155}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,155}}</string>
                <key>sourceSize</key>
                <string>{38,157}</string>
            </dict>
            <key>skill5019parts-d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,34},{21,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,49}}</string>
                <key>sourceSize</key>
                <string>{21,53}</string>
            </dict>
            <key>skill5019parts-d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{30,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,84}}</string>
                <key>sourceSize</key>
                <string>{32,84}</string>
            </dict>
            <key>skill5019parts-d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,363},{36,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,125}}</string>
                <key>sourceSize</key>
                <string>{38,127}</string>
            </dict>
            <key>skill5019parts-d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,357},{32,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,125}}</string>
                <key>sourceSize</key>
                <string>{34,127}</string>
            </dict>
            <key>skill5019parts-d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,57},{36,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,144}}</string>
                <key>sourceSize</key>
                <string>{38,146}</string>
            </dict>
            <key>skill5019parts-d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,211},{32,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,144}}</string>
                <key>sourceSize</key>
                <string>{34,146}</string>
            </dict>
            <key>skill5019parts-k01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,211}}</string>
                <key>sourceSize</key>
                <string>{207,211}</string>
            </dict>
            <key>skill5019parts-k02.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,131},{183,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,176}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>skill5019parts-k03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,465},{142,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>skill5019parts-k04.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,309},{159,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,154}}</string>
                <key>sourceSize</key>
                <string>{159,154}</string>
            </dict>
            <key>skill5019parts-k05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{175,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,150}}</string>
                <key>sourceSize</key>
                <string>{175,150}</string>
            </dict>
            <key>skill5019parts-k06.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{196,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,127}}</string>
                <key>sourceSize</key>
                <string>{196,127}</string>
            </dict>
            <key>skill5019parts-k07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,438},{133,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,127}}</string>
                <key>sourceSize</key>
                <string>{133,127}</string>
            </dict>
            <key>skill5019parts-k08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{103,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,125}}</string>
                <key>sourceSize</key>
                <string>{103,125}</string>
            </dict>
            <key>skill5019parts-k09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{99,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,128}}</string>
                <key>sourceSize</key>
                <string>{99,128}</string>
            </dict>
            <key>skill5019parts-k10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{98,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,129}}</string>
                <key>sourceSize</key>
                <string>{98,129}</string>
            </dict>
            <key>skill5019parts-k11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,332},{104,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,136}}</string>
                <key>sourceSize</key>
                <string>{104,136}</string>
            </dict>
            <key>skill5019parts-k12.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,567},{104,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{104,132}</string>
            </dict>
            <key>skill5019parts-k13.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,203},{107,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,127}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_5019.png</string>
            <key>size</key>
            <string>{512,673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7ea524c8909cd9788e7526969ad24cd$</string>
            <key>textureFileName</key>
            <string>fight_skill_5019.png</string>
        </dict>
    </dict>
</plist>
