<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill5023parts-f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,582},{137,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,95}}</string>
                <key>sourceSize</key>
                <string>{137,95}</string>
            </dict>
            <key>skill5023parts-f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{144,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,90}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>skill5023parts-f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,270},{134,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,94}}</string>
                <key>sourceSize</key>
                <string>{134,94}</string>
            </dict>
            <key>skill5023parts-f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{128,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,89}}</string>
                <key>sourceSize</key>
                <string>{128,89}</string>
            </dict>
            <key>skill5023parts-f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,496},{139,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,92}}</string>
                <key>sourceSize</key>
                <string>{139,92}</string>
            </dict>
            <key>skill5023parts-f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,487},{147,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,93}}</string>
                <key>sourceSize</key>
                <string>{147,93}</string>
            </dict>
            <key>skill5023parts-f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,133},{135,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,99}}</string>
                <key>sourceSize</key>
                <string>{135,99}</string>
            </dict>
            <key>skill5023parts-f8.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{129,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,101}}</string>
                <key>sourceSize</key>
                <string>{129,101}</string>
            </dict>
            <key>skill5023parts-l01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,345},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>skill5023parts-l02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,337},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>skill5023parts-l03.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,335},{166,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,163}}</string>
                <key>sourceSize</key>
                <string>{166,163}</string>
            </dict>
            <key>skill5023parts-l04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{180,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,169}}</string>
                <key>sourceSize</key>
                <string>{180,169}</string>
            </dict>
            <key>skill5023parts-l05.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{177,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,165}}</string>
                <key>sourceSize</key>
                <string>{177,165}</string>
            </dict>
            <key>skill5023parts-l06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,168}}</string>
                <key>sourceSize</key>
                <string>{184,168}</string>
            </dict>
            <key>skill5023parts-l07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{180,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,163}}</string>
                <key>sourceSize</key>
                <string>{180,163}</string>
            </dict>
            <key>skill5023parts-l08.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{179,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,164}}</string>
                <key>sourceSize</key>
                <string>{179,164}</string>
            </dict>
            <key>skill5023parts-l09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{171,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,164}}</string>
                <key>sourceSize</key>
                <string>{171,164}</string>
            </dict>
            <key>skill5023parts-l10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,173},{171,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,170}}</string>
                <key>sourceSize</key>
                <string>{171,170}</string>
            </dict>
            <key>skill5023parts-l11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,168},{172,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,167}}</string>
                <key>sourceSize</key>
                <string>{172,167}</string>
            </dict>
            <key>skill5023parts-l12.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,173},{168,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,167}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>skill5023parts-l13.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,169},{170,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,164}}</string>
                <key>sourceSize</key>
                <string>{170,164}</string>
            </dict>
            <key>skill5023parts-l14.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{170,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,169}}</string>
                <key>sourceSize</key>
                <string>{170,169}</string>
            </dict>
            <key>skill5023parts-l15.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,342},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>skill5023parts-l16.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,366},{144,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,145}}</string>
                <key>sourceSize</key>
                <string>{144,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_5023.png</string>
            <key>size</key>
            <string>{1023,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65e9a43e907e0ce854c77f253c9c178f$</string>
            <key>textureFileName</key>
            <string>fight_skill_5023.png</string>
        </dict>
    </dict>
</plist>
