<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4416parts-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,462},{40,164}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{40,164}}</string>
                <key>sourceSize</key>
                <string>{48,168}</string>
            </dict>
            <key>skill4416parts-g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,800},{192,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{192,88}}</string>
                <key>sourceSize</key>
                <string>{198,94}</string>
            </dict>
            <key>skill4416parts-g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,264},{262,196}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,196}}</string>
                <key>sourceSize</key>
                <string>{266,204}</string>
            </dict>
            <key>skill4416parts-g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,246}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,246}}</string>
                <key>sourceSize</key>
                <string>{266,250}</string>
            </dict>
            <key>skill4416parts-g4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{260,244}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{260,244}}</string>
                <key>sourceSize</key>
                <string>{264,248}</string>
            </dict>
            <key>skill4416parts-g5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{236,234}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{236,234}}</string>
                <key>sourceSize</key>
                <string>{240,250}</string>
            </dict>
            <key>skill4416parts-g6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,462},{204,206}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{204,206}}</string>
                <key>sourceSize</key>
                <string>{216,218}</string>
            </dict>
            <key>skill4416parts-g7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,926},{116,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{116,92}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>skill4416parts-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,802},{122,122}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{122,122}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>skill4416parts-l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{160,161}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{162,163}</string>
            </dict>
            <key>skill4416parts-l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{150,153}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>skill4416parts-l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{130,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{132,134}</string>
            </dict>
            <key>skill4416parts-l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,668},{128,137}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,137}}</string>
                <key>sourceSize</key>
                <string>{132,139}</string>
            </dict>
            <key>skill4416parts-l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,668},{132,133}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{136,135}</string>
            </dict>
            <key>skill4416parts-l6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,648},{80,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{82,93}</string>
            </dict>
            <key>skill4416parts-l7.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,486},{64,70}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4416.png</string>
            <key>size</key>
            <string>{512,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d412cc846276348bc047e7090e2db302$</string>
            <key>textureFileName</key>
            <string>fight_skill_4416.png</string>
        </dict>
    </dict>
</plist>
