<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillreleaseparts-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,214},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>skillreleaseparts-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{137,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,133}}</string>
                <key>sourceSize</key>
                <string>{137,133}</string>
            </dict>
            <key>skillreleaseparts-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,203},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>skillreleaseparts-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{199,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,197}}</string>
                <key>sourceSize</key>
                <string>{199,197}</string>
            </dict>
            <key>skillreleaseparts-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,210}}</string>
                <key>sourceSize</key>
                <string>{212,210}</string>
            </dict>
            <key>skillreleaseparts-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,385},{89,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,88}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>skillreleaseparts-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,353},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>skillreleaseparts-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skillreleaseparts-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,203},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skillreleaseparts-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>skillreleaseparts-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,98},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>skillreleaseparts-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,299},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>skillreleaseparts-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,385},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_release.png</string>
            <key>size</key>
            <string>{511,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5453aac93d3dbff3c6b4d674de28eea$</string>
            <key>textureFileName</key>
            <string>fight_skill_release.png</string>
        </dict>
    </dict>
</plist>
