<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4996parts-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{162,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,258}}</string>
                <key>sourceSize</key>
                <string>{162,258}</string>
            </dict>
            <key>skill4996parts-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,260}}</string>
                <key>sourceSize</key>
                <string>{161,260}</string>
            </dict>
            <key>skill4996parts-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{153,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,237}}</string>
                <key>sourceSize</key>
                <string>{153,237}</string>
            </dict>
            <key>skill4996parts-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,157},{147,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,219}}</string>
                <key>sourceSize</key>
                <string>{147,219}</string>
            </dict>
            <key>skill4996parts-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,306},{143,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,215}}</string>
                <key>sourceSize</key>
                <string>{143,215}</string>
            </dict>
            <key>skill4996parts-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{144,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,214}}</string>
                <key>sourceSize</key>
                <string>{144,214}</string>
            </dict>
            <key>skill4996parts-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,451},{144,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,213}}</string>
                <key>sourceSize</key>
                <string>{144,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4996.png</string>
            <key>size</key>
            <string>{503,597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2303f08047e557c3a32e88c6c9e1735$</string>
            <key>textureFileName</key>
            <string>fight_skill_4996.png</string>
        </dict>
    </dict>
</plist>
