<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4316parts-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,214}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{134,214}}</string>
                <key>sourceSize</key>
                <string>{140,220}</string>
            </dict>
            <key>skill4316parts-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{208,139}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{208,139}}</string>
                <key>sourceSize</key>
                <string>{222,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4316.png</string>
            <key>size</key>
            <string>{218,279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:328a680d2ac0450ffb8fddc027c933a3$</string>
            <key>textureFileName</key>
            <string>fight_skill_4316.png</string>
        </dict>
    </dict>
</plist>
