<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_debuff_blood_crit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{89,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,43}}</string>
                <key>sourceSize</key>
                <string>{89,43}</string>
            </dict>
            <key>fight_debuff_blood_crit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,116}}</string>
                <key>sourceSize</key>
                <string>{192,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_debuff_blood_crit.png</string>
            <key>size</key>
            <string>{120,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5939c398ce73a899f58f02ee9b425e12$</string>
            <key>textureFileName</key>
            <string>fight_debuff_blood_crit.png</string>
        </dict>
    </dict>
</plist>
