<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4835parts-p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,188},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>skill4835parts-p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,359},{113,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{113,125}</string>
            </dict>
            <key>skill4835parts-p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,188},{174,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,169}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>skill4835parts-p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{200,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,184}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>skill4835parts-p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{227,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,220}}</string>
                <key>sourceSize</key>
                <string>{227,220}</string>
            </dict>
            <key>skill4835parts-p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,228}}</string>
                <key>sourceSize</key>
                <string>{236,228}</string>
            </dict>
            <key>skill4835parts-t.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,359},{122,122}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{122,122}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4835.png</string>
            <key>size</key>
            <string>{496,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5505ca07230a8d24e962c038a20a3a11$</string>
            <key>textureFileName</key>
            <string>fight_skill_4835.png</string>
        </dict>
    </dict>
</plist>
