<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4405parts-h1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,389},{141,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,221}}</string>
                <key>sourceSize</key>
                <string>{141,221}</string>
            </dict>
            <key>skill4405parts-h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{348,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,95}}</string>
                <key>sourceSize</key>
                <string>{348,97}</string>
            </dict>
            <key>skill4405parts-j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,612},{250,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,135}}</string>
                <key>sourceSize</key>
                <string>{250,135}</string>
            </dict>
            <key>skill4405parts-j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{385,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,170}}</string>
                <key>sourceSize</key>
                <string>{385,170}</string>
            </dict>
            <key>skill4405parts-j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{378,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,194}}</string>
                <key>sourceSize</key>
                <string>{378,194}</string>
            </dict>
            <key>skill4405parts-j4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{389,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,194}}</string>
                <key>sourceSize</key>
                <string>{389,194}</string>
            </dict>
            <key>skill4405parts-j5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{386,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,154}}</string>
                <key>sourceSize</key>
                <string>{386,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skill_4405.png</string>
            <key>size</key>
            <string>{467,929}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ee1b87868ccc5fad6fe193cd0e18ae1$</string>
            <key>textureFileName</key>
            <string>fight_skill_4405.png</string>
        </dict>
    </dict>
</plist>
