<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friendaddshakephone-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>friendaddshakephone-s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,209}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,209}}</string>
                <key>sourceSize</key>
                <string>{186,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend_add_shake_phone.png</string>
            <key>size</key>
            <string>{213,351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:869884c81ee9286d1d47e9854c09d60e$</string>
            <key>textureFileName</key>
            <string>friend_add_shake_phone.png</string>
        </dict>
    </dict>
</plist>
