<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroshowparts-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{162,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{162,194}}</string>
                <key>sourceSize</key>
                <string>{168,202}</string>
            </dict>
            <key>heroshowparts-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{162,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{162,194}}</string>
                <key>sourceSize</key>
                <string>{168,202}</string>
            </dict>
            <key>heroshowparts-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{162,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{162,194}}</string>
                <key>sourceSize</key>
                <string>{168,202}</string>
            </dict>
            <key>heroshowparts-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,199}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{143,199}}</string>
                <key>sourceSize</key>
                <string>{147,205}</string>
            </dict>
            <key>heroshowparts-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,330},{162,190}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{162,190}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
            <key>heroshowparts-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,166},{162,190}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{162,190}}</string>
                <key>sourceSize</key>
                <string>{168,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroshow.png</string>
            <key>size</key>
            <string>{507,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851f41e1a901ede5e029f5b308cd747b$</string>
            <key>textureFileName</key>
            <string>heroshow.png</string>
        </dict>
    </dict>
</plist>
