<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mysteryanima-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,150},{23,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,7}}</string>
                <key>sourceSize</key>
                <string>{23,7}</string>
            </dict>
            <key>mysteryanima-a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,712},{142,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,136}}</string>
                <key>sourceSize</key>
                <string>{142,136}</string>
            </dict>
            <key>mysteryanima-a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,422},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>mysteryanima-a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,691},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>mysteryanima-a4.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,89},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>mysteryanima-aa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{158,147}</string>
            </dict>
            <key>mysteryanima-aaa.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,294},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>mysteryanima-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,349},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>mysteryanima-bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{168,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,153}}</string>
                <key>sourceSize</key>
                <string>{168,153}</string>
            </dict>
            <key>mysteryanima-bbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,378},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>mysteryanima-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{43,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,15}}</string>
                <key>sourceSize</key>
                <string>{43,15}</string>
            </dict>
            <key>mysteryanima-cc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{136,135}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,135}}</string>
                <key>sourceSize</key>
                <string>{140,139}</string>
            </dict>
            <key>mysteryanima-ccc.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,466},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>mysteryanima-d.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,47},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>mysteryanima-dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,294},{109,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,214}}</string>
                <key>sourceSize</key>
                <string>{109,214}</string>
            </dict>
            <key>mysteryanima-ddd.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,322},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>mysteryanima-e.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,294},{302,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,93}}</string>
                <key>sourceSize</key>
                <string>{302,93}</string>
            </dict>
            <key>mysteryanima-ee.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,598},{112,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,211}}</string>
                <key>sourceSize</key>
                <string>{112,211}</string>
            </dict>
            <key>mysteryanima-eee.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,294},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>mysteryanima-f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{221,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,232}}</string>
                <key>sourceSize</key>
                <string>{221,232}</string>
            </dict>
            <key>mysteryanima-ff.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,850},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>mysteryanima-fff.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,112},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>mysteryanima-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,850},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mysteryanima-gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,826},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>mysteryanima-ggg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,487},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>mysteryanima-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,175},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>mysteryanima-hh.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,655},{104,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,20}}</string>
                <key>sourceSize</key>
                <string>{104,20}</string>
            </dict>
            <key>mysteryanima-hhh.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,443},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>mysteryanima-i.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,132},{16,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,11}}</string>
                <key>sourceSize</key>
                <string>{16,11}</string>
            </dict>
            <key>mysteryanima-ii.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,589},{46,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>mysteryanima-iii.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,402},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{30,18}</string>
            </dict>
            <key>mysteryanima-j.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,294},{109,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,214}}</string>
                <key>sourceSize</key>
                <string>{109,214}</string>
            </dict>
            <key>mysteryanima-jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,655},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>mysteryanima-jjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,378},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>mysteryanima-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,598},{112,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,211}}</string>
                <key>sourceSize</key>
                <string>{112,211}</string>
            </dict>
            <key>mysteryanima-kk.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,510},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>mysteryanima-kkk.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,349},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>mysteryanima-l.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,510},{70,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>mysteryanima-ll.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,562},{53,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,32}}</string>
                <key>sourceSize</key>
                <string>{53,32}</string>
            </dict>
            <key>mysteryanima-lll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,290}}</string>
                <key>sourceSize</key>
                <string>{491,290}</string>
            </dict>
            <key>mysteryanima-m.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,712},{119,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,112}}</string>
                <key>sourceSize</key>
                <string>{119,112}</string>
            </dict>
            <key>mysteryanima-mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,322},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>mysteryanima-mmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,517},{70,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{70,56}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>mysteryanima-num.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,132},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>mysteryanima-random.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,132},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>mysteryanima-reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,132},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mystery_anima.png</string>
            <key>size</key>
            <string>{512,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7527684538f864a5325314502f522908$</string>
            <key>textureFileName</key>
            <string>mystery_anima.png</string>
        </dict>
    </dict>
</plist>
