<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillexchange-additiveskill.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,340},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>skillexchange-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,336}}</string>
                <key>sourceSize</key>
                <string>{322,336}</string>
            </dict>
            <key>skillexchange-skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,340},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>skillexchange-w.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{152,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,48}}</string>
                <key>sourceSize</key>
                <string>{152,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_exchange.png</string>
            <key>size</key>
            <string>{326,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b98b32b19bc83da0e016351dfa4ebe87$</string>
            <key>textureFileName</key>
            <string>skill_exchange.png</string>
        </dict>
    </dict>
</plist>
