<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>param</key>
	<dict>
		<key>bolResetData</key>
		<string>0</string>
		<key>time</key>
		<string>0.5</string>
	</dict>
	<key>roleHead</key>
	<dict>
		<key>actSetPath</key>
		<string>fightScript/ActionSet/Coat_Action/RunBack/Coat4_RunBack.plist</string>
		<key>nodeType</key>
		<string>ActionRoleSet</string>
		<key>action</key>
		<string>(sequence:(moveBy:0.1,-58,15);(moveBy:0.05,-82,15);(moveBy:0.05,-81,5);(moveBy:0.05,-69,-8);(moveBy:0.05,-37,-20);(moveBy:0.1,-16,-7);(moveTo:0,0,0);(delayTime:0))</string>
		<key>fatherTagArray</key>
		<string>0</string>
		<key>tag</key>
		<string>0</string>
	</dict>
</dict>
</plist>
