<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1071-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,176}}</string>
                <key>offset</key>
                <string>{-72,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,176}}</string>
                <key>sourceSize</key>
                <string>{348,260}</string>
            </dict>
            <key>npc-1071-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{177,147}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{177,147}}</string>
                <key>sourceSize</key>
                <string>{225,171}</string>
            </dict>
            <key>npc-1071-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{177,147}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{177,147}}</string>
                <key>sourceSize</key>
                <string>{225,171}</string>
            </dict>
            <key>npc-1071-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,263},{59,75}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{59,75}}</string>
                <key>sourceSize</key>
                <string>{81,97}</string>
            </dict>
            <key>npc-1071-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,178},{83,77}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{83,77}}</string>
                <key>sourceSize</key>
                <string>{125,97}</string>
            </dict>
            <key>npc-1071-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{48,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,41}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1071.png</string>
            <key>size</key>
            <string>{256,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4046591b45cc2cd5be8b0d90d9a9bad$</string>
            <key>textureFileName</key>
            <string>coat1071.png</string>
        </dict>
    </dict>
</plist>
