<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1055-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{88,86}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{88,86}}</string>
                <key>sourceSize</key>
                <string>{134,118}</string>
            </dict>
            <key>npc-1055-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{173,117}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,117}}</string>
                <key>sourceSize</key>
                <string>{189,171}</string>
            </dict>
            <key>npc-1055-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,131}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,131}}</string>
                <key>sourceSize</key>
                <string>{189,171}</string>
            </dict>
            <key>npc-1055-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,49},{45,75}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{45,75}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1055-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,143},{26,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{26,34}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>npc-1055-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{45,77}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{45,77}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1055-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,96},{54,45}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{54,45}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1055-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,143},{30,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{30,38}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1055.png</string>
            <key>size</key>
            <string>{256,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a784766ad9b0575e3b0b41ca1c5d1571$</string>
            <key>textureFileName</key>
            <string>coat1055.png</string>
        </dict>
    </dict>
</plist>
