<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-49-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,71},{78,62}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{78,62}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>npc-49-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{123,107}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{123,107}}</string>
                <key>sourceSize</key>
                <string>{179,147}</string>
            </dict>
            <key>npc-49-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{129,119}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{129,119}}</string>
                <key>sourceSize</key>
                <string>{179,147}</string>
            </dict>
            <key>npc-49-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,36},{33,63}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{33,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-49-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{32,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-49-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,63}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{29,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-49-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{48,39}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,39}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-49-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{32,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{32,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat49.png</string>
            <key>size</key>
            <string>{127,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f73d5e2bcc328f3c8fa70316a1ce4bd$</string>
            <key>textureFileName</key>
            <string>coat49.png</string>
        </dict>
    </dict>
</plist>
