<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-45-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{76,74}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>npc-45-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{147,135}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{147,135}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-45-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,135}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{147,135}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-45-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,369},{67,63}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{67,63}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>npc-45-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,424},{34,36}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{34,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-45-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,300},{67,63}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{67,63}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>npc-45-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{46,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{46,37}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-45-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{34,38}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat45.png</string>
            <key>size</key>
            <string>{149,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a89e117387d52107793186c55b68df1a$</string>
            <key>textureFileName</key>
            <string>coat45.png</string>
        </dict>
    </dict>
</plist>
