<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1057-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{110,106}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{134,158}</string>
            </dict>
            <key>npc-1057-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{125,147}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{189,191}</string>
            </dict>
            <key>npc-1057-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,167}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{127,167}}</string>
                <key>sourceSize</key>
                <string>{189,191}</string>
            </dict>
            <key>npc-1057-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,105},{67,99}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,99}}</string>
                <key>sourceSize</key>
                <string>{71,107}</string>
            </dict>
            <key>npc-1057-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,271},{46,42}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>npc-1057-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{69,101}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,101}}</string>
                <key>sourceSize</key>
                <string>{71,107}</string>
            </dict>
            <key>npc-1057-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,206},{72,63}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>npc-1057-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,271},{46,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1057.png</string>
            <key>size</key>
            <string>{242,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f2562c52ecff2eec074b0fcb38951cf$</string>
            <key>textureFileName</key>
            <string>coat1057.png</string>
        </dict>
    </dict>
</plist>
