<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1050-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{90,96}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>npc-1050-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{151,125}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{151,125}}</string>
                <key>sourceSize</key>
                <string>{179,171}</string>
            </dict>
            <key>npc-1050-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,139}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{153,139}}</string>
                <key>sourceSize</key>
                <string>{179,171}</string>
            </dict>
            <key>npc-1050-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,94},{41,81}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{41,81}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1050-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,241},{40,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>npc-1050-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,137},{41,79}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{41,79}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1050-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,180},{68,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,59}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1050-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,241},{42,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1050.png</string>
            <key>size</key>
            <string>{255,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d8f86a2056b74d0a108036e17f8157$</string>
            <key>textureFileName</key>
            <string>coat1050.png</string>
        </dict>
    </dict>
</plist>
