<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1012-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{72,78}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{72,78}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>npc-1012-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{184,169}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,169}}</string>
                <key>sourceSize</key>
                <string>{194,211}</string>
            </dict>
            <key>npc-1012-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,179}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,179}}</string>
                <key>sourceSize</key>
                <string>{194,211}</string>
            </dict>
            <key>npc-1012-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,382},{25,65}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{25,65}}</string>
                <key>sourceSize</key>
                <string>{71,89}</string>
            </dict>
            <key>npc-1012-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,456},{26,36}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{26,36}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>npc-1012-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,382},{27,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{27,72}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>npc-1012-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,411},{46,49}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{46,49}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>npc-1012-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{26,36}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{26,36}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1012.png</string>
            <key>size</key>
            <string>{183,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b3d150f637a33f779e94f974f920c7$</string>
            <key>textureFileName</key>
            <string>coat1012.png</string>
        </dict>
    </dict>
</plist>
