<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1021-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{151,228}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{151,228}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>npc-1021-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{151,228}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{151,228}}</string>
                <key>sourceSize</key>
                <string>{179,240}</string>
            </dict>
            <key>npc-1021-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,48}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{64,48}</string>
            </dict>
            <key>npc-1021-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{66,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1021-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{46,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1021.png</string>
            <key>size</key>
            <string>{232,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d2a011d7aa6adc75c5e081648fb975f$</string>
            <key>textureFileName</key>
            <string>coat1021.png</string>
        </dict>
    </dict>
</plist>
