<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-50-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{130,118}}</string>
                <key>offset</key>
                <string>{-15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{130,118}}</string>
                <key>sourceSize</key>
                <string>{174,172}</string>
            </dict>
            <key>npc-50-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{157,147}}</string>
                <key>offset</key>
                <string>{-26,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{157,147}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
            <key>npc-50-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,147}}</string>
                <key>offset</key>
                <string>{-24,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{161,147}}</string>
                <key>sourceSize</key>
                <string>{221,221}</string>
            </dict>
            <key>npc-50-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,324},{51,77}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-50-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,456},{32,52}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,52}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>npc-50-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,403},{51,75}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{51,75}}</string>
                <key>sourceSize</key>
                <string>{85,87}</string>
            </dict>
            <key>npc-50-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{66,49}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{66,49}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-50-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,444},{34,52}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat50.png</string>
            <key>size</key>
            <string>{211,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:203299cc8c544c5052c2fe257250f8af$</string>
            <key>textureFileName</key>
            <string>coat50.png</string>
        </dict>
    </dict>
</plist>
