<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-16-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{62,72}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{62,72}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>npc-16-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{147,125}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{147,125}}</string>
                <key>sourceSize</key>
                <string>{185,161}</string>
            </dict>
            <key>npc-16-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,133}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{147,133}}</string>
                <key>sourceSize</key>
                <string>{185,161}</string>
            </dict>
            <key>npc-16-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,66},{57,65}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{57,65}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-16-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,38},{26,34}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{26,34}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-16-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,125},{55,63}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{55,63}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>npc-16-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,182},{46,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{46,39}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-16-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{26,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{26,34}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat16.png</string>
            <key>size</key>
            <string>{253,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a9ebedc2e8df7f120278ebd8de759db$</string>
            <key>textureFileName</key>
            <string>coat16.png</string>
        </dict>
    </dict>
</plist>
