<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1035-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{92,92}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>npc-1035-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{139,141}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{139,141}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1035-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,157}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{139,157}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1035-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,149},{51,85}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{51,85}}</string>
                <key>sourceSize</key>
                <string>{71,97}</string>
            </dict>
            <key>npc-1035-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,202},{34,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-1035-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,96},{51,87}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{51,87}}</string>
                <key>sourceSize</key>
                <string>{71,95}</string>
            </dict>
            <key>npc-1035-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,202},{54,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{54,45}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1035-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,202},{34,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{34,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1035.png</string>
            <key>size</key>
            <string>{255,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28aa9cfdea57c8f956b8a1f6d65d5360$</string>
            <key>textureFileName</key>
            <string>coat1035.png</string>
        </dict>
    </dict>
</plist>
