<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-56-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{106,86}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{106,86}}</string>
                <key>sourceSize</key>
                <string>{138,120}</string>
            </dict>
            <key>npc-56-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{131,149}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,1},{131,149}}</string>
                <key>sourceSize</key>
                <string>{209,221}</string>
            </dict>
            <key>npc-56-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,149}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,1},{131,149}}</string>
                <key>sourceSize</key>
                <string>{209,221}</string>
            </dict>
            <key>npc-56-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,157},{45,73}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{45,73}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-56-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,150},{26,36}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{26,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-56-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,110},{45,73}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{45,73}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>npc-56-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,204},{52,43}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{52,43}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-56-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,110},{26,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{26,38}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat56.png</string>
            <key>size</key>
            <string>{256,268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2ca61ff8ca6637172f3fd847610670$</string>
            <key>textureFileName</key>
            <string>coat56.png</string>
        </dict>
    </dict>
</plist>
