<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-8-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{70,82}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{70,82}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>npc-8-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{149,123}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{149,123}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-8-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{149,123}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{149,123}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-8-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{55,59}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{55,59}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-8-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{32,34}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-8-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,45},{57,63}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{57,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-8-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{46,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{46,41}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-8-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,34}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{30,34}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat8.png</string>
            <key>size</key>
            <string>{128,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cdb9c10de505c9b3b7c1429f26b16cc$</string>
            <key>textureFileName</key>
            <string>coat8.png</string>
        </dict>
    </dict>
</plist>
