<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1052-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{98,74}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{98,74}}</string>
                <key>sourceSize</key>
                <string>{134,118}</string>
            </dict>
            <key>npc-1052-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{113,117}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,26},{113,117}}</string>
                <key>sourceSize</key>
                <string>{179,171}</string>
            </dict>
            <key>npc-1052-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,117}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,25},{123,117}}</string>
                <key>sourceSize</key>
                <string>{179,171}</string>
            </dict>
            <key>npc-1052-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,131},{47,79}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{47,79}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1052-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,212},{42,40}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{42,40}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>npc-1052-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,131},{43,79}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1052-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,78},{68,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,51}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1052-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,212},{42,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1052.png</string>
            <key>size</key>
            <string>{227,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de413285e20a62819518971fb27965f4$</string>
            <key>textureFileName</key>
            <string>coat1052.png</string>
        </dict>
    </dict>
</plist>
