<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-34-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{144,136}}</string>
                <key>offset</key>
                <string>{-30,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{144,136}}</string>
                <key>sourceSize</key>
                <string>{204,180}</string>
            </dict>
            <key>npc-34-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{185,117}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{185,117}}</string>
                <key>sourceSize</key>
                <string>{185,161}</string>
            </dict>
            <key>npc-34-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{185,133}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{185,133}}</string>
                <key>sourceSize</key>
                <string>{185,161}</string>
            </dict>
            <key>npc-34-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{59,63}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{59,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-34-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{53,63}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{53,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-34-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,35}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,35}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat34.png</string>
            <key>size</key>
            <string>{189,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d95b39a57c28db51e971f423865091$</string>
            <key>textureFileName</key>
            <string>coat34.png</string>
        </dict>
    </dict>
</plist>
