<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-7-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{52,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{52,66}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>npc-7-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,111}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{157,111}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-7-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{155,133}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{155,133}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-7-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,97},{39,61}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{39,61}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-7-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,96},{26,38}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{26,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-7-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,56},{39,61}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,17},{39,61}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-7-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,138},{44,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{44,35}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-7-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,56},{26,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{26,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat7.png</string>
            <key>size</key>
            <string>{252,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dc8c6a25b5a8990f0bffa90de57cae3$</string>
            <key>textureFileName</key>
            <string>coat7.png</string>
        </dict>
    </dict>
</plist>
