<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1056-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{80,80}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{80,80}}</string>
                <key>sourceSize</key>
                <string>{134,118}</string>
            </dict>
            <key>npc-1056-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,103}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,37},{131,103}}</string>
                <key>sourceSize</key>
                <string>{189,171}</string>
            </dict>
            <key>npc-1056-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,103}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{131,103}}</string>
                <key>sourceSize</key>
                <string>{189,171}</string>
            </dict>
            <key>npc-1056-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,142},{25,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{25,49}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1056-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,178},{18,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{18,34}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>npc-1056-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,135},{25,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{25,51}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1056-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,107},{46,33}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{46,33}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1056-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,142},{18,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{18,34}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1056.png</string>
            <key>size</key>
            <string>{240,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46a87e69d3d13b2fbd1d417b384de02f$</string>
            <key>textureFileName</key>
            <string>coat1056.png</string>
        </dict>
    </dict>
</plist>
