<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-54-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{108,100}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>npc-54-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{127,103}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{127,103}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-54-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,105}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{133,105}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-54-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,131},{69,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{69,73}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-54-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,206},{30,38}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{30,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-54-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,131},{63,73}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{63,73}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>npc-54-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,202},{60,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,45}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-54-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,206},{36,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat54.png</string>
            <key>size</key>
            <string>{246,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c35aff413cf63d95e0f767cb755be07$</string>
            <key>textureFileName</key>
            <string>coat54.png</string>
        </dict>
    </dict>
</plist>
