<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1074-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{224,150}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{224,150}}</string>
                <key>sourceSize</key>
                <string>{260,210}</string>
            </dict>
            <key>npc-1074-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{189,187}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{189,187}}</string>
                <key>sourceSize</key>
                <string>{229,241}</string>
            </dict>
            <key>npc-1074-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{189,201}}</string>
                <key>offset</key>
                <string>{-18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{189,201}}</string>
                <key>sourceSize</key>
                <string>{229,241}</string>
            </dict>
            <key>npc-1074-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,288},{63,95}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{63,95}}</string>
                <key>sourceSize</key>
                <string>{91,97}</string>
            </dict>
            <key>npc-1074-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,189},{65,97}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,97}}</string>
                <key>sourceSize</key>
                <string>{101,97}</string>
            </dict>
            <key>npc-1074-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,189},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{60,49}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1074.png</string>
            <key>size</key>
            <string>{380,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02dc576bf61f0d787cbff23f18201ca$</string>
            <key>textureFileName</key>
            <string>coat1074.png</string>
        </dict>
    </dict>
</plist>
