<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1065-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{48,60}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{48,60}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>npc-1065-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{141,109}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{141,109}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1065-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{141,119}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{141,119}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1065-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,50},{39,63}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{39,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1065-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{26,38}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-1065-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,32},{39,63}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{39,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1065-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{48,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{48,39}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1065-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{30,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1065.png</string>
            <key>size</key>
            <string>{128,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20e95ca137ceb31072505861a0237be7$</string>
            <key>textureFileName</key>
            <string>coat1065.png</string>
        </dict>
    </dict>
</plist>
