<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-17-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,172},{58,56}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{58,56}}</string>
                <key>sourceSize</key>
                <string>{98,86}</string>
            </dict>
            <key>npc-17-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{127,115}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{127,115}}</string>
                <key>sourceSize</key>
                <string>{185,161}</string>
            </dict>
            <key>npc-17-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,129}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{131,129}}</string>
                <key>sourceSize</key>
                <string>{185,161}</string>
            </dict>
            <key>npc-17-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{27,61}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{27,61}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-17-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{28,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-17-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,131},{31,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{31,65}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>npc-17-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,131},{46,39}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{46,39}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-17-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,133},{28,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{28,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat17.png</string>
            <key>size</key>
            <string>{252,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8473a9b87744dbe71224e62bba5d0b80$</string>
            <key>textureFileName</key>
            <string>coat17.png</string>
        </dict>
    </dict>
</plist>
