<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1066-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,41},{64,60}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{64,60}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>npc-1066-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,43},{111,117}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{111,117}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1066-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{111,125}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{111,125}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1066-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{39,69}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{39,69}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1066-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,40}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{30,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-1066-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,0},{41,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{41,67}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1066-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,34},{56,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{56,41}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1066-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{32,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1066.png</string>
            <key>size</key>
            <string>{241,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b41a4a83f8e6a1b6cbd3cb9587c1f0ef$</string>
            <key>textureFileName</key>
            <string>coat1066.png</string>
        </dict>
    </dict>
</plist>
