<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1048-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{140,122}}</string>
                <key>offset</key>
                <string>{-33,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,122}}</string>
                <key>sourceSize</key>
                <string>{210,180}</string>
            </dict>
            <key>npc-1048-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{149,129}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{149,129}}</string>
                <key>sourceSize</key>
                <string>{157,201}</string>
            </dict>
            <key>npc-1048-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,129}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{149,129}}</string>
                <key>sourceSize</key>
                <string>{157,201}</string>
            </dict>
            <key>npc-1048-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,428},{45,85}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{45,85}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>npc-1048-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,70},{60,60}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>npc-1048-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{45,85}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{45,85}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>npc-1048-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{66,55}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{96,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1048.png</string>
            <key>size</key>
            <string>{195,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:098cbab8aae9f4a5a470e67a65fe5a3f$</string>
            <key>textureFileName</key>
            <string>coat1048.png</string>
        </dict>
    </dict>
</plist>
