<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1027-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,69},{94,84}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{94,84}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>npc-1027-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{153,137}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,137}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>npc-1027-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,151}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,151}}</string>
                <key>sourceSize</key>
                <string>{205,191}</string>
            </dict>
            <key>npc-1027-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,165},{31,63}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{31,63}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>npc-1027-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,205},{32,38}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-1027-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{65,85}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{65,85}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>npc-1027-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,198},{62,51}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{62,51}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1027-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,165},{32,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{32,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1027.png</string>
            <key>size</key>
            <string>{256,294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:390d77408bf642a4a1274700c751db62$</string>
            <key>textureFileName</key>
            <string>coat1027.png</string>
        </dict>
    </dict>
</plist>
