<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1026-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{168,90}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{168,90}}</string>
                <key>sourceSize</key>
                <string>{244,122}</string>
            </dict>
            <key>npc-1026-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{195,113}}</string>
                <key>offset</key>
                <string>{-39,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{195,113}}</string>
                <key>sourceSize</key>
                <string>{273,157}</string>
            </dict>
            <key>npc-1026-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,129}}</string>
                <key>offset</key>
                <string>{-37,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{198,129}}</string>
                <key>sourceSize</key>
                <string>{272,157}</string>
            </dict>
            <key>npc-1026-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,248},{61,77}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{61,77}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>npc-1026-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,71},{26,40}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-1026-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,311},{73,83}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{73,83}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>npc-1026-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{48,39}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1026-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,43},{26,40}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1026.png</string>
            <key>size</key>
            <string>{252,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c24657a342b8a6446ef16aa1839f484$</string>
            <key>textureFileName</key>
            <string>coat1026.png</string>
        </dict>
    </dict>
</plist>
