<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1073-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{112,98}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{112,98}}</string>
                <key>sourceSize</key>
                <string>{170,140}</string>
            </dict>
            <key>npc-1073-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,171},{139,167}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{139,167}}</string>
                <key>sourceSize</key>
                <string>{179,261}</string>
            </dict>
            <key>npc-1073-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{139,169}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{139,169}}</string>
                <key>sourceSize</key>
                <string>{179,261}</string>
            </dict>
            <key>npc-1073-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,415},{45,73}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{45,73}}</string>
                <key>sourceSize</key>
                <string>{81,97}</string>
            </dict>
            <key>npc-1073-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,340},{45,73}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{45,73}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1073-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{54,39}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1073.png</string>
            <key>size</key>
            <string>{187,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b869457b1a00fa69cda194ae56ea7e4$</string>
            <key>textureFileName</key>
            <string>coat1073.png</string>
        </dict>
    </dict>
</plist>
