<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-40-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{58,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>npc-40-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{143,139}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{143,139}}</string>
                <key>sourceSize</key>
                <string>{179,181}</string>
            </dict>
            <key>npc-40-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,147}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{143,147}}</string>
                <key>sourceSize</key>
                <string>{179,181}</string>
            </dict>
            <key>npc-40-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,296},{33,63}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{33,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-40-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,393},{26,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{26,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-40-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{35,63}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{35,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-40-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,361},{46,37}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{46,37}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-40-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{26,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{26,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat40.png</string>
            <key>size</key>
            <string>{147,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5853b92dc93024e9eef4a99865be23af$</string>
            <key>textureFileName</key>
            <string>coat40.png</string>
        </dict>
    </dict>
</plist>
