<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1007-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{112,182}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{112,182}}</string>
                <key>sourceSize</key>
                <string>{190,196}</string>
            </dict>
            <key>npc-1007-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,188}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{150,188}}</string>
                <key>sourceSize</key>
                <string>{190,196}</string>
            </dict>
            <key>npc-1007-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{66,55}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{66,55}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1007.png</string>
            <key>size</key>
            <string>{150,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5f60a45d66380491ba6bfcebb9d915b$</string>
            <key>textureFileName</key>
            <string>coat1007.png</string>
        </dict>
    </dict>
</plist>
