<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1061-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{110,68}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,68}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>npc-1061-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{137,119}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{137,119}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1061-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{137,119}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{137,119}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1061-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{23,63}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{23,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1061-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,30},{26,36}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{26,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-1061-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,63}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{23,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1061-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{50,41}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{50,41}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1061-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{26,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{26,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1061.png</string>
            <key>size</key>
            <string>{123,443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc31b031ec59ec3543691471332a2c4e$</string>
            <key>textureFileName</key>
            <string>coat1061.png</string>
        </dict>
    </dict>
</plist>
