<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1013-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{102,96}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{102,96}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>npc-1013-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{154,115}}</string>
                <key>offset</key>
                <string>{17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{154,115}}</string>
                <key>sourceSize</key>
                <string>{190,161}</string>
            </dict>
            <key>npc-1013-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,133}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,161}</string>
            </dict>
            <key>npc-1013-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,149},{41,79}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{41,79}}</string>
                <key>sourceSize</key>
                <string>{71,89}</string>
            </dict>
            <key>npc-1013-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,192},{30,40}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{30,40}}</string>
                <key>sourceSize</key>
                <string>{64,50}</string>
            </dict>
            <key>npc-1013-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,106},{41,80}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{41,80}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>npc-1013-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,192},{58,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{58,43}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>npc-1013-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,224},{28,40}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{28,40}}</string>
                <key>sourceSize</key>
                <string>{58,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1013.png</string>
            <key>size</key>
            <string>{256,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0a6a87bb147d49841ccb3bdb0957b85$</string>
            <key>textureFileName</key>
            <string>coat1013.png</string>
        </dict>
    </dict>
</plist>
