<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1053-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{114,74}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,74}}</string>
                <key>sourceSize</key>
                <string>{134,118}</string>
            </dict>
            <key>npc-1053-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{113,117}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,26},{113,117}}</string>
                <key>sourceSize</key>
                <string>{179,171}</string>
            </dict>
            <key>npc-1053-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,117}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,25},{123,117}}</string>
                <key>sourceSize</key>
                <string>{179,171}</string>
            </dict>
            <key>npc-1053-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,131},{47,79}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{47,79}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1053-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,78},{42,40}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{42,40}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>npc-1053-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,131},{43,79}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{43,79}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1053-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,78},{68,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,51}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1053.png</string>
            <key>size</key>
            <string>{243,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d639b3a93bdfd4df9a38a718e37e58d3$</string>
            <key>textureFileName</key>
            <string>coat1053.png</string>
        </dict>
    </dict>
</plist>
