<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1030-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,140}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{134,140}}</string>
                <key>sourceSize</key>
                <string>{200,240}</string>
            </dict>
            <key>npc-1030-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,119},{115,97}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,24},{115,97}}</string>
                <key>sourceSize</key>
                <string>{205,195}</string>
            </dict>
            <key>npc-1030-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{115,107}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,25},{115,107}}</string>
                <key>sourceSize</key>
                <string>{205,195}</string>
            </dict>
            <key>npc-1030-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{69,105}}</string>
                <key>offset</key>
                <string>{41,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,19},{69,105}}</string>
                <key>sourceSize</key>
                <string>{151,161}</string>
            </dict>
            <key>npc-1030-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,236},{44,46}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>npc-1030-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{69,105}}</string>
                <key>offset</key>
                <string>{-34,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{69,105}}</string>
                <key>sourceSize</key>
                <string>{141,137}</string>
            </dict>
            <key>npc-1030-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,236},{70,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{70,51}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1030-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,282},{44,44}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1030.png</string>
            <key>size</key>
            <string>{253,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0dd295c7b13a6a63b9b597c193af6b$</string>
            <key>textureFileName</key>
            <string>coat1030.png</string>
        </dict>
    </dict>
</plist>
