<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-15-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{86,76}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{86,76}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>npc-15-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{149,145}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{149,145}}</string>
                <key>sourceSize</key>
                <string>{185,161}</string>
            </dict>
            <key>npc-15-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,145}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{151,145}}</string>
                <key>sourceSize</key>
                <string>{185,161}</string>
            </dict>
            <key>npc-15-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,139},{37,69}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{37,69}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-15-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,210},{30,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{30,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-15-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,80},{57,75}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{57,75}}</string>
                <key>sourceSize</key>
                <string>{77,87}</string>
            </dict>
            <key>npc-15-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,178},{50,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{50,39}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-15-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,178},{30,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat15.png</string>
            <key>size</key>
            <string>{247,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c95b2f387a816461f3e04b24abc044$</string>
            <key>textureFileName</key>
            <string>coat15.png</string>
        </dict>
    </dict>
</plist>
