<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-55-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{68,56}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{68,56}}</string>
                <key>sourceSize</key>
                <string>{138,120}</string>
            </dict>
            <key>npc-55-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{175,149}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{175,149}}</string>
                <key>sourceSize</key>
                <string>{219,161}</string>
            </dict>
            <key>npc-55-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,149}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{175,149}}</string>
                <key>sourceSize</key>
                <string>{219,161}</string>
            </dict>
            <key>npc-55-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,356},{47,63}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{47,63}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-55-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,414},{24,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-55-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,356},{25,63}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{25,63}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>npc-55-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,405},{48,37}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{48,37}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-55-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{26,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat55.png</string>
            <key>size</key>
            <string>{164,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0d499be0d7d638dd630024e9e7858d3$</string>
            <key>textureFileName</key>
            <string>coat55.png</string>
        </dict>
    </dict>
</plist>
