<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-61-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{74,68}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>npc-61-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{143,147}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{143,147}}</string>
                <key>sourceSize</key>
                <string>{179,181}</string>
            </dict>
            <key>npc-61-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,147}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{143,147}}</string>
                <key>sourceSize</key>
                <string>{179,181}</string>
            </dict>
            <key>npc-61-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,369},{37,65}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{37,65}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-61-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{22,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{22,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-61-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,300},{43,67}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{43,67}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-61-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,300},{48,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,37}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-61-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,339},{24,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{24,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat61.png</string>
            <key>size</key>
            <string>{173,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30fa6b738a3ab68a1dc686d62c753d30$</string>
            <key>textureFileName</key>
            <string>coat61.png</string>
        </dict>
    </dict>
</plist>
