<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1043-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,144}}</string>
                <key>offset</key>
                <string>{-31,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{172,144}}</string>
                <key>sourceSize</key>
                <string>{250,220}</string>
            </dict>
            <key>npc-1043-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{165,145}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,145}}</string>
                <key>sourceSize</key>
                <string>{189,191}</string>
            </dict>
            <key>npc-1043-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{165,145}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,145}}</string>
                <key>sourceSize</key>
                <string>{189,191}</string>
            </dict>
            <key>npc-1043-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{59,69}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{59,69}}</string>
                <key>sourceSize</key>
                <string>{81,87}</string>
            </dict>
            <key>npc-1043-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,149},{30,40}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-1043-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,149},{63,69}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{63,69}}</string>
                <key>sourceSize</key>
                <string>{91,87}</string>
            </dict>
            <key>npc-1043-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,149},{60,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{60,41}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1043-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,149},{30,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1043.png</string>
            <key>size</key>
            <string>{510,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0c57ee14da3dd20c2263219e99b0c99$</string>
            <key>textureFileName</key>
            <string>coat1043.png</string>
        </dict>
    </dict>
</plist>
