<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-59-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{64,88}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{64,88}}</string>
                <key>sourceSize</key>
                <string>{98,88}</string>
            </dict>
            <key>npc-59-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{135,127}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{135,127}}</string>
                <key>sourceSize</key>
                <string>{179,163}</string>
            </dict>
            <key>npc-59-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,137}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{135,137}}</string>
                <key>sourceSize</key>
                <string>{179,163}</string>
            </dict>
            <key>npc-59-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,278},{25,69}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{25,69}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-59-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,344},{22,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{22,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-59-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{25,67}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{25,67}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-59-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,344},{46,37}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{46,37}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-59-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,349},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat59.png</string>
            <key>size</key>
            <string>{139,413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14edd9043dc2e3fa65b7dce7212c8ce3$</string>
            <key>textureFileName</key>
            <string>coat59.png</string>
        </dict>
    </dict>
</plist>
