<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc-1019-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{74,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>npc-1019-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{133,123}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{133,123}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1019-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,137}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{139,137}}</string>
                <key>sourceSize</key>
                <string>{179,161}</string>
            </dict>
            <key>npc-1019-larm.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,143},{51,67}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{51,67}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1019-lleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{30,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>npc-1019-rarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,278},{53,69}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{53,69}}</string>
                <key>sourceSize</key>
                <string>{71,87}</string>
            </dict>
            <key>npc-1019-rhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,212},{56,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{56,47}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>npc-1019-rleg.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,46},{28,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coat1019.png</string>
            <key>size</key>
            <string>{185,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:513eab21df48d7f3ea56d6ccc669fe6c$</string>
            <key>textureFileName</key>
            <string>coat1019.png</string>
        </dict>
    </dict>
</plist>
