<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet-1-arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,149},{12,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{12,30}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>pet-1-arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,149},{12,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{12,30}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>pet-1-arm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,131},{24,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>pet-1-arm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{16,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{16,32}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>pet-1-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,94},{49,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{49,35}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>pet-1-chin.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,131},{35,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{35,19}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pet-1-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,90}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{120,90}}</string>
                <key>sourceSize</key>
                <string>{138,124}</string>
            </dict>
            <key>pet-1-tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{61,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{61,53}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet1.png</string>
            <key>size</key>
            <string>{124,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13846f3ee55de5dcdb32f9d965a707ac$</string>
            <key>textureFileName</key>
            <string>pet1.png</string>
        </dict>
    </dict>
</plist>
