<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet-2-arm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,194},{26,38}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{26,38}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>pet-2-arm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,153},{26,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{26,36}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>pet-2-arm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,102},{38,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>pet-2-arm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>pet-2-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{72,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,49}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>pet-2-chin.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,191},{43,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{43,29}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pet-2-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,98}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{112,98}}</string>
                <key>sourceSize</key>
                <string>{138,124}</string>
            </dict>
            <key>pet-2-tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{59,39}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{59,39}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet2.png</string>
            <key>size</key>
            <string>{116,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40610a48cda60a3138b9faca4527da30$</string>
            <key>textureFileName</key>
            <string>pet2.png</string>
        </dict>
    </dict>
</plist>
