<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>param</key>
	<dict>
		<key>bolResetData</key>
		<string>0</string>
		<key>time</key>
		<string>2</string>
	</dict>
	<key>roleHead</key>
	<dict>
		<key>action</key>
		<string>(sequence:(delayTime:0.4);(script:animationScript/head/Shake01.act))</string>
		<key>nodeType</key>
		<string>sprite</string>
		<key>scaleX</key>
		<string>-1</string>
		<key>tag</key>
		<string>1000</string>
		<key>zOrder</key>
		<string>5</string>
	</dict>
</dict>
</plist>
