<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02baoyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>02baoyan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{48,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,58}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>02baoyan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,52},{44,48}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,48}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>02baoyan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{40,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>02baoyan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{38,42}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>02baoyan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,98},{38,30}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02baoyan.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a9353163702e9d83f5dd2c7928b412$</string>
            <key>textureFileName</key>
            <string>02baoyan.png</string>
        </dict>
    </dict>
</plist>
