<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02duhuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{59,86}}</string>
                <key>sourceSize</key>
                <string>{63,90}</string>
            </dict>
            <key>02duhuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{59,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,90}}</string>
                <key>sourceSize</key>
                <string>{63,90}</string>
            </dict>
            <key>02duhuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{59,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,90}}</string>
                <key>sourceSize</key>
                <string>{63,90}</string>
            </dict>
            <key>02duhuo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,94},{53,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{63,90}</string>
            </dict>
            <key>02duhuo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,186},{51,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{51,86}}</string>
                <key>sourceSize</key>
                <string>{63,90}</string>
            </dict>
            <key>02duhuo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,90}}</string>
                <key>sourceSize</key>
                <string>{63,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02duhuo.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1f458bc1b3ffd814f8de2526f12f854$</string>
            <key>textureFileName</key>
            <string>02duhuo.png</string>
        </dict>
    </dict>
</plist>
