<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02dubao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,77},{76,61}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{76,61}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>02dubao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{68,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,63}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>02dubao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>02dubao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{80,77}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>02dubao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{76,73}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{76,73}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>02dubao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,81},{74,71}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{74,71}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>02dubao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{58,69}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{58,69}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>02dubao.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8516b8413f5bf82b7fd7194fb0c961fc$</string>
            <key>textureFileName</key>
            <string>02dubao.png</string>
        </dict>
    </dict>
</plist>
