<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>06-dianliu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,145},{102,135}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{102,135}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>06-dianliu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,141}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,141}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>06-dianliu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{72,105}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{72,105}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
            <key>06-dianliu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{86,129}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{86,129}}</string>
                <key>sourceSize</key>
                <string>{106,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>06dianliu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a138acd96d48be853fbef887985ea49$</string>
            <key>textureFileName</key>
            <string>06dianliu.png</string>
        </dict>
    </dict>
</plist>
