<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13-mabi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>13-mabi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{104,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{104,105}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>13-mabi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>13-mabi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,108},{100,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{100,101}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>13mabi.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2becb87b37071985042041facf1ff462$</string>
            <key>textureFileName</key>
            <string>13mabi.png</string>
        </dict>
    </dict>
</plist>
