<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>18-diquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{167,58}}</string>
                <key>sourceSize</key>
                <string>{179,60}</string>
            </dict>
            <key>18-guangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>18-quanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,64},{103,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,22}}</string>
                <key>sourceSize</key>
                <string>{105,22}</string>
            </dict>
            <key>18-shizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>18-shizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{59,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>18-shizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,186},{47,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{47,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>18-shizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,117},{33,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{33,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>18-shizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,227},{23,53}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{23,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>18-shizi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{7,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{7,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>18-shizi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,172},{23,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{23,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>18-shizi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,62},{33,53}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{33,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>18-shizi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,186},{47,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{47,53}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>18shizi.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8221622e921ce72195bbb2286dfdec01$</string>
            <key>textureFileName</key>
            <string>18shizi.png</string>
        </dict>
    </dict>
</plist>
