<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>23-baoqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,246},{116,116}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{116,116}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>23-baoqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{116,120}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{116,120}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>23-baoqi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{110,130}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>23-baoqi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{114,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>23-baoqi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,116},{118,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>23-baoqi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>23baoqi.png</string>
            <key>size</key>
            <string>{250,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4003bb5e78be892d88e481f9097733ec$</string>
            <key>textureFileName</key>
            <string>23baoqi.png</string>
        </dict>
    </dict>
</plist>
