<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhun-bai-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{91,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-bai-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,89},{85,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{85,77}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-bai-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,89},{91,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,73}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-bai-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,239},{83,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{83,69}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-bai-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,89},{91,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{91,83}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-cheng-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{91,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-cheng-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,362},{85,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{85,77}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-cheng-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,182},{91,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,73}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-cheng-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,231},{83,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{83,69}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-cheng-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{91,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{91,83}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-fen-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{91,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-fen-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,89},{85,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{85,77}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-fen-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,368},{91,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,73}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-fen-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,168},{83,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{83,69}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-fen-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{91,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{91,83}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lan-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lan-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,182},{85,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{85,77}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lan-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,275},{91,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,73}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lan-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,160},{83,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{83,69}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lan-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{91,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{91,83}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lv-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lv-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,275},{85,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{85,77}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lv-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,182},{91,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{91,73}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lv-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,89},{83,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{83,69}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>lianhun-lv-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{91,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{91,83}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_lianhun.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85093121931f472bb38c7129740fbf77$</string>
            <key>textureFileName</key>
            <string>home_lianhun.png</string>
        </dict>
    </dict>
</plist>
