<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet-yanwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,241},{110,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,77}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
            <key>pet-yanwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{116,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,79}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
            <key>pet-yanwu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,158},{110,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,81}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
            <key>pet-yanwu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,83},{116,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{116,73}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
            <key>pet-yanwu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{110,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,77}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
            <key>pet-yanwu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,81}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
            <key>pet-yanwu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{114,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{114,77}}</string>
                <key>sourceSize</key>
                <string>{118,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet-yanwu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4496830fc0e7e866aecbf75a5ec9584c$</string>
            <key>textureFileName</key>
            <string>pet-yanwu.png</string>
        </dict>
    </dict>
</plist>
