<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>25-hebaozha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,226},{88,69}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{88,69}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,204},{108,109}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,107},{118,95}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,95}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{120,103}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{120,103}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,115},{124,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{126,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{126,111}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,113}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,111}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{116,111}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-hebaozha9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,115},{110,109}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>25-huohua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,230},{52,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,45}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>25-huohua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{52,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,39}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>25-huohua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,230},{50,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>25-huohua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,468},{48,35}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{48,35}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>25-zhadan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,314},{75,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{75,54}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>25-zhadan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,391},{75,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{75,56}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>25-zhadan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{75,58}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>25-zhadan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{75,60}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>25-zhadan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{75,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{75,60}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill25.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3a0dc0ae37429c57d158bb4b47d9b45$</string>
            <key>textureFileName</key>
            <string>skill25.png</string>
        </dict>
    </dict>
</plist>
