<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15-congtian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,155},{96,87}}</string>
                <key>offset</key>
                <string>{-11,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,159},{96,87}}</string>
                <key>sourceSize</key>
                <string>{124,255}</string>
            </dict>
            <key>15-congtian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{106,151}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,99},{106,151}}</string>
                <key>sourceSize</key>
                <string>{124,255}</string>
            </dict>
            <key>15-congtian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,255}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,255}}</string>
                <key>sourceSize</key>
                <string>{124,255}</string>
            </dict>
            <key>15-congtian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{124,247}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,247}}</string>
                <key>sourceSize</key>
                <string>{124,255}</string>
            </dict>
            <key>15-congtian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{124,247}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,247}}</string>
                <key>sourceSize</key>
                <string>{124,255}</string>
            </dict>
            <key>15-congtian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,251},{124,241}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,241}}</string>
                <key>sourceSize</key>
                <string>{124,255}</string>
            </dict>
            <key>15-congtian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{114,239}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{114,239}}</string>
                <key>sourceSize</key>
                <string>{124,255}</string>
            </dict>
            <key>15-diquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{101,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,23}}</string>
                <key>sourceSize</key>
                <string>{101,23}</string>
            </dict>
            <key>15-yanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,155},{172,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,45}}</string>
                <key>sourceSize</key>
                <string>{172,45}</string>
            </dict>
            <key>15-zhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,243},{81,75}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill15.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7dafe21fcab3d9dfacfa7ed7338e19a$</string>
            <key>textureFileName</key>
            <string>skill15.png</string>
        </dict>
    </dict>
</plist>
