<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19-dibanyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>19-diquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{260,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{260,44}}</string>
                <key>sourceSize</key>
                <string>{260,50}</string>
            </dict>
            <key>19-jiasu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,44},{22,18}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,61},{22,18}}</string>
                <key>sourceSize</key>
                <string>{30,80}</string>
            </dict>
            <key>19-jiasu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{30,52}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,80}</string>
            </dict>
            <key>19-jiasu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{30,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,76}}</string>
                <key>sourceSize</key>
                <string>{30,80}</string>
            </dict>
            <key>19-jiasu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,126},{30,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,78}}</string>
                <key>sourceSize</key>
                <string>{30,80}</string>
            </dict>
            <key>19-qilang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{40,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,79}}</string>
                <key>sourceSize</key>
                <string>{44,83}</string>
            </dict>
            <key>19-suduxian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,120}}</string>
                <key>sourceSize</key>
                <string>{10,120}</string>
            </dict>
            <key>19-suduxian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,64},{10,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,60}}</string>
                <key>sourceSize</key>
                <string>{10,60}</string>
            </dict>
            <key>19-yanwusankai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{113,28}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{113,28}}</string>
                <key>sourceSize</key>
                <string>{159,28}</string>
            </dict>
            <key>19-yanwusankai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{96,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,22}}</string>
                <key>sourceSize</key>
                <string>{96,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill19.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:272fc1aa0a121533c9266c85c7a1c40b$</string>
            <key>textureFileName</key>
            <string>skill19.png</string>
        </dict>
    </dict>
</plist>
