<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>28-dian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,208},{70,73}}</string>
                <key>offset</key>
                <string>{-48,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,73}}</string>
                <key>sourceSize</key>
                <string>{166,75}</string>
            </dict>
            <key>28-dian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,157},{130,51}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{130,51}}</string>
                <key>sourceSize</key>
                <string>{166,75}</string>
            </dict>
            <key>28-dian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,75}</string>
            </dict>
            <key>28-dian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{120,25}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{120,25}}</string>
                <key>sourceSize</key>
                <string>{166,75}</string>
            </dict>
            <key>28-mabi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>28-mabi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{147,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{147,148}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>28-mabi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{157,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,158}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>28-mabi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,147},{141,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{141,142}}</string>
                <key>sourceSize</key>
                <string>{157,158}</string>
            </dict>
            <key>28-qiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,295},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>28-qiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,278},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>28-qiu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,226},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>28-qiu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>28-qiu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,277},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>28-qiu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,208},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>28-qiu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,295},{68,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>28-qiu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{66,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,63}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill28.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7055181b8ba059cecce4d048498ae5a$</string>
            <key>textureFileName</key>
            <string>skill28.png</string>
        </dict>
    </dict>
</plist>
