<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16-huoquan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,72},{185,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{185,69}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>16-huoquan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,142},{181,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{181,69}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>16-huoquan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{181,67}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{181,67}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>16-huoquan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{185,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{185,69}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>16-huoquan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{185,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{185,67}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>16-huoquan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{185,71}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>16-huoquan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{185,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{185,69}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
            <key>16-huoquan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{185,69}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{185,69}}</string>
                <key>sourceSize</key>
                <string>{189,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill16.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89055ab2615a3fd0657966dde2591ac2$</string>
            <key>textureFileName</key>
            <string>skill16.png</string>
        </dict>
    </dict>
</plist>
