<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>09-baopo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{79,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{79,73}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>09-baopo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,190},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>09-baopo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>09-baopo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,107},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>09-baopo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,190},{67,67}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>09-baopo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{69,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>09-quanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>09-shexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,110}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,110}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>09-zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,259},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{62,66}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill09.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbac621b5864d7900efb77dabd186eb2$</string>
            <key>textureFileName</key>
            <string>skill09.png</string>
        </dict>
    </dict>
</plist>
