<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30-buff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,84},{102,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,78}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>30-buff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,80}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>30-buff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{102,80}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>30-buff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{102,78}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,78}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>30-nijiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,249},{80,24}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{80,24}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>30-nijiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,249},{86,28}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{86,28}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>30-nijiao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,164},{94,30}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{94,30}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>30-nijiao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{98,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{98,34}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>30-nijiao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,147},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,40}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>30-nijiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,45},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,40}}</string>
                <key>sourceSize</key>
                <string>{102,42}</string>
            </dict>
            <key>30-niutou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,266},{84,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{84,68}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>30-niutou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{92,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{92,68}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>30-niutou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,196},{92,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{92,68}}</string>
                <key>sourceSize</key>
                <string>{106,70}</string>
            </dict>
            <key>30-qi.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill30.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4a39a18c1cca43e2b15617e8a5cc068$</string>
            <key>textureFileName</key>
            <string>skill30.png</string>
        </dict>
    </dict>
</plist>
