<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>07-quanguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{250,278}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,278}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>07-quanguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,574},{98,234}}</string>
                <key>offset</key>
                <string>{71,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,46},{98,234}}</string>
                <key>sourceSize</key>
                <string>{250,302}</string>
            </dict>
            <key>07dilie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{273,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,69}}</string>
                <key>sourceSize</key>
                <string>{273,69}</string>
            </dict>
            <key>07dilie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,112}}</string>
                <key>sourceSize</key>
                <string>{465,112}</string>
            </dict>
            <key>07dilie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,59},{25,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,60}}</string>
                <key>sourceSize</key>
                <string>{25,60}</string>
            </dict>
            <key>07fadong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,59},{58,11}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{58,11}}</string>
                <key>sourceSize</key>
                <string>{162,11}</string>
            </dict>
            <key>07fadong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,121},{96,9}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{96,9}}</string>
                <key>sourceSize</key>
                <string>{162,11}</string>
            </dict>
            <key>07fadong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,267},{134,9}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{134,9}}</string>
                <key>sourceSize</key>
                <string>{162,11}</string>
            </dict>
            <key>07fadong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,119},{146,9}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{146,9}}</string>
                <key>sourceSize</key>
                <string>{162,11}</string>
            </dict>
            <key>07huoyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{41,55}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>07huoyan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,973},{45,55}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>07huoyan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{45,55}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>07huoyan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,517},{53,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>07huoyan5.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,460},{53,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>07huoyan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,403},{53,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>07jushenbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,553},{61,102}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,24},{61,102}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{235,112}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{235,112}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{161,126}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,16},{161,126}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{161,128}}</string>
                <key>offset</key>
                <string>{22,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,14},{161,128}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{73,132}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,3},{73,132}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,616},{111,96}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,18},{111,96}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,787},{149,112}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{149,112}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,677},{161,108}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{161,108}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,403},{177,134}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{177,134}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing7.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,539},{171,136}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{171,136}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,116},{177,140}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{177,140}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07jushenbing9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,267},{213,134}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,134}}</string>
                <key>sourceSize</key>
                <string>{239,142}</string>
            </dict>
            <key>07xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,729},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill07.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9960660546e6dde6315046725e6c97eb$</string>
            <key>textureFileName</key>
            <string>skill07.png</string>
        </dict>
    </dict>
</plist>
