<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shunyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,84}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>shunyi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{70,82}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,82}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>shunyi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{62,82}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{62,82}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>shunyi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,166},{60,78}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>shunyi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,84},{56,76}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,76}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teleport.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9476e9b2160d181c6ab598f067d1638a$</string>
            <key>textureFileName</key>
            <string>teleport.png</string>
        </dict>
    </dict>
</plist>
