<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangseguangxian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{96,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,114}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>huangseguangxian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{92,114}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{92,114}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>huangseguangxian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{94,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{94,114}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>huangseguangxian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{92,116}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,116}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>huangseguangxian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,116}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
            <key>huangseguangxian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{96,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,114}}</string>
                <key>sourceSize</key>
                <string>{98,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui-huangseguangxian.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dedf287b61b66c222a69a48f1bd8a53$</string>
            <key>textureFileName</key>
            <string>ui-huangseguangxian.png</string>
        </dict>
    </dict>
</plist>
