<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yq-shuibo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{223,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{223,41}}</string>
                <key>sourceSize</key>
                <string>{225,45}</string>
            </dict>
            <key>yq-shuibo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{223,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{223,41}}</string>
                <key>sourceSize</key>
                <string>{225,45}</string>
            </dict>
            <key>yq-shuibo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{223,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{223,41}}</string>
                <key>sourceSize</key>
                <string>{225,45}</string>
            </dict>
            <key>yq-shuibo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,41},{223,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{223,41}}</string>
                <key>sourceSize</key>
                <string>{225,45}</string>
            </dict>
            <key>yq-shuibo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{223,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{223,41}}</string>
                <key>sourceSize</key>
                <string>{225,45}</string>
            </dict>
            <key>yq-shuimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,205},{152,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{152,35}}</string>
                <key>sourceSize</key>
                <string>{154,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yq-shuibo.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abf6bb8f9d1b686821339f2698bff08d$</string>
            <key>textureFileName</key>
            <string>yq-shuibo.png</string>
        </dict>
    </dict>
</plist>
