<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>param</key>
	<dict>
		<key>bolResetData</key>
		<string>0</string>
		<key>time</key>
		<string>3.6</string>
	</dict>
	<key>roleHead</key>
	<dict>
		<key>actSetPath</key>
		<string>fightScript/ActionSet/Coat_Action/skill5/Coat5_skillAtt5.plist</string>
		<key>action</key>
		<string>(sequence:(moveBy:0.5,342,0);(delayTime:0.75))</string>
		<key>nodeType</key>
		<string>ActionRoleSet</string>
		<key>fatherTagArray</key>
		<string>0</string>
		<key>tag</key>
		<string>0</string>
	</dict>
</dict>
</plist>
