<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actSet</key>
	<dict>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>pos</key>
			<string>{0,0}</string>
		</dict>
		<key>type</key>
		<string>ActionSpriteSet</string>
		<key>actSpriteKeySet</key>
		<string>Act2,Act3,Act4,Act5</string>
		<key>actSpriteSet</key>
		<dict>
			<key>Act2</key>
			<dict>
				<key>actions</key>
				<array>
					<string>MoveBy(0.45,{0,0})</string>
					<string>RotateTo(0.1,39)</string>
					<string>RotateTo(0.1,209)</string>
					<string>RotateTo(0.1,271)</string>
					<string>RotateTo(0.1,360)</string>
					<string>RotateTo(0,0)</string>
					<string>Sequence(Item 0,Item 1,Item 2,Item 3,Item 4,Item 5)</string>
				</array>
				<key>runAction</key>
				<string>Item 0</string>
				<key>actFile</key>
				<string>wasHit2-1.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>0</string>
				<key>delayTime</key>
				<string>0.85</string>
			</dict>
			<key>Act3</key>
			<dict>
				<key>actFile</key>
				<string>ssWashit2-4.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>0</string>
				<key>delayTime</key>
				<string>0.35</string>
			</dict>
			<key>Act4</key>
			<dict>
				<key>actFile</key>
				<string>ssWashit2-3.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>0</string>
				<key>delayTime</key>
				<string>0.3</string>
			</dict>
			<key>Act5</key>
			<dict>
				<key>actFile</key>
				<string>wait-6.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>2</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
