<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actSet</key>
	<dict>
		<key>initProperty</key>
		<dict>
			<key>tag</key>
			<string>0</string>
			<key>pos</key>
			<string>{0,0}</string>
		</dict>
		<key>type</key>
		<string>ActionSpriteSet</string>
		<key>actSpriteKeySet</key>
		<string>Act2,Act3</string>
		<key>actSpriteSet</key>
		<dict>
			<key>Act2</key>
			<dict>
				<key>initProperty</key>
				<dict>
					<key>tag</key>
					<string>0</string>
					<key>pos</key>
					<string>{0,0}</string>
				</dict>
				<key>actions</key>
				<array>
					<string>MoveBy(0.1,{-15,0})</string>
					<string>MoveBy(0.1,{15,0})</string>
					<string>Sequence(Item 0,Item 1)</string>
				</array>
				<key>runAction</key>
				<string>Item 2</string>
				<key>actFile</key>
				<string>wasHit1-4.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>0</string>
				<key>delayTime</key>
				<string>0.2</string>
			</dict>
			<key>Act3</key>
			<dict>
				<key>actFile</key>
				<string>wait-4.act</string>
				<key>type</key>
				<string>ActionSprite</string>
				<key>playType</key>
				<string>2</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
